[2012-04-25 13:20] steirer opened #2 "attachments are named with the full file path"
When I attach an attachment to my sendgrid message like this:
sendgridMessage.AddAttachment("c:\myFiles\test.pdf");
... then sending it via REST, the resulting email will have an attachment named "c:\myFiles\test.pdf".
This is just unuseable.

The expected result is: "test.pdf"

[2012-04-25 13:28] steirer opened #3 "no interface to use file streams for attachments"
When attaching files to the email, there's currently only the following interface:
 public void AddAttachment(string filePath);

In many cases I don't have  file but a stream, thus it's really inconvenient to work with it.
 ... therefore it would be really cool if you could support streams this like available in System.Net.Mail:
public Attachment(Stream contentStream, string name);

[2012-05-13 13:06] TasteeWheat opened #4 "Can't add inline Images on HTML Emails (solution here)"
When sending an HTML email with inlineImages, you can't....

The following code exposes enough in the SendGrid.cs class to work for my needs (ability to include file streams rather than just the Filenames would probably be handy)

There are more elegant solutions, but this one works in a pinch.

---------------Add to SendGrid.cs (in Mail project)------------

[code]

-----------Modify CreateMimeMe

[2012-07-12 22:39] #2 closed, assigned to nobody

[2012-07-13 22:13] #3 closed, assigned to brandonmwest

[2012-07-19 07:25] DamianHaynes opened #8 "Require a MS SQL CLR compatible version"
I am after a better more streamlined approach by using an external library with MS SQL 2012 CLR options. I cannot use the current sendgrid library for this – it is not compatible with Microsoft’s SQL Database CLR .net, and uses another DLL library as well.

We would like integrate the C# SendGrid library with a MS SQL 2012 CLR function, do you have a C# CLR version of the send grid library?

Basic

[2012-08-29 18:06] programatt opened #9 "Create nuget package for csharp api"
Please add a nuget package to http://nuget.org to make distribution and use easier.
Instructions can be found here. http://docs.nuget.org/docs/creating-packages/creating-and-publishing-a-package

My reasoning is that nuget is becoming the defacto and easiest method for sharing binaries in applications on .net these days.
I am currently using a nuget package I manually created from the source, but

[2012-10-03 16:55] ralbu opened #11 "SMTPAPI example doesn't work"
SMTPAPI example doesn't work. Using the same credentials with WEBAPI example worked.
After looking at the java code it mentions the port 587. Adding the port 587 in C# example it worked.

[2012-10-04 16:18] #11 closed, assigned to nobody

[2012-10-09 20:23] programatt opened #12 "New Version Removes Old Functionality That Is Needed"
The `SendGrid.AddAttachment(Stream stream,string filename)` method was removed from the nuget package version 1.0.1. While I understand most people would rather use `AddAttachment(string filepath)` and let sendgrid handle the reading/loading of the file, this is not acceptable for my usage. I am retrieving my files from a separate api and when I get to the point of sending I only have a MemoryStre

[2012-11-03 21:57] IlyaGrebnov opened #13 "CodeScales.Http.dll is added as "Content" under lib folder."
Because of this all my projects have extra "lib" folder. This need to be fixed.

[2012-11-20 22:07] michael-lang opened #14 "Web API implementation additions"
I have added an implementation to the bounce portion of the web API interface.  I put the proposed code on my fork (michael-lang) in a branch called IWebAPIImplementation.  Take a look and let me know if you have any feedback.  I plan on implementing the blocks, invalid emails, and spam report related methods as well.
- Renamed the namespace from SendGridMail.Web to SendGridMail.WebApi.  This is t

[2012-12-12 23:48] #8 closed, assigned to nobody

[2012-12-12 23:58] #12 closed, assigned to nobody

[2013-01-09 21:41] brodyd opened #16 "WebApi : Web.CheckForErrors method not correctly handling error messages."
When Web.CheckForErrors is called it is expecting the errors tag to be first.  But for the Deliver method the response seems to be quite different and so the message tag is being hit before the errors tag.  This makes the WebApi think the message has been successful when it has not (for example when the user password is incorrect).

[2013-01-10 19:00] brandonmwest opened #18 "Using Web API from Windows Azure fails"
Exception Details: System.Net.Sockets.SocketException:

[SocketException (0x271d): An attempt was made to access a socket in a way forbidden by its access permissions]
CodeScales.Http.HttpClient.Navigate(HttpRequest request, HttpBehavior httpBehavior) +772
CodeScales.Http.HttpClient.Execute(HttpRequest request) +45
SendGridMail.Transport.REST.Deliver(ISendGrid message) +115

[2013-01-10 19:42] #13 closed, assigned to brandonmwest

[2013-01-10 19:44] #14 closed, assigned to nobody

[2013-01-10 20:54] #16 closed, assigned to brandonmwest

[2013-01-11 20:06] #9 closed, assigned to brandonmwest

[2013-01-11 21:54] brandonmwest opened #21 "HTTPS doesn't work with CodeScales"
To reproduce: change this line https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Transport/Web.cs#L18 to https

Probably going to refactor the library to use RestSharp.

[2013-01-14 19:43] #21 closed, assigned to brandonmwest

[2013-01-14 22:05] #18 closed, assigned to nobody

[2013-02-11 08:37] imperugo opened #23 "It doesn't support the proxy"
Right now there is no way to set the proxy for the rest implementation. I Forked the repo and added that features, but could be nice to have it in here and nuget :)

[2013-02-15 07:55] Tejendi opened #24 "Webhooks"
I'd personally love to see an example of C#/.Net use of WebHooks.

[2013-03-25 11:20] psegalen opened #25 "Getting 'Invalid URI: The Uri string is too long.' exception from library when using the WebAPI"
Hi,

I'm using the Web transport for sending complex HTML emails and from time to time, the library throws this exception:

Message: Invalid URI: The Uri string is too long.
StackTrace:
at SendGridMail.Transport.Web.CheckForErrors(IRestResponse response)
at SendGridMail.Transport.Web.Deliver(ISendGrid message)

Does anyone know how to work around this problem?

Thanks in advance.

Pierre

[2013-04-01 23:54] berrigan opened #26 "SendGridMail.Transport.Web.GetInstance - Method Not Found"
Getting the following exception on runtime, from the function which is trying the Web.GetInstance call.

Unhandled Exception: System.MissingMethodException: Method not found: 'SendGridM
ail.Transport.Web SendGridMail.Transport.Web.GetInstance(System.Net.NetworkCrede
ntial, Boolean)'.
   at [STACKTRACE]

I _think_ this happened when I changed from using the downloaded DLL with a normal reference, t

[2013-04-03 17:40] brandonmwest opened #27 "Fix the version number in AssemblyInfo"
https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Properties/AssemblyInfo.cs#L44-L45 has 1.1.0 instead of 1.1.1

[2013-05-08 02:02] jacobmovingfwd opened #28 "Missing Section Arguments for SMTPAPI"
The SMTPAPI header builder does not have the ability to make the "section" values, as per:  http://sendgrid.com/docs/API_Reference/SMTP_API/section_tags.html

[2013-05-21 17:09] brandonmwest opened #29 "Expose setters for charset and transfer encoding"
https://github.com/sendgrid/sendgrid-csharp/blob/15d8d7f43f157484e70dd6566b62c958801af41a/SendGrid/SendGridMail/SendGrid.cs#L21-L22

[2013-06-12 16:39] brandonmwest opened #30 "Implement support for multiple categories"
This method: https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Header.cs#L47-L51

Should be implemented like this method:
https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Header.cs#L37-L45

[2013-07-18 21:03] brandonmwest opened #32 "Replace RestSharp with .NET 4.5 HttpClient"
This will be a major revision and a breaking change.

[2013-07-18 21:04] #25 closed, assigned to brandonmwest

[2013-07-18 21:06] #23 closed, assigned to nobody

[2013-07-18 21:10] #24 closed, assigned to nobody

[2013-07-27 19:03] #30 closed, assigned to nobody

[2013-07-29 22:55] #32 closed, assigned to brandonmwest

[2013-07-31 01:13] #27 closed, assigned to brandonmwest

[2013-07-31 01:14] #26 closed, assigned to brandonmwest

[2013-08-21 23:34] brandonmwest opened #34 "Add asynchronous delivery method"
Should be able to maintain .NET 4.0 compatibility. [See comments on stackoverflow](http://stackoverflow.com/questions/18363131/sending-emails-with-sendgrid-on-azure-using-c-sharp-async-await) for more info.

[2013-09-20 22:01] anishaingram opened #36 "document undocumented .addAttachment() for streams"
document the addAttatchment method

[2013-10-24 21:39] #28 closed, assigned to brandonmwest

[2014-01-03 23:52] brandonmwest opened #39 "Deprecate SMTP"
We are in the process of dropping SMTP support from our libraries. The web API is 2-3 times faster for most use cases and is a smarter default, and removing it resolves some questions as to which transport to use.This also reduces the maintenance overhead of these libraries.

SMTP will be supported outside of this library, and this will allow developers to make their own choice as to what to use f

[2014-01-20 22:30] #34 closed, assigned to brandonmwest

[2014-02-03 13:47] andreistangacianu opened #41 "AddCc not working when sending via the Web API"
It looks like if you send via the Web API and add recipients in both the AddTo() and AddCc() method - only the ones in AddTo() will receive the email. We don't seem to send to the AddCc() addresses.
This works correctly for SMTP though.
Let me know if you need more details.
Thanks,
Andrei

[2014-02-08 16:57] #39 closed, assigned to nobody

[2014-02-10 16:56] TonyAsche opened #42 "Headers must be wrapped to keep the line length under 72"
According to: http://sendgrid.com/docs/API_Reference/SMTP_API/index.html
Shouldn't the serialization of the headers be wrapped to keep the line length under 72, or is it 1000?

Thanks,
Tony

[2014-02-10 17:27] #42 closed, assigned to nobody

[2014-02-14 14:19] JVG25 opened #43 "Unable to send Email in Windows Azure"
I'm unable to send e-mails in azure after the last update (deprecated SMTP).
I downloaded new sendgrid library from NUget in VS.
SendGrid Library doesn't report any error, but e-mails are not delivered.

[code]

[2014-02-17 16:11] #36 closed, assigned to nobody

[2014-03-04 12:24] psegalen opened #47 "Exceptions in Windows Azure"
Hi,

I'm sending personnalized emails from a Windows Azure worker role and I have the following errors depending on wether I use Web.Deliver() or Web.DeliverAsync():
- Web.Deliver() exception message "One or more errors occurred." and StackTrace:
  at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
  at SendGridMail.Web.Deliver(ISendGrid message)
- Web.DeliverAsync(

[2014-03-04 22:13] kmute90 opened #48 "SendGridMail.Transport not found"
Hi!

I downloaded the package from nuget, and tried to do the steps written in the tutorial, but i stuck at the first step: when i try to use the SendGridMail.Transport namespace, it is not in the dll, although I can use SendGridMail namespace...

Thanks,
Máté

[2014-03-05 00:08] #48 closed, assigned to nobody

[2014-03-05 14:25] kmute90 opened #49 "Azure project runtime error"
Hi,
- I made a Class Library project (SendGridService), and installed the SendGrid nuget package there and made some email sending actions
- I referenced this class library project in an Azure service worker role project (It's also a class library) and strange thing happened: I could reference SendGridService project and it was okay to use the email sending class from the other project syntactical

[2014-03-26 18:09] william-gross opened #50 "Remove BCL Portability Pack dependencies for .NET 4.5.1 users?"
I'm trying to use the SendGrid NuGet package from the Enterprise Web Library, an open-source library which itself is a NuGet package (http://www.nuget.org/packages/Ewl). We target .NET 4.5.1 and do not support earlier versions of the framework. Adding a dependency on your package will force us to take on a bunch of Microsoft.Bcl dependencies in our package, which will confuse our users.

Would it

[2014-03-28 18:43] nueverest opened #51 "Check if email was delivered and opened"
Are there API features that allow me to check whether an email was delivered and whether it was opened?

[2014-03-28 18:51] nueverest opened #52 "Check if email was delivered and opened"
Are there API features that allow me to check whether an email was delivered and whether it was opened?

[2014-03-28 18:58] #51 closed, assigned to nobody

[2014-03-28 18:58] #52 closed, assigned to nobody

[2014-04-11 17:23] dtarachan opened #54 "Attachments with accents in the name result in an error from SendGrid"
When sending attachments with accents in the file name, SendGrid responds with the following error:

[code]

Sample code for adding the attachment to reproduce the error above is:

[code]

Is this a bug in the library or with SendGrid? Or should the file name be encoded or escaped in some way?

Thanks.

[2014-04-21 20:28] GeorgeTsiokos opened #56 "CC doesn't work on Web API"
Confirmed by SendGrid Support on 4/18/2014, _Our API does not currently have the 'cc' parameter_.

You can't throw in AddCc() as that would break SMTP, so how exactly do you want to communicate lost recipients? I'm sure there's unintended consequences moving “CC” recipients to “TO”. "CC" recipients are _currently lost_ through the WebAPI transport while they work fine w/the SMTP transport.

[2014-04-21 20:30] #56 closed, assigned to nobody

[2014-05-10 18:29] KentACar opened #58 "ReplayTo is Obsolete"
.NET 4.5
[ObsoleteAttribute("ReplyTo is obsoleted for this type.  Please use ReplyToList instead which can accept multiple addresses. http://go.microsoft.com/fwlink/?linkid=14202")]

Please implement ReplyToList:
message.ReplyToList.Add("john.doe@example.com");

Regards,
Kent

[2014-05-13 11:22] stuartdotnet opened #59 "InitializeFilters not found"
Is this no longer needed? The readme says it needs to be used before enabling click tracking and footers.

[2014-05-13 14:09] #59 closed, assigned to nobody

[2014-05-20 06:36] adinanistor opened #61 "Building App using .Net 4.0"
Hello everyone.
I am not sure of this is an issue, but I was wondering if we currently still support .Net 4.0 for this current SendGrid C# library.

I am unable to build an application using this SendGrid library with .Net 4.0.
It works when building it using .Net 4.5 , but when I am building it using .Net 4.0, the following error occurs:

""The type or namespace name 'SendGridMail' could not be f

[2014-05-20 21:43] aaronhoffman opened #62 "Style being removed from HTML email"
I am having an issue with SendGrid stripping the style out of an HTML email I am trying to send. I am using the code provided in the ReadMe.md

I contacted SendGrid support and they advised that I open an issue here. (I think opening a ticket here seems incorrect because I do not believe this is an issue with the code in this package.)

Please provide guidance on how to debug this issue. Thanks.

[2014-05-22 00:39] #43 closed, assigned to nobody

[2014-05-22 00:39] #41 closed, assigned to nobody

[2014-05-22 00:40] #4 closed, assigned to nobody

[2014-05-23 06:23] saluce65 opened #64 "Files Missing from Project"
_app.config_ and _sendgrid-csharp.snk_ files are missing from the repository for both the Mail project and the Tests project.  As a result, it's difficult to fork the project and make changes without going through and undoing all the code-signing first.

[2014-05-23 22:52] tubededentifrice opened #66 "CRITICAL: null reference exception"
Very simple code, basically the new version can't send a single email:

new Web(new NetworkCredential(login,password)).Deliver(new SendGridMessage(new MailAddress("test@mydomain.com"),new[] { new MailAddress("test@mydomain.com") },new MailAddress[0],new MailAddress[0],"Hello","How are you?",null));

Object reference not set to an instance of an object.

   at SendGrid.Web.FetchFormParams(ISendGrid

[2014-05-23 23:33] #66 closed, assigned to nobody

[2014-05-23 23:36] #64 closed, assigned to nobody

[2014-05-27 05:00] #61 closed, assigned to nobody

[2014-05-29 16:41] brandonmwest opened #67 "change EnableTemplate to accept template_id"
Need for compatibility with the new Template Engine.

[code]

[2014-05-29 17:12] #67 closed, assigned to nobody

[2014-06-04 15:27] toddca opened #68 "BCC and CC"
Not clear how you BCC and CC multiple recipients. I could do this with an older version of this library by passing these into SendGrid.GetInstance(...)

[2014-06-04 15:37] trailmax opened #69 "DeliverAsync is not available on ITransport interface"
At the moment `ITransport` only has `.Deliver(ISendgrid message)` object. But `SendGrid.Web` which implements `ITransport` has `DeliverAsync` method. So if you are providing `ITransport` via injection, async method is not available, which is disappointing.

[2014-06-04 17:48] #68 closed, assigned to nobody

[2014-06-05 14:55] #62 closed, assigned to nobody

[2014-06-10 10:14] e2cByock opened #71 "The type or namespace name 'SendGrid' could not be found (are you missing a using directive or an assembly reference?)"
I used the provided sample code....
but I cannot compile...I am getting this error.....even if I have referenced the SendGrid.dll in the project and I have the SendGrid namespace in the using directive...

The type or namespace name 'SendGrid' could not be found (are you missing a using directive or an assembly reference?)

[2014-06-14 00:00] #50 closed, assigned to nobody

[2014-06-14 00:01] #69 closed, assigned to nobody

[2014-06-14 01:56] #49 closed, assigned to nobody

[2014-06-16 16:05] #47 closed, assigned to nobody

[2014-06-17 22:25] #71 closed, assigned to nobody

[2014-06-17 22:28] brandonmwest opened #74 "Deprecate Support for .NET 4.0"
For ease of project maintenance, I've decided to deprecate support for NET40 and move on to NET45.

The good news is that the only differences needed to run NET40 are System.Net.Http and Microsoft.Bcl.Async packages from nuget. I am hoping someone might step up and maintain a NET40-compatible fork if there is demand for it.

[2014-06-18 10:43] dalvirsaini opened #75 "How to Add CC to send email by SendGrid Api"
Hi,

How I can use send grid Api to send emails in CC there is only two method AddTo and EnableBCC but nothing for CC.

So How I can use CC.

Thanks
Dalvir

[2014-06-19 14:47] #75 closed, assigned to nobody

[2014-06-19 18:01] mferragamo opened #76 "Multiple emails per SMTP Connection"
Sorry if this is the wrong place to ask questions; I wasn't sure where else to.

I'm developing an application in c# that will send lots of emails through SendGrid. Initially, I was sending them one at a time, but that was extremely slow. As I understand, I can send up to 100 emails per SMTP connection, but I'm unsure as to how exactly to do that. SendGrid support sent me here, so any help would b

[2014-06-23 15:27] #74 closed, assigned to nobody

[2014-07-03 17:28] adriatic opened #78 "Redundant "if" in the example code"
Hi

Just to ensure complete perfection please remove the "If" in the code below (as the result of this if always evaluates to true)

[code]

[2014-07-28 18:35] SeanFarrow opened #79 "Errors not surfaced as I would expect in the Deliver/DeliverAsync methods"
Hi,

When using the SendGrid API I was disappointed to see that errors were not surfaced as I'd expect them to be when calling deliver.
even though exceptions are thrown, I'd expect there to be either the error text or a status code such that I can determine what the errors issue is.
Any help appreciated.
Kind regards
Sean.

[2014-08-04 18:45] #76 closed, assigned to nobody

[2014-08-27 16:17] eddiezane opened #81 "Broken README link"
Filter Settings page (https://sendgrid.com/docs/documentation/api/smtp-api/filter-settings/index.html) link under https://github.com/sendgrid/sendgrid-csharp#how-to-use-filters-to-enable-footers-tracking-and-analytics is old and 404's

[2014-08-31 10:10] nojaf opened #83 "Bad request should provide additional data"
I'm trying to send a email with this API. I'm new to SendGrid so I'm doing something wrong.
But the exception I get from Web.cs in CheckForErrors method is _"Bad Request"._
Isn't it possible to return some additional data?
For someone new like myself this is a real needle in a haystack situation.

[2014-09-23 10:00] dotsquaresashish opened #85 "Bad Request"
using System;
using SendGrid;
using System.Net;
using System.Net.Mail;

public void Main()
{
 SendGridMessage myMessage = new SendGridMessage();
            myMessage.AddTo(myemail);
            myMessage.From = new System.Net.Mail.MailAddress("myemail", "myname");
            myMessage.Subject = "Test";
            myMessage.Html = "Test";
            new SendGrid.Web(new NetworkCredential("User"

[2014-10-07 17:09] #81 closed, assigned to nobody

[2014-10-09 22:20] #79 closed, assigned to nobody

[2014-10-09 22:21] #83 closed, assigned to nobody

[2014-10-09 22:22] #78 closed, assigned to nobody

[2014-10-09 22:23] #85 closed, assigned to nobody

[2014-10-09 22:49] Tenrosei opened #87 "System.Core Warning"
The SendGrid.SmtpApi.dll uses System.Core Version 2.0.5.0 with a PublicKeyToken=7cec85d7bea7798e This causes conflicts when you add the csharp package to a project with System.Core Version 4.0.0.0 with a PublicKeyToken=B77A5C561934E089 . the different public key tokens are stopping us from using assembly binding redirects. and stops us from being able to upgrade our solution to the new versions of

[2014-10-10 04:49] liweipro opened #88 "HttpClient timeout"
Hi, When I use SendGrid 5.0.0.0 library to send large size file, I get Task cancelled exception. Then I change the source code to increase the default HttpClient timeout, the email sent out successfully. So the problem must be the timeout.
Could you please add a overload Deliver method to accept a timeout value ? That would be very useful.
Thanks.

[2014-10-15 12:32] andreistangacianu opened #89 "Add MIME-encoding to x-smtpapi header"
Hello Brandon,

Feature request for our C# library: Would it be possible to add a method that automatically MIME encodes non-ASCII characters someone might add in the X-SMTPAPI header (e.g. in substitution tags)? So, instead of the user locally encoding such characters and adding the q-encoded (or base64) string within the x-smtpapi header - it would all be done by our library. Let me know if you

[2014-10-15 14:26] #89 closed, assigned to nobody

[2014-10-23 23:13] chojowliu opened #90 "Chinese Character in AddSubstitution"
Chinese characters work fine in .Subject .Html .Text, but when I tried to use AddSubsitution with Chinese characters, I kept getting wrong encoding in the result. Any idea?

[2014-10-30 15:37] DavidThi808 opened #91 "Please add the .XML and .CHM documentation files"
Please add the standard .xml (for intellisense) and .chm (the API documentation) files to this distribution. Without these using the API is basically a guessing game.

thanks - dave

[2014-11-10 16:36] rjrudman opened #92 "Null reference with substitution data"
If we add a substitution value which is null, we get a null reference error propagating up from the included SendGridMail.dll

We can easily work around this - but it took quite a while to figure out why we got that error. It should either have an exception telling you about it - or treat null as an empty string.

Stacktrace:

    at SendGrid.SmtpApi.Utils.Serialize[T](T objectToSerialize)
    at

[2014-11-26 15:47] brandonmwest opened #93 "Check library for thread safety"
Based on feedback, spinning up multiple threads degrades performance. Need to investigate why. Will also need to look at https://github.com/sendgrid/smtpapi-csharp

[2014-12-07 18:29] StephaneBischoff opened #94 "Bad Request using Deliver"
Receiving an unhandled exception with message Bad Request when using Deliver.
Should provide a better message in exception such as "Subject is missing and is required" and "Text is missing and is required."

Finally resolved my issue with this answer: http://stackoverflow.com/questions/21892185/bad-request-error-using-sendgrid-smtp-email-submission

[2014-12-07 18:53] StephaneBischoff opened #95 "EnableTemplateEngine seems broken"
EnableTemplateEngine is not working for me.

Looking at the SendGrid documentation, the template should be set as:
Refer to: https://sendgrid.com/docs/API_Reference/Template_Engine_API/smtpapi.html

[code]

But using fiddler, I am seeing:

[code]

Notice that difference between "enabled" and "enable"

[2014-12-07 19:58] #95 closed, assigned to nobody

[2014-12-08 10:03] Jospeh opened #96 "Error Handling code in DeliverAsync confused."
Code at line https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Transport/Web.cs#L172

The code checks the status code of the response and throws Exception. If we really want to throw an exception, "Exception" is probably still not what we want. However, the last 2 lines then perform the same test against the status code for OK, and this time try to FindErrorsInResponse(

[2015-01-02 16:30] bobmclaren commented on #90
I experienced this same issue with AddSubstitution when using unicode with Latin characters. (Ã)

[2015-01-07 15:55] brandonmwest commented on #29
Web API doesn't support this so this issue is obsolete now that this lib is HTTP. If using sendgrid-smtpapi, then you can control the entire MIME message and do whatever you want.

[2015-01-07 15:55] #29 closed

[2015-01-08 17:44] craig-acutest opened #97 "BCC not working"
Here is code I'm using to add a Blind carbon copy:

mail.AddBcc(staff.Email);

Where staff is an object with attributes about the staff member, one of which is email, this being a string containing the staff members email address.

We have recently moved our websites to Microsoft Azure, and investigated this as being the best solution to send emails.

We rely on sending BCC as this allows many peo

[2015-01-08 18:08] 0xdeafcafe commented on #97
This is a known issue (#68). It's caused by the fact that this version of the library uses WebAPI (not smtp), and sadly, at the moment, the WebAPI doesn't support BCC.

You can still use the c# smtp library though - available at https://github.com/sendgrid/smtpapi-csharp.

[2015-01-08 18:15] brandonmwest commented on #97
@0xdeafcafe BCC was put back in in 5.0.0 and the web api supports it now https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/SendGrid.cs#L188-L197

Not sure what's going on here

[2015-01-08 18:20] 0xdeafcafe commented on #97
@brandonmwest oops! removed my comment.

@craig-acutest could you set up fiddler and inspect the request going out?

[2015-01-08 18:25] craig-acutest commented on #97
0xdeafcafe I will do now...

Is there anything in particular I'm looking for?

thanks?

[2015-01-08 19:13] 0xdeafcafe commented on #97
You'll have to add the fiddler https cert to your system, and allow it to sniff HTTPS packets. The instructions on doing so are listed in that output.

When you've done that, you'll be able to see the POST payload, and the headers of the request.

[2015-01-08 19:44] craig-acutest commented on #97
Here is decrypted output:

--5d906b49-b109-4796-b3d8-956d0818e9da
Content-Type: text/plain; charset=utf-8
Content-Disposition: form-data; name=api_user

azure_175b6e13f8192248c2a0d1e6c63c39f5@azure.com
--5d906b49-b109-4796-b3d8-956d0818e9da
Content-Type: text/plain; charset=utf-8
Content-Disposition: form-data; name=api_key

knhkzxng
--5d906b49-b109-4796-b3d8-956d0818e9da
Content-Type: text/plain;

[2015-01-08 20:00] 0xdeafcafe commented on #97
That's very strange. It looks like the post body is fine. Next thing I can suggest is going to https://sendgrid.com/logs/index and seeing if the to and bcc emails are being shown there.

nb: you might want to modify that comment as it has links to pdf documents that might be private.

[2015-01-08 20:16] craig-acutest commented on #97
Hi @0xdeafcafe, Thanks for your help so far, it looks like my bcc emails are bouncing:

email: craig.williams@acutesales.co.uk

type: bounce

reason: 554 5.7.1 Command rejected

smtp-id: <14acb2d0f10.34bf.3abd6a@ismtpd-033>

processed string: January 8, 2015 - 08:12:23 PM

is this something for sendgrid support, or could the command being sent through from the API be incorrect somewhere?

Thanks.

[2015-01-08 20:21] 0xdeafcafe commented on #97
If you open a ticket here https://support.sendgrid.com/hc/en-us/requests/new detailing the bounce, the SendGrid support team will look into it. Anything else you could suggest @brandonmwest?

[2015-01-08 20:33] craig-acutest commented on #97
Thank you so much @0xdeafcafe you've been a great help.
I will raise a ticket and keep you informed.

[2015-01-09 16:18] craig-acutest commented on #97
Hi guys,

It looks like there is a spam filter that the IT Support People here didn't know existed, and has been blocking Emails sent from sendgrid.

Its what i'm up against everyday with my job here, spending hours and being told its not our fault only to prove its there fault. In my opinion, they should have an audit log on all systems and changes to those systems. Similar to how GIT handles my

[2015-01-09 16:18] #97 closed

[2015-01-09 16:21] brandonmwest commented on #97
@craig-acutest Glad you got it sorted out! Thanks @0xdeafcafe

[2015-01-09 16:53] 0xdeafcafe commented on #97
Anytime @craig-acutest! Glad you got it sorted 💃

[2015-01-12 09:45] bcrosnier commented on #96
I have encountered this today. When calling `DeliverAsync()` with eg. a wrong username and password, the SendGrid API will, as written, throw a simple `Exception` with the simple message associated with 400 (`Bad Request`).
I could not actually know it was because of a bad username or password until I had access to the HTTP request and saw the `Bad username / password` sent in XML.

[2015-01-15 16:43] swapnilmahangare opened #99 "i have to maintain the email status and resend it if emails are failed while using the transportWeb.Deliver(message);"
below code i am using
var message = new SendGridMessage();
            message.AddTo(mailAddressIdentity.AddTo);
            message.From = new MailAddress(mailAddressIdentity.FromAddress, mailAddressIdentity.FromDisplayName);
            message.Subject = mailAddressIdentity.Subject;
            message.Html = "<p> </p>";
            message.EnableTemplateEngine(Convert.ToString(ConfigurationMana

[2015-01-15 20:42] kkennedy1 opened #100 "Intermittent "Could not create SSL/TLS secure channel" error when sending mail"
We are currently getting intermittent "Could not create SSL/TLS secure channel" errors when sending email through SendGrid.  We are using the .NET C# library 1.1.0.0.  Here is the code we are using:

Web mailer = SendGridMail.Transport.Web.GetInstanace(new NetworkCredential(username, password))
mailer.Deliver(message) // message is ISendGrid

This is intermittent where it seems like the first time

[2015-01-15 21:07] brandonmwest commented on #100
Version 1.1.0 is pretty old. The current version is 5.0.0. We did make a change to disable SSLv3 on our API endpoints due to the POODLE vulnerability which might cause something to break in older versions, but it's hard to say. If you can upgrade to the latest version, which would require some work on your part since there were several breaking changes, hopefully your issues will stop or we'll be

[2015-01-16 06:25] smurfpandey commented on #99
You can use [Event Webhooks](https://sendgrid.com/docs/API_Reference/Webhooks/event.html)

[2015-01-21 21:01] doglesby opened #101 "Add Custom Headers"
In talking with SendGrid support, I was told that... as of now, there are no custom header options for our C# library, however, I'd recommend reaching out to our Devs on our GitHub to either request a use case, or add this as a feature request.

I'm specifically interesting in being able to add the on-behalf-of header.

Thanks!

[2015-01-21 21:20] brandonmwest commented on #101
You can specify arbitrary headers via the`AddHeaders()` method :) https://github.com/sendgrid/sendgrid-csharp/blob/ca91fad22dfec2cd1219267fe979c1d9a33a522e/SendGrid/SendGridMail/SendGrid.cs#L263

[2015-01-21 21:20] #101 closed

[2015-01-22 14:38] jonhel commented on #100
Remove Ssl3 from ServicePointManager.SecurityProtocol by setting it to:
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls12;

The default value is SecurityProtocolType.Tls | SecurityProtocol.Ssl3 which is probably causing you issues.

Or upgrade your references to SendGrid (seems to be fixed in the latest version).

[2015-01-22 16:10] kkennedy1 commented on #100
Thank you.  We’ve updated to version 5 and the issue appears to be taken care of.

From: Jonas Helgesson [mailto:notifications@github.com]
Sent: Thursday, January 22, 2015 7:38 AM
To: sendgrid/sendgrid-csharp
Cc: Kevin Kennedy
Subject: Re: [sendgrid-csharp] Intermittent "Could not create SSL/TLS secure channel" error when sending mail (#100)

Remove Ssl3 from ServicePointManager.SecurityProtocol b

[2015-01-22 16:20] #100 closed

[2015-01-24 23:47] jhenriks79 opened #103 "Using Async in a Synchronous Method Throws Exception"
The code in sendgrid-csharp/SendGrid/SendGridMail/Transport/Web.cs is using an async method call in the Deliver method which can throw an AggregateException.  Consider wrapping the PostAsync call with try/catch and handling the specific exception.

General guidance... You should avoid mixing synchronous and asynchronous code.  Mixed async and blocking code can cause deadlocks, more-complex error h

[2015-01-25 15:41] brandonmwest commented on #103
Woops, definitely a bug, will fix. Thanks!

[2015-01-25 15:47] brandonmwest commented on #94
Thanks for the feedback! Will work on adding some simple validation.

[2015-01-25 15:49] brandonmwest commented on #90
This is being addressed in smtpapi-csharp and should be fixed soon. The workaround right now is to encode unicode in substitutions values to ASCII escape sequences.

[2015-01-25 15:53] brandonmwest commented on #87
Moving this to smtpapi-csharp https://github.com/sendgrid/smtpapi-csharp/issues/9 thanks for the report!

[2015-01-25 15:53] #87 closed

[2015-01-25 16:36] brandonmwest commented on #103
So looking into this more, my understanding is that because the code accesses `.Result` that this is in fact a synchronous operation. Are you seeing `AggregateException`s pop up?

[2015-01-25 16:38] brandonmwest commented on #96
Thanks, fixing this in the next release.

[2015-01-25 16:52] brandonmwest commented on #92
Thank you, fixing this in the next release.

[2015-01-25 17:15] jhenriks79 commented on #103
It is in fact synchronous but mixing synchronous and asynchronous code can cause problems because of the way the thread context works.  In my case, I was using the Web.Deliver method and about 50% of the time I would get an AggregateException while the rest of the time the email would send fine.  Once I started seeing the AggregateException, I examined the SendGrid code and found the async call in

[2015-01-25 17:55] brandonmwest commented on #103
Thanks! Any thoughts on how to use HttpClient but avoid these problems, since HttpClient only provides Async methods?

I found [this suggestion](http://forums.asp.net/post/4845452.aspx):
[code]

Would a similar approach work here? Thanks for your help!

[2015-01-25 18:18] jhenriks79 commented on #103
Unfortunately, that will have the same problem.  It's mixing async and sync code.  One way to get around it is to use the HttpWebRequest class instead of the HttpClient class.  See this link for reference:  https://msdn.microsoft.com/en-us/library/debx8sh9%28v=vs.110%29.aspx

[2015-01-25 18:28] brandonmwest commented on #88
I'm adding a new Web interface constructor that allows this to be specified. That way we can avoid changing the ITransport interface. Hope that will work for you.

[2015-01-25 18:29] brandonmwest commented on #91
Hi Dave, thanks for the feedback. I'm adding the .xml file but I don't know how to get the .chml file. Can you point me in the right direction? Thanks!

[2015-01-25 18:37] DavidThi808 commented on #91
We use DocumentX<http://www.innovasys.com/product/dx/overview> to generate it. If your public methods are properly documented it’s all automatic once you set it up.

Thanks – dave

From: Brandon West [mailto:notifications@github.com]
Sent: Sunday, January 25, 2015 11:30 AM
To: sendgrid/sendgrid-csharp
Cc: David Thielen
Subject: Re: [sendgrid-csharp] Please add the .XML and .CHM documentation files

[2015-01-25 19:24] brandonmwest commented on #103
Okay, thanks for the help. I'll think more about this.

[2015-01-25 20:00] brandonmwest commented on #92
Fixed in 5.1.0

[2015-01-25 20:00] #92 closed

[2015-01-25 20:01] brandonmwest commented on #88
Fixed in 5.1.0

[2015-01-25 20:01] #88 closed

[2015-01-25 20:01] brandonmwest commented on #90
Fixed in 5.1.0

[2015-01-25 20:01] #90 closed

[2015-01-25 20:01] brandonmwest commented on #96
Fixed in 5.1.0

[2015-01-25 20:01] #96 closed

[2015-01-26 22:30] IS-LiweiXu commented on #88
Thank you very much. This really helps us.

[2015-01-27 17:13] brandonmwest opened #104 "Update the travis-ci build"
Right now it's hacked together using mono on an OS X obj-c VM. They've added native support for mono running on linux.

[2015-01-28 15:37] twilly86 opened #106 "Cannot delete file after embedding image to mail"
I'd like to clean up files that were just attached to an email and sent out.

After Web.Deliver() is called, I'm trying to delete the files that were embeded and attached to the email, however I get this following error..

"A first chance exception of type 'System.IO.IOException' occurred in mscorlib.dll

Additional information: The process cannot access the file 'C:\Users\Tom\AppData\Local\Temp\E

[2015-01-28 17:08] twilly86 commented on #106
It turns out it was my fault when I created the image, I wasn't closing the filestream and this prevented me from deleting the file.

[2015-02-01 17:21] brandonmwest commented on #106
Glad you figure it out and thanks for the PR, I'll check it out!

[2015-02-01 17:21] #106 closed

[2015-02-04 23:48] twilly86 opened #108 "EmbedImage does not work without using AttachImage"
You should be able to embed an image without also attaching the image to an email.  I'm getting some weird effects from having to also attach the image such as the email stating it has attachments, when really they are just embedded images.

Sample code can be found here...
http://stackoverflow.com/questions/27328223/sendgrid-smtp-api-embed-image-bad-request

[2015-02-07 19:26] brandonmwest commented on #54
I'm closing this because I've determined we can't address it at the library level. Still working on getting it fixed.

[2015-02-07 19:26] #54 closed

[2015-02-11 19:05] RollingWave opened #110 "Bad Request - No Error Array in Exception"
Intermittently we are receiving the following error via the C# SDK when sending emails.  I suspect that an element of the email is not valid however, after reviewing failed examples, I'm not able to determine what element could cause the failure.  The error message returned is,

How can I check the 'Errors' to review the detail necessary to diagnose?  The array of errors are not included in the ex

[2015-02-12 14:53] sethgrid opened #111 "Improper Character Encoding"
Reported on GetSatisfaction, text encoding is incorrect resulting in garbage output.

https://community.sendgrid.com/sendgrid/topics/error-character-encoding-using-template-engine-with-sendgrid-c?utm_source=notification&utm_medium=email&utm_campaign=new_topic&utm_content=reply_button

[2015-02-12 14:55] brandonmwest commented on #111
This is fixed in 5.1.0 (or smtpapi-csharp 1.2.0)

[2015-02-12 15:10] #111 closed

[2015-02-16 13:34] isaldarriaga commented on #110
try with this.. i capture the error in the try/catch block when calling Web.DeliveryAsync and assign the exception to a DeliveryException member of my class for further review. boolean "delivery" is also set to true.

public string getDeliveryError()
        {
            string error = "";
            if (!delivered && this.DeliveryException != null)
            {
               if (this.Delivery

[2015-02-18 01:58] ccemeraldeyes commented on #61
What was your environment issue? I'm seeing this same problem!

[2015-02-18 02:00] ccemeraldeyes commented on #71
I'm getting this error even on 3.0.0.0.0 version. Does anyone know of a solution?

[2015-02-18 04:42] adinavornicu commented on #61
Hello @ccemeraldeyes ,

In my case, I could not really point to what was not working ( I personally blamed it on the DLL compiling that may have gone badly ). I did a fresh reinstallation of Visual Studio ( using the same .Net 4.0 ) and I reinstalled the library and it worked.

I'm afraid at this moment I no longer use Windows / Visual Studio as I migrated my testing and working environments to Gn

[2015-02-18 17:59] smurfpandey opened #112 "Fork supporting .net 4.0"
@brandonmwest I finally managed to publish my fork of sendgrid-csharp library supporting .net 4.0

https://www.nuget.org/packages/SendGrid.Net40/

Let me know your thoughts.

[2015-03-04 20:38] mmario5 opened #113 "Message does not come with <img> tag"
Hello,

I'm trying to send a message with content:

<p>&lt;p&gt;test&lt;/p&gt;&lt;p&gt;&lt;img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRG38VK4-kYeMdF1fQ6RbhfDoUjbE8smcnFrvJrVg5n1xwP4tN" alt="Obraz" /&gt;&lt;br /&gt;&lt;/p&gt;</p>

but the message does not come to the recipient. When I remove the <img> tag from the message that is ok. I am using C# (SendGrid.Web).

My sample cod

[2015-03-17 16:05] brandonmwest commented on #112
This is great, thank you!

[2015-03-17 16:16] brandonmwest commented on #112
Added link to readme.

[2015-03-17 16:16] #112 closed

[2015-03-17 16:19] brandonmwest commented on #110
[code]

[2015-03-17 16:19] #110 closed

[2015-04-01 15:49] qin-nz opened #115 "Bad Request using Deliver when Attachment using Chinese Name"
I can deliver email correctly using the following code.

[code]

But When I try to send a attachment with Chinese filename, SendGrid server will response 400 Bad Request.

[code]

[2015-04-01 15:55] 0xdeafcafe commented on #115
What version of the library are you using?

[2015-04-01 15:57] DingyuanHu commented on #115
5.1

[2015-04-01 16:14] DingyuanHu commented on #115
Using Unicode as a filename will increase the ```Content-Length``` of HTTP request.
And .NET will throw ```System.Net.ProtocolViolationException```.

[2015-04-06 15:30] ravvenukam opened #116 "Exception Handling for SendGrid Emails"
Hi,
We are using SendGrid C# Library for sending transaction emails. Emails are not getting delivered sometimes but we see emails delivered to the same email id sometimes before or after when we try in different time but we are missing some emails.
transportWeb.Deliver(myMessage); is not throwing any exception but emails are not getting delivered to recipient.
When we contact tech support of sendg

[2015-04-06 15:40] ravvenukam commented on #99
Hi We are also facing the same issue. transportWeb.Deliver(message); is not throwing any exception but sendgrid is saying they didn't receive any request. This is not happening for all the emails ,this is happening once in a while may be 5%. If you didn't receive email request what will be return response of transportWeb.Deliver(message) ???

[2015-04-07 15:34] Robelind opened #117 "Non-ascii characters in sender address"
I started to get "Bad request" errors when trying to send emails. Investigation showed that the problem was "Invalid from email address" and it seems to be choking on non-ascii chars in the sender address.
I believe that this have worked or at least should work.

[2015-04-08 18:02] ravvenukam commented on #116
Its been 20 days we have reported the issue..no resolution yet....

[2015-04-18 01:24] gatesvp opened #118 "Web.Deliver[Async] not Disposing connections"
Both the `Deliver` and `DeliverAsync` methods declare an `HttpClient` but do not leverage a `using()` block of have any code to actively close the connection. This leaves the connection hanging.

.NET limits the number of connections to a given outbound server, so with no clean-up it effectively render SendGrid "unresponsive" from that server.

This is likely the cause of issue #93.

[2015-04-18 14:40] brandonmwest commented on #118
Thank you! I'll get this sorted out soon.

[2015-04-18 15:40] brandonmwest commented on #115
This is a known issue. Unfortunately the built-in HttpClient can only use RFC-2047 encoding for attachments with non-ASCII filenames. Currently our web API doesn't support that, though I've put in a request with our product team to add it. At this time the workaround I can suggest is to use the SMTP transport so you have more control over the MIME message.

[2015-04-19 20:54] mdymel opened #119 "HttpClient throws exception in mono"
There is a bug in mono implementation causing HttpClient to throw an exception when using BaseAddress: https://forums.xamarin.com/discussion/33998/httpclient-error
It works fine when passing whole url to PostAsync

[2015-04-20 08:23] adinanistor opened #121 "RFC 1000 character line limit"
Hello everyone,

Please let us know if using the code provided here: http://stackoverflow.com/questions/29703298/how-to-send-email-to-multiple-recipients-with-dynamic-content-using-sendgrid-api when generating dynamic content for each recipient from the list of 10 000 recipient email addresses, if this code makes use of our default line wrapping, to make the sent emails RFC compliant, and not exce

[2015-04-20 10:36] adinanistor commented on #121
Hello there,

I see that this issue is currently being discussed under a different issue here:
https://github.com/sendgrid/smtpapi-csharp/issues/17

This issue can be closed. Thank you.

[2015-04-20 10:36] #121 closed

[2015-04-21 04:54] hemami opened #122 "The 'hr' start tag does not match the end tag of 'body'"
Hey I have implemented API for sending mails. I have used Parallel.for() for sending multiple mails at a time. It is giving following XML error:
Error in SimpleHTMLEmail in Program.cs:System.Xml.XmlException: The 'hr' start tag on line 5 position 2 does not match the end tag of 'body'. Line 6, position 3.
at System.Xml.XmlTextReaderImpl.Throw(Exception e)
at System.Xml.XmlTextReaderImpl.Throw(Stri

[2015-04-21 22:44] #119 closed

[2015-04-22 02:11] bogeorge opened #123 "Adding a send_at header to schedule an email header doesn't seem to work"
I'm using the headers of a SendGridMessage to add the send_at header value which according to the SendGrid documentation should delay the email but it still appears to be getting sent automatically.

SendGridMessage.Headers.Add("send_at", unixTimestamp.ToString());

[2015-04-22 11:35] kzimny opened #124 "Bcc is not working in conjunction with the SMTP API headers"
here is my code:

        var myMessage = new SendGridMessage();

        List<String> recipients = new List<String> { "inboxA@example.com", "inboxB@example.com" };
        MailAddress[] sTo = new MailAddress[] { new MailAddress("me@example.com") };

        myMessage.To = sTo;
        myMessage.From = new MailAddress("xyz@example.com");
        myMessage.ReplyTo = sTo;
        myMessage.Header.Se

[2015-04-22 13:10] brandonmwest commented on #122
Have you looked at the contents of the response in your debugger? This could be caused by many things, but right now it looks like your request is resulting in HTML being returned rather than XML. Something could be blocking your connection between the client and the server.

[2015-04-22 13:12] brandonmwest commented on #123
Hi there, `send_at` is a part of the X-SMTPAPI header rather than a standard SMTP header. The X-SMTPAPI header takes a JSON object to describe extensions like scheduling. I'm working on adding a convenience method for this and will have it in the next release.

[2015-04-22 13:27] brandonmwest commented on #118
The general consensus I've found is that connections are automatically reused and therefore explicitly disposing them hinders performance rather than helps it. From (Darrel Miller's blog)[http://www.bizcoder.com/httpclient-it-lives-and-it-is-glorious]:

And from (Henrik Nielsen)[http://blogs.msdn.com/b/henrikn/archive/2012/08/07/httpclient-httpclienthandler-and-httpwebrequesthandler.aspx], one of

[2015-04-22 13:34] brandonmwest commented on #108
Whether or not embedded content shows up as an attachment is determined by the client, not by the MIME message. Embedded images are by definition attachments. If you don't want the attachment, then link the image rather than making embedding it. Let me know if have questions! :)

[2015-04-22 13:34] #108 closed

[2015-04-22 13:36] brandonmwest commented on #103
I've determined that the best course of action is probably to deprecate the synchronous send method.

[2015-04-22 13:44] #58 closed

[2015-04-22 13:45] brandonmwest commented on #91
Hi David, at this time I don't have the resources to instrument the project to generate .chm files. Hopefully the .xml file will help. Thanks for your feedback.

[2015-04-22 13:45] #91 closed

[2015-04-22 13:45] #123 closed

[2015-04-22 13:50] brandonmwest commented on #118
I now think the cause of degraded performance during concurrent calls might be a result of the default connection limit specified by ServicePoint: https://msdn.microsoft.com/en-us/library/system.net.servicepointmanager.defaultconnectionlimit.aspx

This is causing the connection pool to lock.

[2015-04-22 14:03] brandonmwest commented on #113
Hi there, I don't see any problems with your code. What does SendGrid say about the messages that are not delivered when you look for them in your Email Activity report? They might be getting blocked at the receiving server.

[2015-04-22 14:23] bogeorge commented on #123
Thanks Brandon.

Is there a way to use the x-smtpapi header today before you have the convenience methods?

I've tried these two approach and neither seemed to work

Using the SendGridMessage object
SendGridMessage.Header.AddUniqueArgs(new Dictionary<string, string> { { "send_at", unixTimestamp.ToString() } });

Using a MailMessage in System.Net.Mail namespace and sending with the SMTPClient objec

[2015-04-22 15:38] gatesvp commented on #118
"You should try and re-use your HttpClient instances"

You are clearly not doing this. That would require pooling of some sort.
Your code is making a new one every time, so there is reuse possible.

You instantiate the HttpClient and then you let it fall out of scope. But
in the background that HttpClient is holding the underlying unmanaged
resources. It can't be garbage collected until Dispose()

[2015-04-22 15:44] mmario5 commented on #113
It seems to me that the problem was that the message was not in a correct HTML format. Missing the following tags: &lt;html&gt;, &lt;head&gt; and &lt;body&gt;.

[2015-04-22 15:55] brandonmwest commented on #118
Your solution does not re-use the connection either, is closing the connection every time. I don't doubt that it works but I want to leave the connection open and re-use it, not dispose of it after each request. You say "that would require pooling of some sort." But each instance of HttpClient has an implicit pool:

[2015-04-22 16:25] brandonmwest commented on #113
ah yes, that would do it :) thanks for letting us know!

[2015-04-22 16:25] #113 closed

[2015-04-23 11:44] hemami commented on #122
brandonmwest thanks for reply.
I am sending 5000 mails together and then there is 2 min wait after which next 5000 mails are sent. Now out of these 5000 requests all do not generate error. 15% of requests generate the error. Now if I try to send again to those users for which error is generated, it sends. I can also say that at the start it sends a large number, problem starts after sending around

[2015-04-23 15:37] #104 closed

[2015-04-23 15:38] brandonmwest commented on #93
Found the issue. Will be fixed in next nuget release. Thanks for everyone's help finding this.

[2015-04-23 15:38] #93 closed

[2015-04-23 15:38] brandonmwest commented on #103
I've removed the synchronous method in the next release.

[2015-04-23 15:38] #103 closed

[2015-04-23 16:59] brandonmwest commented on #118
Thanks for your help with this. The next nuget release (code is in master) will reuse the connection.

[2015-04-23 16:59] #118 closed

[2015-04-23 17:54] brandonmwest commented on #123
Check out smtpapi-csharp 1.3.1 and sendgrid-csharp 6.0.0. You should see a SetSendAt() method now :)

[2015-04-23 18:13] brandonmwest commented on #122
Hi there, I just released a new version that changes how HTTP clients are reused that might help. It should drastically improve performance for code that needs multiple connections.

The reason that the Deliver() method doesn't return anything is because our API handles requests asynchronously. We accept the message and then process it so it takes some time for us to determine everything. As a not

[2015-04-23 19:33] bogeorge commented on #123
Awesome!  Thanks so much.  I will get the latest versions and check it out.

From: Brandon West [mailto:notifications@github.com]
Sent: Thursday, April 23, 2015 1:55 PM
To: sendgrid/sendgrid-csharp
Cc: Bo George
Subject: Re: [sendgrid-csharp] Adding a send_at header to schedule an email header doesn't seem to work (#123)

Check out smtpapi-csharp 1.3.1 and sendgrid-csharp 6.0.0. You should see a S

[2015-04-24 03:39] dalefraser opened #125 "DeliverAsync Out of Memory"
We are sending a large volume of emails using this method.

However we get Out of Memory errors and don't know how to handle or limit the number of threads created so that we can continue to deliver without running out of memory.

There doesn't seem to be any documentation around your DeliverAsync method and what we should do.

We have tried to slow it down by doing a Thread.sleep every X emails w

[2015-04-24 07:51] brandonmwest commented on #125
Which version are you using?

[2015-04-24 13:27] duongthaiha opened #126 "{"Unknown element: html"}"
Just updated to Send Grid C# to 6.0.0 and got this error  {"Unknown element: html"}
Here is the sample of code. Can you please have a look? Thank you very much

                SendGridMessage myMessage = new SendGridMessage();
                if (string.IsNullOrEmpty(email)) email = "xxxx";
                myMessage.AddTo(email);
                Console.WriteLine("Sending Email {0}",email);

[2015-04-24 13:29] brandonmwest commented on #126
Thanks for the bug report, I will look into it
On Apr 24, 2015 7:27 AM, "duongthaiha" <notifications@github.com> wrote:

[2015-04-24 13:47] artmetz commented on #126
I am also having the same issue with the upgrade to 6.0.
SendGridMessage cMessage = new SendGridMessage();
cMessage.DisableClickTracking();

cMessage.From = new MailAddress("xxxx");

List<string> recipients = new List<string>
{
    @"Art Metz <xxxx>"
};

cMessage.AddTo(recipients);

cMessage.Subject = "Testing the SendGridMessage";

cMessage.Html = "<p>html test</p>";
cMessage.Text = "plain text t

[2015-04-24 14:13] brandonmwest commented on #126
I've found the bug. Silly mistake caused by a bad merge. Fix coming shortly.

[2015-04-24 14:20] brandonmwest commented on #126
Please try 6.0.1 and sorry for the trouble.

[2015-04-25 02:43] GorillaSpring opened #128 "Web.Deliver is Gone!!"
After a NuGet update, the .Deliver method is not longer available.  Only DeliverAsync.

Straight from your example,

            // Create credentials, specifying your user name and password.
            var credentials = new NetworkCredential(sendGridAccount, sendGridPassword);

            // Create an Web transport for sending email.
            var transportWeb = new Web(credentials);

[2015-04-25 03:46] brandonmwest commented on #128
It was removed on purprose. See https://github.com/sendgrid/sendgrid-csharp/blob/master/CHANGELOG.md

[2015-04-25 03:46] #128 closed

[2015-04-26 14:43] brandonmwest commented on #125
Please try 6.0.1. In previous versions the HttpClient was neither being disposed nor reused. This is likely where the memory leak came from.

[2015-04-26 14:43] #125 closed

[2015-04-28 12:00] farlop commented on #117
+1

[2015-04-29 01:17] dalefraser commented on #125
We wern't on that version but are now, the same error. I consistantly happens after around 30k sends. Im not sure any of this is helpful, but here it is.

Message: Exception of type 'System.OutOfMemoryException' was thrown.
Inner Exception:
Stack Trace: at System.String.ReplaceInternal(String oldValue, String newValue) at System.String.Replace(String oldValue, String newValue) at OneShiftApi.Compo

[2015-04-29 01:39] brandonmwest commented on #125
I don't actually see anything from the SendGrid dll in that stack trace. Additionally, we don't call String.Replace anywhere in our code. This leads me to believe that the problem is occurring somewhere above the actual sending code, perhaps in code that processes data to be used in the emails?

[2015-04-29 16:25] lennane opened #129 "SendGridMail is undead"
It still is used in the Send Grid Sample at https://sendgrid.com/docs/Code_Examples/csharp.html

[2015-04-29 16:26] brandonmwest commented on #129
Thank you, we'll get it updated :)

[2015-04-30 02:34] doglesby opened #130 "Just updated sendgrid via nuget, and not getting an error when building"
After updating sendgrid on nuget (in visual studio),  when I try and build the project, I get the following error:

Error	30	'SendGrid.Web' does not contain a definition for 'Deliver' and no extension method 'Deliver' accepting a first argument of type 'SendGrid.Web' could be found (are you missing a using directive or an assembly reference?)

This error occurs on the following line:
transportWeb.

[2015-04-30 03:23] 0xdeafcafe commented on #130
The synchronous deliver methods were removed in this commit, 97bcb9854b8c8d3796b7b1dd56d2525fc8832057. It looks as if only DeliverAsync is available now.

[2015-04-30 21:57] brandonmwest commented on #130
Yep, please use the DeliverAsync() method :)

[2015-04-30 21:57] #130 closed

[2015-05-01 17:52] gatesvp commented on #118
This bug still exists in the latest version of the code.

On this line the `HttpClient` is being instantiated in the constructor, but it is never Disposed.
https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Transport/Web.cs#L44

On top of this, the `Web` class now holds a reference to am `IDisposable` object but doesn't implement the interface. This lights up all of the

[2015-05-01 17:54] gatesvp commented on #118
As a note the `SendGridMessage` class has the same problem. It hold a `MailMessage` that is never Disposed.

[2015-05-01 18:06] brandonmwest commented on #118
I will fix the interface implementations, but I have clearly stated that I will not dispose the `HttpClient` explicitly, therefore I closed the issue. I'm not disposing the connections on purpose. Everything I've read indicates that it should not be done. For example, http://stackoverflow.com/questions/15705092/do-httpclient-and-httpclienthandler-have-to-be-disposed

[2015-05-01 18:09] brandonmwest opened #132 "Implement IDisposable interface properly for Web and SendGridMessage"

[2015-05-01 18:25] gatesvp commented on #118
From that very answer:

However, you're not doing this. You keep creating new ones every time someone instantiates the `Web` class.

Further down in the comments:

Again, you are not re-using the instance. If I have 25 threads and they all create an instance of `Web` (_it's not a static_), then they each get a new copy of HttpClient that is never re-used **and** never cleaned up.

The StackOverflo

[2015-05-04 17:04] silvaalexandre opened #133 "DeliverAsync inside a loop"
I tested send several messages from my application with call of DeliverAsync inside a loop that reads my data from database. I can´t send just one message with several destinations. My message is user customized. When I run with 10 e-mail address my app runs ok, but with aprox. 1050 addresses not all messages are sent e none error is returned. Here is my routine method:

        public void Send(s

[2015-05-04 18:31] brandonmwest opened #134 "Embedded images should use the Web API content parameter"
Embedding by file path doesn't actual attach the file contents right now, and embedding from a stream adds an attachment.

[2015-05-04 23:37] brandonmwest commented on #133
Are you catching exceptions anywhere? I bet some of the calls are timing out. Try setting `ServicePointManager.DefaultConnectionLimit` to something reasonable like 10 and see what happens

[2015-05-05 07:38] assafBarash opened #136 "SendGrid.Web.CheckForErrors throws random exceptions"
Hi There

few days ago, a client of ours complained (not for the first time) that she's unable to send emails. as i investigated the issue i found that SendGrid.Web.CheckForErrors throws an exception. i tried to get more details and investigate it deeper but after two days our client called  us again and told that now she's able to send emails, which prevents me from further investigating the erro

[2015-05-05 10:01] ScarlettCode opened #137 "A first chance exception of type 'System.NullReferenceException' occurred in mscorlib.dll"
Using the exact code off the Readme file "How to: Send an Email" I'm getting the above error.

The code used to work when I first wrote it a few weeks back so I don't know what's changed that I'm now not handling. Any assistance would be greatly appreciated. Is the DeliverAsync method working correctly?

Thanks

[2015-05-05 13:28] brandonmwest commented on #137
Can you post your code and your stack trace?

[2015-05-05 13:30] brandonmwest commented on #134
So it turns out that `EmbedImage()` simply never worked. EmbedStreamImage() does work, but if the content is not referenced, the attachment shows up (I think this is correct behavior).

[2015-05-05 13:31] brandonmwest commented on #136
Hi there, without a stack trace it's very hard to help you debug.

You can see all of the exceptions that can be thrown here; https://github.com/sendgrid/sendgrid-csharp/blob/ea7fc3b65fcaab4060e8e6e89b4da700a19cf3b8/SendGrid/SendGridMail/Transport/ErrorChecker.cs#L43-L50

[2015-05-05 14:30] assafBarash commented on #136
Hi Brandon

Thanks for the help. would you like me to send you the stack trace here or
update my current post?

2015-05-05 16:31 GMT+03:00 Brandon West <notifications@github.com>:

[2015-05-05 23:05] silvaalexandre commented on #133
I made a test with ServicePointManager.DefaultConnectionLimit = 10 and it runs. Thank You.

[2015-05-05 23:05] #133 closed

[2015-05-06 11:19] MarcelloCarreira commented on #99
Hello, I also believe that transportWeb should return some information from the server when it successfully have delivered the message to the api. I know this is not the same as knowing if the message itself was delivered to the recipient (this is done using the Webhooks). But this information is indeed very useful, because you can retry sending the message to the api if you got an error. For exam

[2015-05-06 11:21] MarcelloCarreira commented on #116
Hello, I also believe that transportWeb should return some information from the server when it successfully has delivered the message to the api. I know this is not the same as knowing if the message itself was delivered to the recipient (this is done using the Webhooks). But this information is indeed very useful, because you can retry sending the message to the api if you got an error. For examp

[2015-05-06 12:01] MarcelloCarreira commented on #122
The api handling async is one thing. Other thing is knowing if the api received or not the request. Knowing if the message itself was delivered to the recipient is a next step, done using the Webhooks. But I also believe that transportWeb should return some information from the server when it successfully has delivered the message to the api. I sometimes try to deliver a message, but I got an inva

[2015-05-06 12:06] MarcelloCarreira commented on #94
I also had some similar problems. I know the sdk have now better error handling, but I still think this could be simplified for the final user. I forked this rep and added an example file, SendGridSendAsync.cs, that catches the exceptions, merge them, and then give a simple string to the user, so it´s easier to know what happened, as the api itself returns errors like missing body or subject. I bu

[2015-05-06 17:07] ScarlettCode commented on #137
Resolved this by moving the DeliverAsync call into a new method. Think my lack of Async understanding was the issue.

[2015-05-06 17:07] #137 closed

[2015-05-11 04:32] wpalombini opened #138 "How to save emails in a temp folder when in development mode."
Hi everyone,

With the classic SmtpClient, instead of sending the email out, we can save it on the c drive in a folder.
How can I achieve this with this sendgrid library?
This is very useful when running tests in development mode.

Thanks

[2015-05-11 04:55] wpalombini commented on #125
Hi Brandon,

The error happens along a process where we replace parameters inside a string. The fact is that the whole code works without any issue if we just don't deliver the email (by not calling DeliverAsync(message)). Also, if we run the process using the built in SmtpClient, we also don't get the error. The problem is that it takes about 12 hours to deliver roughly 80k emails.
By keeping an

[2015-05-11 12:39] mattwoberts commented on #108
I had this to, and have had support tickets back and forth with sendgrid on this.

Unless something has changed, this is not FIXED. The issue is thus:

If you use the standard c# SMTP client, and embed an image, it always works as expected in all mail clients.

If you use the sendgrid API, to embed the images, then, as the original SO question states, you HAVE to include the image as an attachment

[2015-05-11 18:43] brandonmwest commented on #108
Can you post the code you are using to send the message?

[2015-05-11 18:51] brandonmwest commented on #138
You'll need to implement some kind of logging, but you won't be able to see the actual message, because the MIME message itself is built by SendGrid based on the HTTP request, not by this library. So  the best you'll be able to do is inspect the object. To view the actual message you'll need to send it somewhere where you can view the raw message content.

[2015-05-11 18:51] #138 closed

[2015-05-13 10:24] mattwoberts commented on #108
Here is the code I am using. The mail I am sending is already contained in a .NET mail object, so I'm reading from that and putting it into a sendgrid mail object and sending via the API (I do this because I Want to use additional API functionality like including unique tracking codes)

    var sendGridMail = new SendGridMessage();

    // Set the From, To, Subject, etc.. (omitted)

    // Set the

[2015-05-15 14:34] bjorncoltof opened #139 "Using API Keys"
How can I use APi keys with this client library? I see there is a branch for API keys, should I pull that and build the lib myself?

[2015-05-15 15:33] brandonmwest commented on #139
Please see the readme.

[2015-05-15 15:33] #139 closed

[2015-05-15 16:09] bjorncoltof commented on #139
Hi,

The readme says I can, but not how. Any further pointers would be appreciated.

Bjorn

-----Original Message-----
From: "Brandon West" <notifications@github.com>
Sent: ‎15-‎5-‎2015 17:33
To: "sendgrid/sendgrid-csharp" <sendgrid-csharp@noreply.github.com>
Cc: "bjorncoltof" <bjorn.coltof@gmail.com>
Subject: Re: [sendgrid-csharp] Using API Keys (#139)

Closed #139.
—
Reply to this email directly

[2015-05-15 16:14] 0xdeafcafe commented on #139
[This](https://github.com/sendgrid/sendgrid-csharp#how-to-send-an-email) part of the readme states where to get API Keys and how to use them with the library.

[2015-05-15 16:31] bjorncoltof commented on #139
Thanks, completely missed the overload that was being called...

-----Original Message-----
From: "Alex Forbes-Reed" <notifications@github.com>
Sent: ‎15-‎5-‎2015 18:14
To: "sendgrid/sendgrid-csharp" <sendgrid-csharp@noreply.github.com>
Cc: "bjorncoltof" <bjorn.coltof@gmail.com>
Subject: Re: [sendgrid-csharp] Using API Keys (#139)

This part of the readme states where to get API Keys and how to us

[2015-05-19 12:28] krompjuter opened #140 "Stats API function"
We have been using Sengrid C# library for about 2 years (some old version).
It support many API functions like GetBounces, GetStatReports and so on.

In the newest library version any of these are not included.
(here you can see many classes in my OLD project http://screencast.com/t/ttyd2DTlp)

Could you determine what has happened? Does Bounce, Spam, Stats API calls are not supported in newer C#

[2015-05-21 18:34] brandonmwest commented on #140
Hi there! This library has never supported anything other than email transport. It looks like you were probably using a fork of this repo. Unfortunately I'm not sure which one that might be. We are planning to add support for many other API endpoints to our official libraries but we are still in the planning stages.

[2015-05-21 18:34] #140 closed

[2015-05-28 12:58] iolaru opened #141 "Send_at with X-smtpapi header"
Hi!

Would there be any way of scheduling an email with Send_at? this doesn't seem to be defined just yet.

Thank you!

[2015-05-29 09:13] DavidR91 opened #142 "Possible to re-introduce a proper synchronous API?"
Perhaps I'm in the minority, but asynchrony is actually really *un*helpful for my particular use of Sendgrid.

I specifically **want** to wait for the POST to finish so that I can mark the work as successful/unsuccessful at the point when it is processed. Deferring results until an unknown point in the future makes determining success/failure significantly harder

Is there any chance of introducin

[2015-05-29 09:33] DavidR91 commented on #142
OK: Apologies, I missed the SendGrid.Net40 fork mentioned in the README

Is it possible to shout out to this fork slightly more prominently in the docs? (now that new projects will be receiving this current version via nuget, it would be appreciated if you could say something to the effect of 'Can't use async? Go here')

[2015-05-29 17:38] smurfpandey commented on #142
I was about to update that fork, and remove the synchronus API becuase of https://github.com/sendgrid/sendgrid-csharp/issues/103. But I guess i will have to keep the synchronous method.

Any chance you can use Sendgrid Events webhook mentioned in the [docs](https://sendgrid.com/docs/API_Reference/Webhooks/event.html)

[2015-05-29 17:42] smurfpandey commented on #142
Or maybe this pull request will help you https://github.com/sendgrid/sendgrid-csharp/pull/135

[2015-05-29 17:49] brandonmwest commented on #142
The thing is that HttpClient is all async, so if you make a "synchronous" method you're just mixing sync and async code. You're welcome to wrap the method in something that awaits it to simulate the async method yourself (which is what this library used to do, so looking at the code history will show how), but mixing sync and async is generally not advisable. For tracking async messages and error

[2015-05-29 17:49] #142 closed

[2015-06-03 23:09] rolandocc opened #143 "Get DeliverAsync() Response"
Hi, I have been googling all day trying to figure it out how to know when this method fails, can anybody provide me with an example?

Thanks.

[2015-06-04 15:55] rolandocc commented on #143
In order to complete the documentation I will answer myself:
Simply use "await" and wrap it inside a try-catch block, any error will be trapped by this block!

try{
 // email setup
  await transportWeb.DeliverAsync(mensaje);
}
catch (exception ex){

}

[2015-06-04 15:55] #143 closed

[2015-06-04 16:37] brandonmwest commented on #141
Check out `SetSendAt()` :)

[2015-06-04 16:37] #141 closed

[2015-06-04 16:39] brandonmwest commented on #143
Check out this code as well. It uses the SmtpClient but the async handling is the same: https://github.com/sendgrid/smtpapi-csharp/blob/master/Smtpapi/Example/Program.cs

[2015-06-05 13:26] brianptx commented on #116
I agree.  We need more detailed status information returned from the DeilverAsync method with the actual result of the call (similar to calling mail.send.json directly via http post) with "success" or "error" along with the detailed message if an error exists. I don't see how to get this info when calling transportWeb.DeliverAsync.

[2015-06-11 03:52] bsimser commented on #126
Updated to 6.0.1 and found this error is back when you're trying to run from localhost through an authenticated proxy (at least that's what my setup was). Once I was off the network and using a regular network connection the error was gone. I'm assuming I can set/pass a proxy object in the credentials (I can't remember where the proxy fits in) so I can test this in the morning when I'm back on the

[2015-06-27 06:25] alexjusti opened #146 "ASP.Net 5 Support"
Are there plans for ASP.Net 5 support at the moment?  I'm developing an application using ASP.Net 5, and I'd like to avoid writing my own SendGrid client if I could.

[2015-06-29 14:50] mattwoberts commented on #108
Hi
Any update on this?

[2015-06-30 02:16] zzzcochrane commented on #126
I am on 6.1.0 and  had to throw in the last line for it to work and not throw null issue.
transportWeb.DeliverAsync(myMessage);
//2.3 seconds to avoid issue of above method returning null
 System.Threading.Thread.Sleep(2300);

[2015-07-08 18:20] jamesdecourcy opened #147 "is SetSendAt() supported?"
Hi

Im trying to delay sending an email but myMessage.SetSendAt() cannot be resolved.

Do you support this or am i just doing it wrong?

Thanks

[2015-07-14 15:28] guao2012 commented on #147
Hi everyone.

I have the same problem.
However, in other hand I modified a little bit the smtp.api library and I recompiled it in order to enable these functionality, but the messages are sent immediately even I set a date time for the next hour.

Regards

[2015-07-15 18:17] Gaz79 commented on #126
Hi, I am also on 6.1.0 and found the "Unknown element: html" bug is back.
The version and code has been running stable for about 2 months and the only change was my azure subscription which I upgraded and it automatically deleted my old sendgrid account so I had to create a new sendgrid account and api key.

[2015-07-17 04:55] ahrenm opened #148 "SendGrid on an Azure web site"
Does anyone know how to get this working on an Azure website?
I've spent 2 days trying to get basic emailing working and I'm about ready ditch the whole Azure platform and just move over to Wix.

This line:
__transport.DeliverAsync(__newMessage);

Gives me no error and no email message. I've tried running it locally and on Azure. I've put a tap on the returned Task, but it never returns.

If there

[2015-07-17 09:22] neil-thompson commented on #148
In the version deployed via NuGet I found that awaiting the task did not work eg:

await __transport.DeliverAsync(__newMessage);

but skipping await was fine
__transport.DeliverAsync(__newMessage);

is this what you have?

[2015-07-28 20:34] nbirkes opened #149 "Templates?"
Has the new template functionality been added to this library?

https://sendgrid.com/docs/API_Reference/Web_API_v3/Template_Engine/templates.html

[2015-07-31 04:05] ahrenm commented on #148
Sorry for the slow response, took me a bit to get back to this project.
I've tried both variations of the above. The returned task from DeliverAsync never gets scheduled. The status just sits on WaitingForActivation.

Seems async calls in IIS are generally troublesome due to a page cycle only really getting allocated a single thread, which causes deadlocks.

My code is
[code]
The static method is

[2015-08-05 11:12] WiredSoftware commented on #126
This issue seems to have come back today - was working fine up until now. I've been using version:

<package id="Sendgrid" version="6.1.0" targetFramework="net45" />
<package id="SendGrid.SmtpApi" version="1.3.1" targetFramework="net45" />

I've changed nothing, it was working fine yesterday...

[2015-08-07 05:24] davidwholland commented on #148
Any thoughts on the question by @ahrenm ? I've got almost exactly the same code, and it's not working for me either. I'm running a .NET console application as a test with no other code. No exceptions are thrown when I run the program, but no emails show up and SendGrid isn't showing any activity on my account.

[2015-08-07 07:52] ahrenm commented on #148
Just tried the same thing in an Azure worker process. No joy.
As the only supported email service for Azure, be nice if someone could show how to make it... you know.....send emails.

[2015-08-07 08:40] white-label-development commented on #148
This 'works' for me (it just never awaits - but the SendGrid svc request is successfully sent)
[code]

[2015-08-07 08:47] TaqiOfficial opened #150 "System.Net.Mail.MailMessage does not contain definition for SetCategory"
When added `SetCategory` it prompts error `(System.Net.Mail.MailMessage does not contain definition for SetCategory`, else its working.

[code]

[2015-08-07 09:08] ahrenm commented on #148
In order to make sure my thread stays active I've looped the call as per below.
It exits the loop ok, so the task must be completing, just no email :-(

[code]

[2015-08-07 13:49] brandonmwest commented on #150
Yep, System.Net.Mail.MailMessage is the built-in C# class; it won't have any SendGrid methods. Please review the readme and use the SendGridMessage object.

[2015-08-07 13:49] #150 closed

[2015-08-07 18:22] davidwholland commented on #148
Just wanted to leave an update: this code started working correctly after I moved it to my ASP.NET project. For some reason, running it in a Console app didn't work.

I am using the `await` keyword:

[code]

Also, in my test, I used it in a controller method that's defined as:

[code]

Obviously, I'm not going to leave it in a controller method for production, but I wanted to let you know what wor

[2015-09-02 20:02] baywet commented on #149
I don't believe it has with high level object.
Regardless you can do that.
message.Header.EnableFilter("templates");
            message.Header.AddFilterSetting("templates", new List<string> { "template_id"}, <templateId>);

you also have a method "AddSubstitution" on the header prop to add substitution values to your email

[2015-09-02 20:06] brandonmwest commented on #149
https://github.com/sendgrid/sendgrid-csharp/blob/e75eaee35beaf9170505db626408021c50307289/SendGrid/SendGridMail/SendGrid.cs#L466-L472

[2015-09-02 20:06] #149 closed

[2015-09-03 14:43] nbirkes commented on #149
That's exactly what I was looking for. Thanks for the help guys!

[2015-09-03 15:46] JanSichula commented on #146
+1 for me and I also believe for many others who plan to develop on ASP.NET 5.

[2015-09-03 15:48] brandonmwest commented on #146
I don't use ASP.NET so my understanding is limited, but can't you use any .NET DLL as normal? Is there something specific that needs to be done for ASP.NET 5 support?

[2015-09-03 15:58] JanSichula commented on #146
Hello,

the essence of the issue is to prepare a library targeting .NET Core on which ASP.NET 5 builds as specific app framework as is best explained in article at http://oren.codes/2015/07/29/targeting-net-core/ by Oren Novotny. "Legacy" .NET 4.x libraries can be used by ASP.NET 5 but only on Windows while for Linux and Mac support it is necessary to produce a .NET Core library as described in th

[2015-09-03 16:04] JanSichula commented on #146
@mw2nukeboy In the meantime until .NET Core targeting SendGrid library gets out, you can target Desktop CLR with ASP.NET 5 on Windows and utilize "legacy" libraries. I am presently doing the same with RavenDB client library.

[2015-09-03 16:05] brandonmwest commented on #146
Okay thanks, I will see what I can do!

On Thu, Sep 3, 2015, 10:04 AM Jan Sichula <notifications@github.com> wrote:

[2015-09-03 16:11] saluce65 commented on #146
Currently, SendGrid doesn't support .NET Core 5.0.  Since ASP.NET 5 isn't
expected to go to RC until November at the earliest (see
https://github.com/aspnet/Home/wiki/Roadmap), I think it may be a bit early
to have a version of SendGrid that supports .NET Core 5.0.  It's something
that will need to be done, though.

If you aren't doing a cross-server deployment, you should be able to target
dnx451

[2015-09-05 12:31] gdbgandg opened #151 "SendGrid mail not sending (web and smtp)"
There was an issue in 2014 labeled as above. I am have exactly the same issue.
I'm new to SendGrid and relatively new to Azure so this may be something simple

My code is as follows (taken from on of the samples and converted to vb)

Imports System.Net
Imports System.Net.Mail
Imports SendGrid
Imports SendGrid.SmtpApi

 Dim myMessage As New SendGridMessage()
        myMessage.AddTo("xxx@xxx.com")

[2015-09-05 15:21] brandonmwest commented on #151
It sounds like you looked at a slightly old example. The example code in the readme for this repo is the most up to date. For example, it's better to use an API key now rather than credentials.

Is your account confirmed and provisioned? Can you successfully send an email from e.g. curl? Your example is only using the HTTP transport, have you tried SMTP as well?

[2015-09-09 22:54] #151 closed

[2015-09-10 21:38] michelscafidi commented on #148
I had the same issue with my console app implementation. I was able to keep the thread active and successfully send a message via the console app by using the `Wait()` method, rather than the `await` keyword.

[code]

Hope this solves your issue.

[2015-09-20 17:49] janus007 commented on #54
Hello
I need to ask, is there any progress in this bug?

Cheers
Janus

[2015-09-22 15:57] NashCarr opened #152 "I cannot get my messages to track Opened Tracking"
When I send my test email I get a web hook back for processed and delivered but not opened.
I am using the EnableOpenedTracking example.

           message.EnableOpenTracking();

[2015-09-22 15:59] NashCarr commented on #152
I do see this within the message:  ((SendGrid.SmtpApi.Header)myMessage.Header).To' threw an exception of type 'System.ArgumentException

but can't determine what is causing this.

[2015-09-26 19:10] PaulParker commented on #148
@michelscafidi's solution to use .Wait() fixed it for me (sending was intermittent but now it seems to be working constently).

[2015-09-29 18:13] thinkingserious commented on #148
I was able to confirm the library is working using this tutorial: https://azure.microsoft.com/en-us/documentation/articles/sendgrid-dotnet-how-to-send-email

I used a C# ASP.NET Web Application for testing and put the following code in the Index() controller:
https://gist.github.com/thinkingserious/14208711bd6ee49c8eb5

Upon loading that page on Azure the email was sent.

However, there are severa

[2015-09-29 18:13] #148 closed

[2015-09-29 18:14] thinkingserious opened #153 "API Keys support"
Make sure all examples and documentation is updated:

https://azure.microsoft.com/en-us/documentation/articles/sendgrid-dotnet-how-to-send-email/
https://github.com/sendgrid/sendgrid-csharp
https://sendgrid.com/docs/Integrate/Code_Examples/csharp.html

[2015-09-30 09:10] thomasrosted commented on #117
We have the same problem. I assume it's related to the API rather than the C# driver, so perhaps we need to direct the issue elsewhere?

[2015-09-30 12:24] PaulParker commented on #148
@thinkingserious the code in the tutorial worked for me when it was in an asp.net application. It did not work when I used it in a webjob.

[2015-09-30 13:25] thinkingserious commented on #148
@PaulParker Thanks for the additional feedback!

Based on your previous comment, we should update the documentation to state that if you are running a console application, you must use transportWeb.DeliverAsync(myMessage).Wait().

Is that correct?

Thanks again for your support!

[2015-09-30 17:06] PaulParker commented on #148
@thinkingserious  I suppose that would be one approach. But I think it would be better if the usage was the same no matter where you are calling the function from. I don't really understand the internals so I'm not sure if that is realistic or not.

[2015-09-30 20:08] thinkingserious opened #154 "Console apps only work with transportWeb.DeliverAsync(myMessage).Wait()"

[2015-09-30 20:58] NashCarr commented on #154
This was a life saver!!!

[2015-09-30 20:59] NashCarr commented on #154
I was just testing this for the last 2 hours trying to figure out why my aspx page would work but not my web service.

[2015-09-30 23:20] thinkingserious commented on #148
We will be tracking that issue here: https://github.com/sendgrid/sendgrid-csharp/issues/154

Thanks again @PaulParker

[2015-09-30 23:21] thinkingserious commented on #154
You can thank the fine folks in this thread: https://github.com/sendgrid/sendgrid-csharp/issues/148

;)

Thanks for supporting SendGrid!

[2015-10-01 05:14] thinkingserious commented on #154
I've confirmed that for Console Applications, you need to call DeliverAsync this way and have put in pull requests to update our documentation:
https://github.com/sendgrid/docs/pull/1286
https://github.com/sendgrid/sendgrid-csharp/pull/155

[2015-10-01 05:14] #154 closed

[2015-10-05 13:04] NashCarr commented on #152
I will add that the Track Clicked option also works but not the opened.

[2015-10-12 12:06] prateekmaheshwari opened #156 "Attachments not received in correct order"
I tried sending multiple files using sendgrid in a windows store app but the files are not received in the correct sequence. Refer attachment.

![sendgrid_issue](https://cloud.githubusercontent.com/assets/13113989/10427464/a1d4c320-7107-11e5-9d85-c7e507dd1602.PNG)

Kindly help.

[2015-10-13 15:58] leonelpc opened #157 "Using Templates"
There seems to be a problem when specifying template engines via `EnableTemplateEngine("");`. When the template id is provided it looks like we still need to provide the message subject and body, even if the template is already taking care of that.  For example this will throw an invalid request error...

            var credentials = new NetworkCredential("user", "password");
            var tran

[2015-10-15 10:00] NeelBhatt commented on #24
Might be too late to comment here but it is finally supported by .Net! Have a look here: https://neelbhatt40.wordpress.com/2015/10/14/webhooks-in-asp-net-a-visual-studio-extension/

[2015-10-15 13:08] ohadschn commented on #126
I am on 6.1.0.0 and recently started getting these, any ideas?

[2015-10-15 14:24] thinkingserious commented on #24
Thanks @NeelBhatt!

[2015-10-16 20:28] csantero commented on #126
Since yesterday I have been experiencing the same problem as @ohadschn. The SendGrid endpoint has started returning 406 Not Acceptable errors along with a document body consisting of plain HTML, which is not expected by this library. So the real problem isn't with sendgrid-csharp, but with the SendGrid server.

Interestingly enough this problem only seems to happen for my app hosted on Azure. When

[2015-10-16 21:46] MrJoy commented on #118
Wait.  This code creates -- but does not explicitly reuse -- `HttpClient` instances?  Is the assumption that there's a magical connection pool "behind the scenes", because that's simply not the case.  `HttpClient` keeps the connection open, but it is the responsibility of the code *allocating and managing* the `HttpClient` to pool and reuse `HttpClient` instances.

Note to self:  Don't try to use

[2015-10-17 00:11] christophermancini commented on #118
:+1: @gatesvp & @MrJoy

You have to either clean up the connections or reuse them, this is pretty bad architecture to just leave them allocated and abandoned.

[2015-10-17 21:58] thinkingserious commented on #118
Thanks to all for putting in their comments and suggestions!

I'm not sure when we'll have time to dig in, but we will as soon as we can.  Any additional advice on how to proceed is much appreciated, since .NET/C# is not my primary platform (I already see some good pointers, thanks!).

A pull request would even be more awesome ;)

[2015-10-22 18:59] ohadschn commented on #126
@csantero I'm curious, how did you examine the Sendgrid HTTP response if it only happened on your Azure app? Have you used the REST API directly?

[2015-10-22 19:30] csantero commented on #126
@ohadschn I modified the Web transform to attach a logger in the HttpClient:

[code]

[2015-10-22 19:35] ohadschn commented on #126
@csantero oh so you rebuilt sendgrid-sharp?

[2015-11-05 02:46] itorian opened #160 "An asynchronous operation cannot be started at this time. Asynchronous operations may only be started within an asynchronous handler or module or during certain events in the Page lifecycle..."
I am using SendGrid API in my MVC 5 Application. Here's the sample code which is in a separate class file SendGridMailer. I call SendEmail method from non-async, controller action or even void type methods whenever needed. I only have control over below code, so how do I resolve below issue:

<b>Error Message</b>
<code>An asynchronous operation cannot be started at this time. Asynchronous operatio

[2015-11-05 04:31] thinkingserious commented on #160
Try SendAsync(myMessage).Wait();

For details see: http://blogs.msdn.com/b/pfxteam/archive/2012/04/12/10293335.aspx, the "Can I use “await” in console apps?" section.

[2015-11-10 17:28] TheSustainables commented on #136
I've had this issue a couple of times as well. It seems SendGrid is returning html sometimes. This is my stacktrace, hope it helps. I'll try and reproduce this bug locally to get the underlying error message using a sniffer.

	System.ArgumentException: Unknown element: html
	   at SendGrid.ErrorChecker.CheckForErrors(HttpResponseMessage response, Stream stream)
	   at SendGrid.ErrorChecker.<CheckF

[2015-11-11 07:55] Grepsy commented on #136
Turned out the error-message returned by sendgrid was the following:
[code]

Which I believe doesn't mean the e-mail is too large, but the `Content-length` header doesn't match the body size. That's why this message is coming from the web-server directly, and why it's formatted this way.

[2015-11-11 09:41] Grepsy commented on #136
Forget the content-length stuff, the message was indeed too large. But the error parsing still needs to be fixed though.

[2015-11-12 15:01] JManis commented on #126
We have recently begun having the exact problem @ohadschn and @csantero describe: Azure site, no code changed, now fails Deliver every time with same symptoms.

[2015-11-19 23:58] antitheos commented on #153
I am trying to use  version 6.2.0, but I am not able to find the constructor for new Web(api_key)
If there an additional piece I am missing?

[2015-11-20 01:37] antitheos opened #162 "No overload constructor on SendGrid.Web for using API Keys"
All the docs indicate there is an overload constructor to allow you to connect using API Keys.
I am using version v6.2.0  when I try

   `var transportWeb = new Web("This string is an API key");`

I get a message cannot convert string to NetworkCredential.
In v6.2.0 there does not seem to be a constructor for SendGrid.Web that takes the API key.

I also checked the source code and confirmed that t

[2015-11-20 04:27] antitheos commented on #162
Just downgraded to version 6.1 and that works as expected

[2015-11-21 17:48] thinkingserious commented on #153
Hello @antitheos,

We have made the update, but need to merge the pull request: https://github.com/sendgrid/sendgrid-csharp/pull/127

[2015-11-23 12:45] dkallen commented on #162
It appears that the NuGet package for SendGrid 6.2.0 refers to the SendGridMail.dll 6.0.0 instead of a later version where the API key has been implemented. Until that is fixed, I recommend people stay on SendGrid 6.1

[2015-11-23 23:52] penihel commented on #157
My workaround
[code]

[2015-11-24 18:35] thinkingserious commented on #162
We have made the update, but need to merge the pull request: https://github.com/sendgrid/sendgrid-csharp/pull/127

[2015-11-24 18:38] antitheos commented on #162
Thanx, I will wait for the update.

[2015-11-25 03:26] thinkingserious commented on #153
@antitheos

Update complete: https://github.com/sendgrid/sendgrid-csharp/pull/164

Thanks for your patience :)

[2015-11-25 03:26] #153 closed

[2015-11-25 03:26] thinkingserious commented on #162
@antitheos @dkallen

Update complete: https://github.com/sendgrid/sendgrid-csharp/pull/164

Thanks for your patience :)

[2015-11-25 03:26] #162 closed

[2015-11-26 02:19] Polymetrika commented on #126
Same issue as others: Azure sites are the only issues, with the same symptoms. I am developing with SendGrid 6.3.0 from the Nuget package.

[2015-11-26 15:32] kzimny opened #165 "How to add an unique barcode image for each recipient?"
I'm using substitution tags to generate dynamic content for each recipient on the list:

        private void AddSubstitutionsCertificateDownload(List<Persons> item, SendGridMessage myMessage)
        {
            myMessage.Header.AddSubstitution("{$Email}", item.Select(x => x.Email));
            myMessage.Header.AddSubstitution("{$FirstName}", item.Select(x => x.FirstName));
            myMessa

[2015-11-27 16:51] thinkingserious commented on #165
Hello @kzimny, following is our documentation on how to send an attachment using our SendGrid C# library: https://github.com/sendgrid/sendgrid-csharp#how-to-add-an-attachment

[2015-11-27 16:51] #165 closed

[2015-11-27 17:12] kzimny commented on #165
I don't think you answer is correct. I don't want send the same attachment to all recipients. Adding Header.AddSubstitution(...,...) allows send email and substitute the tags with recipient values.
With unique barcode I mean a personalized barcode image for each email recipient.

[2015-11-27 23:36] Wirwing commented on #116
Any status on this? I'm planning to integrate SengGrid in one big eCommerce application and this is a feature killer the customer wants.

Maybe I should try Mandrill (MailChimp) instead...

[2015-11-28 17:34] thinkingserious commented on #165
Hi @kzimny,

The issue section of our libraries (issues/pull requests) is for problems/feedback/enhancements for the library itself.

Please submit this question to either https://community.sendgrid.com/sendgrid or to support@sendgrid.com.

Thanks!

P.S. I don't understand why the code in our example would not work for you. It seems you could simply loop through all of the emails in your list and

[2015-11-28 17:38] thinkingserious commented on #116
This is a related pull request, just putting it here for later reference: https://github.com/sendgrid/sendgrid-csharp/pull/135

[2015-12-02 21:18] brandonmwest commented on #126
This should be fixed now. It was an API-level issue affecting Azure users only. Please let me know if anyone continues to experience the problem.

[2015-12-02 21:18] #126 closed

[2015-12-02 23:13] JManis commented on #126
I've just confirmed that it is now working for us again. Thanks for looking into the problem.

[2015-12-15 19:50] davidwkennedy opened #171 "Api returns "Missing destination email" when only BCC address specified"
I'm calling the Send Grid API to send an email to one or more recipients. To avoid disclosing everyone's email to everyone else, I'm adding recipients as BCC addresses. The API returns a 400 if no address is present int the "to" field.  Adding noreply@mycompany.com resolves this, but then clutters up my SendGrid analytics. It would be great to send email with BCC addresses only.
![sendgrid-bcc](ht

[2015-12-16 01:13] pkellner opened #172 "Please provide more complete example"
Please add to the example the following two things:  1) include smtpapi value like I do by adding header record for custom values to be tracked by webhooks   2) show how to send more then one email at a time (per request)

[2015-12-17 15:50] wiggisser commented on #157
This seems to be connected, to the feature/bug that you have to include the `<%subject%>` and `<%body%>`  tags in the template, even if you don't use them. They will be replaced with the values from `msg.Subject` and `msg.Text /msg.Html` respectively. As they must not be empty I had to put this tags at the very end and set

     msg.Text = " ";
     msg.Html = " ";
     msg.Subject = " ";

Ugly wo

[2015-12-18 17:43] artemgrygor commented on #146
Do we have some updates here? ASP.NET 5 is already rc1-update1

[2015-12-19 10:07] ScarlettCode opened #173 "Does this library support the Parse Webhook Settings API?"
Are these api endpoints supported? https://sendgrid.com/docs/API_Reference/Web_API/parse_settings.html

Or planned?

Thanks

[2015-12-19 15:09] thinkingserious commented on #173
Hello @ScarlettCode,

We do not have library support for our webhooks; however, we have some [examples in our docs](https://sendgrid.com/docs/Integrate/Code_Examples/Webhook_Examples/index.html) and [on our blog](https://sendgrid.com/blog/?s=webhook).

If you still run into trouble, please contact our [support team](https://support.sendgrid.com/hc/en-us).

Thanks!

[2015-12-19 15:09] #173 closed

[2015-12-19 15:10] thinkingserious commented on #146
@artemgrygor This is not our short term roadmap; however, I'm leaving this ticket open for future planning.

[2015-12-24 09:38] aserdaray opened #174 "DeliverAsync method does not provide the result of call."
I want to get a information after method call. Sending operation is success or failed or invalid etc. The DeliverAsync method does not support this.

Are there any alternative implementation or way to get information ?

[2015-12-25 00:52] thinkingserious commented on #174
Here you go: https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/Example/Program.cs#L36

[2015-12-25 07:46] aserdaray commented on #174
No , does not properly work
https://youtu.be/R5aWlZK6zzY

[2015-12-26 19:46] khanja commented on #174
Are there any body to help me ?

[2015-12-26 19:47] khanja commented on #174
Are there any body to help me ?

[2015-12-28 06:57] aserdaray commented on #99
@MarcelloCarreira  Definetly you are right . But SendGrid's developers are so lazy. When i asked this kind of bug. They suggests try catch block. In this case, we start to implement  v3 and smtp api from the beginning bcoz. This project is not useful. We will sent over 100.000 mail per month.

[2016-01-05 16:38] tiagobernardes opened #175 "Use the Web API v3 - Problem"
I am following the example and is not working for me.
Someone who can help me?

![capture](https://cloud.githubusercontent.com/assets/15774469/12120886/9be48706-b3ca-11e5-9585-c9a7cae03cd8.PNG)

[2016-01-05 17:40] thinkingserious commented on #175
It looks like you might have a permissions issue. Please go to your [API Keys settings page](https://app.sendgrid.com/settings/api_keys) and click the gear icon to review.

[2016-01-05 18:22] tiagobernardes commented on #175
the key has maximum access at all.

Now with this code already can get eg recipients.
However campaigns give me forbidden.

which problem may be?

![untitled](https://cloud.githubusercontent.com/assets/15774469/12123448/f7b29150-b3d8-11e5-8597-884307629780.png)

[2016-01-05 18:41] thinkingserious commented on #175
Please reach out to support so that we can further assist: https://support.sendgrid.com

[2016-01-05 18:41] #175 closed

[2016-01-07 11:51] tbertenshaw opened #176 "SendGridMail 6.1.0 and 6.3.4 have different public key tokens"
I'm using Sendgrid in a c# webjob using the Microsoft.Azure.Webjobs.Extensions.SendGrid nuget package which has a dependancy on the Sendgrid nugetpackage (https://www.nuget.org/packages/Sendgrid)

after updating from 6.1.0 to 6.3.4.

"Could not load file or assembly 'SendGridMail, Version=6.3.4.0, Culture=neutral, PublicKeyToken=2ae73662c35d80e4' or one of its dependencies. The located assembly's

[2016-01-07 16:01] thinkingserious commented on #176
@tbertenshaw

I don't have access to the original key used to generate the old token, so I had to generate a new one for the updates.

Is it a difficult fix? I did not realize this breakage would occur and I'd like to make note of the fix.

Thanks in advance.

[2016-01-07 16:09] tbertenshaw commented on #176
Only fix is to generate a new nuget package release with the old public key. Otherwise all dependant DLLs will fail to load
On 7 Jan 2016 16:01, Elmer Thomas <notifications@github.com> wrote:@tbertenshaw

I don't have access to the original key used to generate the old token, so I had to generate a new one for the updates.

Is it a difficult fix? I did not realize this breakage would occur and I'd

[2016-01-07 16:18] thinkingserious commented on #176
I'm looking into this, meanwhile, I suggest you go back to version 6.1.0 or perhaps you can rebuild your DLLs against the updated library.

[2016-01-07 16:59] tbertenshaw commented on #176
Yeah I've reverted to 6.1.0. thanks

 Unfortunately its a nuget package from Microsoft which is dependant on sendgrid. That's why its a problem. Any nuget packages people use which have dependency on another will break if the public keys in those dependant dll's changes.

[2016-01-07 17:22] thinkingserious commented on #176
@tbertenshaw could you please let me know what package it is?

[2016-01-07 17:28] tbertenshaw commented on #176
Its
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.SendGrid/

There could be more  dependant packages but I don't know how you could find that out.

[2016-01-07 17:44] thinkingserious commented on #176
Thanks!

[2016-01-13 18:41] #136 closed

[2016-01-13 18:48] thinkingserious commented on #122
This is on our roadmap.

[2016-01-13 18:48] #122 closed

[2016-01-13 18:51] thinkingserious commented on #116
This is on our roadmap, see pull request #135

[2016-01-13 18:51] #116 closed

[2016-01-13 18:51] #115 closed

[2016-01-13 18:56] thinkingserious commented on #99
This is on our roadmap.

[2016-01-13 18:56] #99 closed

[2016-01-13 19:11] thinkingserious commented on #174
This is now on our roadmap to implement.

[2016-01-13 19:11] #174 closed

[2016-01-13 22:36] 0xdeafcafe commented on #122
@thinkingserious you should create a GitHub milestone for the roadmap and file this under that milestone, rather than closing it.

[2016-01-13 22:40] thinkingserious commented on #122
@0xdeafcafe coming soon ;)

We are the process of reworking all of our open source libraries and we are adopting a Milestone approach as part of that effort. It will take some time, but it's coming soon.

Sorry for not being clear about that. Please rest assured that this issue will be added to a future Milestone.

Stay tuned ...

[2016-01-20 21:28] markadrake commented on #174
Has anyone been able to trap the result of `DeliverAsync` or is it not possible without an update from SendGrid?

[2016-01-24 01:32] GarageWeb commented on #146
I am also developing an application for core and would like to use sendgrid. Please consider adding support. Thank you.

[2016-01-26 10:40] tomaswinston opened #177 "DNX Core 5.0 Support"
Hi.
Is there any plan to support DNX Core 5.0 in future releaes of SendGrid? Currently I am getting an error that SendGrid.SmtpApi 1.3.1 does not support DNX Core 5.0. If the support is planned can you give an indication as to when I might be available?

Thanks.
T

[2016-01-26 14:39] saluce65 commented on #177
This is currently under investigation, but there is no time frame yet for .NET Core version.

https://github.com/sendgrid/sendgrid-csharp/issues/146

[2016-01-26 16:21] thinkingserious commented on #177
Thanks for the reply @saluce65!

@tomaswinston, @saluce65 is correct. We will post any updates on ticket #146 and/or on the README. We plan to release a roadmap soon where we will be asking for feedback. Please stay tuned.

[2016-01-26 16:21] #177 closed

[2016-01-28 09:44] proleskovskiy opened #178 "Attachments aren't send if file name contains hyphen"
Hello.

This is a quite tricky issue - it was way to difficult to guess that FILENAME is a problem. But anyway - I get no error, nothing tells me that I'm doing something wrong - I receive letter as usual but without attachment. In case I have a filename without hyphen - I get both. Tried with '*.pdf' attachment.

[2016-02-01 01:40] Wilapark opened #180 "Received email doesn't include streamed attachments"
HI,

Using this library and when I want to send streamed attachments, files are not included in email.
Below is my code:

Creating stream attachments:

FileStream fs = new FileStream(@"D:\AppUpdate\Old.txt", FileMode.Open);
            FileStream fs2 = new FileStream(@"D:\AppUpdate\New.txt", FileMode.Open);

            Dictionary<string, Stream> fileStreams = new Dictionary<string, Stream>();

[2016-02-01 14:07] tbertenshaw commented on #176
any updates or progress on this? Other option would be to liaise with MS and get them to rebuild the sendgrid extension with the new sendgrid library.

[2016-02-01 16:27] thinkingserious commented on #176
@tbertenshaw This one is still in our backlog, and yes, our plan is have MS rebuild the SendGrid extension with the new library. Thanks for the follow up!

[2016-02-01 17:40] Jericho opened #181 "Why does the library return HttpResponseMessage?"
Is there a reason the methods in the library return HttpResponseMessage instead of a strongly typed objects?

For instance, a call to GET a given resource (such as `GET https://api.sendgrid.com/v3/asm/groups/:group_id` for example), returns json that looks like this:
[code]

Wouldn't it be more practical to return an object similar to:
[code]

[2016-02-01 18:34] thinkingserious commented on #181
Thanks for the feedback @Jericho!

Our primary goal is to get coverage for all key v3 endpoints of our API, after that, we will consider these type of enhancements. For now, we are not making any modifications to the returned JSON.

[2016-02-01 18:34] #181 closed

[2016-02-01 19:23] Jericho commented on #181
If you think it would be valuable, I am volunteering to fork and submit a PR with strongly typed objects. Also, the library only includes methods for ApiKeys, GlobalStats GlobalSuppressions, Suppressions and UnsubscribeGroups. I am volunteering to submit a PR for the remaining resources such as bounces, recipients, lists, segments, etc.

[2016-02-01 20:10] thinkingserious commented on #181
@Jericho, that would be amazing!

Yes, those are the endpoints we are first implementing across all 7 libraries we support as a baseline (So far we have done PHP, Python and C Sharp). They represent the different types of calls our v3 API can handle. We hope that if someone is urgent need to implement other endpoints, they could use those as an example to get going really quick.

[2016-02-01 20:14] mbernier commented on #181
Hey @Jericho I would really like to chat with you about our libraries and API, if you're interested. Please feel free to email me, the address is my github username at my company.

[2016-02-02 12:48] gorillapower commented on #176
I have this same issue, thanks for the info.

[2016-02-02 13:51] HugCoder commented on #54
Yep, still not fixed. I'm using C# Sendgrid and I try to send a an attachment containing the Swedish letter Ö and the received mail isn't containing any attachment at all.

[2016-02-02 16:41] thinkingserious commented on #54
@HugCoder, @janus007  Could you both please report this issue over at support@sendgrid.com? That would be very helpful toward gaining resolution. Thanks!

[2016-02-02 17:16] thinkingserious commented on #176
You can track the progress here: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/34

[2016-02-03 20:06] Jericho opened #182 "Same email address can be added multiple times to global suppression"
As far as I know, it doesn't make sense to allow the same email address to be on the global suppression list multiple times but yet the API allows me to do so.

To reproduce:

`POST https://api.sendgrid.com/v3/asm/suppressions/global`
with the following body:
[code]
The response is `{"recipient_emails":["myaddress@example.com","myaddress@example.com"]}`

In the UI, the result looks like this:
![im

[2016-02-03 21:33] Jericho opened #183 "Confusing error message when creating an unsubscribe group"
I am able to create an unsubscribe group sending a request to:
`POST https://api.sendgrid.com/v3/asm/groups`
with the following body:
[code]
The response is:
`{"id":571,"name":"New group","description":"This is a new group for testing purposes","last_email_sent_at":null,"is_default":false}
`

If I send the exact same request with the exact same body, I get the following response:
`{"errors":[{"mes

[2016-02-04 16:51] #176 closed

[2016-02-04 16:59] thinkingserious commented on #182
Since this is an API issue, do you mind opening a ticket at support@sendgrid.com?

[2016-02-04 17:01] thinkingserious commented on #183
Thanks for the report! I will pass this feedback along to the API product team.

[2016-02-04 17:01] #183 closed

[2016-02-04 17:14] Jericho commented on #182
Done. I emailed a link to this github issue to support.

[2016-02-04 17:16] thinkingserious commented on #182
Awesome, thanks @Jericho!

[2016-02-04 17:16] #182 closed

[2016-02-04 17:25] Jericho commented on #183
Sent email to support asking for help to confirm if my guess about API not allowing two groups with same name is correct.

[2016-02-04 17:29] thinkingserious commented on #183
Awesome, thanks!

[2016-02-05 00:11] rashmibrahma opened #184 "Email Attachment does not get sent if attachment name contains Japanese characters."
SendGrid is not sending any attachments if the attachment file name contains any Japanese character.
The Email, once received does not contain any attachments. This is not the case if the attachment name is in ASCII.

[2016-02-05 17:41] Jericho opened #185 "Access forbidden when trying to GET user/profile"
The following request: `GET https://api.sendgrid.com/v3/user/profile`

Results in a HTTP 403 response with the following body:
`{"errors":[{"field":null,"message":"access forbidden"}]}`

I went to Settings -> API Keys and clicked on 'Edit details' to view the permissions granted to my API key and, as far as I can tell, there isn't any permission that I can grant (or revoke) that seems related to '

[2016-02-05 17:44] Jericho commented on #185
This seems to be an API issue more than a C# library question so I will contact support but I figured I would ask the question here anyway in case someone else has faced this issue and can share how they resolved this permission issue.

[2016-02-05 19:16] Jericho commented on #185
I just noticed that I am getting the exact same HTTP 403 error send sendin a request to:
`GET https://api.sendgrid.com/v3/api_keys`

someone else [reported this problem](https://github.com/sendgrid/sendgrid-csharp/issues/175)

[2016-02-05 20:48] Jericho opened #186 "Documentation about adding/updating recipient doesn't match my experiences"
The [documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#Add-Recipients-POST) indicates that we should POST to create new recipients and we should PATCH to update existing recipients.

However, I found out by accident that we can combine all recipients into a single POST request and the SendGrid API will update existing recipients and create new rec

[2016-02-05 20:53] Jericho commented on #186
Email sent to support with link to this github issue.

[2016-02-08 16:28] Jericho commented on #186
The feedback i received from support is that this is "by design".

[2016-02-08 17:40] thinkingserious commented on #175
@tiagobernardes is your account provisioned?

[2016-02-08 17:40] thinkingserious commented on #185
@Jericho is your account provisioned?

[2016-02-08 19:59] Jericho commented on #185
yes it is

[2016-02-08 21:16] thinkingserious commented on #185
Thank you, we are investigating.

[2016-02-11 18:59] Jericho commented on #185
Any update?

[2016-02-15 04:00] justsayno opened #188 "Template formatting not working"
I have created a simple integration with sendgrid C# client and I can send emails, get substituions to work but the formatting of the emails do not come through. Am I doing something wrong? Code below

Simple service:

[code]

Test I wrote that calls it
[code]

[2016-02-15 09:38] justsayno commented on #188
Nevermind using Mandrill

[2016-02-15 09:38] #188 closed

[2016-02-15 20:12] mbernier commented on #186
Thank you so much for letting us know and for the example! I will discuss with the team that owns this endpoint.

[2016-02-15 20:12] #186 closed

[2016-02-15 21:38] awflierman commented on #157
:+1:

[2016-02-15 22:45] dr3x opened #189 "For security reasons DTD is prohibited in this XML document"
Intermittently getting this error on calling

await _transportWeb.DeliverAsync(mailMessage);

            From = "test@example.com",
            Recipients = new List<string>() { @"First Last <first.last@gmail.com>" },
            Subject = "Email Sender Automated Test",
            TextBody = "Hello World!"

Using valid emails; no xml in parameters...

"For security reasons DTD is prohibited in t

[2016-02-16 16:30] thinkingserious commented on #185
@Jericho could you please check your permissions and try once again? Thanks!

[2016-02-16 16:50] Jericho commented on #185
What permissions do you want me to check? As I explained before, I don't see any privilege that would be related to "API Keys". Here's what I see:

![sshot-26](https://cloud.githubusercontent.com/assets/112710/13083512/fce0c038-d49a-11e5-9f54-77b7e106a909.png)

All privileges are "Full Access" (or read-only if full-access is not available).

I ran another test and I am still getting HTTP 403.

[2016-02-16 16:53] thinkingserious commented on #185
Thanks for getting that to me so quickly? Do you already have a support ticket number for this issue?

[2016-02-16 16:59] Jericho commented on #185
I opened ticket #594726 on February 5. All I heard since is they are "running some tests" and are "still investigating".

[2016-02-16 17:01] thinkingserious commented on #185
Thanks, I will follow up.

[2016-02-16 23:12] Jericho commented on #185
I just discovered the exact same HTTP 403 when issuing the following request:

`GET https://api.sendgrid.com/v3/categories?limit=50&offset=0`

[2016-02-17 05:35] paritoshmmmec commented on #189
Can I ask for some more code because I cannot see TextBody and Recipients properties?

[2016-02-17 18:34] Jericho opened #191 "WebApi: paging is not consistent"
I noticed that some API calls allow paging by specifying a limit and offset ([example1](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/campaigns.html#Get-all-Campaigns-GET), [example2](https://sendgrid.com/docs/API_Reference/Web_API_v3/Categories/categories.html)) while other API calls allow paging by specifying a page number and a number of records per page ([example1](htt

[2016-02-17 19:31] Jericho opened #192 "WebApi: Sender Identity"
We must specify the unique identifier of the sender when creating a campaign ([documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/campaigns.html#Create-a-Campaign-POST)) but I am not finding any API documentation about creating a new sender, getting the list of existing senders, etc.

I found documentation about [manually creating a new sender identity](https://s

[2016-02-17 22:31] Jericho opened #193 "WebApi: Date formats are not consistent"
I have noticed that the API seems to use a few different date formats and I was wondering if it was intentional or if SendGrid intended to be more consistent.

Here are a few examples I discovered so far:

- "MM/dd/yyyy" format is used when specifying a date criteria for a new [segment](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#Create-a-Segment-POST)
- "

[2016-02-17 23:35] MMLTest commented on #185
Hi,

I have the same problem. Did you have any chance to fix this?

Thanks

[2016-02-18 00:00] Jericho commented on #185
Unfortunately, the problem still hasn't been fixed.

[2016-02-18 00:03] MMLTest commented on #185
Thanks for your reply.
So, you also cannot call any of those post method api, right?

[2016-02-18 00:06] Jericho commented on #185
Here are the 3 API calls that are returning HTTP 403 for me:

1. `GET https://api.sendgrid.com/v3/user/profile`
2. `GET https://api.sendgrid.com/v3/api_keys`
3. `GET https://api.sendgrid.com/v3/categories?limit=50&offset=0`

All other API calls are working perfectly fine for me.

[2016-02-18 00:08] MMLTest commented on #185
Oh, Thanks,

[2016-02-18 10:45] erkinkas commented on #185
I have same issue for:
https://api.sendgrid.com/v3/stats
https://api.sendgrid.com/v3/templates

Also I can't generate any new API Key:
![sendgrid_issue](https://cloud.githubusercontent.com/assets/13992901/13140935/bd084e48-d62c-11e5-88f0-c69b8805684a.png)

[2016-02-18 15:55] thinkingserious commented on #193
Hello @Jericho,

Please report this issue to our support team. Our GitHub issues area or for issues specific to the libraries.

Thanks!

[2016-02-18 15:55] #193 closed

[2016-02-18 15:57] thinkingserious commented on #192
Hello @Jericho,

Please submit this question to our support team.

Thanks!

[2016-02-18 15:57] #192 closed

[2016-02-18 15:57] thinkingserious commented on #191
Hello @Jericho,

Thanks again for your questions! Please submit these to our support team so we can dig deeper.

[2016-02-18 15:57] #191 closed

[2016-02-18 15:59] thinkingserious commented on #185
@Jericho I have updated our internal support ticket for you with a link to these details.

@erkinkas Please submit your issue to our support team at support@sendgrid.com.

Thanks!

[2016-02-18 15:59] #185 closed

[2016-02-18 18:37] dr3x commented on #189
Turns out there were network issues and the component was attempting to read the html response that came back with the xml reader.  Would be nice to be able to detect the invalid response and give better error messaging but I'm going to close this for now as it is more of a network issue than a component issue.  Endpoint it was trying to hit was https://api.sendgrid.com/api/mail.send.xml - respons

[2016-02-18 18:37] #189 closed

[2016-02-19 03:48] markadrake commented on #129
The content has been updated since. I think it's okay to close this issue?

[2016-02-19 15:30] thinkingserious commented on #129
Thanks @markadrake

[2016-02-19 15:30] #129 closed

[2016-02-23 21:36] HugCoder commented on #54
@thinkingserious OK, I reported it to them now. It's not a "game breaking" issue for me, but it would of course be nice and perhaps more modern to support UTF-8 names. ANSI only feels pretty outdated these days.

[2016-02-23 21:43] thinkingserious commented on #54
Thank you!

[2016-02-23 22:20] HugCoder commented on #54
I already got an answer:
"
We are aware of the issue of attachments with special characters not working. Unfortunately I don't have a timeline of of when it will be fixed. Thank you for keeping us informed about this and I will pass it on.
"
So, they are aware and working on it! Nice to hear!

[2016-02-25 00:27] jjblanco opened #197 "Use with Authenticated Proxy?"
Hi.

I've seen a 2 year old issue where this was mentioned, but apparently abandoned... am I right? It seems odd as it's such a prevalent case; however, fact of the matter is I've been browsing through the code and the default setting of the proxy for the HttpClient used in the Web class...

WebRequest.DefaultWebProxy.Credentials = CredentialCache.DefaultNetworkCredentials;

... doesn't seem to wo

[2016-02-25 05:21] roryprimrose opened #198 "Missing ConfigureAwait(false) on async calls"
I there, I'm looking at migrating to SendGrid and was browsing through the C# support. I noticed you are using async/await (great!) but that the calls did not use .ConfigureAwait(false). This is going to cause unnecessary thread context synchronization. Can you please add ConfigureAwait calls into all the await executions.

[2016-02-25 05:40] roryprimrose opened #200 "Library does not follow naming convention for Async methods"
Task based methods should use an Async suffix in their name. The current naming is misleading an implies that the code is invoked synchronously.

This would be a breaking change without overloading methods and using the ObsoleteAttribute.

[2016-02-25 05:41] roryprimrose opened #201 "Add interfaces to support SOLID"
I would like to use this library, however the lack of interfaces means that I would have to tightly couple my classes to the SendGrid classes. Please add interfaces to the classes to allow for loose coupling.

[2016-02-25 18:32] Jericho commented on #197
I have forked the repo and working on several improvements to the client library. One of the improvements I added is the ability to inject your own httpclient in the client constructor which therefore  allows you to specify your proxy. Here's an example to illustrate:

[code]

You can find my fork here: https://github.com/Jericho/sendgrid-csharp

[2016-02-25 18:41] Jericho commented on #200
I agree with you: I also believe it's important to use 'Async' suffix to clearly indicate the asynchronous nature of methods.

I have forked SendGrid's repo and am working on several improvements such as ability to inject httpclient for unit testing, meaningful method names (as opposed to simply 'get', 'post', 'patch', etc.), strongly typed return values from methods, etc. In my fork I am followin

[2016-02-25 19:08] Jericho opened #202 "Template version in the wrong timezone"
When I create a template via the API and also add two versions, the SendGrid UI says that my first version was "Updated 6 hours ago" when in fact it was created only a few seconds earlier.

**Repro steps:**
1) Create a new template with the following API calls:
[code]
Response from API looks like this: `{"id":"c5002709-473b-4a73-8769-3307d6758232","name":"My template","versions":[]}`

2) Create a

[2016-02-26 03:37] roryprimrose commented on #200
Sweet. Can you also please add CancellationToken parameters into those signatures.

[2016-02-26 19:08] Jericho commented on #200
Excellent idea! I'll add CancellationToken to methods.

[2016-02-26 19:09] DinkuMM opened #204 "Unable to connect to the server : SendGrid"
Hi all, I am facing issue with sendgrid. When i am sending multiple requests to SendGrid at a time, it get failed due to the refused connection.
i have attached the screenshot of the issue.

![error](https://cloud.githubusercontent.com/assets/17500009/13362398/34921fde-dcea-11e5-9514-60cf7c48fed4.png)

[2016-02-29 15:09] thinkingserious commented on #204
For this issue, please contact our support team (support@sendgrid.com) so that can take a look at your individual account. Thanks!

[2016-02-29 15:09] #204 closed

[2016-02-29 21:29] Jericho commented on #200
done

[2016-03-01 03:15] JonKragh opened #205 "Suppressions by Email Address"
Hi-

Does the API support looking up suppressions by an email address?

I want to have a page on my website showing the groups my user is subscribed to and give the the ability to manage this through my website (and reflecting on sendgrid).

Thanks!
Jon

[2016-03-01 18:56] thinkingserious commented on #205
Hello @JonKragh,

The only suppression related API calls we have currently are documented here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/index.html

I like your suggestion though and I suggest you post it here: http://community.sendgrid.com/sendgrid

Thanks!

[2016-03-01 18:56] #205 closed

[2016-03-09 16:28] Jericho opened #208 "Loading..."
Whenever I start my C# project in Visual Studio, I get the following message for several seconds:

![sshot-33](https://cloud.githubusercontent.com/assets/112710/13642219/3a263944-e5e1-11e5-8f7d-7f4cc0becdf2.png)

I'm guessing the path refers to a location on the build machine where SendGrid's nuget package was built.

As far as I can tell, everything works fine but it's annoying to wait several se

[2016-03-13 01:06] alexjamesbrown opened #209 "A key or value in your X-SMTPAPI header is null"
Get this error, but i'm not using the SMTP api?

[2016-03-13 01:07] alexjamesbrown commented on #209
var emailMessage = new SendGridMessage();
            emailMessage.AddTo(message.VendorEmailAddress);
            emailMessage.From = new MailAddress("noreply@domain.com", "Name");
            emailMessage.Subject = "You've got mail";
            emailMessage.EnableTemplateEngine("KEYHERE");
            emailMessage.Html = "Test";

            emailMessage.AddSubstitution("-customerName", new[] {

[2016-03-15 16:13] jsinh commented on #209
@alexjamesbrown - facing same issue since last two days!
Anyone to the rescue?

[2016-03-15 16:20] alexjamesbrown commented on #209
I've contacted support about it, but not got a reply!

[2016-03-15 16:59] jsinh commented on #209
Sad :( Thanks @alexjamesbrown !

[2016-03-16 09:44] ahmad-moussawi commented on #146
+1 for me, since many of our apps are being developed .netcore.

[2016-03-17 01:52] Bartmax commented on #146
Same here, specially after the policy of mailchimp im moving everything from mailchimp to sendgrid. Core support will be a must in a short time period. Any updates?

[2016-03-17 05:47] louisdup commented on #209
I am experiencing the exact same issue, If you do not use  the EnableTemplateEngine it works. But you are left with a text only mail.

[2016-03-17 17:13] nikhilmysore opened #210 "x-smtpapi sending to multiple users dropping out mails"
I am trying to add 1000 ids to x-smtpapi header. It is dropping out 20 mails in every run.

using  the latest library.
and code : myMessage.Headers.Add("x-smtpapi", header.JsonString());

I also tried inserting new line in place of comma, even then it drops out 20 mail ids in every run.

Sample dropped event list is as below. Have anyone faced the problem?
i	2016-03-17T16:48:01.000Z	2016-03-17T16:

[2016-03-17 18:44] bloomk commented on #94
3 months and still no validation? I left the "text" null and got this weird error... At LEAST give us access to the "errors" that the api returns that the inner exception mentions..

[2016-03-17 22:49] rndthoughts commented on #209
I was getting Invalid SMTP Header errors which turned out to be because I was using the wrong template id.  Also, dont you have to set both the Html and Text properties of the message in order to send it?

[2016-03-18 20:26] samrueby commented on #198
I agree. Just caught this because it resulted in deadlock in my application.

[2016-03-22 16:27] Jericho commented on #198
I have forked SendGrid's repo and added several improvements such as ability to inject httpclient for unit testing, meaningful method names (as opposed to simply 'get', 'post', 'patch', etc.), strongly typed return values from methods, etc. Also, all methods are awaitable and ConfigAwait(false) is specified on every async call.

You can find my fork here: https://github.com/Jericho/sendgrid-csharp

[2016-03-22 21:01] thinkingserious commented on #198
Hello @roryprimrose, @samrueby and @Jericho,

We are in the process of releasing a new version of this library that supports all of our Web API v3 endpoints. It will be a breaking change and we are hopeful the release will happen within a few months.

The general idea is to provide a solid core that has as few third party dependencies as possible. Using this core, we will build helper functions an

[2016-03-23 15:52] mbernier commented on #198
@Jericho - DUDE!!! This is awesome.

[2016-03-23 15:53] mbernier commented on #198
All - RE: Elmer's message:
We are hoping that any work that has been done to simplify and clean up the library, through the meaningful method names and other work, would still be VERY useful to the library - as we can just replace the client that you're using with the new one, within the methods.

This allows us to continue the work you're doing, while merging it with our own -- after we have your

[2016-03-23 15:55] thinkingserious commented on #174
The response can be retrieved here: https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGridMail/Transport/Web.cs#L71.

I suggest you subclass the Web class and override that function in your application.

Please let me know if that will work as temporary solution while we prepare for our new library release.

[2016-03-23 18:26] christophermllr commented on #180
I can also confirm that I'm experiencing this.

[2016-03-23 18:33] thinkingserious commented on #180
Thank you @Wilapark and @christophermllr,

We have added this to our backlog.

[2016-03-23 18:39] christophermllr commented on #180
For what it's worth, I also tried both rewinding the stream and using MemoryStream to no avail.

[2016-03-23 18:43] thinkingserious commented on #180
Thanks, that additional information will help!

[2016-03-23 20:01] christophermllr commented on #180
Actually, I was able to get this working.

[code]

[2016-03-23 20:30] thinkingserious commented on #180
Awesome, thanks for sharing the fix with us!

[2016-03-29 00:31] dpoeschl commented on #146
Adding another voice to the choir. Tried this today and sadly it still isn't implemented yet.

[2016-03-29 14:18] Gert-Cominotto commented on #146
+1 for me as well.

[2016-03-30 09:14] vmachacek commented on #146
+1 for me as well.

[2016-03-30 12:47] pmuens commented on #171
:+1: for this one. Facing the same1

[2016-03-31 22:35] mikegol2 commented on #146
+1

[2016-03-31 22:42] Bartmax commented on #146
How can we help?

[2016-04-03 03:00] mercer2000 opened #212 "Add JPEG attachment using streams"
How do you add a JPEG attachment to a message using a stream?  Sending a TXT file works fine, but sending a JPEG results in an attachment which cannot be opened.

[code]

Looking at the CURL example, it shows appending the content type.

https://sendgrid.com/docs/API_Reference/Web_API/mail.html

`curl https://api.sendgrid.com/api/mail.send.json \
-F to=recipient@domain.com -F toname=test -F subjec

[2016-04-03 19:31] PaitoAnderson commented on #146
It looks like the biggest problem with supporting .NET Core is it's missing `System.Net.Mail` library.

One solution would be to use [MimeKit](https://github.com/jstedfast/MimeKit) although that would require breaking changes in the `ISendGrid` interface. (All `MailAddress` references would have to be changed to `MailboxAddress` and `MimeMessage` instead of `MailMessage`)

Could a second .Net libr

[2016-04-04 18:58] thinkingserious commented on #146
Hello Everyone,

Thank you for the continued feedback on this.

The new SendGrid C# library will be based on this client: https://github.com/sendgrid/csharp-http-client

The library itself will mainly consist of helper functions to make using our Web API as easy as possible.

Do you see anything in the client that would make it difficult to support .NET Core?

Thanks for your continued support!

[2016-04-04 19:00] thinkingserious commented on #212
Thanks for letting us know about this issue. I've added it to our backlog. We'll update any progress here.

[2016-04-04 21:04] PaitoAnderson commented on #146
@thinkingserious Thanks for sharing your plans!

I don't see anything major in `csharp-http-client` that would be a issue. Just `JavaScriptSerializer` to use `JsonConvert.DeserializeObject` from `Newtonsoft.Json` instead and `HttpUtility.ParseQueryString` to use `QueryHelpers.ParseQuery` from `Microsoft.AspNet.WebUtilities`.

:smile:

[2016-04-05 03:44] thinkingserious commented on #146
@PaitoAnderson thanks for the feedback!

Could you please give me some background on your suggestions? Particularly the first one. I know that Newtonsoft.Json is very popular, but one of our goals was to reduce our outside dependencies as much as possible. That said, we are open to changes given some justification.

Thanks for taking the time to take a look! We greatly appreciate your support!

[2016-04-05 04:14] Bartmax commented on #146
Newtonsoft.Json is the facto library on asp.net core.

the other is just a move/rename for running on core afaik.

[2016-04-05 14:57] thinkingserious commented on #146
Thanks for the feedback @Bartmax!

It seems like .NET Core now includes it's own JSON library within CoreFX: https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Serialization.Json

Do you have any reference regarding Newtonsoft.Json being the standard for .NET Core?

Thanks in advance!

[2016-04-06 01:34] PaitoAnderson commented on #146
For reference checkout https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/glossary.md and navigate to the JSON.NET section, it's also a dependency of some other MS libraries like https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/. I am not sure `System.Runtime.Serialization.Json` is fully baked yet either.

Here is an example of what this library might look like if

[2016-04-06 03:23] Bartmax commented on #146
Maybe looking at this make sense on why this isn't an *external dependency* you might have to worry about:

![image](https://cloud.githubusercontent.com/assets/3386797/14304945/cef716bc-fb8d-11e5-862f-503a674954c5.png)

the list goes on :)

[2016-04-06 10:31] tiago-costa-farfetch commented on #209
Is there some answer for this issue? I'm getting the same problem and I can't figure out the problem here. I'm using the AddSubstitution method to try to dynamically substitute tags that are present in the template email. If I don't use this method the email is sent but with the tags as is.

[2016-04-07 15:55] thinkingserious commented on #146
Awesome feedback everyone!

I've added an issue to the csharp-http-client to get this on our roadmap.

[2016-04-07 15:56] #146 closed

[2016-04-07 18:31] tiago-costa-farfetch commented on #209
No answer?

[2016-04-07 19:12] thinkingserious commented on #209
Hello Everyone,

I apologize for the delay. We are focused on releasing the next version of this library, which will be based on this HTTP client: https://github.com/sendgrid/csharp-http-client

That said, I've added this issue to our backlog.

In the mean time, have you tried what @rndthoughts suggested and making sure you have both HTML and text properties set?

If so, any further details, espec

[2016-04-07 20:15] alexjamesbrown commented on #209
Didn't work for me, I gave up and rendered templates in my application, then sent the html through sendgrid.

Massive limitation -
Considering sticking with Mandrill, and paying for Mailchimp - will be cheaper than me working around this

[2016-04-08 12:38] kquinbar opened #213 "Memory leak in sendgrid-csharp?"
I have a windows service that we use to send out email from a local database queue. we are currently using smtp directly using MS libraries to send to sendgrid, but we wanted to implement this library (v6.3.4) since using the sendgrid api seems to be the preferred way to send email through sendgrid. With our current implementation using smtp the windows service footprint is very low, most of the t

[2016-04-08 15:52] thinkingserious commented on #213
Hi @kquinbar,

Thanks for letting us know and providing the code!

We are currently rewriting this library (it will based on this new HTTP Client: https://github.com/sendgrid/csharp-http-client) and I'm not sure if this issue will persist.

That said, I've added this to our backlog to investigate and ensure the new library does not have this issue.

For my own notes, these may be possibly related

[2016-04-10 12:43] dracan commented on #201
Can't you just abstract the calls out into your own wrapper interfaces/classes? If they add interfaces, then you're still coupled to their interfaces.

[2016-04-10 17:54] Jericho commented on #118
I just committed an improvement in my fork to address this issue. See PR #211.

The improvement is twofold:

1. the constructor of the api client accepts an optional HttpClient. Callers can therefore provide their own httpclient and reuse it if desired (**bonus**: this also allows the httpclient to be mocked when unit testing the api client class)

1. httpclient is properly disposed when the api c

[2016-04-11 03:03] roryprimrose commented on #201
Yes, that is true. There is always going to be some code of mine that links into theirs. I would rather be coupled to an interface that I can inject into a constructor than an implementation (albeit an abstract one).

[2016-04-11 15:06] thinkingserious commented on #118
Nice work @Jericho!

[2016-04-13 20:54] svickers commented on #188
I had the same problem, in case somebody finds their way to this issue the fix is to do:
`myMessage.Html = " ";`
Instead of, or in addition to:
`myMessage.Text = " ";`

From the docs:

[2016-04-13 22:29] thinkingserious commented on #188
Thanks for sharing your solution @svickers!

[2016-04-18 09:59] tiago-costa-farfetch commented on #209
I tried to set both the Html and Text properties as empty, but got the same issue...this is a massive limitation because I'm trying to have a provider that hangs the templating on their side.

[code]

[2016-04-18 10:01] rndthoughts commented on #209
From my experience, you cannot set those values to empty or blank, you must put something in them.

[2016-04-18 10:03] tiago-costa-farfetch commented on #209
To be honest, most of the values are set on the .AddSubstitution, I really don't want to set nothing on the html, text or even subject.

[2016-04-18 10:05] rndthoughts commented on #209
I agree with what you are saying, but i could not get it to work at all without setting html, text and subject properties. This seems to be a requirement according to the Sendgrid documentation.

On Mon, Apr 18, 2016 at 3:03 AM -0700, "tiago-costa-farfetch" <notifications@github.com> wrote:

To be honest, most of the values are set on the .AddSubstitution, I really don't want to set nothing on the

[2016-04-18 10:06] tiago-costa-farfetch commented on #209
So you're saying that I need to defined a specific value in this properties and get it to be nice on the template I have on the SendGrid?

[2016-04-18 10:14] rndthoughts commented on #209
I found the SendGrid docs very confusing:

I found that I could not save my template unless i had <%body%> and <%subject%> tags present in the template on the SendGrid designer.  When i attempted to use this library to send emails using my template, it would not send anything unless i populated the Body, Subject and Html properties before sending.  I ended up bunging "Hello" in there to see what w

[2016-04-18 10:14] tiago-costa-farfetch commented on #209
Tried to define something on that properties and I've got the same problem:

[code]

[2016-04-18 13:13] h5necom commented on #157
..and still an issue. (6.3.4.0)
Took a while to find out why emails were not getting sent (Grrr..). (And nothing in activity log)
I was searching why SendGrid's DeliverAsync was not working..
How is this an "official" library if no one is fixing stuff?
I refactored our email sending to sendgrid library to get rid of bunch of one-man github projects. Well now i seem to at least have only one of the

[2016-04-18 17:11] thinkingserious commented on #157
Apologies for my delayed response. This ticket is still on our backlog.

Quick update:

I'm currently working on getting the new versions of all our libraries updated across the 7 languages we support to provide access to the new v3 API. I can't comment on a specific time, but we are *very* close and I'm *very* excited to share it with you.

One of the things we are doing with the new libraries is

[2016-04-18 17:12] thinkingserious commented on #209
I just posted an update on a related ticket: https://github.com/sendgrid/sendgrid-csharp/issues/157

[2016-04-19 16:40] veccsolutions opened #214 "Could not create SSL/TLS secure channel"
The SSL/TLS channel #100 was reported back in January of 2015, and the solution was to upgrade to v5 of the client. However, we are on 6.3.4 and this issue has returned. Is there any kind of fix or workaround we can do to resolve it? Our current fix is to put the send in a loop (with a limit of 10 tries) and it starts working, usually on the 2nd or 3rd attempt.

[2016-04-19 18:35] StrangeWill commented on #62
@brandonmwest having the same issue, using templates configured on the SendGrid site. Testing using the SendGrid site will send with all the including styles, sending via the API strips out all styles and tables.

Validated HTML, fixed some minor issues but didn't change the behavior. I'm going to attempt to send the template straight over the API, and try to send it via curl and get back to you..

[2016-04-19 18:43] StrangeWill commented on #62
Sending the template body to the web service instead of using the template name fixes the missing DOM (tables specifically) issue, however I'm missing a base64 encoded image (shows as "background-image:url('') in the source of the e-mail).

[2016-04-20 08:23] tiago-costa-farfetch commented on #157
" This ticket is still on our backlog.".

This is sad...I would need to do a fast decision upon a service like yours and by the documentation, this seems to be the perfect one....

Isn't there any alternative to this problem? For example, is it possible to specify wich argument is null in the header? Probably overriding it would be a quick win to wait for the final fix.

[2016-04-20 10:12] tiago-costa-farfetch commented on #157
Discovered the problem and found the solution.

For my case, I have examples where one or more of my substitution values may be null and this seemed to be the problem because I just validate if it is null and if so I just pass a string.empty.

[2016-04-21 08:49] codefrenzy opened #215 "Missing substitution values"
Hi there,

We are using this library to send transaction emails using templates and substitutions to replace a few values in the email like the recipient's name (e.g. "Hi Jane,") and links in the email (e.g. password reset link). We're using version 6.3.4, SendGridMessage.AddSubstitution() to add each substitution key and value, and lastly, calling Web.DeliveryAsync() to send the email.

Unfortuna

[2016-04-21 14:35] kquinbar commented on #213
any eta on the rewrite of this library?

[2016-04-25 15:45] polarbit commented on #178
I have the same problem.

[2016-04-27 20:50] justsayno commented on #215
I have just noticed a similar issue but only when sending to multiple users. Is this your issue to? Does it work fine when sending to one email address?

[2016-04-27 20:56] justsayno commented on #215
If this is the case then you have to add the substitution tag per user. For example in my simple cases the substitution values are the same I have a function like this (email is my own C# model I use):

[code]

[2016-04-28 10:54] bogacg opened #217 "No Contacts API implemented?"
Am I missing something or this repo holds only implementation for Mail API?
I'd like to add recipients to Contacts Lists I create using [Contacts API](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html).
Can't find anything about it.

Thanks

[2016-04-29 10:44] bogacg commented on #217
Ok, apparently it's not implemented yet.

For those who are looking for the same thing, I've created a small test app: [SendGrid-Contacts-Test](https://github.com/bogacg/SendGrid-Contacts-Test). Basic HttpClient implementation. Code is a bit messy, but gives you the idea.
Creating contacts is done with **recipients** endpoint. Once a new recipient is added, it can be assigned to an existing list i

[2016-04-30 09:26] warrenkc opened #218 "Error in Windows When Using transportWeb.DeliverAsync(myMessage)"
I am getting an error in windows when using  transportWeb.DeliverAsync(myMessage).
http://i.imgur.com/X0flzlB.png

`public bool sendEmail(string to, string subject, string body, string name, string SendGridAPIKey)
    {

            // Create the email object first, then add the properties.
            SendGridMessage myMessage = new SendGridMessage();
            //@"Jeff Smith <jeff@example.com>

[2016-04-30 09:27] warrenkc commented on #218
Here is the event log entry from windows server 2012
[Error.zip](https://github.com/sendgrid/sendgrid-csharp/files/243526/Error.zip)

[2016-04-30 09:37] warrenkc commented on #218
Application: w3wp.exe Framework Version: v4.0.30319 Description: The process was terminated due to an unhandled exception. Exception Info: System.NullReferenceException at System.Web.ThreadContext.AssociateWithCurrentThread(Boolean) at System.Web.HttpApplication.OnThreadEnterPrivate(Boolean) at System.Web.LegacyAspNetSynchronizationContext.CallCallbackPossiblyUnderLock(System.Threading.SendOrPostC

[2016-05-02 05:53] warrenkc commented on #218
I fixed this by updating the web.config to this:
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

From:

    <compilation debug="true" targetFramework="4.5" />

[2016-05-02 05:53] #218 closed

[2016-05-02 21:18] lukasroberts opened #219 "JArray on Post"
When trying to POST data to some custom endpoints such as the contact API that is not yet implemented with the existing client, i would like to post this kind of JSON

`[
  {
    "email": "jones@example.com",
    "last_name": "Jones",
    "pet": "Indiana",
    "age": 25
  },
  {
    "email": "miller@example.com",
    "last_name": "Miller",
    "pet": "FrouFrou",
    "age": 32
  },
  {
    "email":

[2016-05-04 09:14] ShieldPad commented on #54
Would be great if you could fix this :-)

There are email addresses with the Swedish 'ö' which I can't get to work with the sendgrid API. This means that a portion of our recepients can never receive emails from Sendgrid.

[2016-05-04 09:15] ShieldPad commented on #117
Same issue here.

[2016-05-04 14:09] Jericho commented on #219
I already implemented this functionality in my fork and submitted a [PR](https://github.com/sendgrid/sendgrid-csharp/pull/211)

[2016-05-04 14:10] Jericho commented on #217
I implemented all the SendGrid API (including the Contacts) in my fork and submitted a [PR](https://github.com/sendgrid/sendgrid-csharp/pull/211)

[2016-05-04 20:35] lukasroberts commented on #219
Fair enough, hopefully it gets merged in soon then!

[2016-05-04 20:35] #219 closed

[2016-05-06 15:59] alejandrobog commented on #178
I have the same problem, in my case I get no exception and the request is never made. How are we suppose to know the call failed?

[2016-05-10 19:55] RyanONeill1970 opened #220 "Which client lib to use?"
Looking over the open issues, the partial V3 implementation and backlog of pull requests it seems that this project is not getting any attention from the official SendGrid development team.

I'd like to use the official client but I can't figure out which one is stable. V2 docs say to use V3. V3 is incomplete and I cannot find anywhere in V3 that simply sends an email. Should I use SMTP to send di

[2016-05-11 08:14] davidetaddeucci opened #221 "ASP.Net Core 1.0 compatibility"
Any news about the release of Sendgrid C# API libraries compatible with ASP.Net 5.0 (or ASP.Net Core 1.0)?
Just added the reference to the last version of this library on my ASP.Net Core 1.0 using NuGet manager project but there's an error in the dependencies saying that SendGrid API is not compatible with DNX 5.0.

[2016-05-11 17:04] saluce65 commented on #221
See issue #146.

[2016-05-14 19:02] mabbashm110 opened #222 "Missing <% body %> tag in template HTML"
I have the following code and a template that has an image with a <%body%> tag
how do i add this body tag in a simple way to avoid the error

`
               var myMessage = new SendGridMessage();

                // Add the message properties.
                myMessage.From = new MailAddress("user@gmail.com", "Trial");
                myMessage.AddTo(email);
                myMessage.Subject = t

[2016-05-17 01:38] madmunsterdaddy opened #223 "Move InvalidApiRequestException to properly named namespace"
Currently InvalidApiRequestException exists in a namespace called "Exceptions"

Could you move that to something more specific like "SendGrid.Exceptions"?

[2016-05-19 13:25] 0xdeafcafe commented on #221
I wrote a small library for covering a limited usage of the v2 mail send endpoint as we needed coverage at my company. It supports DotNet Core, if you want to use it, it's over [here](https://github.com/0xdeafcafe/sendgrid-dotnet). It would be nice if SendGrid supported DotNet Core on the `v3beta` branch however.

[2016-05-19 14:55] davidetaddeucci commented on #221
Dear Alex,

thanks a lot for your support.

Unfortunatelt in these days I have opted for an other massive mailing service provider, SparkPost; but I would try also your interesting solution.

Best regards from Tuscany.

Davide

Da: Alex Forbes-Reed [mailto:notifications@github.com]
Inviato: giovedì 19 maggio 2016 15:26
A: sendgrid/sendgrid-csharp <sendgrid-csharp@noreply.github.com>
Cc: davidetadd

[2016-05-19 20:45] thinkingserious commented on #223
Hello @madmunsterdaddy,

Thanks for the feedback!

In the new version of the library we have not yet implemented custom SendGrid exceptions. If and when we do, we'll namespace them properly.

For reference, here is the new library: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

With Best Regards,

Elmer

[2016-05-19 20:45] #223 closed

[2016-05-19 20:48] thinkingserious commented on #222
@mabbashm110,

I believe that error happens when you don't include the <% body %> tag in the template itself.

If you need further help with templates, I suggest you reach out to our support team at: https://support.sendgrid.com

Thanks!

With Best Regards,

Elmer

[2016-05-19 20:48] #222 closed

[2016-05-19 20:51] thinkingserious commented on #221
@davidetaddeucci this is definitely on our roadmap, see: https://github.com/sendgrid/csharp-http-client/issues/1

@0xdeafcafe Awesome! *Highest of Fives*

I'm going to leave this ticket open to make sure we support .NET Core on the v3beta branch too.

Thanks everyone for your support!

[2016-05-19 20:54] thinkingserious commented on #220
Hello @RyanONeill1970,

I apologize for all the confusion. Fortunately, I have an answer :)

The new library is here https://github.com/sendgrid/sendgrid-csharp/tree/v3beta and will get out of beta within weeks. That includes a new v3 /mail/send endpoint, which you can read about here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

I suggest you test your project against the a

[2016-05-19 20:54] #220 closed

[2016-05-19 20:56] thinkingserious commented on #217
@bogacg,

We are just about to release a new version of this library that will support all v3 Web API endpoints including the new v3 /mail/send endpoint.

You can check it out here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

Thanks for your support!

With Best Regards,

Elmer

[2016-05-19 20:56] #217 closed

[2016-05-19 20:57] thinkingserious commented on #215
@codefrenzy,

Thanks for taking the time to write to us, if this is still an issue, please reference the support ticket number.

@justsayno,

Thanks for jumping in with a solution! *Highest of Fives*

With Best Regards,

Elmer

[2016-05-19 20:57] #215 closed

[2016-05-19 21:03] thinkingserious commented on #214
Hi @veccsolutions,

We have not received any new reports of this issue, besides this one. We will need additional information to help you. Could you please open a ticket at https://support.sendgrid.com with the details? (e.g. example code, stack trace, etc..)

Also, this library is about to be replaced with this one: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta/ which includes a new v3

[2016-05-19 21:05] thinkingserious commented on #213
@kquinbar,

The library is now available here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

We will be coming out of beta in a few weeks.

If you would like to contribute, please make your pull request against the v3beta branch and we will need a signed CLA: https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/CONTRIBUTING.md#cla

Thank you for your patience and support!

With Best

[2016-05-19 21:05] #213 closed

[2016-05-19 21:08] thinkingserious commented on #212
Hi @mercer2000,

We have updated our mail/send endpoint, you can check it out here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

Also, this library will be updated shortly with this one: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

I'm going to keep this issue open and on our backlog to test against our new library and v3 mail/send endpoint.

With Best Regards,

[2016-05-19 21:09] thinkingserious commented on #210
Hello @nikhilmysore,

Please open a support ticket at https://support.sendgrid.com so we can help you ASAP.

Thanks!

With Best Regards,

Elmer

[2016-05-19 21:09] #210 closed

[2016-05-19 21:16] thinkingserious commented on #209
Hello Everyone,

The new library is now available (in beta) as well as our new v3 /mail/send endpoint, please see:
- https://github.com/sendgrid/sendgrid-csharp/tree/v3beta
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

I'm going to leave this ticket open until we can verify the functionality is working as advertised.

With Best Regards,

Elmer

[2016-05-19 21:18] thinkingserious commented on #208
Hello @Jericho,

Apologies for the annoyance :( I think you are correct, since I never get this issue on my machine.

Could you please try loading the new project: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta to see if the issue persists.

Thanks!

With Best Regards,

Elmer

[2016-05-19 21:19] thinkingserious commented on #202
Hi @Jericho,

This is great feedback! I'm forwarding this along for action.

With Best Regards,

Elmer

[2016-05-19 21:19] #202 closed

[2016-05-19 21:21] thinkingserious commented on #201
@roryprimrose Thanks for the suggestion!

We will keep this on our backlog for now.

[2016-05-19 21:21] thinkingserious commented on #201
This is note for anyone who wished to contribute on this:

Please add pull requests to this branch: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta and we would need a signed CLA: https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/CONTRIBUTING.md#cla

[2016-05-19 21:23] thinkingserious commented on #200
@roryprimrose thanks for the feedback! I'm leaving this one open for consideration.

@Jericho thanks for your support!

[2016-05-19 21:24] thinkingserious commented on #198
Hello everyone, the new version of this library is available in beta here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

I'm leaving this ticket open for evaluation against the new library.

[2016-05-19 21:26] RyanONeill1970 commented on #220
Thank you, that's good to hear. I'll go away and play and send feedback.

[2016-05-19 21:27] thinkingserious commented on #197
Hello @jjblanco,

I'm leaving this open because it is on our roadmap to allow what @Jericho has already implemented.

The new version of this library can be found here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta (to come out of beta in weeks) and it now rely's on this client: https://github.com/sendgrid/csharp-http-client

Thank you both for your support!

With Best Regards,

Elmer

[2016-05-19 21:28] thinkingserious commented on #184
@rashmibrahma,

Thank you for reaching out to us!

I'm not sure if this is a library issue or an API issue. Could you please provide us with some sample data for testing?

With Best Regards,

Elmer

[2016-05-19 21:29] thinkingserious commented on #180
Hi @Wilapark,

If you are still experiencing this issue, please feel free to re-open.

Thanks!

[2016-05-19 21:29] #180 closed

[2016-05-19 21:32] thinkingserious commented on #178
Hello @proleskovskiy @polarbit, @alejandrobog ,

We are replacing this library: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta with a new one which rely's on a new v3 /mail/send API: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

I'm not sure if the updates fix the issue, but if they don't then it's likely an API issue. In that case, please open a ticket at https://su

[2016-05-19 21:34] thinkingserious commented on #172
Hello @pkellner,

Thank you for your feedback!

The new version of the v3 /mail/send endpoint no longer requires SMTPAPI headers, you can check it out here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

Also, this library is being replaced with this one: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

I will close this issue, since this library will be replaced withi

[2016-05-19 21:34] #172 closed

[2016-05-19 21:35] thinkingserious commented on #171
@davidwkennedy, @pmuens,

I am forwarding your feedback to our product team.

Thanks for taking the time to write this feedback!

With Best Regards,

Elmer

[2016-05-19 21:35] #171 closed

[2016-05-19 21:41] thinkingserious commented on #160
@itorian,

If you are still experiencing issues, please feel free to reopen this issue.

Thanks!

[2016-05-19 21:41] #160 closed

[2016-05-19 21:41] mbernier commented on #171
You could in fact send the same email to multiple people at the same time, without them seeing each other.

in mail.send.json - use the X-SMTPAPI to field, which is an array of recipients. Each one will receive a copy of the email address.

In v3/mail/send/beta - you can set up a personalization for each recipient. Each personalization is a different email and will not be seen by other personalzat

[2016-05-19 21:47] thinkingserious commented on #157
Hello Everyone,

The workaround described above is not needed anymore with a recent fix to the API.

Also, you can now find the new v3 /mail/send endpoint here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html and the new version of the library here: https://github.com/sendgrid/sendgrid-csharp/blob/v3beta We should be out of beta in a few weeks.

@tiago-costa-farfetch thank you f

[2016-05-19 21:47] #157 closed

[2016-05-19 21:50] thinkingserious commented on #156
Hello @prateekmaheshwari,

Thank you for reaching out to us!

We have implemented a new v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html and a new version of this library here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta. You can see how attachments are now handled here: https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/SendGrid/Example/E

[2016-05-19 21:54] thinkingserious commented on #152
Hello @NashCarr,

Thanks for submitting your issue!

Here is an example of how you can review the exception message: https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/Example/Program.cs#L40

We have implemented a new v3 /mail/send endpoint which now handles click tracking directly instead of in the SMTPAPI header. You can check it out here: https://sendgrid.com/docs/API_Reference/We

[2016-05-19 21:54] #152 closed

[2016-05-19 21:55] thinkingserious commented on #220
Have fun! We can't wait to hear your feedback :)

[2016-05-19 21:57] thinkingserious commented on #147
@jamesdecourcy ,

Yes, we now support this setting in our new v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html and the corresponding library: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta (e.g. https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/SendGrid/Example/Example.cs#L175) Both are set to come out of beta in a few weeks.

Thanks for tak

[2016-05-19 21:57] #147 closed

[2016-05-19 21:58] #134 closed

[2016-05-19 21:58] thinkingserious commented on #132
Someone else requested this for the new v3beta, so I'm closing this one.

[2016-05-19 21:58] #132 closed

[2016-05-19 22:00] thinkingserious commented on #124
Hello @kzimny,

Thanks for reaching out to us!

The new version of our v3 /mail/send endpoint now includes all of this functionality without the need to use our SMTPAPI header. You can check it out here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

This library will be replaced by this one, which supports the new v3 /mail/send, in a few weeks: https://github.com/sendgrid/sen

[2016-05-19 22:00] #124 closed

[2016-05-19 22:02] thinkingserious commented on #117
@Robelind, @farlop, @thomasrosted, @ShieldPad,

Thanks for bringing this to our attention!

Could someone please provide me with sample data so I can rule out this library as the cause?

Also, this library will be replaced by this one in a few weeks: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta. It supports a massively overhauled /mail/send endpoint: https://sendgrid.com/docs/API_Refere

[2016-05-19 22:04] alejandrobog commented on #178
Thanks,

It was an issue with the library, when the attachment name contained an
special character in my case a pipe I got no exception even though the
request failed. I ended up downloading the source code and modifying
otherwise it was impossible to know when something went wrong

Saludos,

*Alejandro Bonilla*

Minnt Solutions S.A. de C.V.
T: (81) 18772867 ext 301
www.bind.com.mx

El presente me

[2016-05-19 22:05] thinkingserious commented on #94
Hello Everyone,

Thanks for your support and patience!

We have completely revamped our /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html and this library will be replaced with this one: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta in a few weeks.

We heard you loud and clear, as a result this new version our /mail/send API has much better error des

[2016-05-19 22:05] #94 closed

[2016-05-19 22:13] mbernier commented on #202
@Jericho this is a known bug for the timezone and we're working to get it resolved in the refresh we're doing for templates soon!

Thanks for letting us know.

[2016-05-19 23:01] thinkingserious commented on #178
@alejandrobog,

Thanks for the update!

Do you mind sharing your solution with us? Or providing a pull request?

[2016-05-20 07:30] h5necom opened #224 "Transactional templates substitution tags in one-mail-to-many-users use case need to be looped."
Hi,

We are sending a same notification mail to many users.
The mail uses templating engine and has substitution tags for amount of data transferred etc.
The substitution tags have exactly same information for each mail receiver.

Now in this case in code the following loop needs to be done, where the substitutionValues list given to AddSubstitution needs to be filled with same value for as many r

[2016-05-20 15:43] thinkingserious commented on #224
Hello @h5necom,

Thank you for taking the time to reach out to us.

I don't have a quick answer for you at the moment; however, you can check out the new v3 /mail/send endpoint here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html and the supporting library here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

I've tagged this issue for follow up in the mean time.

With

[2016-05-23 07:56] steve-tapley commented on #198
Hi,
Can you let us know when this V3 will be available?   At the moment, I'm having issues with SendGrid because of the bug in your async code.

The workaround described in the readme
[code]
isn't a particularly great solution either.

Can I suggest that if the V3 is some time off, then this bug gets some attention?

Thanks,
Steve

[2016-05-23 08:04] ShieldPad commented on #117
These addresses don't exist specifically, they're just examples of the Swedish characters that can appear in email addresses:

jörgen.davidsson@pergament.se
björn.davidsson@pergament.se
märta.davidsson@pergament.se
mårten.davidsson@pergament.se

[2016-05-23 09:19] RyanONeill1970 commented on #221
Can we have a list of action points and get these agreed by the project owners? I can then sign a CLA and work on some bits.

From what I understand, the SendGrid project that handles the API v3 calls only has 3 points that need addressing to turn it into a Portable Class Library that can be used by the different .Net variants.

The Mail project (in the same solution) however has that huge depende

[2016-05-23 15:23] thinkingserious commented on #221
@RyanONeill1970,

Thank you for the feedback!

So far we have two pull requests that are attempting a solution: https://github.com/sendgrid/csharp-http-client/pulls. Have you checked those out? If so, what do you think?

[2016-05-23 15:23] thinkingserious commented on #117
Thank you @ShieldPad,

This will help with testing.

[2016-05-23 15:27] thinkingserious commented on #198
Hello @steve-tapley,

We are a few weeks away from leaving beta and we have shifted all our open source resources to support the v3beta branch and the new v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

I don't anticipate any major changes to the v3beta branch before launch, mostly the changes will be under the hood. The biggest change will be moving the

[2016-05-23 16:03] RyanONeill1970 commented on #221
I was talking about the API3 beta3 branch at
https://github.com/sendgrid/sendgrid-csharp/tree/v3beta , the branch you
pointed to is a lower level one I think (not so strongly typed).
However, those pull requests look good.

They'll need to be re-done though as I'm sure you are aware, a new beta
came out last week which overlapped them.

Looks like you have plenty of help anyway, I'll stand back an

[2016-05-23 16:10] thinkingserious commented on #221
Yes, the pull requests refer to the HTTP client that the v3beta version of
this library depends upon. I'm thinking if we get it right there, making
the necessary changes in this project should be straight forward.

Thanks for your support!

<http://www.sendgrid.com>
Elmer Thomas
Developer Experience Engineer | Product

On Mon, May 23, 2016 at 9:03 AM, RyanONeill1970 <notifications@github.com>
wrot

[2016-05-24 14:43] scottadamsmith commented on #214
We also experienced this today. It happened 10 times in 4432 requests. I reprocessed them and then the 10 went through. Definitely seems intermittent.

[2016-05-24 16:00] thinkingserious commented on #214
@scottadamsmith thank you for the additional feedback.

[2016-05-24 16:01] thinkingserious commented on #214
@scottadamsmith it might be some time before we can dig deeper, in the mean time, could you please try adjusting this setting in your app: http://stackoverflow.com/questions/26389899/how-do-i-disable-ssl-fallback-and-use-only-tls-for-outbound-connections-in-net

With regards to the new send API, we are a few weeks away from exiting beta.

[2016-06-02 14:38] dmackmiicard opened #227 "Conflicting/confusing messages being sent around the NuGet package versus the state of v3beta"
This is a little confusing:
- the NuGet package links back to the (v2) branch but is documented to contain assemblies referencing v3beta
- the v3beta REAME indicates that the NuGet package contains assemblies references master (v2)

The README on https://github.com/sendgrid/sendgrid-csharp/tree/v3beta (last updated 20 hours ago) states that

It seems this applies _right now_.  As of https://www.nu

[2016-06-02 14:47] thinkingserious commented on #227
Hello @dmackmiicard,

The version that is currently on Nuget does indeed support a handful of v3 Web API endpoints, but is not related to the v3beta branch. It was an initial attempt at supporting v3 Web API endpoints.

The v3beta branch is a complete rewrite and supports all of the v3 Web API endpoints.

Version 6.3.4 is the last stable version for v2 (with some limited v3 support).

Moving forwa

[2016-06-02 14:47] #227 closed

[2016-06-06 07:39] andronachev opened #228 "Need to specify message Text or Html, if using Template Engine ?"
Hi,

We are planning on using message templates, designed using SendGrid Dashboard. And so, from our application we only need to send a template ID, subject and a list of substitutions for the template.

However, I see that the message is not being sent, unless I also specify the Text and/or HTML property of the SendGridMessage object, which gets replaced at the <%body%> tag. So the question is:

[2016-06-06 07:52] andronachev commented on #228
I found a duplicate of this, described in this issue:

https://github.com/sendgrid/sendgrid-csharp/issues/157

Then my question is, when will this fix be available in the nuget package, of the this library ? Thanks!

[2016-06-06 11:48] andronachev opened #229 "Web client not throwing exception"
The web-client is not throwing any exception, instead it remains hanging - example code below:

try
{
var webClient = new Web("asdAasdas");
webClient.DeliverAsync(message).Wait();
}
catch(Exception exception)
{
       logger.Error(exception, "An error ocurred while sending an e-mail to {0}", string.Join(",", message.To.Select(t => t.Address)));
}

As you can see, the api key is rubbish, so I would

[2016-06-06 12:39] #229 closed

[2016-06-06 12:40] andronachev commented on #229
http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2016-06-06 13:10] aaron-horst opened #230 "Support for decompression or custom HttpClientHandler?"
Is there any thought of supporting decompression via [HttpClientHandler](https://msdn.microsoft.com/en-us/library/system.net.http.httpclienthandler%28v=vs.118%29.aspx)? Ideally it would be nice to have the [automatic decompression option](https://msdn.microsoft.com/en-us/library/system.net.http.httpclienthandler.automaticdecompression%28v=vs.118%29.aspx) enabled for the Deflate and GZip flags.

[2016-06-06 15:47] thinkingserious commented on #230
Hello @aaron-horst,

This is not a feature that is currently on our radar. What is your current solution and how does this make things better?

Thanks for your support and contribution!

With Best Regards,

Elmer

[2016-06-06 15:54] thinkingserious commented on #228
Hello @andronachev,

This version of the library will not be updated with a fix for that issue; however, the new version of this library is just about ready to come out of beta, you can check it out here: https://github.com/sendgrid/sendgrid-csharp/tree/v3beta

That issue should no longer be an issue, since we have fixed it at the API layer. If you continue to have issues, please feel free to open

[2016-06-06 15:54] #228 closed

[2016-06-07 19:48] RyanONeill1970 opened #231 "Content is still required when template is used."
Sending a transactional email through the v3 API I get a bad request if I do not include content. The API documentation states that I don't need to if I have a template with content and a subject line (which I do). As I've passed the template ID I would expect a status code of 200.

I think the text content is ignored but I'm not certain. Anonymised API calls below.

Bad request:
[code]

Good requ

[2016-06-08 15:41] thinkingserious commented on #231
Thanks for letting us know, we will look into it.

[2016-06-08 15:43] thinkingserious commented on #231
@RyanONeill1970 What was the error message you received?

[2016-06-08 16:01] RyanONeill1970 commented on #231
Http status code of BadRequest but no errors filled out in the error collection.

[2016-06-12 22:14] RyanONeill1970 opened #232 "Send mail fails with BadRequest when apostrophe used in sender name"
On line 26 of Example.cs in the demonstration project for betav3 we have the sender email address.

If we add a name, it mostly works unless you happen to have a surname with an apostrophe in.

For example, these work;
`Email from = new Email("test@example.com");`
`Email from = new Email("test@example.com". "Ryan");`

The following result in a BadRequest status code.
`Email from = new Email("test@

[2016-06-13 18:54] thinkingserious commented on #232
Hello @RyanONeill1970,

Thanks for bringing this issue to our attention. We will take a look and find out where the fix should happen.

[2016-06-14 07:04] sinaislam commented on #185
I also get this issue for stats.get.json api.

[2016-06-14 15:00] thinkingserious commented on #185
@sinaislam please submit your issue to our support team at support@sendgrid.com.

Thanks!

[2016-06-14 21:40] digime99 opened #234 "Hard-coded subject in mail helper"
Please see sendgrid-csharp/SendGrid/SendGrid/Helpers/Mail/Mail.cs

[code]

Should be this...

`this.Subject = subject;`

[2016-06-15 06:36] hunglee opened #235 "Async broken in library, causing deadlocks and responses not returning in non-console apps"
Hi,
I'm using the example code to send email on MVC web app but it not response on the line **dynamic response = sg.client.mail.send.post(requestBody: mail.Get());** even it has been sent successfully. Am I missing something?

[code]

Note: the example code work fine on console app only (response after post)

Thanks

[2016-06-15 12:30] cleftheris commented on #221
Hi all any updates?

[2016-06-15 14:49] thinkingserious commented on #221
@cleftheris

Thanks for checking in!

We have one signed CLA from @PaitoAnderson, but I was hoping to get one for this pull request from @Gekctek also: https://github.com/sendgrid/csharp-http-client/pull/2 so that we could compare notes and possibly merge solutions.

That said, we just took this library out of beta yesterday (along with our 6 others) and we will likely be spending a few weeks iron

[2016-06-15 17:18] trinathm commented on #235
I am also facing same issue. Its working fine with console app. but when integrated with MVC application, its not returning response.

[2016-06-15 17:53] ncruces commented on #234
Not only is the API awful, but it is full of blunders such as this.

Who's idea was it to make a C# API full of:

- `dynamic`;
- `snake_cased` members, that violate every naming convention of the language;
- stuff not amenable to `async`/`await`;
- built on "helper classes" like `Mail` that make it impossible to use object/collection initializers.

How is this ***at all helpful*** as a C# API?

Fo

[2016-06-15 19:16] thinkingserious commented on #234
@digime99 my apologies, I will be fixing that issue shortly. Thank you very much for letting us know!

@ncruces thanks for the specific feedback, it is much appreciated! We rewrote the library to support all v3 web api endpoints and the highly anticipated v3 /mail/send endpoint. This is a starting point and we are listening carefully and will update accordingly. After fixing the bug reported in th

[2016-06-15 19:18] thinkingserious commented on #235
@hunglee thanks for letting us know. We will be digging deeper to figure out what is going wrong.

Any additional details are appreciated.

@hunglee @trinathm  Even though the response is not returned, does the email get sent?

[2016-06-15 20:32] thinkingserious commented on #234
@digime99 this has been fixed in version 7.0.1: https://www.nuget.org/packages/SendGrid

[2016-06-15 20:32] #234 closed

[2016-06-15 20:34] thinkingserious opened #236 "Review the feedback by ncruces and create the appropriate issues"
@ncruces I closed the other issue since the bug is fixed. I'll be reviewing your feedback to create specific issues. Feel free to do so before I get to it. Thanks!

https://github.com/sendgrid/sendgrid-csharp/issues/234#issuecomment-226267004

[2016-06-16 00:09] walmon opened #237 "Deadlock"
#### Issue Summary

ASP.NET Web API 4.5.2 Application, sending email added c# libraries paste this code

#### Steps to Reproduce

1. Install dlls from nuget Install-Package SendGrid
2. added example code

 String apiKey = Environment.GetEnvironmentVariable("SENDGRID_APIKEY", EnvironmentVariableTarget.User);
            dynamic sg = new SendGridAPIClient(apiKey);

            Email from = new Email

[2016-06-16 00:19] thinkingserious commented on #237
Thanks @walmon,

We appreciate the issue!

This issue is a duplicate of https://github.com/sendgrid/sendgrid-csharp/issues/235, please follow that issue as I'll likely be looking into this issue tomorrow.

I'm thinking our examples need to be updated to account for the async calls in the HTTP client: https://github.com/sendgrid/csharp-http-client/blob/master/CSharpHTTPClient/Client.cs#L264

[2016-06-16 00:19] #237 closed

[2016-06-16 00:21] walmon commented on #237
What is the work around? In previous versions the c# sdk was working, Im about to purchase the service but cant get it to work.

[2016-06-16 00:22] thinkingserious commented on #237
You can use: https://www.nuget.org/packages/Sendgrid/6.3.4

Thanks and welcome to SendGrid!

[2016-06-16 00:23] walmon commented on #237
Awesome! Thanks!

[2016-06-16 03:19] hunglee commented on #235
@thinkingserious  yes, the email was sent successfully.
The response is also not returned with Web API and Classic Windows Form.
Thanks

[2016-06-16 06:33] trinathm commented on #235
@thinkingserious Yes, Email are being sent successfully, but after posting mail, its not returning response.

[2016-06-16 07:45] ChrisRacki commented on #235
same here...

[2016-06-16 12:30] jahmai opened #238 "How do I do async await's with the new API?"
As per the topic. While the new API provides the full v3 API functionality, which is welcome, it seems like a huge step back in C# API design.

How do I 'await' the API calls - we simply do not do synchronous network calls in our system (and frankly, nobody should be writing code that does them anymore).

[2016-06-16 12:40] jahmai commented on #238
More specifically, how do I do the following with the new API:

`            SendGridMessage message = new SendGridMessage
                                      {
                                          To = new[] { from },
                                          Bcc = emailAddresses.ToArray(),
                                          From = from,
                                          Sub

[2016-06-16 12:44] critot commented on #234
totally agree with ncruces, a full step back!

[2016-06-16 14:47] thinkingserious commented on #238
Hello @jahmai,

Thanks for the feedback!

This issue is related to https://github.com/sendgrid/sendgrid-csharp/issues/235 which I will be digging into today. Please follow that ticket for progress.

[2016-06-16 14:47] #238 closed

[2016-06-16 18:31] joantorres commented on #235
@thinkingserious Any estimation on when this bug will be fixed??
I was just integrating this library into a new project and it doesn't work at all, but it's quite urgent and if you don't have a hot fix by tomorrow I will have to go find another alternative.
I tried to use the previous version 6.3.4 but it does not support templates, so it doesn't work for me.
Thanks for the help!

[2016-06-16 18:44] thinkingserious commented on #235
Hello  Everyone,

@hunglee @trinathm @ChrisRacki @joantorres @jahmai @walmon

First, thanks for your feedback and patience.

I've done some digging and I can't reproduce in the console app (as mentioned, it seems to work there) so here is what I'm thinking (I would love to get some feedback):

The API call happens [here](https://github.com/sendgrid/csharp-http-client/blob/master/CSharpHTTPClient/C

[2016-06-16 20:08] thinkingserious opened #239 "Use proper naming conventions for methods"
#### Issue Summary

Currently we are using snake_cased methods, when we should be using CamelCase (see https://msdn.microsoft.com/en-us/library/4df752aw(v=vs.71).aspx).

#### Steps to Reproduce

https://github.com/sendgrid/sendgrid-csharp/blob/master/examples/accesssettings/accesssettings.cs#L14

#### Technical details:

* sendgrid-csharp Version: master 7.X.X
* .NET Version: 4.5.2

[2016-06-16 20:12] thinkingserious opened #240 ""helper classes" like Mail that make it impossible to use object/collection initializers."
#### Issue Summary

Please see https://msdn.microsoft.com/en-us/library/bb384062.aspx
#### Steps to Reproduce
1. Try using object/collection initializers with the helper: https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/SendGrid/Helpers/Mail/Mail.cs
#### Technical details:
- sendgrid-csharp Version: 7.X.X
- .NET Version: 4.5.2

[2016-06-16 20:15] thinkingserious commented on #236
@ncruces @critot

Following is an update based on @ncruces' feedback (thanks again!):

With regards to the dynamic URL builder, you can skip that process by passing in your path. We will update the documentation to reflect this. Also, we plan to allow you to pass in your own HTTP client, in that case, you can choose to a client that does not use dynamic URL building.

Naming Conventions: https://g

[2016-06-16 20:15] #236 closed

[2016-06-16 20:55] matthewbcline commented on #235
I can reliably reproduce this in a Web API project. Here is my method:

[code]

I cannot use the client library at all until this is resolved. I'll be making "raw" HTTP requests instead using `HttpClient`.

[2016-06-16 21:05] thinkingserious commented on #235
Thanks @matthewbcline!

What does the code look like that calls `SendEmail()`?

Seems like we need to have `.ConfigureAwait(false);` [here](https://github.com/sendgrid/csharp-http-client/blob/master/CSharpHTTPClient/Client.cs#L321) and [here](https://github.com/sendgrid/csharp-http-client/blob/master/CSharpHTTPClient/Client.cs#L262).

[2016-06-16 21:09] matthewbcline commented on #235
@thinkingserious `SendEmail()` is a Web API method; it's triggered by an HTTP POST. So it's called by the Web API routing framework.

I had a sneaking suspicion that the solution would involve `ConfigureAwait(false)`. :wink:

[2016-06-16 21:11] thinkingserious commented on #235
Agreed, I will try that fix and report back. Thanks!

[2016-06-16 21:34] alanhouck commented on #235
@thinkingserious I was experimenting with the ConfigureAwait(false) earlier today and had no joy. Thankfully I checked this thread and tried adding it to the exact spots in the code you mentioned and it worked for me. Thanks!

[2016-06-16 21:37] thinkingserious commented on #235
@alanhouck thanks for confirming!!!

I will push out an update and I'd like to swag out everyone on this thread. Please send your T-shirt size and mailing address to dx@sendgrid.com :)

[2016-06-16 22:26] aaronamer opened #241 "Apostrophe anywhere in email (including content) causes a BadRequest"
Sending an email with an Apostrophe anywhere in the email results in a BadRequest response.

#### Steps to Reproduce
var mail = new Mail();

mail.AddContent(new Content("text/plain", "Aaron's"));

var personalization = new Personalization() {
	Tos = new List<Email> { new Email("xxx@xxx.com") },
	Subject = "Test"
};

mail.AddPersonalization(personalization);
mail.ReplyTo = mail.From = new Email("xx

[2016-06-16 22:31] thinkingserious commented on #241
Thanks for the issue report @aaronamer!

Please follow this ticket for updates: https://github.com/sendgrid/sendgrid-csharp/issues/232

[2016-06-16 22:31] #241 closed

[2016-06-17 04:15] thinkingserious commented on #235
This issue is fixed in version 7.0.2: https://github.com/sendgrid/sendgrid-csharp/releases/tag/v7.0.2

[2016-06-17 04:16] #235 closed

[2016-06-17 06:28] joantorres commented on #235
@thinkingserious This worked!
Thanks a lot for the quick fix, and for the T-shirt ;-)

[2016-06-17 16:57] thinkingserious opened #243 "Update README and Code to explain the Environment Variable setup"
#### Issue Summary

This explanation should be in the README and as a comment in the example code:
https://github.com/sendgrid/sendgrid-csharp/blob/master/CONTRIBUTING.md#environment-variables

Also, show an example of retrieving the API Key from `web.config`
#### Technical details:
- sendgrid-csharp Version: 7.0.2
- .NET Version: 4.5.2

[2016-06-17 21:26] DonWMason opened #244 "PDF Attachments That Worked with v6.3.4 Generate a 415 Unsupported Media Type with v7.0.2"
#### Issue Summary

PDF attachments that worked immediately before updating to v7.0.2 from v6.3.4 are now generating a 415 Unsupported Media Type.

#### Steps to Reproduce

byte[] pdfBuf = null;
pdfBuf = <<PDF file in byte array format>>;
List<string> fileNames = new List<string>();
List<string> attachments = new List<string>();
fileNames.Add("Test.pdf")
attachments.Add(System.Text.Encoding.UTF8.G

[2016-06-17 22:53] thinkingserious commented on #244
Hello @DonWMason,

Thanks for submitting the issue with detail, that is much appreciated!

I'm thinking the issue is that attachment.Type should be "application/pdf".

What is the value of attachmentMimeType?

Thanks!

Elmer

[2016-06-17 23:00] thinkingserious commented on #200
For reference: https://msdn.microsoft.com/en-us/library/hh873175.aspx

[2016-06-17 23:08] thinkingserious commented on #198
@roryprimrose @samrueby @Jericho @steve-tapley This issue is now fixed, per: https://github.com/sendgrid/sendgrid-csharp/issues/235

The same offer regarding swag we made on issue 255 applies to all of you here. Especially @roryprimrose for providing the solution and @Jericho for implementing! :)

Now that we are out of beta, we are going to be looking at the next milestone for this library. We ha

[2016-06-17 23:08] #198 closed

[2016-06-17 23:13] DonWMason commented on #244
I'm passing it System.Net.Mime.MediaTypeNames.Application.Pdf which is "application/pdf".

I switched back to an easier test without an attachment and it seems I might have had conflicting issues.

- Issue 1: UnsupportedMediaType

- Issue 2: BadRequest

Working on issue 2 using a Chrome's Simple REST Client, I discovered that I cannot submit an email that has the same address in the To and Bcc fie

[2016-06-17 23:27] thinkingserious commented on #244
Thanks for the follow up @DonWMason.

The attachment needs to be Base64 encoded.

Here is the complete documentation for the v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

[2016-06-17 23:32] DonWMason commented on #244
Changed the code to:

string  attachmentMimeType = System.Net.Mime.MediaTypeNames.Application.Pdf;
byte[] pdfBuf = null;
pdfBuf = <>;
List fileNames = new List();
List byte[]= new List();
fileNames.Add("Test.pdf")
attachments.Add(pdfBuf);
.
.
.
attachment.Content = Convert.ToBase64String(attachments[index]);

The last change is critical. I used to pass in a MemoryStream attachment directly with v6

[2016-06-17 23:36] DonWMason commented on #244
Still don't see any reference to Base64 at all in that link. I read it several times yesterday and today.

Oh, need to click that caret on the right for the important info ;-)

FYI, the browser search in Chrome doesn't find the text unless the caret is clicked.

[2016-06-17 23:37] thinkingserious commented on #244
Yes, will you please submit a new issue for that feature?

Also, thanks for providing a solution and great feedback! Please email us your T-shirt size at dx@sendgrid.com so we can send you some swag.

It would be implemented as part of our Mail Helper: https://github.com/sendgrid/sendgrid-csharp/tree/master/SendGrid/SendGrid/Helpers/Mail

I'll pass your feedback regarding the documentation to the

[2016-06-17 23:37] #244 closed

[2016-06-18 19:28] charles-smith opened #245 "Can't seem to get things started with Microsoft's Tutorial due to API change"
I'm not sure what's causing this, but I keep on getting a BadRequest when I try and send an email. Any ideas?

#### Issue Summary

Not able to send mail after following directions. Combining new API + [Microsoft's existing tutorial](http://docs.asp.net/en/latest/security/authentication/accconfirm.html#require-email-confirmation).

#### Steps to Reproduce

Follow Microsoft's steps up till the SendE

[2016-06-19 15:09] thinkingserious commented on #245
Hello @charles-smith,

Before you do the POST, could you print out the value of mail.Get()?

Thanks!

[2016-06-19 15:18] charles-smith commented on #245
Here ya go:

    mailGetResult = "{\"from\":{\"email\":\"email@address.com\"},\"subject\":\"Confirm your account\",\"personalizations\":[{\"to\":[{\"email\":\"toEmail@address.com\"}]}],\"content\":[{\"type\":\"text/html\",\"value\":\"Please confirm your account by clicking this link: <a href='https://localhost:44381/Account/ConfirmEmail?userId=136f33aa-62c2-40c5-9b63-f5eb6042ab19&code=CfDJ8A5ORVBZ

[2016-06-19 15:34] thinkingserious commented on #245
@charles-smith,

Please replace ' with \"

So `<a href='https://localhost:44381/Account/ConfirmEmail?userId=136f33aa-62c2-40c5-9b63-f5eb6042ab19&code=CfDJ8A5ORVBZiNBKsxddZkx8SA5qO7Neyc1j9CkXLXy%2BdOFabvXplQt2CwoQ2t2JcFfaMVb1FNlW3nZNVapkjJ81Bxltc9vAljHlha8iKzwic%2B5d2uCLjGGTuu9xUoCIarmcm6lClrmJcOi3x4qeHSTNVSZIuRz%2B8ATUROVVkI1o00oSHArSdL6IobdPaAVz%2BqcS514ob5uVvfij8ETQWB1W%2Fe1SGgKN9yGgMePxrYd%2Fy3

[2016-06-19 15:38] charles-smith commented on #245
Away for the afternoon, I'll update later tonight.

Charles

[2016-06-19 17:26] #245 closed

[2016-06-20 16:30] thinkingserious opened #247 "Escape single quotes in request body"
#### Issue Summary

If you include an unescaped single quote in your request body content, you get a BadRequest error.

#### Steps to Reproduce

https://github.com/sendgrid/sendgrid-csharp/issues/245

#### Technical details:

* sendgrid-csharp Version: 7.X.X
* .NET Version: 4.5.2

[2016-06-20 16:32] thinkingserious commented on #245
I have created a ticket to solve this issue through the library here: https://github.com/sendgrid/sendgrid-csharp/issues/247

Documentation for the v3 /mail/send endpoint is:
https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html
https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html

Thank you for your support!

[2016-06-20 18:08] thinkingserious opened #248 "Create an Attachment Helper"
#### Issue Summary
- automatically encode the file and select the correct content type
#### Steps to Reproduce

https://github.com/sendgrid/sendgrid-csharp/issues/244
#### Technical details:
- sendgrid-csharp Version: 7.X.X
- .NET Version: 4.5.2

[2016-06-20 18:10] thinkingserious commented on #244
@DonWMason I have created a ticket regarding making this experience better here: https://github.com/sendgrid/sendgrid-csharp/issues/248

Thanks again for your support and feedback!

[2016-06-20 19:32] J242 commented on #243
Hello, can you show us how to set up the send grid key? See support question below:

kosullivan Wednesday at 13:19
Hello, I'm setting up SendGrid with C# in Visual Studio Express 2013 for Web with the Quickstart located at https://github.com/sendgrid/sendgrid-csharp and testing on my local machine. Once I get it working, I will deploy to Azure. I have set up an account, set up a key, and installed

[2016-06-20 21:15] DonWMason commented on #244
You're very welcome! I had been working on updating that client for 2 days.
Glad to have gotten it up and running by COB on Friday! Thanks for your
help!

Don Mason
503-888-3355

On Mon, Jun 20, 2016 at 11:10 AM, Elmer Thomas <notifications@github.com>
wrote:

[2016-06-20 23:07] thinkingserious commented on #243
Hello @J242,

You will want to setup your environment variables in Azure. Here is some help on how to do that:

https://blogs.msdn.microsoft.com/stuartleeks/2015/08/10/azure-api-apps-configuration-with-environment-variables

http://stackoverflow.com/questions/34608769/how-and-where-to-define-an-environment-variable-on-azure

Please let me know what resource was most helpful to you.

Thanks!

[2016-06-20 23:59] wpalombini opened #249 "apostrophe causes BadRequest StatusCode when using v3 api"
I am using the latest version 7.0.2 downloaded from Nuget package on my asp.net MVC 5 (.net 4.5.2) and whenever I send an email where the html content has a ' apostrophe, the response is BadRequest and the email is not sent.

[2016-06-21 00:34] charles-smith commented on #249
I reported this the other day. It's already being tracked in #247.

[2016-06-21 00:36] charles-smith commented on #247
Possibly a duplicate of #241?

[2016-06-21 03:43] thinkingserious commented on #247
@charles-smith yes, that's true. I'll go ahead and close this one. Thanks!

[2016-06-21 03:43] #247 closed

[2016-06-21 03:45] thinkingserious commented on #249
@wpalombini,

@charles-smith is correct. Thanks for taking the time to report the issue!

[2016-06-21 03:45] #249 closed

[2016-06-21 19:14] valverij opened #250 "Build error when pulling NuGet package in .NET 4.5 and 4.5.1 projects"
#### Issue Summary

I am receiving a build error when using the sample code for the "Hello Email" in the project's README.md in a .NET 4.5 project.

The compiler indicates the error is right in the `using` statements:

    using System;
    using SendGrid;
    using SendGrid.Helpers.Mail; // <-- build error: The type or namespace name 'Helpers' does not exist in the namespace 'SendGrid'

For refer

[2016-06-22 12:44] thinkingserious commented on #250
Hello @valverij,

Currently, this library is compiled for 4.5.2. I suspect that is the issue.

We already have an issue open to support .NET Core. I'm thinking support for .NET 4.5 could be added as well using the same strategy.

That said, is there a compelling reason to use .NET 4.5 or 4.5.1 over 4.5.2?

Thanks!

[2016-06-22 13:03] aaron-horst commented on #230
HTTP compression is a capability that can be built into web servers and web clients to improve transfer speed and bandwidth utilization. I would think that compressing the payload before issuing the postasync call would speed up the overall throughput. When managing a high volume sending application with a larger message size I would think there are efficiencies to be gained here.

[2016-06-22 13:05] thinkingserious commented on #230
Hi @aaron-horst,

This will help make a case for including this feature in the next update. Thanks!

[2016-06-22 13:41] aaron-horst commented on #230
Thanks I appreciate it.  I notice the library has been updated significantly since I originally submitted the inquiry. Do you believe performance will be about the same, better, or slightly degraded from the previous version?

[2016-06-22 16:23] PranKe01 commented on #235
Now, which one is the correct call?

dynamic response = sendGridClient.client.mail.send.post(requestBody: mail.Get());
dynamic response = await sendGridClient.client.mail.send.post(requestBody: mail.Get());
dynamic response = await (sendGridClient.client.mail.send.post(requestBody: mail.Get())).ConfigureAwait(false);

[2016-06-22 19:21] aaron-horst commented on #243
You are not required to use environment variables correct? The raw string can still be passed in if it lives as a setting in your app.

[2016-06-23 05:53] eat-sleep-code opened #251 "How do you set email priority?"
How do I set the message priority (i.e. make it marked urgent / high priority in Outlook, etc.)?

I tried (where "mailMessage" is SendGrid.Helpers.Mail.Mail object):

[code]

It throws an **Object reference not set to instance of an object** error.

If I remove these two lines of code, the implementation works fine (albeit, now just a normal priority message) and the message is sent and received.

[2016-06-23 16:18] bdparrish commented on #221
@thinkingserious

I am following this update closely.  Is there any update for this, so that it can be used with Azure Developer Services?

[2016-06-23 17:11] andredublin commented on #243
@aaron-horst that is correct, for example I store the api key in a cloud configuration file and reference it from there with the CloudConfigurationManager

[2016-06-23 19:48] J242 commented on #243
Thanks for the info everyone!

Can I store the api key in my asp.net project's web.config so that I can test it on my local computer before deploying the tested solution to Azure?

[2016-06-23 19:49] andredublin commented on #243
@J242 Yes, so long as your able to retrieve the string it can be stored anywhere really.

[2016-06-23 19:51] J242 commented on #243
Cool! I'll probably try both methods. I'll use web.config locally and environment on Azure.

[2016-06-24 01:27] yielr opened #253 "New version seems to have lost the ability to add multiple substitution values per key"
#### Issue Summary

I'm using version 7.0.2 and I can't find a way to add multiple values per substitution key.
The current version has this method in Personalization:

personalization.AddSubstitution(string, string);

but I don't see a way to do:

personalization.AddSubstitution(string, List<string>);

Thank you.

#### Technical details:

* sendgrid-csharp Version: 7.0.2
* .NET Version: 4.5.2

[2016-06-24 01:43] lijaso opened #254 "multiple recipients"
#### Issue Summary

When using the email helper to send an email to multiple recipients, only the first recipient receives the email.

#### Steps to Reproduce

1. set recipients like "user1@sample.com,user2@sample.com"
2. send the email to the recipients
3. only user1@sample.com received the email, though "user2@sample.com" is shown in the recived email "To" field

Would be nice to have multi reci

[2016-06-24 01:50] yielr commented on #254
Can you add more information? Using the latest version (7.0.2), I can send to multiple recipients like this:

Personalization personalization = new Personalization();
            email = new Email();
            email.Name = "Example User";
            email.Address = "test1@example.com";
            personalization.AddTo(email);

            email2 = new Email();
            email2.Name = "Exampl

[2016-06-24 02:57] yielr commented on #253
It looks like you need to specify a "Personalization" per different substitution value. Is this the case? Thank you.

[2016-06-24 03:32] lijaso commented on #254
Thanks for the quick reply. Never used Personalization, will have a look.

Here is the code I used to send email,

dynamic sg = new SendGridAPIClient(apiKey);

SendGrid.Helpers.Mail.Email from = "noreply@example.com";
Email to = new Email("user1@example.com,user2@example.com");
Content content = new Content("text/plain", body);
Mail mail = new Mail(from, subject, to, "testing");

dynamic response

[2016-06-24 21:35] thinkingserious commented on #254
@lijaso,

Here is an example with multiple recipients: https://github.com/sendgrid/sendgrid-csharp/blob/master/SendGrid/Example/Example.cs#L47

@yielr thanks for providing some help!

[2016-06-24 21:35] #254 closed

[2016-06-24 21:46] thinkingserious commented on #235
@PranKe01 whether or not you include the await keyword depends on your desired behavior, please see: https://msdn.microsoft.com/en-us/library/hh156528.aspx

[2016-06-24 23:29] thinkingserious commented on #214
@scottadamsmith we came out of beta on 6/14.

[2016-06-24 23:29] #214 closed

[2016-06-24 23:31] #184 closed

[2016-06-24 23:31] #178 closed

[2016-06-24 23:32] thinkingserious commented on #117
If this issue persists with version 7.X.X of this library, please open a new issue. Thanks!

[2016-06-24 23:32] #117 closed

[2016-06-25 04:28] eat-sleep-code commented on #251
Figured it out, the following works...

mailMessage.AddHeader("Priority", "Urgent");
mailMessage.AddHeader("Importance", "high");

[2016-06-25 04:28] #251 closed

[2016-06-25 17:50] thinkingserious commented on #251
Thanks for sharing your solution @eat-sleep-code!

[2016-06-26 00:11] RyanONeill1970 commented on #232
I've been playing with this and can confirm that there is an error in the v3 API endpoint https://api.sendgrid.com/v3/mail/send.

There may be other errors in the client, but I am bypassing that for this test.

I have been posting the following JSON which results in a bad request response code. Removing the apostrophe in the senders surname makes it work.

`{"personalizations":[{"to":[{"email":"r@

[2016-06-26 00:29] RyanONeill1970 opened #255 "V3 API endpoint for Send Mail does not validate recipient address"
Sending a simple POST to the send mail api endpoint with a deliberately malformed recipient address results in an incorrect status code of Accepted but the mail is not sent.

#### Steps to Reproduce

1. POST the JSON below to https://api.sendgrid.com/v3/mail/send. Note the 'to' email has spaces in the local part.
2. Check the response code, it should be a bad request but is accepted instead.
3. Ch