[2018-07-25 13:47] p-selivanov commented on #712
Same error here. As far as I understand, to use v3 templates with placeholders we need to provide "personalization.dynamic_template_data" section to the request JSON. Though c# library does not implement a way to do this.

[2018-07-25 17:10] mediaslide commented on #339
+1 we definitely need this feature!

We need to send personalized emails to multiples recipients, and adding them to a replyTo so they can reply to each others.

[2018-07-25 17:47] SlyCaptainFlint commented on #712
I am seeing the same behavior on my end.

[2018-07-25 20:40] thinkingserious commented on #711
Hello @jitu027,

A few more questions to help get you started:

* Are you using [Legacy](https://sendgrid.com/templates) or [Transactional templates](https://sendgrid.com/dynamic_templates)?
* What version of this SDK are you using?

Thanks!

With Best Regards,

Elmer

[2018-07-25 20:54] thinkingserious commented on #339
Thanks for the additional vote @mediaslide.

How do you currently work around this issue?

[2018-07-25 20:57] thinkingserious commented on #712
@ChrisASearles, @p-selivanov, @SlyCaptainFlint,

I will get some helpers added to support the dynamic templates soon; however, I don't have a firm timeline.

In the meantime, you can handcraft the request body [like this](https://github.com/sendgrid/sendgrid-csharp/blob/master/USAGE.md#post-mailsend).

With Best Regards,

Elmer

[2018-07-26 09:44] alex-valchuk opened #713 "ApyKey Rotation"
I would like to rotate ApiKey from my AWS Lambda function.

Is it possible to Cretate/Update Api Keys programmatically?

[2018-07-26 12:11] RoelVerhees commented on #712
Only thing you have to do is adding

`[JsonProperty(PropertyName = "dynamic_template_data", IsReference = false)]
public object DynamicTemplateData { get; set; }`

and after that you can use it like this:
`sendGridMessage.Personalizations[0].DynamicTemplateData = new
 {
    RegionHouseNumber = 28,
    EmployeeFirstName = "Chef"
}`

[2018-07-26 13:36] RoelVerhees opened #714 "Special characters in transactional templates"
Hi,

Im currently using SendGrid with transactional templates, and some of my templates have special characters in it, like:

In all of my templates i added the following line in the header:
`<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />`

When using the nuget package of SendGrid the special characters are not correctly displayed and it outputs question marks in the email.

[2018-07-26 14:52] davidrevoledo opened #715 "Variables who are repeated in a transactional template is not being replaced twice"
#### Issue Summary

I'm using the nuget package SendGrid for c#

with a configured template in sendgrid portal like this :

[code]
And with the following c# code :

[code]
The first time is being replaced but the second time does not.

As a workaround I'll create another variable but I'll be good have the flexibility to change the template without change the code.

Thanks.

#### Technical details:

[2018-07-26 20:24] thinkingserious opened #716 "Add Dynamic Template Support"
#### Issue Summary

On 7/24/2018, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post announcement](https://sendgrid.com/blog/how-to-use-sendgrid

[2018-07-26 21:31] thinkingserious commented on #712
Please track support for this issue [here](https://github.com/sendgrid/sendgrid-csharp/issues/716) moving forward. Thanks!

Thanks for the help @RoelVerhees!

[2018-07-26 21:31] #712 closed

[2018-07-26 21:33] thinkingserious commented on #714
Hello @RoelVerhees,

Thanks for reporting this, I've added this to our backlog for further investigation.

With Best Regards,

Elmer

[2018-07-26 21:37] thinkingserious commented on #715
Hi @davidrevoledo,

When you say "The first time is being replaced but the second time does not.", could you please provide some context? How is this code being called? Are you passing in new substitutions each time you call your function?

With Best Regards,

Elmer

[2018-07-26 21:40] Jericho commented on #713
@alex-valchuk yes you can create and revoke API keys programmatically. As @thinkingserious pointed out, the documentation is available on SendGrid's web site but keep in mind that you will have to manually craft the appropriate HTTP call along with hand-crafting the expected JSON. SendGrid's C# client does not help you with this.

I would like to suggest that you take a look at [StrongGrid](https:

[2018-07-26 21:42] thinkingserious commented on #713
@alex-valchukl, @Jericho's suggestion is solid.

[2018-07-26 21:42] davidrevoledo commented on #715
@thinkingserious Hi thanks, I'm calling the api just with the code above. no more substitutions , the finall result in the email is this

with this template :

[code]
and this variables :  someVariable = "var1" and color = "red"

is :
[code]

As you can notice the first time "someVariable" is being replaced the second time it does not.

[2018-07-26 21:45] thinkingserious commented on #715
Ah, I see. Thanks for taking the time to elaborate. I'm going to classify this as a bug and add to our backlog for investigation.

[2018-07-26 21:47] davidrevoledo commented on #715
@thinkingserious your welcome :)

As I said I found a workaround now so is not blocking but  will be great don't have to change the code in the future , thanks

[2018-07-26 22:03] Jericho commented on #715
@davidrevoledo I conducted three tests to try to reproduce this issue but in my case everything works as expected. I used HTML similar to the following:
[code]

**Test number 1**: _sending an email without using a template_
![image](https://user-images.githubusercontent.com/112710/43290895-96a246b2-90fd-11e8-8312-dd31fc3e0601.png)

**Test number 2**: _sending an email using a legacy template_
![im

[2018-07-27 08:39] digitalgym commented on #672
Is there a proper solution for substitutions yet? SendGrid has moved all new templates to handlebars notation.

[2018-07-27 09:33] satishsathya11 commented on #712
i'm facing kind of same issue ..
sending from node js
this is my msg payload
`msg = {
      "from": { "email": "xyz@example.ai" },
      "personalizations": [{
        "to": [{ "email": "satish@example.ai" }],
        "dynamic_template_data": {
          "name": "jhon",
          "plan": "xyz",
          "amount": "80000",
        },
      }],
      "subject": "Notification",
      "template_id":

[2018-07-27 10:56] warna720 opened #717 "Dynamic templates with special characters"
Dynamic templates does not work with åäöÅÄÖ, even though setting charset=UTF-8" in template.
The workaround was to use their respective html entity (å = `&aring;`).

The workaround does not work with variables. When not using the html entity they resolve to ? (�) and when using the html entity they are displayed as plain text.

Using following POST-data:
`{
                "from" => {
        "ema

[2018-07-27 11:08] #717 closed

[2018-07-27 11:08] warna720 commented on #717
Sorry this is C#

[2018-07-27 19:59] Jericho commented on #716
To everyone waiting for dynamic templates to be supported by SendGrid's c# client: please note that I released [StrongGrid](https://www.nuget.org/packages/StrongGrid/) v0.46.0 with support for dynamic templates. You can create and update dynamic templates and, of course, send emails using a dynamic template. I also wrote down a few thoughts and [observations](https://github.com/Jericho/StrongGrid/

[2018-07-29 20:37] hollandtoby commented on #716
Any updates on this?

Almost ready to switch providers at this stage, it's probably easier than me manually creating the request body for 20+ transactional emails.

[2018-07-30 07:53] alex-valchuk commented on #713
Thank you very much guys for your answers.
It helped me a lot

[2018-07-30 07:54] #713 closed

[2018-07-30 11:35] andrelmp commented on #714
I have this issue and opened a ticket with sendgrid support.
u have to encode the strings on dynamic_template_data with ISO-8859-1 encoding. I know its a poor solution, but works.

[2018-07-30 23:15] thinkingserious commented on #714
Thanks for sharing this @andrelmp,

I'll add this to the acceptance criteria to include in the helper.

[2018-07-31 01:14] thinkingserious commented on #339
Thanks for taking the time to elaborate @mediaslide.

Yes, if this were to be fixed, it would be at the API level, supported across all of our SDKs.

I've added your voice to the issue to help gain visibility internally.

If/when there is progress on this issue, I will post it here. Thanks!

[2018-07-31 01:55] thinkingserious commented on #672
Hello @digitalgym,

Yes! Please follow progress [here](https://github.com/sendgrid/sendgrid-csharp/issues/716).

With Best Regards,

Elmer

[2018-08-05 01:31] Jericho commented on #716
Quick update: StrongGrid 0.47.0 was released earlier today with full dynamic templates support including test data, deep objects and iterable items. Please see the [dynamic templates](https://github.com/Jericho/StrongGrid#dynamic-templates) section in the readme for code samples.

[2018-08-07 06:58] RoelVerhees commented on #716
I will try to add this feature, if i have some time left.  I guess this is gonna be added in the new version Nuget version of SendGrid?

[2018-08-07 13:34] thinkingserious commented on #716
Hello @RoelVerhees,

That's awesome! Yes, we would add your PR to the next Nuget version assuming it is merged.

With Best Regards,

Elmer

[2018-08-07 19:48] RoelVerhees commented on #716
All the unittests that sent something to SendGrid fail, what am i doing wrong?

[2018-08-08 02:08] thinkingserious commented on #716
Hi @RoelVerhees,

I'm guessing there is an issue with your Prism setup. Did you follow the instructions [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/CONTRIBUTING.md#testing)? Alternatively, you can push up your branch to GitHub and let Travis handle the tests.

With Best Regards,

Elmer

[2018-08-09 17:07] andrzej-rojek commented on #716
For the time being I'm using the following workaround to pass dynamic template data. Instead of client.SendEmailAsync(msg) you can get message JSON string, insert dynamic template data, serialize back to JSON and then send it over using client.RequestAsync() method:

var json = msg.Serialize();
var obj = (JObject)JsonConvert.DeserializeObject(json);
var personalizations = (JArray)obj["personalizat

[2018-08-10 17:52] shdnx commented on #716
Based on @andrzej-rojek 's workaround, here is mine, slightly more general and fluffed out:
[code]

Using this, you're able to add your dynamic template data as substitutions, by building up `Personalization.Substitutions`, and then this code will rename it to `dynamic_template_data`. This will work for dynamic template data that's just primitives (strings, integers, etc.), but not with things lik

[2018-08-10 18:13] dziegler2 commented on #505
I am also experiencing this issue and have a ticket logged with your support team, but they think I am requesting a code review or QA on our application. I'm just wondering if there's a resolution for this, yet.
I have tried the things mentioned here:

https://stackoverflow.com/questions/2859790/the-request-was-aborted-could-not-create-ssl-tls-secure-channel

Relevant:
SendGrid client 9.9.0
C# .NE

[2018-08-12 19:51] dmbaker90 commented on #716
I'm new to SendGrid and don't really understand @andrewsc3  or @shdnx workarounds.  I am getting the **Substitutions may not be used with dynamic templating** error.  I have a Dictionary<string, string> of substitutions.  What do you do with that in the workaround?

For anyone else directed here, Legacy Transactional Templates appear to work fine for me.

[2018-08-13 22:20] Jericho opened #721 "Undocumented API changes"
The API documentation for retrieving all IPs in a specified pool says that the JSON returned by the API looks like this (notice the content of the `ips` property is an array of strings):

[code]

this was true at some point but it's no longer the case. The JSON is now different and unfortunately this doesn't seem to documented. What we are now observing is the following JSON (notice the content of

[2018-08-13 23:00] ksigler7 commented on #721
Hey @Jericho - this is a great catch, as always, thanks! This is documented incorrectly and I've added a backlog item to update this in our API docs (so I am going to close this issue here).

1. No. I am digging now to figure out how this slipped through the cracks, but I am fairly sure this is an anomaly.
2. We document all changes to the API here: https://sendgrid.com/docs/release_notes.html

[2018-08-13 23:00] #721 closed

[2018-08-14 01:32] thinkingserious commented on #716
Do you mind sharing the code that is giving you that error @dmbaker90?

[2018-08-14 11:54] kierenj commented on #521
Please :+1:

[2018-08-14 13:26] ivan-penchev opened #722 "Dynamic templates do not support dynamic subjects"
#### Issue Summary

I made a transacational email template (new version not legacy), which prompt me to add "Template Name && Email Subject).

After that I used the template, and everytime the EmailSubject I defined in the SendGrid's WebUI was used.
Regardless if I used or not used "SetSubject" method of SendGridMessage object.

So I put {{subject}} and tried to replace that using dynamic_template

[2018-08-14 13:35] ivan-penchev commented on #722
Boy did I jumped the horse on this one...
it was {{subject}} I was sending data for {{Subject}}

[2018-08-14 13:35] #722 closed

[2018-08-14 13:50] dziegler2 commented on #505
@thinkingserious the ticket number is 1593973

I was passed to second level support yesterday.

[2018-08-14 13:53] dmbaker90 commented on #716
Same issue and code as https://github.com/sendgrid/sendgrid-csharp/issues/712 which was closed and directed here.

[2018-08-14 18:54] thinkingserious commented on #521
Thanks for the vote @kierenj!

[2018-08-14 18:54] thinkingserious commented on #722
Thanks for taking the time to share the solution @ivan-penchev!

[2018-08-14 18:55] thinkingserious commented on #505
Perfect, hopefully L2 support will be able to assist.

[2018-08-14 23:49] SebGX commented on #716
Hi Elmer,

Firstly, hang in there; I don't envy you at this particular moment; we all appreciate the effort that you and your team are putting in. Secondly, what's the ETA on delivery for this item? It's a blocking issue for my team and we're going to make a decision to drop SendGrid as a service if the API clients aren't kept in sync--this isn't a reflection on you or your team but on SendGrid's

[2018-08-15 10:00] Pieter-1337 opened #723 "Transactional Templates not found by SendGridClient Only Legacy Templates are returned..."
I Set up a SendGridClient for a project in my company, I have a function which gets all the templates from my SendGridAccount and then picks the right one for a certain mail based on the name of the Template in the SendGridAccount. However SendGridClient only returns Legacy Templates but not the Transactional which I would like to use so I can utilize handlebars, if/else logic etc...

#### Steps t

[2018-08-16 19:34] guscar commented on #680
Hi, I was having the exact same problem and @xt0rted 's answer fixed it in my case, the emails now get sent.

Just thought I'd give you guys an update since the issue opener didn't respond any further.

[2018-08-16 20:11] Jericho commented on #716
@SebGX Rather than dropping SendGrid as a service because their C# client lags behind their API, I suggest you look at an alternative C# client: [StrongGrid](https://www.nuget.org/packages/StrongGrid/) (disclaimer: I'm the auhtor). StrongGrid is a client that covers 100% of SendGrid's API including sending emails using dynamic templates.

[2018-08-16 23:32] thinkingserious commented on #716
Hi @SebGX,

The failing is not on the product team, they would have certainly have liked our SDKs to be ready on day one of the release and I believe they made the correct decision to not delay the release on account of the SDK helpers not being available. The simple fact is that I just could not get it completed in time for launch. This issue was a lower priority item on my backlog given there is

[2018-08-17 07:40] AdTarling opened #725 "Substitutions not working when calling the API"
#### Issue Summary

I've created an Azuure function that calls a SendGrid template with expected substitutions, but no matter how I approach the substitution code (C# SendGrid library or JSON string) the email template either gets sent with empty substitutions or receives a Bad Request response.

#### Steps to Reproduce

This is the code that creates empty substitutions (JSON string approach):

[2018-08-17 09:52] AdTarling commented on #725
Ok, so this is because if you want to use 'dynamic_template_data' you need to mark the templates up with handlebars notation, ie {{Firstname}}, but only specify the variable in the json string, ie Firstname.

[2018-08-17 09:52] #725 closed

[2018-08-17 12:52] ChrisASearles commented on #716
@thinkingserious I think the primary issue is that the docs weren't updated to reflect the fact that the new templates weren't yet supported. At the same time, the old templates were moved to "Legacy" status, indicating to all users that those templates should be deprecated in favor of the new version.

Had there at least been some documentation to that fact prior to the release of the new templat

[2018-08-17 19:16] soccerwiz13 opened #726 "X-Message-ID missing from response header"
#### Issue Summary

When we send email using the V3 end point in sendgrid C# library, we do not get the message ID in the response. Our response header looks like this:
Connection: keep-alive
Access-Control-Allow-Origin: https://sendgrid.api-docs.io
Access-Control-Allow-Methods: POST
Access-Control-Allow-Headers: Authorization, Content-Type, On-behalf-of, x-sg-elas-acl
Access-Control-Max-Age: 600

[2018-08-20 10:02] DavidShukvani commented on #726
Hi, I think I have similar issue while trying to send from a transactional template :

BadRequest
Connection: keep-alive
Access-Control-Allow-Origin: https://sendgrid.api-docs.io
Access-Control-Allow-Methods: POST
Access-Control-Allow-Headers: Authorization, Content-Type, On-behalf-of, x-sg-elas-acl
Access-Control-Max-Age: 600
X-No-CORS-Reason: https://sendgrid.com/docs/Classroom/Basics/API/cors.h

[2018-08-20 11:48] DavidShukvani opened #727 "BadRequest X-No-CORS-Reason when sending transactional template mail, substitutes are causing failure"
#### Issue Summary

I am trying to send a transactional template mail to recipient, but get **bad request** error.
When I am removing the substitutes it's working, otherwise no

#### Steps to Reproduce

BadRequest
Connection: keep-alive
Access-Control-Allow-Origin: https://sendgrid.api-docs.io
Access-Control-Allow-Methods: POST
Access-Control-Allow-Headers: Authorization, Content-Type, On-behalf-o

[2018-08-21 00:40] thinkingserious commented on #716
Hello Everyone!

Python support was just released today, so now this SDK is at the top of our list. Thanks for your patience, this one should be launched soon :)

@SebGX @ChrisASearles,

Thanks for the continued conversation, your feedback matters to us and we read and consider it all.

Today we have expanded our DX (Developer Experience - we are responsible for these SDKs) team (w00t!) and we are

[2018-08-21 00:41] thinkingserious commented on #725
Hi @AdTarling,

Please [see this issue](https://github.com/sendgrid/sendgrid-csharp/issues/716) for progress on the addition of a helper for this functionality.

With Best Regards,

Elmer

[2018-08-21 01:00] thinkingserious commented on #726
Hello @soccerwiz13,

You are correct, that header should be present. I am currently in the process of updating the SDK to support #716, I'll look into a fix for this while I'm doing that.

Hello @DavidShukvani,

I believe [this is the solution](https://github.com/sendgrid/sendgrid-csharp/issues/716) to your issue.

With Best Regards,s

Elmer

[2018-08-21 01:01] thinkingserious commented on #727
Hello @DavidShukvani,

Please see [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/716) for a solution. The `X-No-CORS-Reason` is an expected header.

With Best Regards,

Elmer

[2018-08-21 01:01] #727 closed

[2018-08-21 13:47] puco commented on #716
@thinkingserious Why don't you throw your weight behind https://github.com/swagger-api/swagger-codegen to get rid of these issues. We would get the benefit of up-to-date client libraries, clear API definitions exposed in open/standard way and swagger might get some help with improving their tooling if you are missing something. I know it might require support from other teams and SendGrid (after a

[2018-08-21 15:28] thinkingserious commented on #716
Hello @puco,

Thanks for taking the time to provide some feedback!

We use an in-house [code generator](https://sendgrid.com/blog/stoplight-io-to-test-api-endpoints/) for much of this library (which we will be open sourcing at some point) which utilizes our [OpenAPI specification](https://github.com/sendgrid/sendgrid-oai). However, I believe that's only one aspect of the SDK implementation. Once y

[2018-08-21 17:37] #365 closed

[2018-08-21 17:42] #606 closed

[2018-08-21 17:46] #619 closed

[2018-08-21 20:54] DavidShukvani commented on #716
When should we be expecting the bug-fixes on C#? in a week? 10 days? If it's that I will wait otherwise I will go with some workarounds.

Thanks!
BR,
David

[2018-08-21 20:56] thinkingserious commented on #716
Hi @DavidShukvani,

While I can't make any promises, if all goes well with respect to the time I get to spend on this I'm hoping to have this done in less than a week.

Thanks for your patience!

I'm actually working on it right now, answering issues/comments between builds :)

With Best Regards,

Elmer

[2018-08-21 21:03] #622 closed

[2018-08-21 21:22] #536 closed

[2018-08-21 21:27] thinkingserious commented on #697
Fixed by #702

[2018-08-21 21:27] #697 closed

[2018-08-21 21:53] thinkingserious commented on #353
@kostyaHrytsyuk,

I see your fix [here](https://github.com/kostyaHrytsyuk/sendgrid-csharp/commit/54e6a77867f58b2ac5a6d83dde990721cd14ee84) but I don't see a PR on our end.

With Best Regards,

Elmer

[2018-08-22 11:34] jitu027 opened #728 "I used this code for stats of each email of a category."
I used this code for stats of each email of a category.

The same code was working completely fine previously but stopped working last week. We have not made any changes to this code.

now its return Internal server error.
#########################################
string UrlEncode = "";
                var client = new SendGridClient("****");
                if (!string.IsNullOrEmpty(Purl))

[2018-08-22 20:35] thinkingserious commented on #728
Hi @jitu027,

Could you please retrieve the underlying [error message](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#error)?

Thanks!

With Best Regards,

Elmer

[2018-08-23 03:54] jitu027 commented on #728
Hi Elmer,

Thanks for your reply, I have already mentioned in the earlier mail we are getting error as **500  Internal server error.**

[2018-08-23 08:53] jitu027 commented on #728
Hi Elmer,

This is getting critical Elmer. I have 1500+ users who need that important
feature.

And I am not getting sufficient support to get this sorted.

Please figure out something ASAP Elmer.

Please HELP!!!

On Thu, Aug 23, 2018 at 2:06 AM Elmer Thomas <notifications@github.com>
wrote:

--
Best Regards,

Jitendra Kumar, Software developer
M:+91-9811944557 | p: 011-65153281
E: jitendra.thakur

[2018-08-23 10:29] z8rasmus opened #729 "Unstable substitution"
#### Issue Summary

Using this library to send personalized e-mails through SendGrind has proven to be a little unstable.
I'm using the code below to send a welcome email containing firstname and a verificationlink.

sometimes it works, both fields are updated in the e-mail but very often these fields are empty.
My log confirms that data is always present and set in the method.

Is there a problem

[2018-08-23 11:18] scgough commented on #716
Hi all - based on @shdnx 's post above I'm doing the following but it's not working :/
The mail sends but substitution tags aren't replaced in the dynamic template.

For example, in my mail content I have the tag `-testsub-`

I run the following over my SendGrid message object:
[code]

This gives me `messageJSON` value of:
[code]

I send using: `var response = await sendGridClient.RequestAsync(Sen

[2018-08-23 11:35] shdnx commented on #716
@scgough `dynamic_template_data` is only applicable when you use the new dynamic transactional SendGrid templates, which work with Handlebars.js. Your data `-testsub-` is invalid because of that, I imagine. `testsub` is valid, but in the template you have to have `{{testsub}}` to get that replaced. Read up on Handlebars.js and the SendGrid documentation.

Also, saying "it's not working" without pr

[2018-08-23 11:39] scgough commented on #716
@shdnx - apologies but there is no error message. My mail comes through but the substitutions aren't made. From an API POV the 'send' is a success.

I will look at the handlebar syntax as this could well be a key factor in to why I'm having issues.

[2018-08-23 11:48] avelinocanha-cloudware opened #730 ".net core 2.1 Personalizations with Substitutions"
#### Issue Summary

When I try to send an email using a template, and I add a Personalizations field with Substitutions, the response is always BadRequest.
When I comment the Substitutions dictionary it works. It doesn't work even if the Substitutions dictionary is empty.

#### Steps to Reproduce
            var client = new SendGridClient(apiKey);
            var msg = new SendGridMessage()

[2018-08-23 13:12] thinkingserious commented on #728
Hello @jitu027,

What happens when you try the following:

[code]

What do you see in your console? The output of this line `Console.WriteLine(response.Body.ReadAsStringAsync().Result);` should contain the underlying error message.

Another tool to help debug is our [interactive docs](https://sendgrid.com/docs/API_Reference/api_v3.html). Try making your API call from there to rule out the SDK.

Wi

[2018-08-24 13:58] avdhoota opened #731 "CC email issue while sending in Bulk"
Hi team,

I am using sendgrid to send emails in Bulk.
For ex. I am sending an email to 100 users with substitutions in a personalization object. So I am adding 100 personalization object to sendgrid mail object. So with each personalization object, I'm adding CC email id.
Now users who are in To, getting the email properly, but the user who is CCed gets only one email. Here my requirement is like

[2018-08-24 21:55] sarahannnicholson commented on #711
I believe the issue is that the Legacy templates used to support personalization/substitutions.

Do the new Transactional templates support the same feature? I don't see it in the docs anywhere.

[2018-08-27 18:45] bhanodai commented on #716
Any updates on the this??

[2018-08-28 15:31] DrMeloMoney commented on #730
Hi there,

I have a feeling that you're using the new Dynamic Templates which don't take Substitutions but rather Dynamic_Template_date. Here's a doc on how to send emails with Dynamic Templates. [Link here](https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/)

Thanks,
Zach

[2018-08-28 15:38] DrMeloMoney commented on #731
Hi there,

In order to get the 100 CCs for the 100 emails that you're sending, you'll want to add the CC in the Personalizations for each email. If you add the CC'd email globally, outside the personalization block, there will only be one email sent. Here is our documentation that might help. [Link here](https://sendgrid.com/docs/for-developers/sending-email/personalizations/) Let me know if you h

[2018-08-28 22:41] thinkingserious commented on #711
Thanks for helping out @sarahannnicholson!

[2018-08-28 22:43] thinkingserious commented on #711
@sarahannnicholson,

Please follow [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/716) for progress. Thanks!

[2018-08-28 22:43] #711 closed

[2018-08-28 23:08] thinkingserious commented on #716
I'm currently working on this.

[2018-08-29 06:53] avdhoota commented on #731
Hi Zach,

Thanks a lot for your reply. As you said I am adding CC email to each personalization object but the email id will be same for each object. can that be a problem?

here is my code,

            foreach (var addressPlusReplacements in BulkMessage.BodyReplacements)
            {
                if (IsValidEmail(addressPlusReplacements.Key.Address))
                {
                    Sen

[2018-08-29 07:47] avdhoota commented on #731
I have tried this too,

			foreach (var personalization in sendGridMessage.Personalization)
			{
				personalization.AddCc(new SendGrid.Helpers.Mail.Email("xxx@gmail.com"));
			}

Still, I'm getting single email only.

[2018-08-29 17:45] thinkingserious commented on #730
Hello @avelinocanha-cloudware,

Please see [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/716) for progress. Thanks!

With Best Regards,

Elmer

[2018-08-29 17:45] #730 closed

[2018-08-29 17:49] DrMeloMoney commented on #731
Hi there,

Thanks for sending that over. If you're CC'ing to the same email address, many ESPs like Gmail will dedup emails that have the same message_id. So when you send these emails in one batch, they will all have the same message_id, which will cause the ESP to dedup the emails. Let me know if you have any additional questions.

Thanks,
Zach

[2018-08-30 11:01] #708 closed

[2018-08-31 05:46] jmevel commented on #266
Hello.
I see this is still a "work in progress" since March 2nd.
Do I need to create a custom implementation of this in my project or could we expect it to arrive soon in a near-coming version of SendGrid?

Thank you

[2018-08-31 11:47] Pieter-1337 commented on #716
Any updates on this matter. I am need of using Dynamic Template data on objects etc.. and not just on strings, integers etc... Any timeframe to where we can expect support for this matter?

[2018-09-04 12:08] JnanaPrakash opened #732 "System.IO.IOException: Unable to read data from the transport connection: The connection was closed"
#### Issue Summary

This issue was not coming before .
 var client = new SendGridClient(ConfigurationManager.AppSettings["ApiKey"]);
_client.SendEmailAsync(message);_// Error is raising here

### Stack Trace

System.AggregateException: One or more errors occurred. ---> System.Net.Http.HttpRequestException: Error while copying content to a stream. ---> System.IO.IOException: Unable to read data fro

[2018-09-04 12:09] JnanaPrakash commented on #732
sometime its getting success and most of the time its failing

[2018-09-04 19:50] matheusdelre opened #733 "Problem"
Good afternoon,

I'm trying to use sendgrid, but whenever I try to use a personalization I can not send, but when I remove the personalization I send it normally:

`

        var client = new SendGridClient(apiKey);

        var msg = new SendGridMessage()
        {
            From = new EmailAddress("noreply@easysistema.com", "Equipe Easy"),
            Subject = subject,
            TemplateId

[2018-09-05 09:54] Seekeer opened #734 "SendGrid C# API template substitution issue"
I got transaction template with following subject: `Request at {{receiveDate}}`. But I couldnt send substitution to it.

I am trying following code:

             var msg = new SendGridMessage { };
            msg.From = new EmailAddress(emailFrom.Address.ToLower(), emailFrom.DisplayName);
            msg.AddTo(new EmailAddress("testtest@gmail.com"));
            msg.AddSubstitution("{{receiveDate

[2018-09-05 11:54] Leeemons commented on #734
@Seekeer look at issue   #716

[2018-09-05 12:47] matheusdelre commented on #716
Any news on the subject?

[2018-09-05 18:38] thinkingserious commented on #652
Fixing with the next release shortly.

[2018-09-05 18:38] #652 closed

[2018-09-05 18:39] thinkingserious commented on #679
Please see issue #648.

[2018-09-05 18:39] #679 closed

[2018-09-05 18:40] #692 closed

[2018-09-05 18:47] thinkingserious commented on #698
Hello @myahl,

The reference document you linked to is with respect to our SMTPAPI. For the Web API, please see [this reference](https://sendgrid.com/docs/api-reference).

Thanks!

With Best Regards,

Elmer

[2018-09-05 18:47] #698 closed

[2018-09-05 18:48] thinkingserious commented on #714
Hello @andrelmp,

I believe this issue is now fixed at the API level. Please let us know if you continue to experience any issues.

With Best Regards,

Elmer

[2018-09-05 18:48] #714 closed

[2018-09-05 21:00] #716 closed

[2018-09-05 23:20] alacardnightmare commented on #726
Hi @thinkingserious

Has there been any update on this?

[2018-09-05 23:31] thinkingserious commented on #266
Hello @jmevel,

So far, there has not been a PR submitted, but I marked it as work in progress because two people on this thread offered to submit a PR.

Beyond that, it may be a while before we implement this internally as it's not too high on our backlog right now.

My suggestion, if this is time sensitive, is for you to create a custom implementation, or if you are up to it, create a PR here.

[2018-09-06 02:02] jmevel commented on #266
Hello,

Thanks for your reply @thinkingserious.
My task on writing an email component at my job has been postponed for the moment.

When time comes I will create a custom implementation then and I'll see if this could lead me to a PR in SendGrid repo or not...

Regards

[2018-09-06 09:10] saurabhrajguru opened #736 "The template_id must be a valid GUID"
#### Issue Summary

I have simple code like below to set template ID for and send the email.

` var sendGridMessage = new SendGridMessage
            {
                TemplateId = sendGridTemplateID
            };`

I am getting following error on the function "SendEmailAsync" function.

#### Technical details:

* sendgrid-csharp Version: 9.9.0
* ASP.NET Core,

[2018-09-07 02:08] shervinw commented on #716
Hours lost following docs! What is the recommendation?

[2018-09-07 08:03] Seekeer commented on #734
@Leeemons as far as I understand its about dynamic templates. But I want to use templates created on server.

[2018-09-07 10:54] ilFusta commented on #634
Hello,
Any news about this?

[2018-09-08 15:41] joeshepherdmba opened #737 "CreateSingleTemplateEmailToMultipleRecipients in MailHelper not available"
#### Issue Summary

I am trying to create a single email to multiple recipients using a transaction template. The method for doing this in the MailHelper class does not show up in my code base. None of the Create Template methods show up.

#### Steps to Reproduce

1. Get a reference to the MailHelper class
2. Create a new msg object and call MailHelper. => only the non-template methods are availab

[2018-09-09 17:12] Jericho commented on #655
@thinkingserious I have been patiently waiting for 8 months and there is still no progress. As far as I know, nobody in the engineering team has looked at this case or investigated it. Every time I speak up and ask for help or for an update, I am told that my case is low priority and an engineer will look into it whenever their schedule allows it. I have a hard time believing that nobody has had a

[2018-09-09 17:28] Jericho commented on #685
Has anybody looked at my feedback?

@ksigler7 : I notice that the documentation issues I highlighted still haven't been fixed.

[2018-09-10 11:30] saurabhrajguru commented on #736
Closing issue.
TemplateId is case sensitive.

[2018-09-10 11:30] #736 closed

[2018-09-10 14:36] ksigler7 commented on #685
@Jericho - yep. It's still in our backlog :) Thanks for checking in about it though.

[2018-09-10 14:36] #685 closed

[2018-09-10 14:37] ksigler7 commented on #685
(closing since this isn't feedback directly on the C# library)

[2018-09-10 17:26] jmichas opened #738 "Can you send HTML in the dynamic template data"
#### Issue Summary

I'm currently using the workaround for sending template data to the API and it seems to be working fine. The only thing I can't figure out is how I can send an HTML fragment as a substitution.

#### Steps to Reproduce

So, I am using this as part of my email service:

[code]

Before that I set the substitutions which will be converted to the dynamic_template_data.
If I use some

[2018-09-10 18:02] kylearoberts commented on #738
Hi @jmichas

What you want to do is change your content from using `{{content}}` to `{{{content}}}`. We have an example of this in our docs [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/#replacement-with-html).

- [Source](https://handlebarsjs.com/)(HTML Escaping)

Please let us know if this does not work for you.

[2018-09-11 18:19] DrMeloMoney commented on #733
Hi there,

When sending with Dynamic Templates, you'll have to use the parameter ``dynamic_template_data`` for all substitutions and Handlebar logic. If you're using the Legacy Templates, you can use the above call. Here is our documentation on using Dynamic Template Data.

https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/

[2018-09-12 14:26] AndrewTziAnChan opened #740 "'SendGridMessage' does not contain a definition for 'SetTemplateData'"
When attempting to my compile project, I get the following error output.

'SendGridMessage' does not contain a definition for 'SetTemplateData' and no extension method 'SetTemplateData' accepting a first argument of type 'SendGridMessage' could be found (are you missing a using directive or an assembly reference?)

I used the sample for the new transactional templates using a mail helper class in

[2018-09-13 06:52] HindoliyaYogesh commented on #740
Getting the same issue.
If the changes have not yet been served through NuGet yet, is there a timeline on the same?

Cheers,

[2018-09-13 11:28] deivid321 commented on #716
Following. Is there any date for the fix?

[2018-09-13 13:15] thinkingserious commented on #716
Hello @deivid321,

The update is live in release 9.10.0.

Thanks!

With Best Regards,

Elmer

[2018-09-13 13:19] thinkingserious commented on #740
Hello @AndrewTziAnChan, @HindoliyaYogesh

Please try version 9.10.0.

Thanks!

With Best Regards,

Elmer

[2018-09-13 13:59] deivid321 commented on #716
Thanks, are there any examples how to use substitutions on c#? Currently my tests fail when I try to use it like this:
[code]

[2018-09-13 14:54] thinkingserious commented on #716
Hi @deivid321,

[Here](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates) you go. I hope that helps!

With Best Regards,

Elmer

[2018-09-13 15:43] sachkr commented on #339
This should be fixed as this is must feature.

[2018-09-13 20:08] kspearrin commented on #499
@thinkingserious Never got my swag :-(

[2018-09-13 23:11] thinkingserious commented on #732
Hello @JnanaPrakash,

This looks like a networking issue. Does your application utilize other external services? If so, are they periodically failing also?

If not, I would suggest you reach out to our [support](https://support.sendgrid.com) for further assistance.

With Best Regards,

Elmer

[2018-09-13 23:14] thinkingserious commented on #726
Hello @alacardnightmare,

Could you please try v9.10.0 and see if the issue persists?

With Best Regards,

Elmer

[2018-09-13 23:15] thinkingserious commented on #266
Thanks @jmevel!

[2018-09-14 14:18] da1rren commented on #266
The problem with creating a pull request is simply that .net core 1.0 does not contain System.Net.Mail.MailMessage.  Which is the minimum version of .net core the SendGrid client currently supports.

I don't know of a nice way of including the helper method.  Until send grid drops support for .net core 1.0 & 1.1.  Aside from some nasty if def stuff.

[2018-09-14 15:27] Niladri24dutta commented on #737
@joeshepherdmba most probably you are looking for `CreateSingleTemplateEmailToMultipleRecipients` method of the `MailHelper` class which accepts templateid and dynamic data for dynamic templates . But this method was added as part of version 9.10.0 which is the current version. So you need to upgrade your SDK version to 9.10.0.

@thinkingserious  There seems to be a small typo in the changelog for

[2018-09-14 15:32] thinkingserious commented on #737
Good catch @Niladri24dutta and thanks for helping out!

Yes, a PR would be nice :)

[2018-09-14 15:37] Niladri24dutta commented on #737
ok I will submit a PR for this

[2018-09-14 20:19] Niladri24dutta commented on #737
@thinkingserious  here is the PR #741

[2018-09-15 01:36] thinkingserious commented on #734
Hello @Seekeer,

Please upgrade to version 9.10.0 of this SDK and see [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates).

Thanks!

With Best Regards,

Elmer

[2018-09-15 01:39] thinkingserious commented on #634
Hello @ilFusta,

I don't have any news on this feature yet, but due to your request I have asked for an update and will respond here when I learn more. Thanks for reaching out!

With Best Regards,

Elmer

[2018-09-15 01:59] thinkingserious commented on #655
Hello @Jericho,

I have put in a request for a review and I will update you here once I learn more. And thanks for your patience, I'm sure the slow turn around must be painful and I hope we can find a resolution.

With Best Regards,

Elmer

[2018-09-15 02:12] #738 closed

[2018-09-15 02:18] thinkingserious commented on #733
Hello @matheusdelre,

Please update this SDK to version 9.10.0 and see [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates).

Thanks!

With Best Regards,

Elmer

[2018-09-15 07:37] KoditkarVedant commented on #328
Hello @thinkingserious, I would like to contribute on this issue/enhancement. If I understand the requirement correctly, we need to implement the inbound helper same as the one implemented [here](https://github.com/sendgrid/sendgrid-python/tree/master/sendgrid/helpers/inbound). (it should be a deployable webhook handler).

Looking at the python code it looks like an example than a helper (which ca

[2018-09-17 08:46] deivid321 commented on #716
Hi @thinkingserious ,

Thanks! That helped a lot.

Regards,
Deivydas

[2018-09-17 16:09] bmeredith opened #742 "Mismatching dependencies between csproj and nuspec"
I was excited to see #601 was merged into v9.10.0. Although it looks like the nuspec that is being used has an old set of frameworks and dependencies, which brings it back to the same point as previous in #601 + different target frameworks being used between the nuspec and csproj.

Based off of the current csproj:
* net40 target framework has returned
* net452 target framework is missing
* System.

[2018-09-17 17:31] #726 closed

[2018-09-17 17:32] thinkingserious commented on #742
Thanks for catching that @bmeredith!

Do you mind creating a PR against the nuspec file so I can get this right once and for all?

If not, please give me a moment and I'll make a PR and check with you for a review. Thanks!

With Best Regards,

Elmer

[2018-09-18 19:42] jasturgill opened #744 "Update Newtonsoft.Json dependency version"
Are there plans to update this package to use more recent versions of the newtonsoft.json package?  It fails if any version above 9.0.1 is installed.

[2018-09-18 21:32] thinkingserious commented on #339
Thanks for the additional vote @sachkr!

[2018-09-18 21:34] thinkingserious commented on #499
Hello @kspearrin,

Could you please send us an email at dx@sendgrid.com referencing this issue so we can dig in and see what went wrong?

Thanks!

With Best Regards,

Elmer

[2018-09-18 22:56] thinkingserious commented on #266
Hi @da1rren,

Thanks for bringing your expertise to the conversation! Perhaps, we just have to get nasty in this case, as I don't see us dropping support for 1.0 & 1.1 :)

With Best Regards,

Elmer

[2018-09-18 23:01] thinkingserious commented on #328
Hello @KoditkarVedant,

Your understanding is correct.

Additionally, I believe this should be implemented within a Docker container. And I don't think it should be packaged up as part of this library though. It should be a stand-alone service.

The [StrongGrid SDK](https://github.com/Jericho/StrongGrid#parser) has an implementation for reference.

With Best Regards,

Elmer

[2018-09-20 17:38] thinkingserious commented on #634
Hello @Jericho @ilFusta,

I've done some investigation and found that our current stance is that it's preferable to use API Keys for this purpose since each key's permissions can be fine-tuned. Is there a use case where that would not work for you?

With Best Regards,

Elmer

[2018-09-21 12:47] ilFusta commented on #634
Thanks @thinkingserious

It's ok for me, it just need some more configuration to setup different api keys, but actually you are right, it's more secure and can be better tuned.

Thank you.

[2018-09-21 13:11] da1rren commented on #266
I have a plan.   Will fork and take a look at the weekend.  It might not be nearly as bad as I would think.

[2018-09-21 14:59] Jericho commented on #634
I'm just curious why SendGrid when to the trouble of allowing us to execute several API calls 'on behalf of' but not this one. If the logic is that it's more secure, then why is it not more secure for the other calls? I just don't understand the lack of consistency.

[2018-09-23 10:28] KoditkarVedant commented on #328
Hello @thinkingserious,

Is there any repository you can point me to use to create branch from and PR against or should I create the repository myself?

Thanks,
Vedant

[2018-09-25 18:25] Muskan-14 opened #745 "Unable to send multiple emails in BCCs using Sendgrid API for C#"
#### Issue Summary

Hi,
I am working on a ASP.NET Core WebAPI where I am using SendGrid to send emails. Earlier, I was able to use the helper class CreateSingleEmail to send a single mail to a single recipient.
Now, I wish to send the same email to multiple recipient in BCC so, the recipients are not able to see the other recipients.
I have gone through many documentation on this issue and even th

[2018-09-25 18:27] Muskan-14 commented on #745
@thinkingserious , could you please look into this?
Thanks in advance!

[2018-09-26 00:51] Muskan-14 commented on #745
@DrMeloMoney

[2018-09-27 04:57] jer-tx commented on #660
As a follow up to the original question, what if we need to sent to multiple thousands of people a data-driven email? Like a usage summary? We send weekly summary emails detailing what the user did for the past week (we're a fitness platform) so this includes very user-specific data like workout count, steps count, calories etc. Is there a way to do this with sendgrid to several thousand or more a

[2018-09-27 15:35] AndrewTziAnChan commented on #740
Issue has been addressed. Thank you.

[2018-09-27 15:35] #740 closed

[2018-09-27 16:06] AndrewTziAnChan opened #747 "Email subject with non-letter-or-digit characters"
Using transactional templates, when I try to set the subject to have something with a non-letter or non-digit character, the character seems to be transformed into some sort of markup.

If the subject is "Here's the subject", the e-mail will be sent to the recipient as "Here&apos;s the subject". How are e-mail subjects like these supposed to be formatted?

[2018-09-27 16:48] thinkingserious commented on #747
Hello @AndrewTziAnChan,

Please try using triple {'s in your template. For example: {{{ Here's the subject }}}.

Thanks!

With Best Regards,

Elmer

[2018-09-27 17:02] AndrewTziAnChan commented on #747
Great. That work.

[2018-09-27 17:02] #747 closed

[2018-09-28 02:08] thinkingserious commented on #744
Now there is :)

Thanks for bringing this to our attention.

[2018-09-28 03:27] thinkingserious commented on #634
HI @Jericho,

I believe those other calls were implemented as one-off requests for specific use cases.

My guess is that the mail/send endpoint probably warrants additional security considerations and implementing this feature on that endpoint is not as high of priority vs the rest of the items on our backlog.

With Best Regards,

Elmer

[2018-09-28 03:36] thinkingserious commented on #328
Hi @KoditkarVedant,

Please [check this repo](https://github.com/sendgrid/hacktoberfest) on October 1rst. At that time we will be thinking through how to handle these types of projects.

Currently, I'm not sure if we should just include the code in this repo or create a new repo.

With Best Regards,

Elmer

[2018-09-28 19:17] Niladri24dutta commented on #745
@Muskan-14 if the requirement is to send a single email to multiple recipients (with the condition that the the users can't see other recipients) then you can use the overloaded `CreateSingleEmailToMultipleRecipients` method from the MailHelper class. It has a parameter named `showAllRecipients` which controls whether the recipients will be able to see each other. But in this case the recipients w

[2018-09-28 20:17] Muskan-14 commented on #745
@Niladri24dutta, I had tried the sale using this helper class but the recipients could still see the others in the mail.
I did not know about the showAllRecipients parameter. I will explore that and get back to you on this.
Thank you for bringing this to my notice.

[2018-09-29 02:27] #737 closed

[2018-09-29 02:28] #731 closed

[2018-10-01 19:58] thinkingserious commented on #660
Hello @jer-tx,

I suggest you reach out to our [support team](https://support.sendgrid.com) for the latest best practices.

With Best Regards,

Elmer

[2018-10-01 21:01] abhilashabhatia commented on #716
I can't get the Subject to work. Does it has to be part of the dynamicTemplateData key in Node?

[2018-10-02 04:57] thinkingserious opened #749 "Update integration tests to utilize StopLight.io's Prism version v2.X"
#### Issue Summary

We use a mock server for integration/contract testing that is driven by our OpenAPI specification and StopLight.io's Prism service. The service is spun up utilizing the prism.sh script in this repo.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* we a

[2018-10-02 05:01] thinkingserious opened #750 "Create helper methods for the /contactdb endpoint"
#### Issue Summary

Please see `USE_CASES.md` for current example of existing helper methods.

You may find simple example code for all of the `/contactdb` endpoint functionality in the `USAGE.md` file under `CONTACTDB` in the Table of Contents. Complete interactive documentation can be found [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

Before writing any code, we suggest you revi

[2018-10-02 11:03] petero-dk commented on #54
I have this issue with ÆØÅ in Xamarin projects on Android (have not tested with iOS). I am testing the solution from @markbarkell this moment. I do not know if I can take out a sample to test, but I thought it would be prudent to inform that with ÆØÅ in the file name no attachments are delivered, while without we experience no problems. And differentiating from the sample above we are on Xamarin.

[2018-10-02 20:46] thinkingserious commented on #745
Thanks for helping out @Niladri24dutta!

[2018-10-03 04:12] thinkingserious commented on #716
Hello @abhilashabhatia,

Please see [this](
https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional-templates) example. I hole that helps!

With Best Regards,

Elmer

[2018-10-03 06:32] Muskan-14 commented on #745
@Niladri24dutta , Your suggestion to use the helper class was very useful. Thank you for your help.
Furthermore, @thinkingserious @Niladri24dutta

Is it possible to send a different message in the body in some manner? With my mail, I would simply like to personalize the mail for the respective users by their username in the mail and would prefer that one recipient should not be able to view the ot

[2018-10-03 13:20] thinkingserious opened #752 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-03 19:54] Gimly commented on #752
I've started working on this, in the PR #753. It's probably not complete, but it adds a deploy phase that should be able to deploy correctly the package to NuGet. Tell me if that's sufficent or if you need more.

[2018-10-03 21:07] thinkingserious commented on #54
Thanks for the heads up @petero-dk! If @markbarkell's solution does not work for you, please create a new issue in this repo.

With Best Regards,

Elmer

[2018-10-03 21:34] Gimly commented on #750
I started working on adding helper methods. I wanted to add methods for all actions possible on the Contacts API, but didn't want to overload the `ISendGridClient` with tons of methods, so I created a `IContactDbClient` that will be created by the `ISendGridClient`. This new interface contains all methods for the contacts API.

I've pushed the beginning of my work on my branch (https://github.com/

[2018-10-04 13:17] thinkingserious opened #755 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-04 19:08] petmat commented on #755
I'd like to take a look at this, if it's ok!

[2018-10-04 21:13] thinkingserious commented on #745
Hi @Muskan-14,

Perhaps our [transactional templates](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates) is what you need.

With Best Regards,

Elmer

[2018-10-04 21:13] #745 closed

[2018-10-05 05:43] #707 closed

[2018-10-05 14:17] thinkingserious opened #756 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 14:32] thinkingserious commented on #750
What do you think about moving `ContactDbHelper.cs` and `IContactDbHelper.cs` to the /Helpers/ContactDb directory?

Eventually we want to create helpers for all 240+ endpoints and I'm thinking about how to best organize this.

Thanks for the work so far!

[2018-10-05 14:36] danimart1991 commented on #756
I take this task if you want. 😉

[2018-10-05 14:54] thinkingserious commented on #756
Thank you @danimart1991, it's all yours!

[2018-10-05 18:00] danimart1991 commented on #631
Are all these build warnings issues is still open?

[2018-10-05 20:11] Gimly commented on #750
@thinkingserious Sure, definitely makes sense. I'll do that. You also think `IContactDbHelper` is a better naming that `IContactDbClient`? If so, I'll rename the classes.

I'll continue working on that the next few days, quite some work 😄, you're welcome.

[2018-10-06 04:13] girishbaviskar commented on #620
hey can i work on this?

[2018-10-06 14:20] thinkingserious opened #759 "Update documenation for retrieving a list of all templates (dynamic & legacy)"
#### Issue Summary

Please update the `USAGE.md` and corresponding `\example` with the call to list all templates.

This is the API call required: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

#### Acceptance Criteria

* The Usage.md file demonstrates how to use this API call to retrieve all templates: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic
* T

[2018-10-06 14:27] thinkingserious commented on #759
Specifically these locations:
https://github.com/sendgrid/sendgrid-csharp/blob/master/USAGE.md#get-templates
https://github.com/sendgrid/sendgrid-csharp/tree/master/examples

Thanks!

[2018-10-06 14:52] thinkingserious opened #760 "Throw an exception if a template ID does not exist in your request body"
#### Issue Summary

You will not receive an error from the API is you send an email with the wrong template. Instead you will get a "Not Delivered" notice in your email activity feed. We want to make that experience better by throwing an exception in the code instead.

This issue is inspired by [this](https://github.com/sendgrid/sendgrid-go/issues/255).

#### Acceptance Criteria

* Use [the API](h

[2018-10-06 15:04] Jerrgree commented on #760
I'll work on this

[2018-10-06 18:50] arshadkazmi42 opened #761 "Fix broken link in TROUBLESHOOTING.md"
#### Issue Summary

Following links are broken in [TROUBLESHOOTING.md](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#testing-v3-mailsend-calls-directly)
- v3 send email example link is broken

[2018-10-06 18:51] arshadkazmi42 commented on #761
working on it

[2018-10-06 22:48] tony-ho commented on #759
@thinkingserious I'll take this one.

[2018-10-07 16:12] thinkingserious opened #765 "Create a Dockerized event webhook consumer"
#### Issue Summary

SendGrid has an [Event Webhook](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) which posts events related to your email activity to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and save) their event webhooks.

#### Acceptance Criteria

* A folder which contains a Do

[2018-10-07 16:18] thinkingserious opened #766 "Create a Dockerized email inbound parse webhook consumer"
#### Issue Summary

SendGrid has an [Email Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Parse_Webhook/inbound_email.html) which posts data from a specified incoming email address to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and complete some action) their inbound parse webhooks.

###

[2018-10-08 20:29] thinkingserious opened #768 "Document the difference of using three brackets vs two brackets with a template and throw or log an error when used improperly"
#### Issue Summary

Our templates use the handlebars.js syntax as documented [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/). When including the characters ', " or & in a subject line replacement you need to use three brackets vs two ( {{{ content }}} vs {{ content }} ).

#### Acceptance Criteria

* Documentation of this functionality in the use cases section (transactional te

[2018-10-08 20:46] thinkingserious opened #769 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-09 02:45] Bharat123rox opened #771 "The link in About section of README.md redirects to an email and not an actual list of developers"
#### Issue Summary

The link in About section of README.md redirects to an email and not an actual list of developers

#### Steps to Reproduce

1. Click on the Developer Experience Team hyperlink in README.md, which will redirect to an email, probably not the intended behaviour

PR #767 fixes this.

#### Technical details:

* sendgrid-csharp Version: master (latest commit: [commit number])
* Platf

[2018-10-09 05:42] mattstates commented on #769
Created PR, https://github.com/sendgrid/sendgrid-csharp/pull/772.

Thanks,
Matt

[2018-10-09 07:51] 1886 opened #773 "Library won't send on my production server"
#### Issue Summary

I can send emails locally and when I deploy to Azure however when I deploy to my production windows box (not hosted on azure) they wont send.

As a test I tried to print client.Version on a label and I get this error

[MissingMethodException: Method not found: '!!0[] System.Array.Empty()'.]
   SendGrid.SendGridClient.InitiateClient(String apiKey, String host, Dictionary`2 reque

[2018-10-09 16:23] thomaslevesque opened #774 "Return HttpResponseMessage instead of SendGrid.Response"
#### Issue Summary

APIs like `SendGridClient.SendEmailAsync` return a custom `SendGrid.Response` object, which is [built entirely from a `HttpResponseMessage`](https://github.com/sendgrid/sendgrid-csharp/blob/5573443aa3dfa34dddac45ddc50f8c1921860e13/src/SendGrid/SendGridClient.cs#L192). The problem is that this custom `Response` class brings absolutely no value; there's nothing in it that wasn't

[2018-10-09 16:27] Jericho commented on #774
If you are looking for a library that properly parses responses returned from the SendGrid API (and throws exceptions whenever a non-success response is received), I suggest you look at [StrongGrid](https://www.nuget.org/packages/StrongGrid/). (disclaimer: I'm the author)

[2018-10-09 16:30] thomaslevesque opened #775 "[Suggestion] SendGridClient.SendEmailAsync should throw when a non-success response is received."
Currently, if I call `SendGridClient.SendEmailAsync` and the API returns an error, it doesn't throw an exception. I have to check the response (which is made harder than necessary by #774) to see what happened. It's counter-intuitive; if the method doesn't throw, anyone would expect that the mail was successfully sent (or at least that the request was accepted). Even the samples don't show how to

[2018-10-09 16:32] thomaslevesque commented on #774
Thanks @Jericho! I was considering writing such a library myself if I couldn't find one :wink:
Looking at the code of the official lib, I realize it's just a (very) thin wrapper around `HttpClient`, which isn't very useful.

[2018-10-09 16:39] thinkingserious commented on #774
Hi @thomaslevesque,

Thanks for taking the time to write up this issue!

This version of the library was indeed designed to be a thin wrapper around our v3 API to demonstrate usage of our new 230+ endpoints as opposed to the single endpoint this library replaced. The first step after that was to implement the most common use cases.

We would love to pull in the awesome functionality that StrongGri

[2018-10-09 16:39] Jericho commented on #774
@thomaslevesque completely agree. This official library is very thin. StrongGrid on the other hand is what .Net developers expect: error handling, strongly typed, automatically works around some know bugs in the API, etc. StongGrid also covers every single endpoint in the API (there are in excess of 200) while official library primarily covers the `mail.send` endpoint and only a handful other endp

[2018-10-09 16:41] thinkingserious commented on #774
BTW, I have not gotten to it, but before we hit the mid-point of Hacktoberfest, I plan to have issues developed in this repo to gain the coverage that StrongGrid has, based on the conversation [here](https://github.com/sendgrid/sendgrid-csharp/issues/530).

[2018-10-09 16:43] thinkingserious commented on #775
Love it! Thanks for taking the time to write up this issue. I've added it to our [Hacktobefest celebration](https://dx.sendgrid.com/hacktoberfest).

[2018-10-09 16:44] thinkingserious commented on #775
For an example of how to view errors currently, please see [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#error).

For reference, check out the excellent [StrongGrid](https://github.com/sendgrid/sendgrid-csharp/issues/530).

[2018-10-09 16:50] thinkingserious commented on #766
For a good reference, please see [this](https://github.com/Jericho/StrongGrid/tree/master#parser).

[2018-10-10 00:58] thinkingserious opened #776 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-10 15:22] tguillet opened #777 "Unable to Nuget install SendGrid 9.10.0"
#### Issue Summary

I'm trying to install SendGrid into my .net MVC4 application using NuGet and it errors out saying it cannot install the package

#### Steps to Reproduce

1. Open Nuget
2. Type 'Install-Package Sendgrid -Version 9.10.0'
3. I get this error message
"@ Installing Sendgrid.9.10.0 in MartialMember.WebUI finished (5.871 sec)
[Notification][Install] Install failed (project: MartialMem

[2018-10-10 15:40] thinkingserious commented on #777
Hello @tguillet,

Is your target framework less than v4.5.2?

With Best Regards,

Elmer

[2018-10-10 16:57] KoditkarVedant commented on #328
Hello @thinkingserious,

I have created a repository for Inbound Webhook Parser [here](https://github.com/KoditkarVedant/sendgrid-inbound). I'm currently updating it. How can I ask for review once I completed the implementation?

I also see that you have opened a new issue #766 which describes the same requirement.

Thanks,
Vedant

[2018-10-10 17:12] thinkingserious commented on #328
Hi @KoditkarVedant,

Just ping me when it's ready for review :)

My apologies, [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/766) should replace this one. I will mark it as work in progress for you.

Thanks!

With Best Regards,

Elmer

[2018-10-10 17:12] #328 closed

[2018-10-11 11:18] tony-ho commented on #749
I propose the following solution using [StopLight's Prism Docker image](https://hub.docker.com/r/stoplight/prism/):
- update the testing instructions to run Prism locally using the Docker image instead of downloading and installing Prism
- run Prism in Travis CI using the Docker image as per https://docs.stoplight.io/testing/continuous-integration/travis
- provide a Docker Compose configuration to

[2018-10-11 12:48] crnd commented on #775
Any ideas on how this should be done?

1. Two new exception types like ```RequestException``` and ```ServerException``` and then have status code and error details in the exception message?
2. Exceptions for all the error states like ```RequestPayloadTooLargeException```, ```TooManyRequestsException```, ```ServerUnavailableException``` and so on?

[2018-10-11 13:01] petmat commented on #670
I have a proposition for how to fix this:

If I'm not mistaken you can get this error only when using the following constructor:
[code]

It ends up calling the InitializeClient method with the host parameter.

I think there are two ways to fix this:

1. Do not set the BaseAddress if it is already set.
2. Throw an exception if the BaseAddress is already set and is not the same as the host string

D

[2018-10-11 13:02] thomaslevesque commented on #775
@crnd I was thinking about something more business-specific, e.g. "missing recipient" or "empty body" or whatever the SendGrid API returns. Exceptions that just reflect the HTTP status code don't bring much value.

[2018-10-11 18:06] kgehmlich commented on #723
For those who do not use legacy transactional templates, it suffices to use `https://api.sendgrid.com/v3/templates?generations=dynamic`

[2018-10-11 20:55] thinkingserious commented on #755
Thank you @petmat, it's all yours!

[2018-10-11 23:50] fabricioveronez commented on #744
I made a pull request to fix this issue

[2018-10-12 06:59] Gimly commented on #776
The idea would be that this script is run during which process? Would it get the last PR information from Git or through GitHub's APIs?

[2018-10-12 17:42] thinkingserious commented on #631
Sorry @danimart1991, I forgot to close this issue when #682 was merged.

[2018-10-12 17:42] #631 closed

[2018-10-13 03:54] thinkingserious opened #781 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-13 06:50] 1886 commented on #773
So I went ahead and upgraded to 4.6, seems it is a requirement? It now works as expected.

[2018-10-14 14:07] KoditkarVedant commented on #766
Hello @thinkingserious,

I have completed the implementation. This is the first big requirement in OSS I have worked on.
You may start reviewing it. I have pushed all my code [here](https://github.com/KoditkarVedant/sendgrid-inbound).

Please let me know if I have missed anything.

Thanks,
Vedant

[2018-10-15 10:38] tony-ho commented on #368
I can take this one.

I propose a more direct workaround than those @Jericho suggested:
- check the charset in the response in [SendGridClient.MakeRequest()](https://github.com/sendgrid/sendgrid-csharp/blob/5573443aa3dfa34dddac45ddc50f8c1921860e13/src/SendGrid/SendGridClient.cs#L189)
- if the value is the invalid `utf8` value, update the response to the correct value, `utf-8`

The advantage of thi

[2018-10-15 10:44] tony-ho commented on #378
I've created PR #786 which addresses the `charset=utf8` issue.

[2018-10-15 14:17] KoditkarVedant commented on #354
Hello @thinkingserious,

In any way I can help on this? I did not find any thing related to this in this repository, is it related to the library?

Thanks,
Vedant

[2018-10-15 14:48] KoditkarVedant commented on #765
Hello @thinkingserious,

If this is still up for grab, I would like to help.

Thanks,
Vedant

[2018-10-15 17:00] KoditkarVedant commented on #766
Hello @thinkingserious,

How can I add this contribution under the `hacktoberfest`?

Thanks,
Vedant

[2018-10-15 21:29] Jericho commented on #766
The code in your `InboundWebhookParser.cs` appears to be copy/paste from the StrongGrid library (I'm the author). Not cool to take someone else's work and present it as your own.

[2018-10-16 06:01] DigitalPal opened #788 "Email is sent without attachemnt"
Hi,
I was trying to send email with image attachment. I was able to send the email but it did not show any attachment.

Here is code
`var client = new SendGridClient("api key"); // https://app.sendgrid.com

                var msg = new SendGridMessage()
                {
                    From = new EmailAddress("contact@mydomain.co.in", "Poki"),
                    Subject = "Image subject",

[2018-10-16 08:43] KoditkarVedant commented on #766
@Jericho I'm not claiming this code was completely done by me. As mentioned in the above comment I refer that code in my implementation and I just made the changes whenever I felt necessary like added `RawEmail` property in InboudEmail. Is there anything I could do?

[2018-10-16 15:28] Jericho commented on #766
The best would be to reference the StrongGrid nuget package rather than copy/paste the code.

[2018-10-16 15:37] KoditkarVedant commented on #766
I would have but that may add significant dependency which I think would be too much for the current requirement. As this only related to the inbound email parser and will might not use any other part of library.

[2018-10-16 15:39] KoditkarVedant commented on #766
@Jericho as mentioned your implementation doesn't have `RawEmail` in your Inbound email parser which I need for my implementation.

[2018-10-16 15:49] Jericho commented on #766
If StrongGrid is missing a feature that you need, you should open [an issue[](https://github.com/Jericho/StrongGrid/issues) and describe what you need.

[2018-10-16 18:44] thinkingserious commented on #766
Hello @KoditkarVedant,

Congratulations on your first large contribution to OSS! We greatly appreciate it and hope that you will continue to [celebrate Hacktoberfest](https://dx.sendgrid.com/hacktoberfest) with us :)

I will modify your PR to include the proper attribution as dictated by the [MIT license](https://opensource.org/licenses/MIT).

To add this work to Hacktoberfest, simply make a PR ag

[2018-10-16 20:04] KoditkarVedant commented on #766
Hello @thinkingserious,

Sorry to bother you again, I did not understand this. What the PR is going to contain or is it just Blank PR?

Thanks,
Vedant

[2018-10-16 20:20] aroach commented on #766
@KoditkarVedant Probably what you'll want to do is create a fork of the SG csharp repo.  After that, you'd clone it to your machine, create a branch, and copy the work that you've done into the `examples` directory?  Maybe should have @thinkingserious chime in here on the best place to put it.

Once your code is in the fork, you'd commit those changes in your branch, push to GitHub, and then submi

[2018-10-17 04:06] DigitalPal commented on #788
Anyone ?

[2018-10-17 22:16] Jericho opened #792 "Discrepancies in Event Webhook documentation"
There's a very convenient [table](https://sendgrid.com/docs/for-developers/tracking-events/event/#event-objects) in the Event Webhook Reference that lists the properties you can expect for each type of webhook event. However, there seem to be some errors in the table that I would like to clear up. For instance:
- The table indicates that the `ip` attribute is valid only for the `opened` and `click

[2018-10-18 02:36] KoditkarVedant commented on #792
In addition to above, there is some inconsistency between the event parser documents. There is an another [chart](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html#-Event-objects) where I can see `smtp-id` is not applicable to `open` and `close` events whereas [table](https://sendgrid.com/docs/for-developers/tracking-events/event/#event-objects) referred by @Jericho shows that `smtp

[2018-10-18 02:52] swnasir opened #793 "SendGrid API to send Marketing Campaign fails as Unsubscribe Tag is missing"
I am developing a C# console application in order to create and send a Campaign to the recipients. To accomplish this I have been using SendGrid Web API V3.

Here is my C# code:
[code]

In the above code, for email body, I have prepared an HTML file which is passed into the "HtmlContent" Property. Here is the HTML code:

[code]
The above code can create a new Campaign without any errors but it can

[2018-10-18 12:52] smikis commented on #776
Couple of questions:
1. Does it matter in what language script is written? Can it be .NET Console application or you want PowerShell script or something like that?
2. Is there any way to discern from PR if it's something added, updated or fixed? I did not found clear pattern between them, maybe I'm just missing something? How are they categorized currently?

[2018-10-19 06:58] thinkingserious opened #795 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/sendgrid-csharp/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the document

[2018-10-19 14:03] KoditkarVedant commented on #765
@thinkingserious I have started working on this. Can you please update the status?
Isn't #572 is duplicate and should be close?

[2018-10-20 23:43] thinkingserious opened #796 "Error Exception Handling"
#### Issue Summary

To improve the developer experience, we would like to pass back a [summary of the error received](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) and a link to the appropriate place [in the documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) to help with troubleshooting.

#### Acceptance Criteria

* When an error is thrown du

[2018-10-20 23:50] thinkingserious opened #797 "Type Exception Handling for the Mail Helper"
#### Issue Summary

The appropriate types necessary for a successful `mail/send` API call is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html). We want to throw a type exception when the wrong type is provided.

#### Acceptance Criteria

* All parameters for the `mail\send` endpoint are type checked and if they fail the type check and exception is thrown with instructions on h

[2018-10-21 21:02] Niladri24dutta commented on #638
@thinkingserious is this still open? Can i update the description of the function to add the optional part?

[2018-10-22 09:00] jaiswati opened #799 "Sometimes there is delay in receiving emails,How can we reduce the delay to less than 2 minutes"
#### Issue Summary

This happens on adhoc basis..
Sometimes  there is delay in receiving emails,How  can we reduce the delay to less than 2 minutes
#### Steps to Reproduce

Email is sent as follows along with attachment

 dynamic sg = new SendGridAPIClient(apiKey);
                Email from = new Email(sender);
                Email to = new Email(recipient);
                Content content = new

[2018-10-22 19:10] kylearoberts commented on #799
Issues like this are best brought to support so they can take a look to see if something is wrong. I would recommend hitting up support [here](https://support.sendgrid.com). More than likely support will need some examples. I would recommend providing headers for the email in question if you can.

[2018-10-22 21:07] #771 closed

[2018-10-22 21:08] #761 closed

[2018-10-24 07:52] SamuelNF commented on #716
I'm having the same issues talked about here: https://github.com/sendgrid/sendgrid-csharp/issues/727

I'm using the latest version of the library - is the `X-No-CORS-Reason` bug still and issue in the latest release?

[2018-10-25 19:43] FrederikBolding commented on #775
What is the difference between this and #796? Wouldn't this be fixed by throwing exceptions at `MakeRequest`?

[2018-10-29 18:26] Rishabh04-02 opened #813 "Modification in Prerequisites for installation"
#### Issue Summary

On the website its mentioned that **Send up to 40,000 emails for 30 days, then send 100 emails/day free forever** but it has not been mentioned in the README.

[2018-10-29 19:01] #781 closed

[2018-10-30 04:31] DreamN commented on #795
Hi, I would like to take this one

[2018-10-30 18:33] thinkingserious opened #816 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 18:42] krischoi07 commented on #816
I'll take this!

[2018-10-30 19:58] mptap commented on #816
@thinkingserious Have raised PR for this: https://github.com/sendgrid/sendgrid-csharp/pull/819

[2018-10-30 23:16] #572 closed

[2018-10-31 06:15] caseychien commented on #813
I can take this one!

[2018-10-31 09:49] SailleshPawar opened #822 "Email is sent twice sometimes when the dynamic data object is huge"
#### Issue Summary

I am using dynamic template to show the list of object in a table format in order to implement this i am using TemplateData to pass my object. Our users are receiving duplicate emails when there are more than 40000 objects in a dictionary collection.

#### Steps to Reproduce

1. Create a dynamic  transactional template on send grid with
        like this
           <table>

[2018-10-31 15:26] raman0619 commented on #822
Similar issue is faced by us.

Email is sent twice in one of the scheduled job.Every time  this particular scheduler runs 90% users receive duplicate emails.

Other scheduled job delivers emails only once.

The common sendgrid code is being used to sent emails for all the schedule jobs.

 public async Task Execute(SendGridInputDto input)
        {
            try
            {
            SendGrid

[2018-10-31 15:54] thinkingserious commented on #822
Hello @SailleshPawar @raman0619,

To further assist, it would be useful to understand how the code is being called. I suspect there is some issue with the calling logic. It's also important that the input to the calling function be verified to not contain duplicate content.

With Best Regards,

Elmer

[2018-10-31 16:09] SailleshPawar commented on #822
Thanks @thinkingserious  for looking into this issue..
This is my calling code

 public abstract class AlertType
    {
        public abstract void SendEmail(List<Alert> Alerdetails, int ClientId, User Userdetails);
    }

    public class VinAlert : AlertType
    {
        public readonly IAlertEmail _emailService;
        public readonly ISubscriptionConfiguration _configurations;
        public

[2018-10-31 16:12] thinkingserious commented on #822
@SailleshPawar,

To verify. You are sending out a batch job that whenever you have 40k+ emails there are some duplicates?

Some further questions:

1. How are you determining the duplicates?
2. Are you certain that your calling code does not have duplicate emails or calls the same email twice?

[2018-10-31 16:28] SailleshPawar commented on #822
@thinkingserious  I just send a email to single person at a time, the email body contains a list of information. That list can go upto 40000.
Coming to your questions about duplicates content?
It is a table structure which will have some duplicate values not all values will be duplicate.
Snapshot  of email.

![image](https://user-images.githubusercontent.com/16855395/47803258-17be2d00-dd58-11e8-93

[2018-10-31 17:07] crweiner opened #823 "Remove legacy "Whitelabel" Terms"
#### Issue Summary

According to the [Docs](https://github.com/sendgrid/docs/blob/develop/content/docs/glossary/whitelabel.md), SendGrid wishes to move away from the term "Whitelabel" and replace it with other terms, such as "domain authentication", "link branding" and "reverse DNS".

#### Details:
 In order to keep this verbiage consistent, this repo needs to update its terms and replace "Whitela

[2018-10-31 21:54] ajloria opened #825 "Improve README Accessibility"
The README table of contents is missing some links. This needs to be added for better accessibility and ease.

[2018-10-31 21:55] ajloria commented on #825
I can fix this issue.

[2018-10-31 22:06] ajloria commented on #825
@thinkingserious or any Sendgrid admins, can this be part of the hacktoberfest label please? Thanks.

[2018-11-01 13:14] Fabio-Alexander-Bueno commented on #774
@thomaslevesque see if this PR #796 resolve your problem. If it didn't solve what could be improved?

[2018-11-01 15:02] blushingpenguin commented on #268
Sendgrid also doesn't quote @ characters in mailboxes properly.  This leads to

msg.AddTo(new EmailAddress("foo@bar.com", "foo@bar.com"))

generating an invalid to header:

To: foo@bar.com <foo@bar.com>

the name portion (foo@bar.com) is invalid according to RFC2822 -- it may not contain @.

While this may appear to be cosmetic it causes deliverability issues, e.g. in exim (with a largely default

[2018-11-01 15:48] SailleshPawar commented on #822
After more analysis found that it was issue of Azure function lock timeout.
@thinkingserious  thanks for your valuable time for actively looking into this issue and guiding me.

[2018-11-01 15:48] #822 closed

[2018-11-01 22:19] xyz92 opened #828 "Use SendGrid API Key in Arm Template"

[2018-11-02 17:51] #816 closed

[2018-11-03 00:32] xyz92 opened #829 "SenderNotAuthenticatedGroup Error"
I have a **to** email address which includes multiple recipients. When I tried sending email, it blocked sending email:

![microsoftteams-image](https://user-images.githubusercontent.com/6519992/47946172-4279c400-dec5-11e8-9971-2781b4e4c3b1.png)

Here is my code:

        private static void Main()
        {
            Execute().Wait();
        }

        static async Task Execute()
        {

[2018-11-05 21:20] trenner29 opened #830 "Style (css) being removed from HTML email when sent through API"
#### Issue Summary

We have been sending emails through C# SMTP to Sendgrid for years and it works great.
But when we try to send them through the API we lose the style (css) that is embedded in the HTML.
I have even tried sending our HTML through the API using a cURL via Postman and that ALSO loses the Style (css).

This is similar to the closed issue #62 ( https://github.com/sendgrid/sendgrid-cs

[2018-11-11 13:47] Niladri24dutta commented on #829
@xyz92  Did you have the API key in this variable `SENDGRID_APIKEY` in your config file or environment variables?

[2018-11-12 03:30] CalvinFengDatacom opened #831 "C#, How to use SendGrid to send an email and attach a html page as attachment"
#### Issue Summary

I just wonder how to use SendGrid C# SDK for sending an email and attach a HTML page as the attachment.

Do I need to create the HTML page and save it first before I send it or can I just save it in the memory? I prefer the second option just like my current example below, here I'm attaching a text file without save it to the source code.

[code]

* sendgrid-csharp Version: mas

[2018-11-13 01:52] timhenn opened #832 "Email only going to one address, multiple defined"
#### Issue Summary
We have implemented a solution that send email to more than one email address.  The email is sent and both addresses are included in the email but only the first address specified gets the email.   The code is using the SendGrid msg type that supports multiple addresses (MailHelper.CreateSingleEmailToMultipleRecipients).  I can share an image that shows the email delivered has b

[2018-11-14 00:04] thinkingserious commented on #773
Hello @1886,

The library should work on .NET 4.5.2 and higher. I'll leave this open for further investigation.

With Best Regards,

Elmer

[2018-11-14 00:06] thinkingserious commented on #788
Hello @DigitalPal,

[Here](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#attachments) is an example of sending an email with an attachment. Please take a look and let me know how it goes.

With Best Regards,

Elmer

[2018-11-14 00:08] thinkingserious commented on #792
cc @ksigler7

[2018-11-14 00:09] thinkingserious commented on #793
Hello @swnasir,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-14 00:09] #793 closed

[2018-11-14 00:09] thinkingserious commented on #799
Hello @jaiswati,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-14 00:09] #799 closed

[2018-11-14 00:17] thinkingserious commented on #828
Hello @xyz92,

I'm not sure how you would access those application settings in your app. I suggest you reach out to Microsoft on that one.

That said, I'll leave this issue open here for further investigation.

With Best Regards,

Elmer

[2018-11-14 00:17] thinkingserious commented on #829
Hello @xyz92,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-14 00:17] #829 closed

[2018-11-14 01:01] CalvinFengDatacom commented on #831
@thinkingserious Thanks Elmer, I found the solution as well. Thanks for sharing.

[2018-11-14 01:01] #831 closed

[2018-11-14 10:07] oerman35 opened #833 "HTML inside template with handlebar syntax not working"
#### Issue Summary

I recently switched to the new transactional templates that make use of the handlebar syntax.
The problem I'm having is, when replacing one of the handlebar placeholders with HTML, the HTML is not rendered (taken into effect) and I can see the HTML tags in the email content.

#### My SendMail function

[code]

My TemplateData class looks like this:
[code]

**Here is a screensho

[2018-11-14 11:06] oerman35 commented on #833
I have solved the issue. If anyone else has this issue, this is how I solved it.

Instead of having `{{body}}` inside the template, you should have `{{{body}}}` instead. Notice the triple brackets.

Documentation that talks about this: https://sendgrid.com/docs/ui/sending-email/using-handlebars/#replacement-with-html

I hope this helps someone out there 😃

[2018-11-14 11:06] #833 closed

[2018-11-14 19:53] trenner29 commented on #830
Thank you for your response.
We found that we were NOT using in-line CSS in some of the emails we send, we were using CSS stylesheets and those behave differently through the API.  We are modifying those offending emails individually.
Thanks,
Tim R.

[2018-11-15 23:12] xyz92 opened #834 "Not able to install SendGrid NuGet Package"
On installing SendGrid NuGet Package Version 9.10.0, I see the following error:

![image](https://user-images.githubusercontent.com/6519992/48587633-bade7d00-e8e8-11e8-9c3f-52ef3761bb86.png)

https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1108?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3Den-US%26k%3Dk(NU1108)%26rd%3Dtrue

Can someo

[2018-11-18 15:49] thinkingserious commented on #834
Hello @xyz92,

What is the name of your project? This happens when you project is the same name as the Nuget package.

With Best Regards,

Elmer

[2018-11-18 17:55] xyz92 commented on #834
Cool thank you!

[2018-11-18 17:55] #834 closed

[2018-11-19 12:29] tasdpp opened #835 "Newtonsoft.JSON version support"
Why is Newtonsoft.Json version 11 not supported? Aren't we paying you money to use Sendgrid and this is as up to date as this can be? I have an app that has another dependency on Newtonsoft.Json >=10 and your solution makes it so I can use the other. Going to have to decide and probably look to another solution for email that keeps things up to date.

[2018-11-21 04:14] APErebus commented on #648
Just thought I'd chime in and say I ran into this issue today as well.

The underlying issue was that our sub-user (this was on a testing account), had run out of daily credits When I added some credits on that account, the error went away.

[2018-11-23 21:13] processguy opened #836 "ASP.NET C# Send from Azure to SendGrid Hangs"
**Platform:**  Azure, ASP.NET, C#

**Scenario:**
Our application receives a subscription activation request, which prompts an activation email to be sent to the subscriber, via SendGrid.
That runs the method below.
The problem occurs when this method has not been used for a period of time (a couple of hours, sometimes less).

We know that the email addresses being used are valid.
We know from DB l

[2018-11-24 21:04] patil-nileshb commented on #505
FYI - created a ticket 1700519 with sendgrid support. details of the stack are at https://github.com/Jericho/StrongGrid/issues/254
Thank you

[2018-11-26 18:31] #828 closed

[2018-11-26 21:59] thinkingserious commented on #835
Hello @tasdpp,

Newtonsoft.Json version 11 is not yet supported pending the release of [this PR](https://github.com/sendgrid/sendgrid-csharp/pull/748). Please comment and follow that thread as the more activity the thread gets the higher it rises on our backlog.

With Best Regards,

Elmer

[2018-11-26 21:59] #835 closed

[2018-11-27 11:57] predragbabic commented on #530
Is there any update on this merge?

[2018-11-27 20:12] kirk-quinbar opened #837 "Does reputations api support passing in multiple usernames?"
I am using the api subusers/reputations and the c# client v9.10.0 to pull back reputations, so we can alert on them if they go over a threshold. my question is whether it supports passing in multiple usernames? the api documentation calls the query parameter "usernames" which seems to indicate it does, but i cannot get it to recognize more than 1 no matter how i formatted the value. i have tried c

[2018-11-27 21:13] thinkingserious commented on #837
Hello @kirk-quinbar,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-27 21:13] #837 closed

[2018-11-27 21:22] kirk-quinbar commented on #837
I did an their response was that i needed to pass the querystring parameters like this if i want more than 1: /subusers/reputations?usernames=user1&usernames=user2

With the C# client, although I can get this work, it was weird coding.

This works but seems weird compared to other examples in the sendgrid client github code. It does return two reputations.
var client = new SendGridClient(ApiKey);

[2018-11-28 02:09] mawiseman opened #838 "Azure Functions Method not found: 'Void SendGrid.Helpers.Mail.SendGridMessage.SetTemplateData'"
#### Issue Summary

When adding template data to an Azure Function i receive the error
Method not found: 'Void SendGrid.Helpers.Mail.SendGridMessage.SetTemplateData

#### Steps to Reproduce

1. Create an azure function and update the following files

**Run.csx**
[code]

**function.proj**
[code]

**function.json**
[code]

#### Technical details:

* sendgrid nuget Version: 9.10.0
* TargetFramework:

[2018-11-28 17:41] AmbroiseCouissin commented on #648
I ran into the same issue and I'm not sure what to do. It works under windows but not under linux alpine:
[code]

[2018-11-28 18:59] AmbroiseCouissin commented on #732
I have the exact same problem. Most of the call fails.

[code]

[2018-11-29 00:56] thinkingserious commented on #838
Hello @mawiseman,

This should not be the case, I'ave added this to our backlog for further investigation. Thanks for bringing this issue to our attention.

With Best Regards,

Elmer

[2018-11-29 07:39] AmbroiseCouissin commented on #732
Finally found out why. When we send an html content that is quite big and that an error comes back, this error happens instead of `Unauthorized` let's say. Our issue was the following: "{\"errors\":[{\"message\":\"Maximum credits exceeded\",\"field\":null,\"help\":null}]}"

[2018-11-29 07:39] AmbroiseCouissin commented on #648
Finally found out why. When we send an html content that is quite big and that an error comes back, this error happens instead of `Unauthorized` let's say. Our issue was the following: "{\"errors\":[{\"message\":\"Maximum credits exceeded\",\"field\":null,\"help\":null}]}"

[2018-11-29 12:53] patil-nileshb commented on #505
since we did have an occurrence of this recently, I do see some pattern. We do process emails in parallel & if at a given time number of those processes is  > 10, each calling out apis, possibly rate limit hits & we get this error (exception details below). And of course, after retrying that same call works afterwards.

`System.Net.WebException: The request was aborted: Could not create SSL/TLS se

[2018-12-04 20:03] harshithsrinivas opened #840 "Send grid v3 ApI send file attachment through email."

[2018-12-05 14:57] euangordon opened #841 "Substituting Raw HTML into Template not working"
Hi,

Using C# with Nuget SendGrid v9.10.0

I have substutions working fine, but I would like to also substitute raw HTML into one area of a template. When I use SG website with test data it is working fine, but in real life I can see the HTML tags.

Referring to the document https://sendgrid.com/docs/ui/sending-email/using-handlebars/#substitution I can see that I need to use tripple {{{ }}} brack

[2018-12-05 16:58] kylearoberts commented on #841
@euangordon

Sorry to hear you are having issues getting HTML to substitute. Can you share your full code so we can test on our end? This will help us to either replicate the issue and/or see what is causing the issue.

[2018-12-05 17:15] euangordon commented on #841
`                    var callbackUrl = ConfigurationManager.AppSettings["LoginURL"];

                    var html = "<p>You registered on the Compass System, Your login is " + user.Email + "</p> Please click <a href=\"" + callbackUrl + "\">here</a> to login";

                    var emailData = new EmailData
                    {
                        html = html,
                        subje

[2018-12-05 17:32] kylearoberts commented on #841
@euangordon

Happy to hear things are working now. It is possible that there was some delay in updating the template. I also wanted to note that you should not need to include an Text or HTML potion in your sending as this could cause issues:

[code]

If you have any further issues please let us know.

[2018-12-06 09:31] humphrt commented on #716
Same issue on sendgrid-php, I used Legacy Template and it worked.

[2018-12-06 10:37] lilhamad commented on #683
It worked when used my api directly without using environment variable
like this
string apiKey = "SG....."

[2018-12-06 10:37] lilhamad commented on #278
It worked when used my api directly without using environment variable
like this
string apiKey = "SG....."

[2018-12-06 19:22] #841 closed

[2018-12-07 23:50] thinkingserious commented on #353
@robledosm, @kostyaHrytsyuk,

Do either of you still want to make a PR for this one? Thanks!

With Best Regards,

Elmer

[2018-12-17 09:39] ecoukraine commented on #667
Hi guys,

would you be kind to share the status of the issue?
I'm facing the same problem.

Thank you

[2018-12-18 19:23] kirk-quinbar opened #842 "Issues with AddAttachmentAsync"
#### Issue Summary

I have discovered a couple of issues with AddAttachmentAsync method and wanted to get your thoughts.

1. The method assumes a buffered stream because the code is trying to use the .Length property in order to set the size of the byte array that it uses to call AddAttachment. There are a number of cases where you may not have a buffered stream and in general buffering streams is

[2018-12-18 20:40] kirk-quinbar commented on #842
I realized i had some bad code in the example for #2, so here is the fixed code. If you are passing in a NetworkStream the original code would never get read past the first read. This works as expected.

` private string GetBase64FromStream(Stream inputStream)
        {
            int base64BlockSize = 76800;  //75k (note that block size needs to be multiples of 3
            byte[] base64Block =

[2018-12-20 22:19] thinkingserious commented on #842
Hello @kirk-quinbar,

Thank you for providing this detailed feedback! I've added it to our backlog for further review, but perhaps someone in our C# community may take it up and submit a PR.

With Best Regards,

Elmer

[2018-12-21 16:44] danielcongrove commented on #648
+1, started running into this issue as well.

[2018-12-26 17:09] tylerolechnowicz opened #843 "v9.10.0 does not work with Newtonsoft.Json.10.0.2"
#### Issue Summary

v9.10.0 does not work with Newtonsoft.Json.10.0.2. Installing Newtonsoft.Json.10.0.2 compiles and builds fine, but throws an exception at Runtime.

FileNotFoundException: Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.

SendGrid v9.10.0 app

[2018-12-28 04:11] AlirezaInGitHub opened #844 "Text content followed by Html content is not written in email body"
#### Issue Summary

It seems that a `Text` content followed by `Html` content is not written in email body.

#### Steps to Reproduce
[code]

#### Technical details:

* sendgrid-csharp Version: 9.10.0
* Platform Console Application and ASP.NET MVC 5
* .NET Version: .NET Core 2.1 and .NET Framework 4.7.1

[2018-12-29 17:55] MuhammadTanveerAshraf commented on #725
I am facing the same problem and struggling from 2 days to solve it.
**Code:**
{
  "from": {
    "email": "fromEmailAddress"
  },
  "personalizations": [
    {
      "to": [
        {
          "email": "myEmail"
        }
      ],
      "substitutions": {
        "[SiteUrl]": "mySiteUrl"
      }
    }
  ],
  "content": [
    {
      "type": "text/Html",
      "value": "I/\u0027m replacing the \u0

[2019-01-03 00:48] thinkingserious commented on #843
Hello @tylerolechnowicz,

We have an open PR for this. Please [follow this PR](https://github.com/sendgrid/sendgrid-csharp/pull/780) for progress.

At first glance, my concern with that PR is that is seems to require version 11. Not sure if we need to keep supporting 9 and 10 also.

With Best Regards,

Elmer

[2019-01-03 00:48] #843 closed

[2019-01-03 20:17] AlirezaInGitHub commented on #844
Hi @thinkingserious.
I viewed the email in Gmail web, Outlook 2016 desktop and Office 365. Same.
Here's the message:
[code]

[2019-01-04 14:56] tylerolechnowicz commented on #843
@thinkingserious excellent. Glad to hear it. I think supporting 9 and 10 as well would be the best approach because other assemblies might rely on those. For example, I use SendGrid and Auth0 in my application. Auth0 requires 10 (not sure if it can work with 11) and SendGrid requires 9.

Supporting both would be mean that I could just have a binding redirect in my .config file and not have to set

[2019-01-09 10:24] Pieter-1337 opened #846 "Possibility to enforce TLS only in certain situations?"
Hi,

I was wondering if it was possible to enforce TLS on a mail being sent only in certain cases.
The problem is I need to send 2 mails simultaneously, One to a client which can be without TLS and one to a backOffice where I would like to enforce TLS on the mail,

For instance (Abstract representation)

[code]

I am aware of the fact that I can change my MailServerSettings by sending a Post
PATCH

[2019-01-10 04:15] PureKrome commented on #521
Also a vote from me, etc! Can we `Singleton` or `Scope` this? etc..

[2019-01-10 04:44] PureKrome opened #847 "Should SendGridClient accept an IHttpClient in the constructor instead of creating it's own?"
#### Issue Summary

As part of learning if `SendGridClient` is thread safe, I noticed that there is not `ctor` that accepts an `IHttpClient` and that the `ctor` actually creates the `HttpClient`.

I was wondering if it's worth leveraging the new `HttpClientFactory` stuff available from .NET Core 2.1+ (which can also handle Polly retries, etc) plus some other magic-under-the-hood.

[2019-01-15 02:57] Vapok opened #848 "Inline Images are not embedding correctly."
#### Issue Summary

***NOTE: This issue is actually an issue with the SendGrid v3 API, and not the sendgrid-csharp project. The resulting JSON that sendgrid-csharp generates, meets the spec that is defined at [https://sendgrid.api-docs.io/v3.0/mail-send/v3-mail-send](https://sendgrid.api-docs.io/v3.0/mail-send/v3-mail-send)***

When using the following code, as an example:
[code]

email is the `Se

[2019-01-15 08:50] HindoliyaYogesh opened #849 "403 on SendMailAsync"
Hello,

I am using SendGrid Free account at the moment for development. Following is the implementation I have to send out mails using Transactional templates. This implementation was working fine, returning ACCEPTED as response code. A few days back the same code started returning FORBIDDEN response code.
I tried generating a new API Key and using it for emails, no luck there.
Please advise.

[co

[2019-01-15 15:13] Vapok commented on #849
Do other API calls work? I would make sure that you haven't run out of messages for the free account. I believe after 30 days, it drops down to 100 or something like that.

[2019-01-17 16:55] RodDaSilva commented on #675
Has there been any update on this bug?  I am getting it as well with version 9,10 of SendGrid librarty.

[2019-01-17 17:00] KoditkarVedant commented on #792
@thinkingserious is there any updates on this?

[2019-01-17 20:36] #846 closed

[2019-01-17 20:39] thinkingserious commented on #521
Hello @MSC-AA,

This one is still on our backlog. We are hoping to [increase our resources internally soon](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) to help us power through our backlog faster. If you know anyone, please let us know at dx@sendgrid.com.

Thanks for checking in!

With Best Regards,

Elmer

[2019-01-17 20:40] thinkingserious commented on #521
Referencing: https://github.com/sendgrid/sendgrid-csharp/issues/847

[2019-01-17 20:41] thinkingserious commented on #847
Hi @PureKrome,

I'm going to reference this issue here: https://github.com/sendgrid/sendgrid-csharp/issues/521

Short answer is that we have not gotten to this issue in our backlog just yet. We are definitely open to PRs if your up for it.

With Best Regards,

Elmer

[2019-01-17 20:41] #847 closed

[2019-01-17 20:42] thinkingserious commented on #848
Hello @Vapok,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-01-17 20:42] #848 closed

[2019-01-17 20:42] thinkingserious commented on #849
Hello @HindoliyaYogesh,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-01-17 20:42] #849 closed

[2019-01-21 10:01] HindoliyaYogesh commented on #849
Hello @thinkingserious

Following is the response received from sendgrid support!
Regardless, I have logged another ticket quoting your response on this issue.

![image](https://user-images.githubusercontent.com/40543539/51467067-50c4d700-1d74-11e9-9118-cb6cda1424d8.png)

Thanks,
Yogesh

[2019-01-23 17:00] CasperKvolle opened #850 "What is needed Need to make the following sample to work."
What is need in the following screendump?
I have been sitting several days now and trying to make this code sample work but without any luck.
![image](https://user-images.githubusercontent.com/8735055/51622915-e197e000-1f37-11e9-9d2a-a9e0056dbf77.png)

I have put the
![image](https://user-images.githubusercontent.com/8735055/51623114-45baa400-1f38-11e9-9f39-5b9f96b930f9.png)

BUT every time I try

[2019-01-23 17:15] somoreingold commented on #648
+1 Same here.

[2019-01-23 22:04] thinkingserious commented on #723
Thanks for the clarification @kgehmlich!

[2019-01-23 22:07] thinkingserious commented on #732
Thanks for sharing your results @AmbroiseCouissin!

@JnanaPrakash,

Were you able to figure out your issue?

[2019-01-23 22:17] thinkingserious commented on #844
Hello @AlirezaInGitHub,

What is the final result you are expecting. It looks like the email is being transmitted properly as I see the text/plain and text/html content in your message.

With Best Regards,

Elmer

[2019-01-24 07:37] VeselovAndrey opened #851 ""A task was canceled" exception"
We getting 1-2 exceptions per day with "A task was canceled" message. According to stack tracke it happens inside sendgrid-csharp library (strack trace copied below). Also I noticed that it happens for emails with attachement, and attachement size can be different: from few KB to few MB.

Can you advice?

#### Technical details:

* sendgrid-csharp Version: 9.9.0 (installed from NuGet)
* Platform A

[2019-01-24 18:20] willtam commented on #851
We are also experiencing the exact same scenario except we have:

    sendgrid-csharp Version: 9.9.0 (installed from NuGet)
    Platform ASP.NET
    .NET Version: 4.6.2

[2019-01-24 19:46] thinkingserious commented on #850
Hello @CasperKvolle,

You will need to make sure that the credentials you are setting are getting set properly. If so, then I would try testing your key here: https://sendgrid.com/docs/API_Reference/api_v3.html. If it still does not work, please either create a new API Key or reach out to our [support team](https://support.sendgrid.com) so that they can investigate your account.

With Best Regards

[2019-01-24 19:49] thinkingserious commented on #851
Hello @VeselovAndrey @willtam,

It seems like you may have a timeout issue. To debug further, please [try catching that exception](https://stackoverflow.com/a/29214208) and looking into the error message.

Thanks!

With Best Regards,

Elmer

[2019-01-24 21:34] thinkingserious commented on #723
Hello @omissis,

I believe this is on the documentation team's backlog currently. (cc @ksigler7 @Whatthefoxsays)

Thanks!

Elmer

[2019-01-25 05:49] VeselovAndrey commented on #851
Actually we catching and logging all exceptions. Here is exception message from log: "A task was canceled."
Or you mean something else?

[2019-01-25 22:12] timskipper opened #852 "Could not load file or assembly 'System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies"
#### Issue Summary

I'm using the basic introduction code for sending a new email. However when the web app is run and the execute method is called I get this error:

[FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.]
   System.Signature.

[2019-01-26 16:37] #852 closed

[2019-01-28 06:24] FourieDeWet opened #853 "SendEmailAsync no response from c# project"
#### Issue Summary

I have a C# WinForms project using SendGrid 9.10.0. I send email using the SendEmailAsync but the call never returns a result even though the email is sent.
I have Googled for resolutions but could not find a anything, I also contacted SendGrid API Support and they informed me to post here because their knowledge to code review/scripts is limited. I see the same issue logged he

[2019-01-28 14:02] adamseebeck commented on #648
Same problem. Mine will work locally but when I push to azure it stops working.

[2019-01-28 19:33] thinkingserious commented on #851
Hi @VeselovAndrey,

Could you please share a snippet of the code you are using to catch the exception? Thanks!

[2019-01-29 06:53] VeselovAndrey commented on #851
I removed some code to make it compact and more readble.

try
{
    // prepare HTML and text messages for email here. No async code here
    var apiKey = _cfg.Get(CfgNames.SendGridAPIKey);
    var client = new SendGridClient(apiKey);
    var response = client.SendEmailAsync(msg).GetAwaiter().GetResult();
    var successResponse = response.StatusCode == HttpStatusCode.OK || response.StatusCode == H

[2019-01-29 08:44] FourieDeWet commented on #853
@thinkingserious,
Thank you for getting back with a proposed solution.
I can confirm that adding `.ConfigureAwait(false)` indeed solved my problem.

Thanks again

[2019-01-29 08:44] #853 closed

[2019-01-29 16:37] bioyeneye commented on #648
@somoreingold were you able to resolve the issue?

[2019-01-29 18:14] willtam commented on #851
We are also catching the exception in similar format. We’ve also added more info to our logging and found that these tend to happen more often when the email’s total attachment size goes over the 5MB mark.

[2019-01-29 18:43] thinkingserious commented on #851
@willtam Thanks for the additional information!

@VeselovAndrey are you also sending attachments over 5MB in size?

[2019-01-29 20:00] TheGreatYamcha commented on #658
I believe SendGrid api should still give the dispose option. Since the client isn't thread safe, it's not clear that we should reuse clients (through a pool) in a multithreaded environment.

[2019-01-30 07:46] VeselovAndrey commented on #851
@thinkingserious Sometimes. But it also happens even if attachment size less 100KB. I didn't find any dependency on attachment size, but I found no error for emails without attachments (but also such emails are rare in our system).

[2019-01-30 08:49] dkprajapati1988 commented on #274
` var response = client.SendEmailAsync(msg).Result;
                var D_Body = response.DeserializeResponseBodyAsync(response.Body);
                var D_Header = response.DeserializeResponseHeaders(response.Headers);
                var Message_ID = response.Headers.Single(x => x.Key == "X-Message-Id").Value.ToList();`

[2019-02-04 23:30] asmenter15 opened #855 "Email Activity API events query format"
#### Issue Summary

On the live documentation when I attempt this request I get a 500 internal server error. Is this the correct format for events? If I follow the format in the docs I get a formatting error.

I also have the Additional Email Activity History turned on.

**Docs current format**

events | events="processed" | events%3D%22processed%22
-- | -- | --

**First Attempt**
https://api.send

[2019-02-04 23:33] #855 closed

[2019-02-04 23:33] asmenter15 commented on #855
Wrong repo sorry.

[2019-02-05 08:26] srinivas252 opened #856 "Sendgrid not able to access template with API key showing Access forbidden."
#### Request returned status Code 401Body:{"errors":[{"message":"The provided authorization grant is invalid, expired, or revoked","field":null,"help":null}]}

Am writing java code to access my particular template in sendgrid free version account with API KEY

#### Just run my below code

I want to access the template with body in my java code or rest call please help
#### Technical details:

* se

[2019-02-05 08:28] srinivas252 opened #857 "Thanks for getting that to me so quickly? Do you already have a support ticket number for this issue?"
please go through my issue and help me to resolve as quickly as possible

[2019-02-05 08:41] srinivas252 commented on #185
**ISSUE** : Request** returned status Code 401Body:{"errors":[{"message":"The provided authorization grant is invalid, expired, or revoked","field":null,"help":null}]}

package springboot.SendgridExample;
import java.io.IOException;

import com.sendgrid.*;

public class Sendmail1 {
  public static void main(String[] args) throws IOException {
    Email from = new Email("XXX@gmail.com");
    String

[2019-02-05 08:43] srinivas252 commented on #185
Hi,

Am not able to access any of the API from sendgrid
* `GET https://api.sendgrid.com/v3/user/profile`

* `GET https://api.sendgrid.com/v3/api_keys`

Getting Access forbidden issue please help me to resolve
Thanks in advance.

[2019-02-06 14:01] thinkingserious commented on #856
Hello @srinivas252,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-02-06 14:01] #856 closed

[2019-02-06 14:01] #857 closed

[2019-02-06 14:10] thinkingserious commented on #851
Hi @VeselovAndrey,

Can you try increasing the timeout value on your server side? And also, add some logic in your code that will retry when this happens? Or is is that once you get this exception, that email will never send?

With Best Regards,

Elmer

[2019-02-06 22:23] DavidRouyer commented on #851
I have the same problem, a timeout occurs sometimes while sending an attachment.
* sendgrid-csharp Version: 9.10.0 (installed from NuGet)
* Platform ASP.NET Core
* .NET Core Version: 2.2

[code]

My settings:

[code]

Application Insights allows me to see the SendGrid dependency:
![capture](https://user-images.githubusercontent.com/1556750/52377619-b946d000-2a65-11e9-9a83-4b18f6f21b33.PNG)

I gues

[2019-02-07 10:49] johanneszieglturm commented on #667
Same problem with german umlauts:

`Attachment attachment = new Attachment()
            {
                Content = file,
                Filename = "Passwort ändern.png"
            };`

![unbenannt](https://user-images.githubusercontent.com/5843004/52406601-62291580-2ace-11e9-8b50-bde9ab1335e2.PNG)

[2019-02-07 15:57] thinkingserious commented on #851
Hi @DavidRouyer,

Wow, that should definitely not happen. I will check with our support team to find out if there are any delays receiving files on our end.

With Best Regards,

Elmer

[2019-02-07 16:12] thinkingserious commented on #851
@VeselovAndrey, @DavidRouyer, @willtam,

The support team has asked for you all to please [open tickets](https://support.sendgrid.com) and include the IP that you are connecting with for further debugging.

With Best Regards,

Elmer

[2019-02-07 17:35] willtam commented on #851
@thinkingserious

I added extra logging and found that whenever a request is taking 100+ seconds to complete, then this error will get thrown. Thanks for looking into it.

[2019-02-08 17:59] graham-saunders commented on #851
@willtam  I'm also seeing this issue.

@thinkingserious has there been any updates here? Seems like a fairly common issue. Should we also open tickets? And should the tickets be for each subuser or as a general account?

[2019-02-08 20:17] fullmetalpacket commented on #339
+1 how come this is still not in production APIs? come one sendgrid!! :)

[2019-02-08 23:49] mikeycdavis commented on #706
I've used the steps to reproduce this issue, and tested this numerous ways. In AppleMail on a Mac, the image and the attachment is displayed as expected.

However, on iOS, if you send the attachment or image as Disposition:inline, the email will display that there is an attachment, but it will not display the inline attachment. It will display the attachment if it is set to Disposition:attachment.

[2019-02-10 06:02] thilankascentic opened #858 "SetTemplateData not working in .NET ( azure functions)"
Im trying to bind some values to transcriptional template, but those values not binding.

[code]

email sending perfectly but values not binding, anyone got a solution for this ?

[2019-02-10 15:50] mydoal commented on #667
Same problem in Gmail.

[2019-02-11 07:09] VeselovAndrey commented on #851
@thinkingserious Actually I was sent to GitHub repo from support ticked. Should I open a new one?

[2019-02-11 13:33] himanshuphirke commented on #694
Could you please provide an example of IN operator also?
I am trying to locate email status based on multiple unique args and have all in one email call so that less network latency

[2019-02-11 14:56] thinkingserious commented on #858
Hello @thilankascentic,

Can you please try refactoring your code based on [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates)?

With Best Regards,

Elmer

[2019-02-11 18:53] thinkingserious commented on #851
Hi @VeselovAndrey,

Could you please just reference this thread in your previous ticket? Thanks!

[2019-02-12 04:03] mdcanham commented on #339
I'm usually against +1 comments, they add unnecessary noise to the issue. However in this case, given that this is the chosen method of upvoting this issue: **+1**.

[2019-02-13 09:36] VeselovAndrey commented on #851
@thinkingserious I can't add new message because ticket already closed as solved. But I can provide the ticked number: 1855796

[2019-02-13 18:16] thinkingserious commented on #851
Hi @VeselovAndrey,

I have let the support team know. Thanks!

With Best Regards,

Elmer

[2019-02-14 00:59] TerrySlack commented on #299
It's 2019 and I've just run into the same issue
I have a simple project, setup that does nothing more than attemp to send an email as a test.  However, I get the following error
Could not load file or assembly 'SendGrid, Version=9.10.0.0, Culture=neutral, PublicKeyToken=4f047e93159395ca' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (

[2019-02-14 15:52] rijup1994 opened #859 "SendGrid mail not sending"
#### Issue Summary

I'm new to SendGrid and relatively new to Azure so this may be something simple

My code is as follows

#### Steps to Reproduce

[code]
#### Technical details:

* sendgrid-csharp Version: master (latest commit: [commit number])
* Platform (WebForms, ASP.NET, ASP.NET Core, etc.)
* .NET Version: 4.5.2

I get no email, and the SendGrid dashboard shows no activity.
When I examine t

[2019-02-15 18:24] thinkingserious commented on #859
Hello @rijup1994,

I believe the issue is that you are missing the `await` keyword before `client.SendEMailAsync(msg);`. Please see [this example](https://github.com/sendgrid/sendgrid-csharp#hello-email).

Thanks!

With Best Regards,

Elmer

[2019-02-15 23:45] Drewzar commented on #656
@thinkingserious

Any update on this, we've just run in to this issue ourselves? I've already gone ahead and submitted feedback.

[2019-02-18 09:39] Rody66 commented on #521
I want to find out too, can we use Singleton or not.

[2019-02-19 00:31] kunit1 opened #860 ".Net Core 2.2 support issue"
#### Issue Summary

Upon installing the Nuget package into a ASP .NET Core 2.2 the package restore fails with the following error:
`
Error	NU1201	Project XYZ is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Project XYZ supports: netcoreapp2.2 (.NETCoreApp,Version=v2.2)	`

#### Steps to Reproduce

1. Install package in .NET Core 2.2 project
2. See error in error list

#### Technical

[2019-02-19 01:10] #860 closed

[2019-02-19 16:32] graham-saunders commented on #851
@thinkingserious  any updates on this issue?

[2019-02-21 19:04] danielcongrove commented on #732
@AmbroiseCouissin How were you able to figure out the error that caused the issue? I'm periodically experiencing the same error, but we've only used about half of our credits for the month, so I don't think that's it.

[2019-02-21 22:17] thinkingserious commented on #851
Hello @graham-saunders,

Last I heard was that this was still under investigation. If this is happening to you, please do reach out to our [support team](https://support.sendgrid.com). More data could likely help us get to resolution quicker. Thanks!

With Best Regards,

Elmer

[2019-02-21 22:19] thinkingserious commented on #732
Hello @danielcongrove,

It seems like you may be experiencing [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/851). I suggest that you reach out to our [support team](https://support.sendgrid.com) so that look at your account specifically.

With Best Regards,

Elmer

[2019-02-21 22:32] jwisener commented on #675
Same here, we are getting this as well.

[2019-02-22 20:31] S1r-Lanzelot commented on #648
+1 same stacktrace @AmbroiseCouissin

[2019-02-25 08:42] Pieter-1337 opened #861 "Get data from marketing campaigns from your api"
Hi, I am using Sendgrid for a client of us whom also started using marketing campaigns recently. Now they are asking if it is possible to get the statistics concerning the marketing campaigns they are sending in a seperate rapport.  So is it possible for your api to return data concerning Marketing campaigns if I would make a let's say a daily request of all marketing campaigns of a certain SendGr

[2019-02-26 16:27] jestoya opened #862 "An error occurred while sending the request."
We have a proxy in our server. Some of the files are being delivered but sometimes its failing when sending the request (sg.SendEmailAsync(mail))
=============================================================
var httpClient = new HttpClient(
                    new HttpClientHandler()
                    {
                        Proxy = new WebProxy(webProxy),
                        UseProxy = tr

[2019-02-26 22:06] thinkingserious commented on #861
Hello @Pieter-1337,

Here is the information on [marketing campaign stats.](https://sendgrid.com/docs/API_Reference/api_v3.html)

I hope that helps!

With Best Regards,

Elmer

[2019-02-26 22:08] thinkingserious commented on #862
Hello @jestoya,

It looks like you may have an issue with your server talking to our server. For this type of issue, it's best to reach out to our [support team](https://support.sendgrid.com) so that they may look deeper into your account. It is also possible, you may be running into [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/851).

With Best Regards,

Elmer Thomas

[2019-02-27 15:14] jestoya commented on #862
Well the support team suggestion is to go here. And now I need to go back to support team? This is not happening in all the request. 1 or 2 out of 10 request is failing. I even have 700 emails that has been delivered in my past testing so I don't think this is on our side.
![image](https://user-images.githubusercontent.com/48025503/53500492-5fc24600-3ae5-11e9-99e7-5707a2fb7994.png)

[2019-02-28 14:51] thinkingserious commented on #862
Hello @jestoya,

When you reach out to support, please reference [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/851). I suspect your issue is related.

With Best Regards,

Elmer

[2019-02-28 16:28] simba22042 opened #863 "Send Grid Transnational Template example"
Is there a working example of using the C# Send Grid Client SDK with transnational template. My issue is my dynamic data is not getting populated when using a transnational template .

#### Technical details:

* sendgrid-csharp Version: master (latest commit: [commit number])
* Platform (WebForms, ASP.NET, ASP.NET Core, etc.)
* .NET Version: 4.5.2

[2019-02-28 17:16] thinkingserious commented on #863
Hello @simba22042,

Have you taken a look [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates)?

Please let me know if that helps.

With Best Regards,

Elmer

[2019-03-02 11:33] nitinmuteja opened #864 "Multiple httpClients created when using multiple sub- accounts in sendgrid"
#### Issue Summary

When using multiple sendgrid subaccounts in web services, you might need to create a sendgrid object per web request. Sendgrid client does not utilize the same HTTP client and keeps on creating them per object. Since the application URL is the same, we could limit the HTTP client per URL by using a static instance. In this scenario, the sendgrid client creates throttling in app

[2019-03-04 08:48] dantheman999301 opened #865 "Creating a subuser with a username creating a % symbol cannot be deleted"
#### Issue Summary

If you create a subuser with a `%` symbol in the username, it cannot then be deleted, either through the API or through the app (which uses the API so not that surprising!)

I don't believe this issue is down to the C# library but it's where we noticed it.

#### Steps to Reproduce

1. Create subuser with a % symbol in the username
2. Try and delete the subuser, either through A

[2019-03-04 17:41] winzig opened #866 "Support for toLowerCase/toUpperCase Handlebars helpers?"
This isn't strictly related to your C-Sharp library, but I didn't see another repo for things related to your templating system. You now support Handlebars substitution format. One thing that would be really nice is if you also could supply some Handlebars helpers to deal with casing on variables. E.g.:

[code]

And then SendGrid would implement the `toLowerCase` Handlebars helper method (and idea

[2019-03-04 18:17] thinkingserious commented on #864
Hello @nitinmuteja,

Thank you for taking the time to highlight this limitation of our SDK. I like your suggestion and have added it our backlog and opened it up to the community for a PR.

With Best Regards,

Elmer

[2019-03-04 18:18] thinkingserious commented on #865
Hello @dantheman999301,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-03-04 18:18] #865 closed

[2019-03-04 18:18] thinkingserious commented on #866
Hello @winzig,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-03-04 18:18] #866 closed

[2019-03-04 21:59] kpardo11 opened #867 "HTTP response code 403 on add recipient api call"
#### Issue Summary

I am trying to add recipients through the API but to no avail. I'm currently running these tests using a console application (.Net Core)

False
Completed
{"errors":[{"field":null,"message":"access forbidden"}]}

#### Steps to Reproduce

var client = new RestClient("https://api.sendgrid.com/v3/contactdb/recipients");
            var request = new RestRequest(Method.POST);

[2019-03-05 14:47] ricktheartist opened #868 "Not Compatible with System.Net.Http 4.3.4"
I updated my NuGet Packages included System.Net.Http to the latest version (4.3.4) a few days ago.

Today I discovered a page using the SendGrid package (version 9.10.0) had a failure to load the System.net.Http referenced assembly `Could not load file or assembly 'System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's

[2019-03-05 18:29] thinkingserious commented on #867
Hello @kpardo11,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-03-05 18:29] #867 closed

[2019-03-05 19:25] thinkingserious commented on #868
Thanks for the heads up @ricktheartist! I've added this to our backlog.

[2019-03-10 14:05] VeselovAndrey commented on #851
@thinkingserious Finally we integrate changes you suggested into production. But still we get 1 failed email sometimes even after all retries.

[2019-03-11 07:22] willtam commented on #851
I ended up passing in a HttpClient with a longer timeout value into the SendGridClient constructor as follows:

System.Net.Http.HttpClient longerTimeoutValueClient = new System.Net.Http.HttpClient();
longerTimeoutValueClient.Timeout = new TimeSpan(0, 5, 0);
SendGridClient sgc = new SendGridClient(longerTimeoutValueClient, apiKey);

Then I also wrapped the SendEmailAsync() call within a loop that r

[2019-03-11 18:37] thinkingserious commented on #851
@VeselovAndrey, @willtam,

Please be sure to update your support tickets with the new information. Thanks!

And thanks for taking the time to post here!

With Best Regards,

Elmer

[2019-03-12 15:19] Pieter-1337 commented on #861
Hi Elmer,

Thanks for the reponse, according to that documentation it would not be possible to retrieve data like unique opens, clicks in the mail, and other marketing related statistics concerning single mail campaigns? Am I right to assume this or have I missed something in the documentation? My client would very get all possible information (so what the end receiver does with the mail) concerni

[2019-03-12 20:11] thinkingserious commented on #861
Hello @Pieter-1337,

You are correct. However, there is a workaround. If you use categories in Marketing Campaigns, you could then use the `/categories/stats` endpoint.

With Best Regards,

Elmer

[2019-03-13 14:45] Pieter-1337 commented on #861
Hi, @thinkingserious ,

Thanks for the work-around that's already a lot of information I can use now.
One more question though, with the` categories/stats` endpoint I would be receiving a lot of information about Clicks, opens, bounced etc but all would return integers as in the number of actions. Is there a possibility to get the actual values of the email-addresses (array or list perhaps) whom c

[2019-03-14 12:36] AlquistArj commented on #851
I'm also getting "A task was cancelled" exceptions. I'm sending via a flaky satellite link so the quality of connection is sometimes poor, or non existent. I notice the problem occurs more frequently as the attachments gets bigger. Does the upload happen in one chunk? Is there any way to upload in smaller chunks to potentially improve reliability particularly if sending on a flaky network link.

[2019-03-15 00:40] tgwaste commented on #185
Still broken
https://api.sendgrid.com/v3/user/credits
{"errors":[{"field":null,"message":"access forbidden"}]}

[2019-03-16 17:51] jrichview opened #869 "Quickstart C# code sends mail, but hangs on last instruction in MVC"
#### Issue Summary

Using the sample code provided for quickstart I created a simple ASP.NET  MVC app. During form post I call the Execute() method and it never returns from the final instruction of the method, thus hanging the application. The email DOES get sent, though.

#### Steps to Reproduce

1) Create a simple MVC app (regular dotnet, not Core), add the Sendgrid library via Nuget
2) create

[2019-03-16 20:06] jrichview commented on #869
Tested with framework 4.7.2 and same problem. Created new project from scratch.

[2019-03-17 08:48] cedemax commented on #868
I have the same error message, but the workaround proposed by @ricktheartist does not solve it for me. I started getting this error message when i updated from net46 to net472.

[2019-03-19 00:27] kanup commented on #847
There is a constructor that takes HttpClient. I think you can just use that to inject it with something like:

services.AddHttpClient<ISendGridClient, SendGridClient>();

[2019-03-19 17:53] thinkingserious commented on #869
Hello @jrichview,

For ASP.NET projects, please have a look at [this example project](https://github.com/sendgrid/sendgrid-csharp/blob/master/ExampleNet45ASPNetProject/SendGrid.ASPWebFormsSamples/Services/SendGridService.cs).

Please let me know if that helps!

With Best Regards,

Elmer

[2019-03-19 18:16] jrichview commented on #869
Elmer,
Thank you for sending that link. However, that is an example of an ASP.NET WebForms project, not an MVC project.  Also, I'm not having any difficulty understanding how to call the code. I've been a professional software developer since the late 1980s.  I clearly understand how to include the library and call it. I've used the C# sample code in the past (I believe it was V2 interface).

What

[2019-03-19 20:06] thinkingserious commented on #861
No, the API does not offer that level of granularity currently.

[2019-03-19 20:07] thinkingserious commented on #851
Hello @AlquistArj,

I'm not aware of way to upload the attachments in smaller chunks. How about storing your attachment behind a link? If you did that, you would also gain the advantage of click tracking.

With Best Regards,

Elmer

[2019-03-20 16:08] thinkingserious commented on #869
Thank you for the elaboration @jrichview.

Just one more clarification, are you calling the `Execute()` method like this `Execute().Wait();`?

In any case, I'm adding this to our backlog for further investigation as well.

[2019-03-20 19:29] jrichview commented on #869
I've uploaded a full demo here: https://github.com/jrichview/SendgridV3BugMVCDemo/

This project was created from scratch in Visual Studio 2017 using MVC and bare bones code. I am attaching Steps to reproduce this issue if you'd like or you can just download the project from the above link and plug in your own Sendgrid key and TO email to run it for yourself and see the problem.

[Steps To Reprodu

[2019-03-21 13:56] jnyrup commented on #869
@jrichview The problem might be, that your code blocks the async part
http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2019-03-21 15:36] jrichview commented on #869
Well, to begin with I'm calling the code precisely the way the C# sample specifies it should be called. Did you look at the example controller code in the project above?

[2019-03-21 15:47] thinkingserious commented on #869
Thanks for helping out @jrichview, we appreciate it!

@jrichview, thanks for the great job on explaining the issue. This is currently on our backlog for further review. It looks like you've provided us with all we need to replicate the issue.

[2019-03-21 15:52] thinkingserious commented on #869
@jrichview,

On [this line](https://github.com/jrichview/SendgridV3BugMVCDemo/blob/master/SendgridMVCDemo/Controllers/HomeController.cs#L39), can you try `client.SendEmailAsync(emailMessage).Result`? and see if you get a response?

[2019-03-22 12:35] Kntajus commented on #521
Another vote from me!

[2019-03-23 05:16] GiorgioG commented on #734
None of these examples work.  This library is a mess.

[2019-03-25 07:32] rajkatarki opened #870 "System.TimeoutException: The operation has timed out error"
#### Issue Summary

We are using sendgrid/sendgrid-csharp in our .NET 4.5.2 application which is hosted on Microsoft Azure as a classic cloud service (Worker Role).  We are randomly getting System.TimeoutException: The operation has timed out error. This error occurs 10-15 times everyday in production environment.

The number of recipients in each email varies from 20-100 and total attachment size

[2019-03-25 21:57] thinkingserious commented on #734
Hello @GiorgioG,

Do you mind sharing your code so that I may try to reproduce your issue? Thanks!

With Best Regards,

Elmer

[2019-03-25 22:02] thinkingserious commented on #870
Hello @rajkatarki,

Have you tried [this solution](https://github.com/sendgrid/sendgrid-csharp/issues/851#issuecomment-471430460)? If not, please try it out and let me know how it goes.

Thanks!

With Best Regards,

Elmer

[2019-03-26 12:47] james1278 opened #871 "access forbidden"
#### Issue Summary

When i call any API for SendGrid to get data getting access forbidden error.
I already give the full permission but still getting error.
I have paid account and also use full permission access key but still getting same issue and not find anywhere proper solution please provide proper way so i can manage easily.

#### Steps to Reproduce
I tired to using postman.
1. Added URl in

[2019-03-26 17:56] ray-winkelman commented on #410
I know this is closed. It's worth mentioning I had this issue and resolved it in the same way. Just straight up not responding isn't the expected behaviour of any .NET networking client. This should be fixed.

[2019-03-27 03:11] thinkingserious commented on #871
Hello @james1278,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-03-27 03:11] #871 closed

[2019-03-27 10:07] larafale commented on #339
3 years later :) hello guys, looking at https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html it seems API still does not support multiple replyTo emails. Can any insider confirm it's still the case ? it's okay if it's not, just to know if we should forget this feature. Thanks

[2019-03-27 14:23] cesarliws commented on #339
Hi, I started to implement a new system using SendGrid, but seems that I'll have to drop SendGrid and look for other solution, this feature is a must for the project I'm working on, 3 years of customers asking for the feature and still out of radar?

[2019-03-27 18:48] easytruckingET opened #872 "Needed to reboot azure webapp to let SendMail API working"
Hi,

we are experiencing a problem related to the sendgrid API that automatically sends e-mail templates from a C#.NET code. As follows you find a functional description of the issue:

1) When a new user registers to our web platform, the sendgrid API is automatically called by a procedure written in C#

2) At this point the system should send an e-mail automatically to the user that has registere

[2019-03-28 09:45] giorgioz commented on #836
how did you solve this issue?

we had a similar problem, calling Sendgrid API from Azure, but we have not found a solution yet
https://github.com/sendgrid/sendgrid-csharp/issues/872

[2019-03-28 15:06] thinkingserious commented on #872
Hello @easytruckingET,

In the case where the email is not sent, do you receive any errors? My guess would be that the issue is related to your API Key not getting set properly the first time.

With Best Regards,

Elmer

[2019-03-28 15:18] easytruckingET commented on #872
Hello @thinkingserious ,

no errors at all! In our log file there is always the 202 code that means Accepted. As follows you find an example taken from the log file:

`{
"StatusCode": 202,
"Body": {
"Headers": [{
"Key": "Content-Length",
"Value": ["0"]
}, {
"Key": "Content-Type",
"Value": ["text/plain; charset=utf-8"]
}
]
},
"Headers": [{
"Key": "Connection",
"Value": ["keep-alive"]
}, {
"Key": "X

[2019-03-28 18:35] processguy commented on #836
Our problem was a non-Async call to Azure Key Vault, elsewhere in the overall procedure.  We solved it by adding very detailed logging, watching each step, until we found the failure point.

[2019-03-29 18:19] thinkingserious commented on #872
Hello @easytruckingET,

I think have misunderstood you. Could you please verify my assumptions:

1. You have live code running on Azure and when an email should be triggered, nothing happens.
2. Or, during item 1, do you get the 202, but don't see the email activity?

If item 1 is correct, can you try logging the request body after you make the call?

What I meant by setting the API Key at the fir

[2019-03-31 09:28] kowalej opened #873 "Empty list call to AddCcs results in Bad Request from API."
#### Issue Summary

When sending an email after calling SendGridMessage.AddCCs and supplying a null or empty CC list - I receive a [400] Bad Request response from the API and my email is not sent.

No error is thrown when calling AddCCs with a null or empty list, and the problem only arises after calling the API. It took my a very long time to narrow this down as the single reason I was getting ba

[2019-03-31 18:37] MuhammadTanveerAshraf opened #874 "SendGrid - Unable to send email with Substitution in Asp.Net MVC"
#### Issue Summary

I am using SendGrid Free version Transactional Templates. I am trying to send email with substitutions using Mail object. When I remove substitutions from Personalization, it sends email successfully to the recipient. But with substitutions, it fails with 400 - BAD REQUEST.
Moreover i reconfirm from the template my dynamic parameters are the same as i am using in SendGrid Mail

[2019-03-31 19:02] MuhammadTanveerAshraf commented on #874
@thinkingserious

[2019-04-01 10:52] easytruckingET commented on #872
Hello @thinkingserious,

1. Yes, it's right what you're saying regarding the activation mail sent to the user. The situation with other mails triggered by the system in other steps of our workflow (e.g. the order confirmation) when the user has already activated the account is different and mails are correctly sent.
2. Yes, during item 1, we get the 202 but there isn't mail activity.

I let you kn

[2019-04-01 17:31] LCichanowiczPMG commented on #869
@thinkingserious, I just experienced the same problem as the OP (@jrichview), with a clean, simple setup.  I changed [that line ](https://github.com/jrichview/SendgridV3BugMVCDemo/blob/master/SendgridMVCDemo/Controllers/HomeController.cs#L39) of code, as you described, and now it works, but is now sync, instead of async.

[2019-04-01 17:32] lcichanowicz commented on #869
@thinkingserious, I just experienced the same problem as the OP (@jrichview), with a clean, simple setup.  I changed [that line ](https://github.com/jrichview/SendgridV3BugMVCDemo/blob/master/SendgridMVCDemo/Controllers/HomeController.cs#L39) of code, as you described, and now it works, but is now sync, instead of async.

[2019-04-01 17:33] lcichanowicz commented on #869
@thinkingserious, I just experienced the same problem as the OP (@jrichview), with a clean, simple setup.  I changed [that line ](https://github.com/jrichview/SendgridV3BugMVCDemo/blob/master/SendgridMVCDemo/Controllers/HomeController.cs#L39) of code, as you described, and now it works, but is now sync, instead of async.

[2019-04-01 23:12] thinkingserious commented on #873
Hello @kowalej,

I agree with you, we should be handling this much more gracefully. My apologies for the poor experience :(

I've added this to our backlog.

With Best Regards,

Elmer

[2019-04-01 23:15] thinkingserious commented on #874
Hello @MuhammadTanveerAshraf,

Could you please try utilizing the examples [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates)? You will need to upgrade to [v9.10.0](https://github.com/sendgrid/sendgrid-csharp/releases/tag/v9.10.0).

With Best Regards,

Elmer

[2019-04-01 23:16] thinkingserious commented on #872
Hello @easytruckingET,

Based on your description, my guess is that the logic to send the email in the activation work flow is not triggering the email. Please let me know what your logging reveals.

With Best Regards,

Elmer

[2019-04-02 10:06] MuhammadTanveerAshraf commented on #874
Thanks @thinkingserious for your response.
I've tried using substitutions with Legacy Templates and its working :)

[2019-04-02 10:06] #874 closed

[2019-04-02 17:24] thinkingserious commented on #869
Thanks for the additional input @lcichanowicz!

[2019-04-02 17:35] jrichview commented on #869
Sorry guys, I ended up rewriting it to use std DotNet SMTP rather than the SendGrid library.  If you still need me to I can download the sample code that I linked above and try the mod.

[2019-04-03 13:52] thinkingserious commented on #869
No worries @jrichview, I'm appreciative that you circled back with us. If you do have a minute, your additional feedback would be useful towards improving the experience for future users :)

[2019-04-04 19:56] JWilliams-CINC commented on #656
Also having this issue. Trying to send an email containing 'Mejía' in the ReplyTo.

[2019-04-05 18:20] vincenzo84 opened #875 "Locked out of my account due to IP address whitelisting"
Hi,

I can't login with my account because i changed the ip of my connection and now the new ip is not whitelisted.

I contacted SendGrid support (ticket 2088580), but i didn't receive a response.

Can you help me? it's urgent.

Thanks in advance

[2019-04-05 19:55] thinkingserious commented on #875
Hello @vincenzo84,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-04-05 19:55] #875 closed

[2019-04-09 07:27] magnuskarlssonhm commented on #683
Had the same error, noted that the API key get some escape characters when you paste into the config file. Like this "SendgridApiKey": "/"SG.sgha8327h

[2019-04-11 00:20] mikeball commented on #268
Unfortunately I too just wasted a whole afternoon tracking down with this precise issue, and it seems crazy it's not yet been dealt with after 3 years.

My suggestion is to simply check for names that have a comma in them, and if they are not quoted, then quote them. Simple fix would have saved me, and others so very many hours of work, and the thousands of people wouldn't have their emails silent

[2019-04-11 09:59] vanillajonathan commented on #268
Would adding double quotes around the value of the `Name` attribute in the `EmailAddress` class solve this?

https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/Model/EmailAddress.cs#L31

[code]

.NET normalizes the string.
https://github.com/dotnet/corefx/blob/master/src/System.Net.Mail/src/System/Net/Mail/MailAddress.cs#L79
https://github.com/dotnet/corefx/blob/mast

[2019-04-12 03:09] JWilliams-CINC commented on #656
After contacting SendGrid they have effectively said that they will not fix this issue, we have to remove the Unicode characters ourselves. We have implemented the answer from this Stack Overflow question and it covers most cases. Hopefully this is useful for anyone else finding this ticket.

https://stackoverflow.com/questions/249087/how-do-i-remove-diacritics-accents-from-a-string-in-net

[2019-04-13 18:44] thatpoordev commented on #656
@JWilliams-CINC removing/replacing characters results in a different email address. A different email address that possibly doesn't exist or if it does, is owned by another person.

[2019-04-18 21:15] jnyrup commented on #868
@ricktheartist What framework are you targeting?
If you're targeting .Net Framework 4.x, SendGrid 9.11 has an unnecessary *package* dependency on `System.Net.Http`.
That could cause the problem as .Net Framework itself includes `System.Net.Http`.
If you haven't tried already, try add an assembly reference to `System.Net.Http`.

[2019-04-19 09:07] Shilp commented on #851
@thinkingserious Getting similar exceptions everyday with our sendgrid v3 integration,
Exception Info: System.Net.WebException
  at System.Net.HttpWebRequest.EndGetRequestStream(System.IAsyncResult, System.Net.TransportContext ByRef)
  at System.Net.Http.HttpClientHandler.GetRequestStreamCallback(System.IAsyncResult)

Exception Info: System.Net.Http.HttpRequestException
  at System.Runtime.Excepti

[2019-04-22 15:16] w3bStuff commented on #648
Problem still happening when the API key is invalid.
The API v2 used to return 400, not ideal as it should return 401 but still better than:
"Error while copying content to a stream." and "Unable to read data from the transport connection: The connection was closed".
Any timeline for resolution after nearly 1.5 year?

[2019-04-22 15:39] manutdkid77 commented on #873
@thinkingserious Can I work on this issue?

[2019-04-22 20:04] thinkingserious commented on #851
Hi @Shilp,

Have you tried [this solution](https://github.com/sendgrid/sendgrid-csharp/issues/851#issuecomment-4714304600)?

With Best Regards,

Elmer

[2019-04-22 21:57] dhaverka opened #878 "SendGridClient.cs not found - occurs on statement: var client = new SendGridClient(apiKey); }"
#### Issue Summary

I receive the SendGridClient.cs not found error.

It occurs on statement:
var client = new SendGridClient(apiKey);

I have a valid value in apikey

[2019-04-22 22:05] thinkingserious commented on #878
Hello @dhaverka,

How did you install the library and what version did you install?

Thanks!

With Best Regards,

Elmer

[2019-04-22 22:08] dhaverka commented on #878
I used the Visual Studio Manage Nuget Console, and I searched for Sendgrid.  I chose to install it and it installed 9.11.0

[2019-04-22 22:25] dhaverka commented on #878
i uninstalled and cleared the nuget cache, and went into package manager console and typed install-package sendgrid.  It stated install successful.  So, I retried my program,  same error:  SendGridClient.cs not found.
source search information:
Locating source for 'C:\Users\elmer\Documents\GitHub\sendgrid-csharp\src\SendGrid\SendGridClient.cs'. Checksum: SHA1 {f9 b7 9e ee aa d3 b2 22 56 e5 ff 61 4

[2019-04-22 22:25] dhaverka commented on #878
going home for the day, I'll sign on at home to see if there's response yet this evening.

[2019-04-22 22:57] thinkingserious commented on #878
Hello @dhaverka,

I have just tried to reproduce on Visual Studio 2017 in Windows 10. I did not receive the error. Could you please provide further detail on your programming environment?

Here is the code I used: https://github.com/sendgrid/sendgrid-csharp#hello-email

With Best Regards,

Elmer

[2019-04-23 00:18] dhaverka commented on #878
4.61, mvc program with controllers,  this is in a common.cs   - my twilio routines for SMS and fax were removed to send this.   I will try your example as a standalone project later.  This program errors on the var client statement

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using SpecialProducts.Models;
using System.Threading.Tasks;
using System.Runtime.I

[2019-04-23 01:01] dhaverka commented on #878
Hi,  I figured out when it happens.    If you set the break point on the var client = new statement and then step in the debugger it blows up.  If you  don't set a first break point until the var msg statement, it doesn't blow up.  Evidently the debugger loses track of where the code lies.  In non debug mode this will not be a problem.

[2019-04-23 01:25] dhaverka commented on #878
I will think its typical behavior not to use the debugger to step that statement. So I will close the ticket.  Thanks for being so willing to help so quickly.

[2019-04-23 01:25] #878 closed

[2019-04-23 01:25] dhaverka commented on #878
I will think its typical behavior not to use the debugger to step that statement. So I will close the ticket.  Thanks for being so willing to help so quickly.

[2019-04-23 05:01] Shilp commented on #851
@thinkingserious Does the timeout exception thrown after the default retries exhaust or is it on first call itself? Is it safe to retry on catching exceptions? We do not want duplicate emails to be delivered. Is the ReliabilitySettings recommended before adding a retry logic on exceptions? I would like to know what is the default wait time before a default re try happens in SendGrid. Thanks

[2019-04-24 20:51] thinkingserious commented on #851
@Shilp These are questions that are best answered by our support team. Please reach out to them [here](https://support.sendgrid.com).

[2019-04-29 06:08] camilo86 commented on #838
Is there any updates on this issue @thinkingserious  ? I'm also having the same issue with the SendGrid azure functions binding

[2019-04-30 12:03] rajkatarki commented on #870
Thank you Elmer for the suggestion.  It took a while to update the production environment with the solution.  We have updated our production environment 2 week back and were monitoring the logs. We are not seeing any timeout exceptions.

However, now we are getting _"System.Threading.Tasks.TaskCanceledException: A task was canceled."_ exception 1-2 times per day on an average.

We have also seen _

[2019-04-30 16:29] thinkingserious commented on #870
Hmm, it seems that this is still related to timeouts. See [this thread](https://github.com/dotnet/corefx/issues/27702). Maybe you need to up the timeout value a bit more?

[2019-04-30 23:09] thinkingserious commented on #838
Hi @camilo86,

Can you please try using v9.11.0?

Thanks!

[2019-04-30 23:46] camilo86 commented on #838
@thinkingserious Thanks! that fixed it

[2019-04-30 23:52] #838 closed

[2019-05-02 08:59] Brilbroeder opened #879 "SendGridClient.SendEmailAsync does not return anything, mail not sent"
After a call to .SendEmailAsync the application exits my library without any exception thrown

* sendgrid-csharp Version: Nuget 9.11.0
* Platform (ASP.NET) Core 2.2

[code]
The solution suggested in other posts to add .ConfigureAwait(false); did not change the behavior.

A workaround is to get the result :

`var response = sgClient.SendEmailAsync(sgMessage).Result;`

Any suggestions for a final so

[2019-05-03 00:25] KevinMallinson opened #880 "Dependency Injection in Startup.cs"
Hi, sorry for not following the template, but regarding issues #847  and #521, I was wondering if there is any progress?

I would like to inject a SendGridClient through DI to a controller, instead of instantiating a new client every request.

I can't rely on `services.AddHttpClient<ISendGridClient, SendGridClient>();` because I need to add the `Key` that is typically called in the SendGridClient

[2019-05-03 10:01] RobinSoenen opened #881 "Getting address already in use from the /v3/mail/send endpoint"
#### Issue Summary

In our .net core project we sometimes get a 'address already in use error' when using the       SendGridClient.

#### Steps to Reproduce

we load the in a service that is loaded via dependency injection (transient).
After some time we get the 'address already in use' error message and non of our messages are being sent anymore.

We think it is coming from httpclient.

#### Tech

[2019-05-03 21:26] thinkingserious commented on #879
Hello @Brilbroeder,

Please see the troubleshooting section [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#ui-requests-are-failing--deadlocks) for further context. There is a linked article there that might help with the final solution.

That said, I believe what you have done is what's needed for an ASP application. Please see [this example](https://github.com/s

[2019-05-03 23:35] thinkingserious commented on #881
Hello @RobinSoenen,

Thanks for taking the time to report this. I have a few questions:
* Are you running multiple instances of your application?
* What leads you to believe the error is coming from httpclient?
* Do you have any other error messages or logs?

With Best Regards,

Elmer

[2019-05-03 23:42] thinkingserious commented on #880
Hello @KevinMallinson,

I don't know the answer to this offhand, I will need to investigate further.

In the mean time, could you please elaborate on what the behavior you are seeking would look like in code if we had already implemented it so that I may better understand your workflow?

With Best Regards,

Elmer

[2019-05-04 03:55] KevinMallinson commented on #880
The behaviour would look something like this (psuedocode):

`MySendGridClient.cs`
[code]
public void ConfigureServices(IServiceCollection services)
{
    services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_1);

    services.AddHttpClient<SendGridClient, MySendGridClient>();
}

`MyController.cs`
[code]

Hopefully that makes sense,

Thanks

[2019-05-05 21:28] RobinSoenen commented on #881
Thank you for the reply.

We are running multiple instances of the application in kubernetes pods using docker (Multiple pods each having 1 instance).

After searching online we found multiple people having the same problem when using .net core 2.2. Currently we are testing with .net core 2.1

We only have this error message: address already in use

[2019-05-05 23:21] #628 closed

[2019-05-08 16:23] thinkingserious commented on #880
Thank you @KevinMallinson,

Your description was very helpful, thanks for taking the time!

I've added this to our internal backlog for consideration as well as opened it up for community contribution.

With Best Regards,

Elmer

[2019-05-08 16:26] thinkingserious commented on #881
Hello @RobinSoenen,

It does not appear that this is an issue with this SDK, rather, it looks to be a networking configuration issue. That said, I think this issue requires further investigation to be sure, so I will leave it open for further review.

With Best Regards,

Elmer

[2019-05-14 09:33] markobabic opened #882 "Transient error retries"
#### Issue Summary

Is there a reason why HttpStatusCode 429 (Too many requests) is not listed in RetryDelegatingHandler?

PS. RetryDelegatingHandler also throws exceptions instead returning last response, swallowing the underlying error.

[2019-05-15 14:59] mariontichadou opened #883 "email is processing status"
Issue Summary

We have a client who have made a purchase but this client has not received any confirmation email coming from the SMTP Sendgrid.
I can see that this client email address have a PROCESSING status.

What could be the reason why an email is still in "processing"?
How can we solve this issue?

[2019-05-15 15:11] Jericho commented on #882
@markobabic If you need a C# client that respects SendGrid's retry logic documented [here](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-rate-limits), I suggest you look at [StrongGrid](https://www.nuget.org/packages/StrongGrid/) which has built-in retry and backoff when SendGrid responds with HTTP 429.

Disclaimer: I'm the author

[2019-05-15 21:34] bmeredith commented on #868
Any update on this?

We would really like to use the dynamic template functionality in >= 9.10, but are currently blocked because of the `System.Net.Http` dependency.

[2019-05-16 01:53] thinkingserious commented on #882
Thanks for bringing this issue to our attention @markobabic!

I've added this to our backlog and tagged it appropriately in case someone in our C# community would like to make a PR.

I can also vouch for @Jericho's StrongGrid library.

[2019-05-16 01:54] thinkingserious commented on #883
Hello @mariontichadou,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-05-16 01:54] #883 closed

[2019-05-16 16:07] markobabic commented on #882
Sure, I could have a go at it. Would you mind if I returned last http response also instead of throwing exceptions?
What do I need to know before I raise a pull request?

[2019-05-16 16:15] Jericho commented on #882
@markobabic Enabling the sendgrid-csharp library to retry has been discussed many times in the last few years so you should review this [issue](https://github.com/sendgrid/sendgrid-csharp/issues/369), this [pull-request](https://github.com/sendgrid/sendgrid-csharp/pull/509) and this other [pull-request](https://github.com/sendgrid/sendgrid-csharp/pull/509).

[2019-05-20 17:30] mrsweaters commented on #656
Also experiencing this problem. Clearly they must have some code debt that makes it difficult to resolve, I understand the pain, but it is indeed necessary to resolve.

[2019-05-21 00:28] samyaktelsang commented on #251
Thanks @eat-sleep-code . Had the same issue.

[2019-05-21 01:58] thinkingserious commented on #868
Hi @bmeredith,

I believe this is a duplicate of [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/742) which has an associated PR [here](https://github.com/sendgrid/sendgrid-csharp/pull/743). Could you please upvote both to help increase its value in our backlog? Thank you!

With Best Regards,

Elmer

[2019-05-21 01:59] thinkingserious commented on #868
Please follow and vote on this PR: https://github.com/sendgrid/sendgrid-csharp/pull/743

Thanks!

[2019-05-21 01:59] #868 closed

[2019-05-21 12:37] vogeljo opened #884 "HtmlContent: special characters are being replaced"
#### Issue Summary

When trying to send an email containing an [Adaptive Card](https://docs.microsoft.com/en-us/outlook/actionable-messages/adaptive-card), it is necessary to wrap the card data into a `<script type="application/adaptivecard+json">`. When i send an email containing an adaptive card, SendGrid replaces the `+` sign by `&#43;`. This destroys the complete adaptive card scenario, since

[2019-05-21 12:50] vitorebertz opened #885 "The SSL connection could not be established, see inner exception"
#### Issue Summary

We use SendGrid's NuGet package in a .NetStandard project, and sometimes face an exception while sending e-mail to users. It doesn't happen very often, but the e-mail template and the message configuration are done exactly the same every time, which is why I find this issue a little weird.

#### Steps to Reproduce

Since it doesn't happen every time we send an email, it's hard

[2019-05-22 17:34] thinkingserious commented on #339
Hello Everyone,

Thank you for taking the time to add your voice to this issue.

It would be helpful if you can share your current use case so that I can demonstrate that there is not acceptable workaround to the relevant internal team.

Thanks again!

With Best Regards,

Elmer

[2019-05-22 17:47] thinkingserious commented on #885
Hello @vitorebertz,

After a bit of research with this google search ("The message or signature supplied for verification has been altered" c#) it appears that this is a server side issue. I suggest you reach out to your server service provider for further assistance.

Meanwhile, I suggest that build a contingency for this error into your code. Perhaps a retry or log?

With Best Regards,

elmer

[2019-05-22 17:48] #885 closed

[2019-05-22 17:58] thinkingserious commented on #884
Hello @vogeljo,

In order to further assist, could you pease provide a [sample request body](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#request-body) so I may try to reproduce? You can also send it to dx@sendgrid.com if you prefer.

Thanks!

With Best Regards,

Elmer

[2019-05-22 19:31] vitorebertz commented on #885
Hello @thinkingserious, thank you for your reply!
I'll implement a retry strategy for this case, and for the server issue, we'll have to investigate further.
Thank you!

[2019-05-22 22:58] vkpnipnia64 commented on #505
I have also received this error while using SendGidClient from a WindowsService . When I looked to the event viewer , I have found a SChannel Error - SChannel A fatal alert was received from the remote endpoint. The TLS protocol defined fatal alert code is 20. The description of 20 says -. (https://blogs.msdn.microsoft.com/kaushal/2012/10/05/ssltls-alert-protocol-the-alert-codes/)
bad_record_mac
R

[2019-05-23 00:26] mdcanham commented on #339
We have a feature in our application where a user can request a personalised introduction to another user through a mutual connection. We send this mutual connection an email letting them know about the request.

Ideally we’d like the mutual connection to be able to hit reply all and make the connection. Our work around at the moment is to have a button in our emails that has a long 'mailto:' link

[2019-05-23 06:59] vogeljo commented on #884
Hi @thinkingserious,

here is an example request body:

[code]

[2019-05-23 11:24] BigClear opened #886 "Trying to get stats using SendGrid.SendGridClient.Method.Get, error 'given key was not present in the dictionary'"
#### Issue Summary

I am getting an exception error 'the given key was not present in the dictionary' when I try to do a GET request for categories/stats

I am able to send emails so my SendGrid.SendGridClient and API key work for that, just not when I try to retrieve category stats using the SendGridClient.Method.Get … I've tried it with and without Headers when I create the SendGridClient.

Here

[2019-05-23 14:29] BigClear commented on #886
ok I found, and fixed, the problem.  The queryParams string was  missing the { } … so instead of "'aggregated_by':'day','categories':'MyLakeAssociation','end_date':'2019-05-18','start_date':'2019-05-17'" it needed to be "{'aggregated_by':'day','categories':'MyLakeAssociation','end_date':'2019-05-18','start_date':'2019-05-17'}" … error message was misleading - makes you think there is something wro

[2019-05-23 14:29] #886 closed

[2019-05-28 16:52] thinkingserious commented on #505
@kylearoberts,

@vkpnipnia64's comment may shed some light on this issue. The error is: "Received a record with an incorrect MAC. This message is always fatal."

[2019-05-28 16:53] thinkingserious commented on #339
Thanks for taking the time to explain your use case @mdcanham!

[2019-05-28 17:03] thinkingserious commented on #884
This code appears to work:

[code]

Could you please give it a try?

[2019-05-28 17:10] thinkingserious commented on #886
Thanks for taking the time to provide an update!

[2019-05-30 01:06] Rody66 commented on #734
It works for me:
[code]
I think it's more gracefully than method from sample.

[2019-05-30 01:19] Rody66 commented on #750
It's a standard in 2019 actually.
To simplify this, didn't you consider to use [Refit](https://github.com/reactiveui/refit)? It's for this purpose created and it's very useful.

[2019-05-30 09:23] jinsaini commented on #648
Any fix on this, randomly started happening on our live system too since 26th May, no code was changed.

[2019-05-30 21:38] yaojunguo commented on #339
+1, we need this.

[2019-05-31 05:51] LCvijovic09 commented on #663
Hi, I would like to report that this method did not work for me. I am on version 9.7.0. I keep getting an error while using ReadAsStringAsync(). The error says something like this: Can't find method get_Body() in SendGrid (please note that this is not exectly what it says, I can't remeber how exact text was). I am using WebApi and seems to be repated with HttpContent (SendGrid responses body).
Tha

[2019-05-31 15:25] samrueby commented on #339
+1

[2019-06-03 19:34] thinkingserious commented on #750
Hello @Rody66,

I did not consider Refit, thanks for the pointer!

@Gimly,

My apologies for this thread falling between the cracks.

I like `IContactDbClient`, I think I was just referring to the location of the file. Thanks!

[2019-06-03 19:42] thinkingserious commented on #648
Hello Everyone,

While I can't give a specific timeline, I can say that all of your upvotes and comments have caused this issue to continue to rise in our backlog. I'm hopeful we can knock this one out soon.

Thanks for taking the time to create a comment or upvote!

With Best Regards,

Elmer

[2019-06-03 22:18] thinkingserious commented on #663
Hello @LCvijovic09,

In order to best assist, could you please provide the specific error and/or stack trace? Also, the source code could be helpful for reproducing the issue.

With Best Regards,

Elmer

[2019-06-03 22:34] thinkingserious commented on #339
Hi @yaojunguo, @samrueby,

If you have a moment, it would help if you could provide a brief explanation of your use case. If not, no worries, we appreciate the vote.

Thanks!

With Best Regards,

Elmer

[2019-06-04 05:25] LCvijovic09 commented on #663
Hi Elmer,
unfortenatlly I can't provide it. I figured the issue after several try/fails. The issue was said "System.[something].HttpContent SendGrid.HttpContent.get_Body() is not a method [or could not find a method]". I know this is now preatty hard to follow through, as I can't provide much details at all, but to me this seems to be related with using of IHttpResponse ibstead of HttpResponse for

[2019-06-05 00:55] 12c4IT commented on #862
Hi @jestoya,

I had similar issue and solved it by setting TLS 1.2 as the default connection.

Just below creating the HTTPClient add the following:
`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12 | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls;`

[2019-06-05 10:08] vogeljo commented on #884
Hi @thinkingserious,

i don't know how this node script is related to the C# client, but i tried it anyways. The result was exactly the same, meaning this is a server-side issue.
Is there any way i can work around this? Or can you tell me who i should speak to about this issue?

Thanks.

[2019-06-05 11:09] stiliqn-angelov opened #887 "Sign an email with personal certificate"
We are considering using SendGrid in our .NET framework application, but I am having a hard time finding out if it is possible configure emails to be signed.
I would appreciate an alternative option if this is not possible. Thanks in advance!

[2019-06-05 22:56] thinkingserious commented on #663
Hi @LCvijovic09,

Have you tried upgrading to the latest version of this SDK? (v9.11.0)

Perhaps you can send the relevant code to us via email? dx@sendgrid.com.

Thanks!

[2019-06-05 23:47] thinkingserious commented on #862
Thanks for helping out @12c4IT!

[2019-06-05 23:50] thinkingserious commented on #884
My apologies for getting my programming languages mixed up, I suppose I must have just answered a question on our Node.js library (facepalm)

For me, the Node.js code above did not do the special character replacements. Are you saying that the characters were still replaces when you tried to run that code in Node?

[2019-06-06 00:31] thinkingserious commented on #887
Hello @stiliqn-angelov,

This is not possible using our APIs directly. You would [configure your email client](https://sendgrid.com/blog/end-end-email-encryption-smime/) with your certificate while using your [SendGrid SMTP credentials](https://sendgrid.com/docs/for-developers/sending-email/integrating-with-the-smtp-api/).

I hope that helps!

With Best Regards,

Elmer

[2019-06-06 00:31] #887 closed

[2019-06-06 15:21] vogeljo commented on #884
Yes, exactly.

[2019-06-07 08:44] emlai commented on #667
We're experiencing the same issue in our production application:

![image_(10)](https://user-images.githubusercontent.com/7543552/59092129-829c9b80-8919-11e9-89bf-90cf734cd1b9.png)

[2019-06-07 14:47] patrickryan79 opened #889 "Help Wanted: Guidance on properly creating a conversation thread"
I contacted support and was told to ask this question here, so I hope that's okay.

We’re trying to develop our app much like an email client that handles proper threading back and forth. I noticed others were trying to resolve this:

[https://github.com/sendgrid/sendgrid-nodejs/issues/690#issuecomment-393336215](url)
[https://github.com/sendgrid/sendgrid-nodejs/issues/914](url)
[https://github.co

[2019-06-07 16:01] kquinbar opened #890 "How do i set the Sender of an email (not the From)?"
when using the C# client, how do I set the Sender of an email (not the From). I thought in the past i had asked this and was told to just add a "Sender" header, but that doesnt seem to work. it gets ignored.

#### Technical details:

* sendgrid-csharp Version: 9.11.0
* Platform (WebForms, ASP.NET, ASP.NET Core, etc.)
* .NET Version: 4.7.2

[2019-06-07 20:26] thinkingserious commented on #884
Hi @vogeljo,

Did it replace them in the same way as you describe above? When I looked in Gmail (view original), I saw that the characters were as I described them in my example.

Perhaps you can also try using [curl](https://sendgrid.com/docs/for-developers/sending-email/curl-examples) for debugging purposes.

Please let me know how it goes. If it's a server side issue, then I suggest you reach o

[2019-06-07 20:44] thinkingserious commented on #667
Thank you to everyone reporting this and providing details.

I'm afraid this issue may be out of our hands since it's only happening on some clients. That said, It's on our backlog for further investigation and every time we get a new +1 or comment, the issue gains more priority. So thanks again for chiming in and I think all this data will help us get to the bottom of the issue.

[2019-06-07 21:03] thinkingserious commented on #889
Hello @patrickryan79,

Thanks for alerting us to this issue and for adding such detail!

While I don't believe this is a SDK issue, I will leave this open so that our community may assist and if enough people +1 or add comments it will rise higher on our own backlog.

That said, here are some threads that may help in the meantime:
https://github.com/sendgrid/sendgrid-nodejs/issues/690
https://stac

[2019-06-07 21:46] thinkingserious commented on #890
Hello @kquinbar,

Is this something like what you tried?

`msg.AddHeader("Sender", "Michael Jones <mjones@machine.example>");`

With Best Regards,

Elmer

[2019-06-07 22:29] patrickryan79 commented on #889
Thanks @thinkingserious .. The SO link you sent was one that I looked at. I did look at the other one as well. I wouldn't have even used GH Issues if support didn't send me this way. Hopefully someone can provide some insight. Perhaps my implementation is correct after all. I just feel like it could be refactored or handled a bit differently.

[2019-06-10 13:27] kquinbar commented on #890
correct. that is what i tried before but it seems to be ignored.

I just got this below from SendGrid support which is not good news. If that is true, that presents a problem for us in our one scenerio that needs it. I could have sworn I was able to set the sender path a long time ago, so i wonder if that aspect changed over time? have you heard of this limitation with SendGrid not support setting

[2019-06-10 15:21] thinkingserious commented on #889
Hi @patrickryan79,

Do you think there is something we can do at the SDK level to make this cleaner? Perhaps we can work with the community to create helpers that make this process smoother.

With Best Regards,

Elmer

[2019-06-10 15:28] patrickryan79 commented on #889
@thinkingserious, I think if you added a prop, like `List<SendGridMessage> PreviousMessages`, perhaps with a method like `AddPreviousMessages(List<SendGridMessage> messages, autoReference = false)` that handled propagating the html and plain content appropriately, that would be helpful.

My issues arose more out of confusion and lack of clear examples I think. The examples that you linked, (same i

[2019-06-10 15:52] thinkingserious commented on #890
Hello @kquinbar,

Thank you for posting your findings here! That makes sense.

No, I had not ran across this use case yet, that I can remember.

[2019-06-10 15:54] thinkingserious commented on #889
Thats great feedback @patrickryan79, thanks for taking the time to write that up!

I will keep this issue open and add to our backlog.

[2019-06-12 05:05] warrenkc opened #891 "Question - How long does it take to send an email?"
#### Issue Summary

I am trying to reduce the amount of time it takes to send an email using SendGrid.
I tested the amount of time using the SendEmailAsync api call. Time: 774 Milliseconds https://github.com/sendgrid/sendgrid-csharp#hello-email
I tested the amount of time using the SendGrid with SmtpClient. 1837 Milliseconds

Is there any way to get the time down for sending a single email? If I u

[2019-06-12 08:19] stiliqn-angelov commented on #663
Hi @tappdarden,
I am encountering the same error while using v9.11.0

`[MissingMethodException: Method not found: 'System.Net.Http.HttpContent SendGrid.Response.get_Body()'.]`

[2019-06-12 15:10] thinkingserious commented on #663
Hello @stiliqn-angelov,

Could you please provide the source code that is producing this error? If you would rather not post it here, please send it to us via email so that we may try to reproduce the error: dx@sendgrid.com

Thanks!

With Best Regards,

Elmer

[2019-06-12 17:35] thinkingserious commented on #891
Hello @warrenkc,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-06-12 17:35] #891 closed

[2019-06-13 08:05] BlackstarSolar commented on #648
+1 same here

[2019-06-13 08:52] jinsaini commented on #648
Our issue turned out to be that we had used our monthly allowance and needed to increase it. Would be nice to actually get the correct error msg back

[2019-06-14 04:08] thinkingserious commented on #648
Thanks for reporting back here @jinsaini! Indeed, that error is very cryptic and non-helpful. I'm leaving this issue open for further investigation.

[2019-06-14 07:12] sareenkumar commented on #662
I am facing the same issue , even after adding the above Solution (  tried the solutions  )

[2019-06-14 18:50] thinkingserious commented on #662
Hello @sareenkumar,

Can you please open a ticket with our [support team](https://support.sendgrid.com)? Thank you!

With Best Regards,

Elmer

[2019-06-17 10:07] vogeljo commented on #884
Hi @thinkingserious ,
you are right. I did not try using another mail hoster or client yet because Outlook is the only Client actually supporting Adaptive Cards and my company is using Office365 Exchange. We are now convinced that the problem lies inside our Exchange configuration.

For anyone else having the same issue: The faulty part is **NOT SendGrid**, it's _probably_ hidden somewhere in your

[2019-06-17 10:07] #884 closed

[2019-06-20 13:10] Ihavenowand opened #893 "File attachment (as per example) doesn't work."
I am following the sample file attachment code:

[code]
This has clearly been modified for my system.

Nothing attaches to an email when sent. When I breakpoint the just after this code and inspect the bytes variable it is empty, same for the file variable within msg.AddAttachment.

[2019-06-20 13:13] Ihavenowand opened #894 "Passing data into {{#each }} returns unexpected results."
I pass the following JSON into SendGrid (expecting one iteration of the product card using the HTML below.  Instead, I get four.  Any ideas why?

[code]

![sendGridProblem](https://user-images.githubusercontent.com/26672549/59851780-62cb9580-9365-11e9-99c1-d0fa68799f24.png)
[code]

[2019-06-21 08:44] surftripph commented on #875
I don't get this.  You need to go to support.sendgrid.com to file a support ticket to whitelist your new IP. The website also needs you to log in.  How are you supposed to ever file a ticket? Where is the logic in that?

[2019-06-21 10:02] Ihavenowand commented on #893
I have solved my problem.  Turns out a .txt file with no content won't attach. Doh!

Closing this issue.

[2019-06-21 10:02] #893 closed

[2019-06-23 11:10] aevitas opened #895 "Readme Quick Start section is using outdated syntax"
#### Issue Summary

The quick start example provided calls `.Wait()` on an `async` method to invoke the SendGrid API asynchronously. This is fine in this specific example, but [as of C# 7.1](https://blogs.msdn.microsoft.com/mazhou/2017/05/30/c-7-series-part-2-async-main/), the `Main` method in a console application can have the `static async Task Main()` signature:
[code]

Which is not only more s

[2019-06-23 11:37] aevitas commented on #880
This could be added relatively easily by adding a constructor that accepts an `IOptions<SendGridClientOptions>` argument, unwraps the option type, and calls the existing constructor with the `SendGridClientOptions options` signature.

In your DI configuration, you'd do something along the lines of:
[code]

Let me know if you want me to apply these changes, I'll happily implement them and submit a

[2019-06-24 07:11] sharath004 opened #896 "Getting Bad request when there are multiple recipients"
#### Issue Summary

Sendgrid API throws a bad request upon execution.

![badrequest](https://user-images.githubusercontent.com/8668771/59998382-99294d80-96a2-11e9-9eec-fa7e81c07b64.png)

#### Steps to Reproduce
1. I have around 600 bcc receipients.
2. I have included both subject and TO(They do have values)
3. I pass in the key(guid) to the proxy but I get a bad request on executing it
4. The key

[2019-06-25 01:03] mikeball opened #897 "HttpClient should be a static instance, and threadpool expired periodically"
Currently HttpClient as used in https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/SendGridClient.cs#L32 creates multiple instances of HttpClient which is improper use of the class.

It which needlessly recreates/duplicates the underlying tcp connection pools for each instance of SendGridClient created. More troublesome, it leaves the underlying pools of tcp connections in a wait

[2019-06-25 09:46] DaveAurionix opened #898 "Feature request: test API Key (can only send e-mails to configured domains)"
# SendGrid Feature Request

Sorry, not sure from the SendGrid site how to raise feature requests, I'm hoping a developer at SendGrid can raise this through the correct channel …

We use the C# SendGrid client a lot, but we'd like to create API keys for test environment purposes (as opposed to the production environment) that are locked down to only send to addresses in certain domains.

As a wider

[2019-06-25 10:44] aevitas commented on #894
How is `Items` implemented?

[2019-06-25 10:47] Ihavenowand commented on #894
private class TemplateData
        {
            public string order_id { get; set; }
            public string total { get; set; }
            public string subtotal { get; set; }
            public string tax { get; set; }
            public Items items { get; set; }
            public ShippingAddress shipping_address { get; set; }
            public BillingAddress billing_address { get; set; }

[2019-06-25 10:57] aevitas commented on #894
I'm fairly sure handlebars expects the object that is being `#each`'d to be enumerable, e.g. an array in JSON, or simply an `IEnumerable<T>` in C#.

Ergo, your `TemplateData` type should look something along the lines of:

[code]

Also, I'm fairly confident the `this.` accessor shouldn't be in your HTML. If I'm not mistaken, `this.` points to an instance member, while you're looking to access the

[2019-06-25 12:30] aevitas commented on #897
See #839 @akunzai implemented this over half a year ago and it's awaiting response from one of the repository owners.

[2019-06-26 13:37] idntfy commented on #339
After 3 years with Sendgird I am close to drop it and return back to Mailgun. This is just not serious not having this feature for so long time after reporting.

[2019-06-26 20:16] Jordank321 commented on #648
Hello, in a live system we have one particular email for a single event that causes this (even on retry) but it if fine for other email of the same type. This is very confusing for us.

[2019-06-27 16:38] davidbilling commented on #858
@thinkingserious  I try to use your example, but the methon SetTemplateData does not even exist!?!

[2019-06-28 07:41] thinkingserious commented on #742
Hello @bmeredith,

We are going to close this PR in favor of #892, but we wanted to say thanks for taking the time to create a PR. Please fill out [this link](https://dx.sendgrid.com/swag) to receive some swag. Note that we are very backlogged on swag fulfillment, so I don't have a timeline on when we can send it you.

With best regards,

Elmer

[2019-06-28 07:41] #742 closed

[2019-06-28 07:42] thinkingserious commented on #884
Thanks for following up @vogeljo!

[2019-06-28 16:57] thinkingserious commented on #648
Hello @Jordank321,

When you say "email of the same type", do you mean an email that is going to the same domain? You might want to check out your [Email Activity logs](https://app.sendgrid.com/email_activity) to further debug.

With best regards,

Elmer

[2019-07-02 09:53] cheeholee opened #899 "Hello @robin-cg,"
Hello @robin-cg,

The following code worked for me using v9 of this SDK:

[code]

_Originally posted by @thinkingserious in https://github.com/sendgrid/sendgrid-csharp/issues/315#issuecomment-285266114_

[2019-07-02 09:53] cheeholee opened #900 "Hello @robin-cg,"
Hello @robin-cg,

The following code worked for me using v9 of this SDK:

[code]

_Originally posted by @thinkingserious in https://github.com/sendgrid/sendgrid-csharp/issues/315#issuecomment-285266114_

[2019-07-02 09:53] cheeholee opened #901 "Hello @robin-cg,"
Hello @robin-cg,

The following code worked for me using v9 of this SDK:

[code]

_Originally posted by @thinkingserious in https://github.com/sendgrid/sendgrid-csharp/issues/315#issuecomment-285266114_

[2019-07-03 22:41] Fieora opened #902 "MailHelper.StringToEmailAddress() returns bad data when the display name contains an @ symbol"
#### Issue Summary

When using the MailHelper.StringToEmailAddress function, if the display name contains a @ symbol (ex. username@example.com <username@example.com>) instead of working correctly or failing, the regular expression sets the NameGroup to an empty string, and the Email group to a now deformed email string (ex. username@example.com <username@example.com) (missing the closing angle bra

[2019-07-04 00:15] Fieora commented on #896
Seems like it could be relevant here, but you are responsible for making sure there are no duplicate addresses at least between the to and the cc fields, I'm unsure as of writing this if bcc is the same.

To make it easier on yourself, if message.To is a `List<EmailAddress>` (enumerable not an array) you can call the plural function msg.AddTos (Ccs, Bccs) instead of freaching them.

tl;dr If the e

[2019-07-04 04:13] thinkingserious commented on #875
Hello @surftripph,

Have you tried sending an email to support@sendgrid.com?

With best regards,

Elmer

[2019-07-04 04:20] thinkingserious commented on #895
Thank you for reporting this @aevitas! I appreciate the detailed explanation and this has been added to our backlog and the issue tagged appropriately for community contribution.

With best regards,

Elmer

[2019-07-04 04:22] thinkingserious commented on #880
Hello @aevitas,

A PR would be most welcome. Thank you!

With best regards,

Elmer

[2019-07-04 04:29] #670 closed

[2019-07-04 04:29] #897 closed

[2019-07-04 12:17] biliktamas79 commented on #521
Another vote from me!

[2019-07-04 15:33] aevitas commented on #842
@kirk-quinbar Is this still a relevant issue for you? It would seem to me that the `byte[]` allocation in `AddAttachmentAsync` is the culprit here - which could be fixed relatively easily by pooling buffers and renting them out rather than allocating them on every call.

In doing so, only the buffer pool would end up on the LOH, rather than the individual attachments. Would that be a solution to y

[2019-07-04 15:37] aevitas commented on #864
#839  combined with #904 fixes this, your proposed usage will be fully supported once those PRs are merged.

[2019-07-04 15:38] aevitas commented on #896
Once #905 gets merged, you'll be able to call `recipients.Distinct()` to ensure there are no duplicates in your recipient list.

[2019-07-05 04:02] kquinbar commented on #842
yes it continues to be of some concern to us. so is your suggestion a pull request and maybe provide an example of what you are talking about doing?

[2019-07-05 09:56] aevitas commented on #842
@kquinbar I'd be happy to submit a pull request for this if @thinkingserious thinks it's a good change as well. Basically, I'd introduce an `ArrayPool<byte>` to `SendGridMessage` which can either be passed in, providing large size buffers for use cases such as yours, or use a shared pool for all other use cases:

[code]

Instead of allocating a new `byte[]` every time an attachment is added, `AddA

[2019-07-05 13:22] jnyrup commented on #842
@aevitas One of the problems are, that non-buffered `Stream`s does not have the `Length` available.
E.g. [NetworkStream.Length](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.networkstream.length) will throw a `NotSupportedException`.

I don't have a concrete implementation at hand, but maybe something like:
[code]

My best advice would be to try different implementations and use [

[2019-07-05 14:11] DustinReagan commented on #648
I'm running into the same problem.

For me, it only happens when I run my .net core app in Docker.  Works fine when running in dev mode from visual studio.

[2019-07-05 16:18] aevitas commented on #842
I hadn't figured that part out yet, but the draft I have for it is similar to yours:

[code]
Using stack allocated spans would definitely lead to fewer allocations, but IIRC, you can't `await` in an unsafe context.

Either way, this keeps the behaviour for seekable streams (i.e. the ones where `Length` is available) exactly the same as before, and only applies special treatment to stuff like `Netw

[2019-07-08 23:29] Tenpenny77 commented on #862
I'm getting the same issue, but I don't know where to go to apply that HTTPClient fix

[2019-07-09 14:21] Ihavenowand commented on #894
Thanks for your response aevitas.

I have implemented a list as per your advice, how would I call that within dynamicTemplateData?

`            // Set data for email template
            var dynamicTemplateData = new TemplateData
            {
                order_id = "123456",
                total = "12.10",
                subtotal = "10.10",
                tax = "2.00",
                //

[2019-07-09 16:50] slava-tre commented on #339
+1

[2019-07-10 06:02] amendoza4 opened #907 "When sending calendar appointment recipient is recognized as meeting organizer if they have the same domain as the sender"
#### Issue Summary

I am using SendGrid to send calendar appointments to multiple recipients. (Recipients use Microsoft Outlook) I, as the recipient, double-clicked the .ics attachment to respond to the appointment. However, when I opened it, it says 'No Response Required'. Another note is "As the meeting organizer, you do not need to respond to the meeting." Is this the expected behavior if sende

[2019-07-10 11:43] aevitas commented on #894
@Ihavenowand In the same way as you do the other assignments, e.g.:

[code]

If you then pass that as the template data for your message, things should work out.

[2019-07-11 01:30] amendoza4 commented on #525
@thinkingserious I do not understand how the link you specified relates to the issue. The problem was to send a **calendar invite** . What you linked was to get the statistics. BTW, I am having the same problem, I have found numerous solution on how to send invites but all of it was to send it as attachment. I wanted to send it as an **actual** invite.

[2019-07-11 06:40] niranjankrsingh commented on #663
Hi @tappdarden @thinkingserious
I am also facing same issue on production server. I have sent you detail in email dx@sendgrid.com.

Method not found: 'System.Net.Http.HttpContent SendGrid.Response.get_Body()'

Thanks
Niranjan

[2019-07-11 17:10] niranjankrsingh opened #908 "Method not found: System.Net.Http.HttpContent SendGrid.Response.get_Body()"
#### Issue Summary

I have integrated Sendgrid in .net Web API. In local development environment it worked fine but when I deployed it on production server, it throws error as follows:

Method not found: 'System.Net.Http.HttpContent SendGrid.Response.get_Body()'.

I have use sendgrid  9.11.0.0.
#### Technical details:

* sendgrid-csharp Version: 9.11.0.0
* Platform (Asp.net Web API)
* .NET Version

[2019-07-11 17:42] niranjankrsingh commented on #908
I observed it deployment issue. Removed reference of system.net.http from program files directory and added it from nuget package. It added below entry in web.config and issue got resolved.

<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      <

[2019-07-11 17:42] #908 closed

[2019-07-11 18:32] mirikerstein opened #909 "Once domain is authenticated, SendGrid email doesn't display the "From" name in Gmail inbox"
Using .NET Core, and the SendGrid and SendGrid.Helpers.Mail nuget packages.
Using standard code to send a simple email. Code is:
`
private async void SendEmail(string fileString, string fileName, string body){

            try

            {

                var msg = new SendGridMessage();

                msg.SetFrom(new EmailAddress("no-reply@mydomain.com", "John Smith"));

                var

[2019-07-16 05:33] #907 closed

[2019-07-16 08:10] tanduong commented on #339
+1

[2019-07-17 03:02] tanduong commented on #339
@thinkingserious is there any hope on this?

[2019-07-17 08:20] LCvijovic09 commented on #663
Ok, so I made it work somehow. Here is the solution, first, put a breakpoint after you get the response. In "immidiate window" in VisualStudio type: namOfResponseVariable.Body.ReadAsStringAsync().Result
Thats it. :) Best of luck.

[2019-07-17 09:49] LCvijovic09 commented on #663
Also, one more thing. This may very well vary on the error type. For example, I had this error when I passed to Bcc or Cc empty list. The error was that I had to pass null, or list that is populated.

[2019-07-17 19:29] tedvanderveen commented on #648
We suffer from the same bug, please fix...

[2019-07-17 19:53] luylucas10 commented on #868
I solved this commenting the entry in the app.config and web.config files:
[code]
I updated to last version of these packages, did the comment, now it works.

[2019-07-23 08:04] contactsamie commented on #648
would you like to share your solution?

[2019-07-23 10:48] dustinmoris opened #910 "Contacts API fails with Content-Type application/json; charset=utf-8"
Making a request to the Contacts API endpoint (`{baseUrl}/marketing/contacts`) with a Content-Type of `application/json; charset=utf-8` returns a 400 Bad Request saying that the content type is not supported:

[code]

You can try it out yourself at https://sendgrid.com/docs/API_Reference/api_v3.html and send a PUT request to the Contacts endpoint.

Unfortunately this C# client ALWAYS sets the char

[2019-07-25 16:16] easytruckingET commented on #836
Hello, could you please post us the detailed logging code you have mentioned in the previous step so that we can understand if we can detail better also our one?

Thanks in advance

[2019-07-25 17:20] processguy commented on #836
Hi, we have a custom-built logging system that takes a single function call with some messages that we add at each calling point.  We put calls to that function with messages at different points in the call stack, down to individual statements in some cases.  As mentioned, we should have been using an async call in the first place;  we just did not understand that when the code was initially writt

[2019-07-26 18:06] jamespedid commented on #339
My use case is that the end user that sends the email wants to include multiple reply-to emails.

[2019-07-29 05:59] anubha1123 commented on #871
Hello,
I'm getting same issue...
Please help me

[2019-07-29 07:00] anubha1123 opened #911 "I'm getting error of access forbidden while fetching the list of campaigns"
My code below:
[code]

**Error**
**{"errors":[{"field":null,"message":"access forbidden"}]}**

i have given full access to key.

[2019-07-30 00:49] laurence-myers commented on #685
Any update on the API docs? The schema and responses are still not shown for the message activity API endpoints. Which ticket is tracking this, and in which project?

![Screen Shot 2019-07-30 at 10 47 17 am](https://user-images.githubusercontent.com/6336048/62092138-7993cf00-b2b7-11e9-91a8-a58bd06e5f4c.png)

(I'm not using the C# client, but Google brought me here.)

[2019-08-02 18:20] EdoRguez opened #912 "Problem making a request to SendGrid API"
#### Issue Summary

I'm trying to make a GET request to the API in C# using the NuGet Package. The problem is when I try to make a GET request to "categories/stats" it throws an error message saying _"start_date is required and should be a YYYY-MM-DD formatted date"_ even though I'm writting _"start_date"_ to the query parameter like the documentation says. Here is my code.

[code]

#### Technical

[2019-08-02 20:40] EdoRguez commented on #912
Btw, I solved the issue without using the NuGet Package.
[code]

But I'm still confused about why the first solution didn't work in this case if I've previously used the same way to make a GET request to other urlPath.

[2019-08-04 14:32] justlearntutors opened #913 "Provide example for parsing inbound event webhooks"
#### Issue Summary

Followed this guide: https://sendgrid.com/docs/for-developers/tracking-events/csharp-code-example/

It is not working for Asp Net Core

Those 3 lines are giving errors.
var root = HttpContext.Current.Server.MapPath("~/App_Data");
var provider = new MultipartFormDataStreamProvider(root);
await Request.Content.ReadAsMultipartAsync(provider);

Can you rewrite to Asp Net Core?