[2017-08-11 20:07] thinkingserious commented on #504
Hi @Niladri24dutta,

Yes, you got it! Thanks!

[2017-08-11 20:15] Niladri24dutta commented on #504
@thinkingserious  let me know if  a PR is required for this.

[2017-08-11 20:16] thinkingserious commented on #504
@Niladri24dutta,

A PR would get it to the top of our backlog, otherwise, it may be some time before we can implement. Thanks!

With Best Regards,

Elmer

[2017-08-11 20:18] Niladri24dutta commented on #504
@thinkingserious ok let me see if I can implement and create a PR for this. will let you know.

[2017-08-12 17:25] thenovices commented on #504
@Niladri24dutta @thinkingserious Thanks you so much for the quick response and answer! You guys are awesome! Feel free to close the issue.

[2017-08-14 15:26] plaisted opened #506 "Messages appear to be dropped by Sendgrid even after getting 2XX response from API"
#### Issue Summary

We are sending messages with Sendgrid that have attachments. We check the returned response from `SendEmailAsync()` to ensure the result was successful. Looking at the logs we are definitely getting a "Ok" or "Accepted" from the Sendgrid library as the "SendGridSuccess" is logged and no exception was thrown. See the pertinent code below:

[code]
Based on the Sendgrid API (200 O

[2017-08-14 15:32] thinkingserious commented on #506
Hello @plaisted,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-08-14 15:32] #506 closed

[2017-08-15 12:03] CharlBest opened #507 "Updating to .NETCore 2 fails"
#### Issue Summary

When I updated to .net core 2 I'm getting these errors.
![image](https://user-images.githubusercontent.com/6147400/29315220-4da66ec0-81c2-11e7-8f96-f08921cacd30.png)

#### Steps to Reproduce

Update to .net core 2

#### Technical details:

* SendGrid.NetCore 1.0.0-rtm-00002
* .NETCore 2.0

[2017-08-15 12:13] CharlBest commented on #507
This is not SendGrid's problem. The issue is with System.Net.Mail I think

[2017-08-15 16:10] #504 closed

[2017-08-15 19:43] thinkingserious commented on #507
Thanks for the update @CharlBest!

[2017-08-17 06:36] CharlBest commented on #507
Hi @thinkingserious I opened an issue here https://github.com/dotnet/corefx/issues/23246 and got the response that in .net core 2 System.Net.Mail is included and don't need to be referenced. I'm not sure how removing it would just make it work if its not working now.

[2017-08-17 07:19] Niladri24dutta commented on #507
@CharlBest  can you change your code like below and try
`myMessage.From = new EmailAddress("help@xyz.com","help");`

`myMessage.From` accepts an Object of type `EmailAddress `

[2017-08-17 12:39] CharlBest commented on #507
Hi @Niladri24dutta thanks for the reply. I found the problem.
So I had installed this:
![image](https://user-images.githubusercontent.com/6147400/29412594-c0453356-8359-11e7-918e-c901d7b02dac.png)
Rather than the normal Sendgrid nuget package.

Man I'm stupid. haha. Thanks for your time.

[2017-08-17 12:39] #507 closed

[2017-08-17 20:01] eriksteinebach commented on #505
We have been seeing the same thing starting roughly 2 weeks ago. It is a small percentage of calls, but it is definitely more than before. I was already planning to build in a retry mechanism, so I will prioritize this, but I guess it would be good for SendGrid to be aware. By @evgenyAtInsightly, you are not alone ;)

[2017-08-17 20:28] thinkingserious commented on #505
Thanks for the confirmation @eriksteinebach! Could you please also reach out to our [support team](https://support.sendgrid.com/) to get some traction on this?

[2017-08-17 20:49] thinkingserious commented on #507
Thanks for following up @CharlBest!

Thanks to @Niladri24dutta for jumping in and helping!

[2017-08-18 13:24] dannythomas13 commented on #465
Hi Elmer, do you have a public facing backlog so I can keep an eye on the priority of this issue please?

[2017-08-18 16:58] thinkingserious commented on #465
Hi @dannythomas13,

We do not right now, but I'm going to discuss this with my product manager today and see if we can come up with a better way to inform on our progress.

With Best Regards,

Elmer

[2017-08-29 11:46] sushant2517 opened #510 "New templates not delivering the email"
#### Issue Summary

I created some new templates using the new Html based template editor. But my code (that uses the Web class) is not working for these templates. The old templates are still working with the same code.

#### Technical details:

[code]

[2017-08-29 19:45] thinkingserious commented on #510
Hello @sushant2517,

Can you please check what version of the library you are using? Once you upgrade to the latest version, [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional_templates) should work for you.

With Best Regards,

Elmer

[2017-08-29 22:00] sushant2517 commented on #510
Thanks for your response. I will give it a try. But looking at the example, it uses the SendGridApiClient and not the Web (ITransport) class method that i have implemented. The older templates are still working using this. Do you mean the Web class is no longer supported for old templates? That causes serious compatibility issues for us. I would have thought it to be backwards compatible.

[2017-08-29 22:06] thinkingserious commented on #510
Hi @sushant2517,

We had a major breaking change some time ago when our underlying API was upgraded from v2 to v3. Here is some [information on that change](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#migrating).

That said, we have not deprecated v2 and it will not go away, but it is no longer supported by our team. To continue using v2, please follow [these instruc

[2017-08-30 06:05] sushant2517 commented on #510
Thanks Elmer for your response!
So, does that mean that the new templates would not work with the v2 api? (the one that uses the Web class's DeliverAsync method).
It does not throw any error (nor any blocked requests etc.), just silently ignores. Not a very elegant way to handle the requests IMO. Is it possible to migrate all the older templates to the new version. We have quite a few of them and

[2017-08-30 07:47] gliljas commented on #505
I can add that we're also experiencing issues with this.

[2017-08-30 10:30] sushant2517 commented on #510
hi @thinkingserious ,
I tried the above example, but i still don't get the email delivered.
Here is the response I received after the SendEmailAsync call:

`{"StatusCode":202,"Body":{"Headers":[{"Key":"Content-Length","Value":["0"]},{"Key":"Content-Type","Value":["text/plain; charset=utf-8"]}]},"Headers":[{"Key":"Connection","Value":["keep-alive"]},{"Key":"X-Message-Id","Value":["HFZkzSVnTDSDPVICL

[2017-08-30 15:09] carlmwright opened #511 "SendGridMessage.AddAttachment now requires Base64 encoded content"
We just upgraded from v6.1 to v9.7.

It seems that the SendGridMessage that is now in the SendGrid.Helpers.Mail namespace has changed in a breaking way internally, but not externally.

Content that is passed in to the AddAttachment method now has to be Base64 encoded. From our point of view this seems to be a completely gratuitous change that only results in errors when customers report invalid/ga

[2017-08-30 18:08] thinkingserious commented on #511
Hi @carlmwright,

Thanks for taking the time to provide feedback!

Could you please let me know what documentation you were looking at? Here is our official [attachment example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#attachments).

As for including this as part of the library, please take a moment to [upvote this issue](https://github.com/sendgrid/sendgrid-csharp/issu

[2017-08-30 18:13] thinkingserious commented on #510
Hello @sushant2517,

A status of 202 means the email should have been delivered, if not, you may want to reach out to [our support team](https://support.sendgrid.com) to take a deeper look at your account.

Also, to make sure the recipient emails are getting set correctly, you may want to try [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#viewing-the-request-body

[2017-08-30 18:33] Niladri24dutta commented on #510
@sushant2517 what is the object type for `to` in the below code

[code]
It should be an object of type `EmailAddress` class . Can you post the serialized version of the `mailMessage` just before sending the mail with something like below

`Debug.WriteLine(mailMessage.Serialize())`

[2017-08-30 18:40] thinkingserious commented on #505
Hello @gliljas,

Thanks for letting us know!

@eriksteinebach @gliljas,

If you have a moment, could you please open a [support ticket](https://support.sendgrid.com)?

With Best Regards,

Elmer

[2017-08-30 20:03] carlmwright commented on #511
Hi,

There was a document about moving from V2 to v3, I think, but I can't see it now.

The main problem for me was that the SendGridMessage.AddAttachment used to take string name, string content the same as it does now, but content now has to be base64 encoded, whereas it used to do this internally.

[2017-08-30 20:46] sushant2517 commented on #510
Hi Niladri,

I am using the overload of the AddTo method that takes the address as string.
Here is the serialized Message request:

`{"from":{"name":"RefGrid Admin","email":"admin@refgrid.com"},"subject":null,"personalizations":[{"to":[{"name":null,"email":"skulkarni.net@gmail.com"}],"cc":null,"bcc":null,"subject":"RefGrid: Job Archived","headers":null,"substitutions":{"%ReferrerName%":"Sushant Ku

[2017-08-30 20:51] thinkingserious commented on #510
@sushant2517,

Do you see any email activity [here](https://app.sendgrid.com/email_activity)? If not, there may be something specific to your account that is amiss since a [202 response](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) means that your message was received by SendGrid and queued for delivery. In that case, our [support team](https://support.sendgrid.com) has the

[2017-08-30 20:53] thinkingserious commented on #511
@carlmwright,

Was it [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#migrating)?

[2017-08-30 21:46] sushant2517 commented on #510
I dont see any activity in any of the sections.

[2017-08-30 22:03] thinkingserious commented on #510
@sushant2517,

In that case, there may be something wrong with your particular account. Please reach out to our [support team](https://support.sendgrid.com/) so that they can look deeper into your account.

With Best Regards,

Elmer

[2017-08-31 10:46] umyhacker commented on #469
Use
var apiKey = "NAME_OF_THE_ENVIRONMENT_VARIABLE_FOR_YOUR_SENDGRID_KEY";
Instead of
var apiKey = Environment.GetEnvironmentVariable("NAME_OF_THE_ENVIRONMENT_VARIABLE_FOR_YOUR_SENDGRID_KEY");

[2017-08-31 20:19] thinkingserious commented on #469
Hi @umyhacker,

[Here](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#environment) is a description of the issue. Thanks!

[2017-09-01 22:36] jrkcoder opened #512 "dynamic response = await sg.SendEmailAsync(anEmail); // hangs waiting for response"
#### Issue Summary

A few days ago, around Aug 25, 2017, I updated to all newest SendGrid code.  First found out I had to modify my source code (not happy about that -- oh well).  I follow example.  I'm running C#, .NET Version: 4.5.2.

#### Steps to Reproduce

My code is this:
[code]

Above code sent emails fine, but UI was blocked waiting for response.

I later modified my code so I did not wait

[2017-09-01 22:48] thinkingserious commented on #512
Hello @jrkcoder,

It looks like you are still using a mix of older code (we no longer use dynamic). Currently, you only need `SendGrid - Web API v3 v9.9.0` and here is the [documentation on how to use the current library](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md).

Please give it a try and let me know if you still run into trouble.

With Best Regards,

Elmer

[2017-09-01 23:04] jrkcoder commented on #512
I look at your documentation link and with examples.  Only change I can see to make is change "dynamic" to "var".  I'm not sure what else you are saying.  I change to "var" and still get hang waiting for response.

I don't know what other "old" code you think I'm using.

[2017-09-01 23:47] thinkingserious commented on #512
@jrkcoder,

Could you please try replacing:

`dynamic response = await sg.SendEmailAsync(anEmail);`

with

`var response = await sg.SendEmailAsync(anEmail).Result;`

It looks like be within an ASP.NET project, in which case this [example](https://github.com/sendgrid/sendgrid-csharp/tree/master/ExampleNet45ASPNetProject) might be useful.

With Best Regards,

Elmer

[2017-09-02 00:18] jrkcoder commented on #512
Seems like your example is for ASP.  I'm using MVC.

I try to use
var response = sg.SendEmailAsync(anEmail).Result;
but Visual Studio won't let me -- get build error
'Response' does not contain a definition for 'GetAwaiter' and the best extension method overload 'AwaitExtensions.GetAwaiter(Task)' requires a receiver of type 'Task'

But something else came to mind.

If I do
SendGridMessage email2 =

[2017-09-02 00:20] thinkingserious commented on #512
Ah, you might be on to something with the ambiguity.

Could you please remove the following from your project:
SendGrid.CSharp.HTTP.Client v3.3.0
SendGrid.Net40 v5.1.0
SendGrid.SmtpApi v1.3.3

[2017-09-02 03:41] jrkcoder commented on #512
I uninstalled all the SendGrid items I could find -- four packages.  Then searched for anything SendGrid -- removed remaining dlls in bin and debug and some other things.  Reinstalled SendGrid version 9.9.0 only.
This builds fine.  No longer have SendGridMessage email2 = new SendGridMessage(); ambiguity.

Still hang at
var response = await sg.SendEmailAsync(anEmail);
.

[2017-09-02 03:50] jrkcoder commented on #512
With this last change, emails are not sent.  Emails were sending fine before, but UI was stuck.

[2017-09-04 16:04] jrkcoder commented on #512
I can modify my code so that it does not wait for a response.  When I tried this before, SendGrid sent emails fine for a bit, then not.

[2017-09-05 14:12] StephenBanksDotNet commented on #461
We are in the process of migrating an ASP.Net Web Forms application from v2 to v3 but could really benefit from a simple bit of sample code written for Webforms.

Does anyone have ASP.Net Webforms code that sends email via Sendgrid v3 and obtains a return code for the transaction from the Sendgrid server that we can log?

Any help is very much appreciated!

[2017-09-05 14:18] andrewchilcott commented on #461
Stephen

Please contact me at andrew.chilcott@stpsolutions.com<mailto:andrew.chilcott@stpsolutions.com>, I think that I have exactly what you need.

Andrew

From: StephenBanksDotNet [mailto:notifications@github.com]
Sent: 05 September 2017 16:13
To: sendgrid/sendgrid-csharp <sendgrid-csharp@noreply.github.com>
Cc: Andrew Chilcott <andrew.chilcott@stpsolutions.com>; Mention <mention@noreply.github.

[2017-09-05 16:09] StephenBanksDotNet commented on #461
Thanks so much Andrew for the offer! I'm emailing you now :)

[2017-09-05 17:00] thinkingserious commented on #512
@jrkcoder,

Seems this might be your solution: https://github.com/sendgrid/sendgrid-csharp/issues/462

Please let me know. Thanks!

[2017-09-05 17:08] mbernier commented on #461
@andrewchilcott is this something that could be included as a project example in the library?

[2017-09-05 17:22] mbernier commented on #462
I added this summary to the troubleshooting guide - https://github.com/sendgrid/sendgrid-csharp/pull/514

[2017-09-05 17:51] StephenBanksDotNet commented on #461
That would be great. I was planning to create something similar for the benefit of others. Every bit of code I have tried so far failed in various ways for a simple WebForms implementation where an email is sent and a response is received for logging/debugging purposes. Receiving a response to log is important so that if there are issues, we know what failed.

With several code samples I have trie

[2017-09-05 17:55] andrewchilcott commented on #461
Stephen

Please bear with me as I am currently on holiday in France. If I get the chance in the next couple of days I will answer you in more detail.

Andrew

From: StephenBanksDotNet [mailto:notifications@github.com]
Sent: 05 September 2017 19:52
To: sendgrid/sendgrid-csharp <sendgrid-csharp@noreply.github.com>
Cc: Andrew Chilcott <andrew.chilcott@stpsolutions.com>; Mention <mention@noreply.githu

[2017-09-05 20:18] thinkingserious commented on #461
Thanks for helping out @andrewchilcott!

@StephenBanksDotNet,

In the mean time, if you change:

[code]

to

[code]

your app should behave as expected.

With Best Regards,

Elmer

[2017-09-05 22:50] xt0rted commented on #462
For anyone running on newer versions of .NET you can turn on a couple different Roslyn based analyzers that will trigger build errors if you're not calling `.ConfigureAwait(false)` on your async methods.

I do this in my library projects and it's helped catch issues like this a number of times. Since this issue has come up a few times now it could be useful for those with deadlocks to try it out.

[2017-09-06 12:54] jrkcoder commented on #512
It will take me some time to digest this, I hope today.  It looks nothing like any example I could find for usage.

[2017-09-06 14:33] jrkcoder commented on #512
I use same call, just put
.ConfigureAwait(false)
at end.
So now it is
SendGrid.Response response = await sg.SendEmailAsync(anEmail).ConfigureAwait(false);
It works!
Looking at
response.Headers.ToString()
I get
nX-No-CORS-Reason: https://sendgrid.com/docs/Classroom/Basics/API/cors.html
.  I'm now trying to understand if I have a security issue with my code.  I don't think so.
It's taken me some day

[2017-09-06 18:18] thinkingserious commented on #512
Hello @jrkcoder,

Thanks for following up!

The `X-No-CORS-Reason` header is just a notice that we do not allow CORS. It does not mean that you have a security issue with your code.

Here are our [installation instructions](https://github.com/sendgrid/sendgrid-csharp#install-package) and we have now [added a section](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#ui-req

[2017-09-06 18:19] #512 closed

[2017-09-07 07:23] azharuddinsayed commented on #126
Still i am getting the same issue

[2017-09-07 10:18] andrewchilcott commented on #461
Stephen

I created the application that I have for my son’s estate agency business. They send out about 150,000 emails per month. Most of these are email alerts for various properties together with a weekly email and then individual emails for account welcome, verification, reset password etc.

I started using Sendgrid some three years ago and for much of that time used the simple smtp service. A

[2017-09-07 15:06] jrkcoder commented on #512
What happens in SendGrid server when ConfigureAwait(false) is not used?  Is it stuck tying up resources?

[2017-09-07 16:07] thinkingserious commented on #512
HI @jrkcoder,

No, our resources would not be tied us, the issue is on the client side. [This post](https://stackoverflow.com/questions/13489065/best-practice-to-call-configureawait-for-all-server-side-code/13494570#13494570) has a great explanation.

With Best Regards,

Elmer

[2017-09-07 16:12] thinkingserious commented on #461
@StephenBanksDotNet @andrewchilcott,

We have updated our [TROUBLESHOOTING section](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#ui-requests) to explain why this issue happens and its solution.

Thanks!

With Best Regards,

Elmer

[2017-09-07 16:14] thinkingserious commented on #126
Hello @azharuddinsayed,

What version of the library are you using and on what platform is this happening?

Thanks!

With Best Regards,

Elmer

[2017-09-08 22:57] Jericho commented on #511
@carlmwright If you are willing to consider an alternative to SendGrid's official .net client, I suggest you take a look at StrongGrid (disclaimer: I'm the author). The reason I make this suggestion is because it automatically handles most details about attachment handling such as base64 encoding, determining the MIME type, determining if an attachment must be displayed inline, etc.

Here's a smal

[2017-09-12 04:51] SRossi77 opened #520 "Sending different mail content to same recipient does not work well"
#### Issue Summary

I am using a send grid method to send multiple files to same recipient by using substitutions tags.
I need this to work because sometimes i need to send multiple emails with different content to same recipient.

I am using Rest Request:
 IRestResponse response = new RestClient(SendGridClientUrl).Execute(request);

Request Object:( Custom Request for send grid )
            Emai

[2017-09-12 18:52] Niladri24dutta commented on #520
What is the function of `SendBulkEmail(sendGridMessage);` here ? it is a custom method?as per the V3 documentation we need to use `var client = new SendGridClient(apiKey);` to send the email . Take a look at this link
[Use case for sending email](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchen-sink---an-example-with-all-settings-used)

[2017-09-12 19:36] william-gross opened #521 "SendGridClient thread-safety documentation"
Please state in the documentation whether it is safe to create a single `SendGridClient` object and share it among all threads in an app domain. In particular, I'd like to know if it is safe for multiple threads in an ASP.NET application to call `SendEmailAsync` or `RequestAsync` at the same time.

I believe this was safe in version 6.3.4 (with `SendGrid.Web.DeliverAsync`) and it's probably still

[2017-09-12 20:32] thinkingserious commented on #521
Hello @william-gross,

While I have not done any specific testing for thread safety, I believe your assumption is correct with regards to `[HttpClient](https://msdn.microsoft.com/en-us/library/system.net.http.httpclient(v=vs.110).aspx#Anchor_5)`.

I will leave this thread open so that we can create a test that verifies and documents thread safety with a real world example.

For this issue to gain

[2017-09-12 20:35] thinkingserious commented on #520
Thanks for jumping in and trying to help @Niladri24dutta!

@SRossi77,

Have you reviewed our [templating use case](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional_templates)? It's very similar to what you are trying to do.

Also, duplicate emails are not allowed. That may a source of error also.

With Best Regards,

Elmer

[2017-09-15 18:14] etsms commented on #505
We are also experiencing this issue:

`
[9/12/2017 11:37 AM]: An error occurred while sending the request.
at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
at SendGrid.Helpers.Reliability.RetryDelegatingHandler.<SendAsync>d__4.MoveNext() in C:\Users\ethomas\Documents\GitHub\sendgrid-c

[2017-09-15 19:28] shortstuffsushi commented on #511
Would there be interest in having this re-implemented and pull requested? In my case, I'm interested in being able to add an attachment stream, so an additional method overload. I would be willing to do the work if you would be interested in including it in the project.

[2017-09-15 22:32] thinkingserious commented on #511
Hi @shortstuffsushi,

That sounds great, we would love a PR! Please let me know how I can help.

With Best Regards,

Elmer

[2017-09-15 22:36] thinkingserious commented on #505
Hello @etsms,

Is your issue also intermittent? If so, what would you say the frequency is?

When this happens, if you retry, does the email go through?

With Best Regards,

Elmer

[2017-09-15 22:50] gliljas commented on #505
I'll reply too. We're experiencing this intermittently, and it may be slightly related to an open support ticket we have, where the Sendgrid load balancer dies. Our retry mechanisms are mostly handling it.

I'll add a bit of logging, as outlined here:

https://stackoverflow.com/questions/6232746/c-sharp-httpwebrequest-sec-i-renegotiate-intermittent-errors

[2017-09-15 23:00] thinkingserious commented on #505
Thanks for the additional feedback @gliljas! I will check with our support team to dig deeper.

[2017-09-16 03:17] etsms commented on #505
@thinkingserious yes, intermittent.

We send roughly 5,000 emails with sendgrid between the hours of 9AM to 5PM EST. There is no pattern in which the failure occurs. Today we saw 98 of the 5000 emails fail with the aforementioned error (Could not create SSL/TLS).

Some days it's worse.

The sendgrid c# sdk has a retry handler mechanism already and we leave it set to it's default settings.

[2017-09-18 20:24] thinkingserious commented on #505
Thanks for the additional feedback @etsms!

@gliljas, @etsms, @eriksteinebach, @evgenyAtInsightly,

Getting to the bottom of this issue will require assistance from our support team, who have the required tools to troubleshoot this issue, as the issue is on our server side. You may reach out to them [here](https://support.sendgrid.com) and please refer them back to this thread.

With Best Regards,

[2017-09-22 04:37] anantbara opened #524 "Email address formatting issue in SendGridMessage.AddTo method"
I'm using SendGrid API in a ChatBot application powered by Microsoft Botframework. When this project is deployed in Azure, SendGridMessage.AddTo method adding some absurd characters. The serialized mail is shown below-

`{
	"from": {
		"name": "XYZ Care Team",
		"email": "xyz@abc.com"
	},
	"personalizations": [
		{
			"to": [
				{
					"email": "<a href=\"mailto:anant.rajee@abc.com\">anant.rajee@

[2017-09-22 13:28] Niladri24dutta commented on #524
Can you use the below line of code instead of
`SendGridMessage mail = SendGridEmailService.ConfigureEmail();`

Replace the above line with `SendGridMessage mail = new SendGridMessage();` and then try again. Please note that you are using `client.SendEmailAsync(mail).Wait();` which will synchronously block until the task completes. So the current thread is literally blocked waiting for the task to

[2017-09-22 15:02] anantbara commented on #524
Thanks Niladri for the reply.
Still getting the same error. It is working fine while running this app locally but still getting formatting issue after deploying it to Azure..

[2017-09-22 17:11] Niladri24dutta commented on #524
@anantbara  this looks like a formatting issue with Azure where your mail addresses are by default converted to hyperlink `mailto:test@abc.com`

[2017-09-23 01:04] thinkingserious commented on #524
Hello @anantbara,

My advice is that you consult with Azure on this one. There is nothing on SendGrid's side that would convert your email address to a hyperlink.

With Best Regards,

Elmer

[2017-09-24 10:03] hepple opened #525 "HELP: sending an calendar invite"
Hi, I'm trying to send an calendar invite using c# but cannot find any docs to match?

I need to send the email so it shows up as an invite not an attachment.

[2017-09-25 18:34] thinkingserious commented on #525
Hello @hepple,

Please follow this [example](https://github.com/sendgrid/sendgrid-python/issues/345#issue-260155034), and also [pass in the `type`](https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/SendGridMessage.cs#L995), which is likely "text/calendar".

With Best Regards,

Elmer

[2017-09-29 16:50] Jericho opened #526 "Campaign Status"
When making a HTTP GET request to `/campaigns/{campaign_id}`, we get a JSON string that contains, among other things, a property called `status`. The [documentation](https://sendgrid.com/docs/API_Reference/api_v3.html) simply says that this property represents "The status of your campaign" but does not describe the possible values.

From experience, I know that some of the possible values are `dra

[2017-09-30 18:25] thinkingserious commented on #327
This has been moved [here](https://github.com/sendgrid/sendgrid-csharp/issues/328).

[2017-09-30 18:25] #327 closed

[2017-09-30 18:25] thinkingserious commented on #329
This has been moved [here](https://github.com/sendgrid/sendgrid-csharp/issues/328).

[2017-09-30 18:25] #329 closed

[2017-09-30 18:25] thinkingserious commented on #330
This has been moved [here](https://github.com/sendgrid/sendgrid-csharp/issues/328).

[2017-09-30 18:25] #330 closed

[2017-09-30 18:29] #201 closed

[2017-09-30 18:30] thinkingserious commented on #248
Please see [here](https://github.com/sendgrid/sendgrid-csharp/pull/522).

[2017-09-30 18:30] #248 closed

[2017-09-30 18:31] #288 closed

[2017-09-30 18:33] thinkingserious commented on #300
Hello @yaplex,

The C# SDK has since been updated. Could you please [take a look](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md) and provide updated feedback?

With Best Regards,

Elmer

[2017-09-30 18:34] #317 closed

[2017-09-30 18:40] thinkingserious commented on #369
Please see [here](https://github.com/sendgrid/sendgrid-csharp/pull/509).

[2017-09-30 18:42] #415 closed

[2017-09-30 18:43] #420 closed

[2017-09-30 18:45] thinkingserious commented on #432
Hello @wangkanai,

I am not able to reproduce this in Visual Studio 2017. Are you still experiencing this issue?

With Best Regards,

Elmer

[2017-09-30 18:47] #446 closed

[2017-09-30 18:47] #453 closed

[2017-09-30 18:51] thinkingserious commented on #491
Please see [here](https://github.com/sendgrid/sendgrid-csharp/pull/509).

[2017-09-30 18:51] #491 closed

[2017-09-30 18:52] #510 closed

[2017-09-30 18:52] thinkingserious commented on #511
Please see [here](https://github.com/sendgrid/sendgrid-csharp/pull/522).

[2017-09-30 18:52] #511 closed

[2017-09-30 18:53] #520 closed

[2017-09-30 18:53] #524 closed

[2017-09-30 18:53] #525 closed

[2017-09-30 18:54] thinkingserious commented on #526
@mbernier

[2017-09-30 19:59] Korijn commented on #512
@jrkcoder If you are using only one function I recommend implementing the rest api call yourself instead of using the client package. I had the same issue and other side effects. My own HTTP call was super easy to implement and mega-reliable. It wad an effective way to avoid getting to grips with all the weird tricks this client package pulls with synchronization context configuration.

[2017-09-30 20:09] Gimly commented on #455
For now the `DeserializeResponseBody` method is not asynchronous, which is why `ReadAsStringAsync` is called synchronously (with the `Result` call). I propose to make `DeserializeResponseBody` asynchronous, and adding the `ConfigureAwait(false)`.

To be coherent with the rest of the API, I would also propose to change the name to `DeserializeResponseBodyAsync`. Obviously both changes will make a b

[2017-09-30 22:18] thinkingserious opened #530 "Feedback Request - StrongGrid"
Hello Everyone!

Many of you may have taken a look at the excellent client for SendGrid’s API called [StrongGrid](https://github.com/Jericho/StrongGrid), written by [Jericho](https://github.com/Jericho), an active contributor and supporter of the SendGrid C# community.

As we started looking ahead at the roadmap of our own API client, we realized that a lot of the functionality we want to add (suc

[2017-10-01 00:24] xt0rted commented on #530
I've never used StrongGrid so based on that I can't really vote for option 1, but I can definitely get behind option 2. It'd also be nice having @Jericho as a maintainer of this project, if they'd want to do it, so new features could get added in faster and to have more eyes for reviewing bug reports & prs.

[2017-10-01 01:05] Jericho commented on #369
@thinkingserious the PR you reference retries requests when a response with HTTP status code in the 500-504 range is received which does not address "rate limiting" because the HTTP status code is 429.

[2017-10-02 19:00] Niladri24dutta commented on #530
@thinkingserious I am ok with option 2 as to merge features into existing sendgrid sdk rather than completely abandon it .Both libraries can exists in parallel . There are many examples in javascript libraries where we can import features from external libraries  like `lodash` or `rxjs` .

[2017-10-03 12:15] vinoddamupatil commented on #491
Thanks

[2017-10-03 20:48] paultechguy commented on #521
I'd like to know this as well for DI purposes.

[2017-10-03 21:20] cfloydcorelogic opened #534 "BCC not working from https://app.sendgrid.com/settings/mail_settings"
#### Issue Summary

When I add an email address to the BCC in the https://app.sendgrid.com/settings/mail_settings it does not send an email to the BCC.

#### Steps to Reproduce

1. Add BCC email
2. Send email post through API v3
3. Email is sent to primary
3. Email is not sent to BCC

Any other information you want to share that is relevant to the issue being reported. Especially, why do you consi

[2017-10-03 21:20] cfloydcorelogic commented on #534
  | vsg    Oct 3, 15:16 MDT    Chat transcript:   Visitor: I have the mail settings set to always BCC a copy of the email, but   the email isn't receiving them   Visitor: that is what you said last time before you disconnected me :)   Poul P.: Hello, thanks for chatting in. Apologies for the delayed response.   Poul P.: One moment please while I take a look at the event logs to find out   why the

[2017-10-04 01:36] thinkingserious commented on #534
Hi @cfloydcorelogic,

Thank you for taking the time to share your issue with us. I have added this to our backlog for review.

In the mean time, you might want to try sending the email directly using our [interactive docs](https://sendgrid.com/docs/API_Reference/api_v3.html) or cURL to help determine whether this is a library issue.

With Best Regards,

Elmer

[2017-10-04 01:36] thinkingserious commented on #521
Thanks @paultechguy,

I've add your vote to our backlog.

[2017-10-04 03:58] thinkingserious commented on #530
If you are tagged below, it's because I believe you may have an opinion on this change. If not, my apologizes for the disturbance.

@dylan-asos @0xdeafcafe @owre @JefStat @paritoshmmmec @jonnybee @antimatter96 @nate-fr @warrenkc @ottomatic @sepptruetsch

[2017-10-04 05:22] #449 closed

[2017-10-04 05:25] thinkingserious commented on #469
Hi @sepptruetsch,

If you would be interested in submitting a PR, this would be a great time since it's [Hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017) :)

With Best Regards,

Elmer

[2017-10-04 05:45] #370 closed

[2017-10-04 05:46] jonnybee commented on #530
I have never used StrongGrid so can't really vote on option 1. It would depend on the legal agreement and continued maintenance for either library. Option 2, to incorporate their features into the existing library is the safest but still may require extra work. You could allow the 2 libraries to co-exist and endorse customer to switch to StrongGrid for more features or new projects.

[2017-10-04 07:16] Niladri24dutta commented on #534
@cfloydcorelogic  in your code i am not able to see any `bcc` property have you tried using `AddBcc` method of the library?

[2017-10-04 10:18] Duikmeester commented on #526
The campaign page shows the following filters: Sent, Draft, In Progress, Canceled, Scheduled.

[2017-10-04 13:55] Jericho commented on #526
Thank you for this information but where did you find it? I looked [here](https://sendgrid.api-docs.io/v3.0/campaigns-api/retrieve-a-single-campaign), [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/campaigns.html), [here](https://sendgrid.com/docs/Classroom/Basics/Marketing_Campaigns/marketing_campaigns_faqs.html) and even [googled it](https://www.google.ca/search?q=

[2017-10-04 14:07] cfloydcorelogic commented on #534
I am not doing it from the code.

I am going it from the SendGrid site.

Login to SendGrid
Click settings
Click mail settings
Add email address to BCC setting
![image](https://user-images.githubusercontent.com/30604843/31180163-822de8c4-a8e3-11e7-8000-8efed9729e2a.png)

[2017-10-04 15:40] thinkingserious opened #535 "Dockerize"
We want to make it easier to test and/or contribute to this repo utilizing Docker. This has been completed in [Python](https://github.com/sendgrid/sendgrid-python/tree/master/docker), please use that example as a reference.

Key features:
* Setup the environment as specified in the CONTRIBUTING.md file
* Prism should be running on launch
* The README and USAGE file should help the user get up and

[2017-10-04 15:59] thinkingserious opened #536 "Auto Generate Plain Text Content from HTML"
We require both HTML and Plain Text content for improved deliverability. In some cases, only HTML may be available. We need a function that automatically converts a given HTML string to the Plain Text equivalent.

[2017-10-04 17:39] nate-fr commented on #530
I'd vote for 2 - incorporating their feature. I'm against 1 ; a quick glance at their code base doesn't inspire confidence : https://github.com/Jericho/StrongGrid/blob/develop/Source/StrongGrid/WebhookParser.cs

[2017-10-04 17:58] dfu3 commented on #536
Could you give a brief input/output example of the content supplied and desired please?

[2017-10-04 18:02] owre commented on #530
I probably go for 1 or 2 because I think that StrongGrid is pretty much what sendgrid-csharp should have been from the beginning. Regards

[2017-10-05 09:01] Duikmeester commented on #526
https://sendgrid.com/marketing_campaigns/ui/campaigns
Filter By Status
- All
- Sent
- Draft
- In Progress
- Canceled
- Scheduled

[2017-10-05 13:14] roel-de-vries commented on #407
Hello,

It looks like the dependency was removed with PR #471, are there any remaining steps to be made? :-)

[2017-10-05 13:27] Jericho commented on #526
Thank you

[2017-10-05 14:36] thinkingserious opened #538 "Create a tutorial to deploy a simple Hello Email app on AWS with C# using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to AWS](https://aws.amazon.com/blogs/devops/automatically-deploy-from-github-using-aws-codedeploy/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:40] thinkingserious opened #539 "Create a tutorial to deploy a simple Hello Email app on Heroku with C# using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:46] thinkingserious opened #540 "Create a tutorial to deploy a simple Hello Email app on Digital Ocean with C# using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Digital Ocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to US

[2017-10-05 14:51] thinkingserious opened #541 "Create a tutorial to deploy a simple Hello Email app on IBM Blue Mix with C# using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to IBM Blue Mix](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluemix-button-example/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:54] thinkingserious opened #542 "Create a tutorial to deploy a simple Hello Email app on Google App Engine with C# using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Google App Engine](https://cloud.google.com/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:55] thinkingserious opened #543 "Create a tutorial to deploy a simple Hello Email app on Microsoft Azure with C# using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Microsoft Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 16:58] roel-de-vries commented on #543
Has .NET Core or .NET framework the preference?

[2017-10-05 19:48] jsgoupil commented on #268
This is still an issue as of October 5th 2017.
Surrounding the name with double quotes is a terrible workaround that will display double quotes on the email client.
The "FROM" can have a comma, but the "TO" cannot.

More than a year and this bug is not fixed and marked as closed.

[2017-10-05 19:56] thinkingserious commented on #268
Hi @jsgoupil,

I've passed along your vote to our product team on this one. I'm not sure why I closed this issue, but a similar issue exists in some of our other repos and the product team does have a fix scheduled on the backlog. Your vote helps bump the priority, so thanks for taking the time to provide feedback!

With Best Regards,

Elmer

[2017-10-05 20:02] Niladri24dutta commented on #543
@thinkingserious is it necessary t include the azure deployment part as it is already covered in the MSDN doc you mentioned above. Also can we use a web app/ web api/console app for the tutorial?

[2017-10-06 13:54] thinkingserious opened #544 "Create a tutorial to create a Slack event integration with C# using this SDK"
Create a tutorial that explains how to create a simple [integration with Slack](https://api.slack.com/events-api) that allows an email to be triggered based on some [defined event](https://api.slack.com/events).

The example should utilize best practices for storing credentials.

Please add the tutorial to USE_CASES.md.

[2017-10-07 01:42] TrendyTim commented on #266
Thank you to @APM3 and @da1rren that helped me with a speedy migration from SMTP to API.

I needed to add support for headers in the conversion (especially the X-SMTPAPI header which the webapi doesn't extract from the message so needs special treatment) so i thought i'd contribute my additions, and threw in priority support as well (not that i think we ever really used in in our system, but the c

[2017-10-07 10:25] spib commented on #530
1 ideally, but 2 is probably more realistic

[2017-10-09 10:26] barryjmay opened #549 "Weblink tag not rendering"
#### Issue Summary

I'm using this app to send emails to sendgrid via smtp. My email list is stored in a local database. My emails are being stored as an embedded resource within the app. When they are sent the weblink tag is not rendering correctly.

The tag appears a s follows in the html:
<td valign="top" style="font-size: 12px; color: #999999; font-family: Arial, Helvetica, sans-serif; line-he

[2017-10-09 12:20] matthijskoopman opened #550 "Add support for .NET Standard 2.0"
We've recently moved our entire infrastructure to .NET Core 2.0 (and .NET Standard 2.0) and we were wondering when the sendgrid library will be targeting .NET Standard 2.0

[2017-10-09 17:25] Niladri24dutta commented on #549
@barryjmay  can you post your code which you are using to send it as `Weblink`

[2017-10-09 18:40] #366 closed

[2017-10-09 18:47] mbernier commented on #549
@barryjmay I believe the weblink functionality is available through the Marketing Campaigns tool, but not through SMTP.

[2017-10-09 18:58] mbernier commented on #534
@cfloydcorelogic can you please try this from our [interactive docs](https://sendgrid.com/docs/API_Reference/api_v3.html), to see if it is something we are doing with your account or if it is the library itself?

[2017-10-09 18:59] mbernier commented on #534
Oops, didn't mean to click close.

[2017-10-10 00:38] thinkingserious commented on #550
Great idea @matthijskoopman,

I've added this to our backlog and to our [Hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/) event.

With Best Regards,

Elmer

[2017-10-10 14:31] fernandolguevara opened #551 "can't install sendgrid 9.9.0 on a project target to .net framework 4.5"
can't install sendgrid 9.9.0 on a project target to .net framework 4.5

the message error
`
Could not install package 'Sendgrid 9.9.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.
`

[2017-10-10 18:58] thinkingserious opened #552 "Subscription Widget Helper"
Create a helper that will show how to add a working subscription widget to their site from code in the library.

Features:
- An function that returns an embeddable HTML form that takes email address and name.
- The form should submit to a customizable URL path
- The code at the URL path should accept the data and post it to the contactdb using the (POST Add Recipients endpoint)[https://sendgrid.co

[2017-10-10 20:21] thinkingserious opened #553 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-10 20:50] omaraloraini commented on #550
SendGrid already targets .NET Standard 1.3. You could use it in a .NET Core 2.0 project with no problems.

[2017-10-10 22:19] thinkingserious opened #555 "Make SendGrid permissions management easy"
Create a class for managing permission scopes that has the following features:

- Allow you to add create, delete, read, update permissions for each of the groups defined [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html)  -- these can be hard coded in
- Allow for creating an array of all the scopes possible, as a "create admin permissions" method
- A

[2017-10-11 03:44] mbernier commented on #328
It looks like this one is open, since there has been no movement since last year!

[2017-10-11 03:45] mbernier opened #556 "Create a tester for Inbound Parse"
Related to  #328, as this will test the code for that issue.

This is what we have done in another library --

Acceptance Criteria:
- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py).
- Write unit tests

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py
- https://sendgrid

[2017-10-11 06:47] thinkingserious commented on #556
https://github.com/sendgrid/sendgrid-csharp/issues/328

[2017-10-11 06:47] #556 closed

[2017-10-11 19:36] cfloydcorelogic commented on #534
Using the interactive docs, I receive the email.
I just want to be clear. Our application that we developed can send email using SendGrid with no issues.
We can even send BCC emails with no problems.
What I can't get to work is from the SendGrid webpage.  There is a BCC option that allows you to BCC every email you send to the BCC field.

[2017-10-11 21:09] thinkingserious commented on #534
Hi @cfloydcorelogic,

When you use the interactive docs does the BCC option that allows you to BCC every email you send to the BCC field work?

[2017-10-12 06:11] saurabhnanda commented on #339
Is there an upstream (i.e. not library-specific) Github issue to track this? I've just hit the same issue.

[2017-10-12 14:25] cfloydcorelogic commented on #534
Yes, when I post from the interactive docs, the SendGrid BCC works.

[2017-10-12 16:52] thinkingserious commented on #534
Thanks @cfloydcorelogic,

We've added this to our backlog for further investigation.

[2017-10-12 20:43] thinkingserious opened #558 "Save inbound email attachments to S3"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to an S3 bucket when they are received

[2017-10-12 20:58] thinkingserious commented on #339
Hi @saurabhnanda,

This would be the best place to track.

Could you please take a moment to describe your specific use case?

Thanks!

With Best Regards,

Elmer

[2017-10-12 21:10] thinkingserious commented on #550
That's true @omaraloraini,

I do hope that we can also update our .NET Standard targeting to 2.0.

[2017-10-12 21:23] teabaggs commented on #555
I'll work on this.

[2017-10-12 21:28] thinkingserious opened #560 "Save inbound email attachments to Box"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-12 22:07] thinkingserious commented on #555
Awesome, thanks @teabaggs!

[2017-10-12 22:29] thinkingserious commented on #551
Hello @fernandolguevara,

This library only supports [v4.5.2+](https://github.com/sendgrid/sendgrid-csharp#prerequisites).

You may be able to download the source and compile for v4.5, but that is not supported, since Microsoft no longer supports v4.5.

With Best Regards,

Elmer

[2017-10-12 22:29] #551 closed

[2017-10-13 00:06] teabaggs commented on #555
I'm having some issues with the fork and creds at the moment so I just threw up a gist with an initial idea. https://gist.github.com/teabaggs/34b2b88ba194fd93d4d30dac1330f4a6

I have a few questions.

1. does the order of the scopes in the output matter?
2. what should the output be? Currently spitting out a string, perhaps a list of strings is better, then the client can order, and format them as

[2017-10-13 02:00] thinkingserious opened #561 "Save inbound email attachments to Dropbox"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 02:10] saurabhnanda commented on #339
Use-case: sending a personalised/individualised email to a group of people,
where hitting reply/reply-all should start an email thread amongst them. We
can't use cc/bcc because that would result in the same message being
delivered to each person, thus losing the personalisation.

On 13-Oct-2017 2:28 AM, "Elmer Thomas" <notifications@github.com> wrote:

[2017-10-13 16:21] cfloydcorelogic commented on #534
For some reason, I have started to receive TXT messages from the SendGrid BCC now.

[2017-10-13 21:09] kinetiq commented on #503
Just wanted to weigh in and say that you should at least be throwing an exception here. Failing silently, without even a record in the Activity log, is beyond frustrating.

As someone who is dealing with this issue, it definitely makes me trust the API less. I wonder what other delights await.

[2017-10-13 21:27] thinkingserious commented on #503
HI @kinetiq,

Thanks for taking the time to express your frustration.

I think we have a good fix in the works. Please follow the solution on [this thread](https://github.com/sendgrid/sendgrid-csharp/issues/425). We hope to have the fix for this deployed soon. I have added your vote to the issue to help increase it's priority in our backlog.

With Best Regards,

Elmer

[2017-10-14 17:41] thinkingserious commented on #534
Hmm, that is very strange @cfloydcorelogic,

Could you please report that issue to our support team so that they can look deeper to your account and troubleshoot?

[2017-10-14 20:08] kylegalbraith commented on #558
@thinkingserious Where would this need to happen? Where are inbound email attachments currently saved?

[2017-10-16 13:53] thinkingserious opened #562 "Attach files to email from S3"
This should be added to the Mail helper method, where the file that is attached can be sitting on an S3 bucket.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 13:54] thinkingserious opened #563 "Attach files to email from Box.com"
This should be added to the Mail helper method, where the file that is attached can be sitting in Box.com storage.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:55] thinkingserious opened #564 "Attach files to email from Dropbox"
This should be added to the Mail helper method, where the file that is attached can be sitting in Dropbox.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 14:03] thinkingserious opened #565 "Prevent secrets from sending in email"
Add a method that will check the content of the email before sending, to make sure that specific strings or patterns are not included.
For example, SG API keys look like this: SG.[a-zA-Z0-9_].[a-zA-Z0-9\-]
So the function could take a list of regex or specific strings to compare against. If a string is found, the mail/send should throw an exception

[2017-10-16 14:07] thinkingserious opened #566 "Create and schedule a marketing campaign"
With the [SendGrid Marketing Campaigns feature](https://sendgrid.com/docs/API_Reference/api_v3.html#campaigns) you can create a campaign, edit it, then schedule it for the future or for 'now'.

Create a helper that uses the API to build the campaign.

Then add the ability to build + schedule, build + send now, or only build the campaign/

Please also add the ability to notify a specific email addr

[2017-10-16 14:42] thinkingserious opened #567 "Scheduling 1000-1,000,000 emails in batches"
When someone wants to send thousands or millions of the same email, they will create a call to our mail/send endpoint and break the list of emails and thr substitutions into batches of 1000 emails per request to the SendGrid API. This is great, except that there are a couple caveats:
1. [Mail Send Limitations](https://sendgrid.com/docs/API_Reference/api_v3.html) - see the field level limits here
2

[2017-10-16 14:47] thinkingserious opened #568 "Get all the stats for a date range"
We have various types of stats global stats, category stats, and subuser stats.
For some users, being able to pull these stats and send them somewhere is ideal.
Please create a nice helper for pulling stats from each of these locations so that the data can be sent to a database.

[2017-10-16 14:51] thinkingserious opened #569 "Get unassigned IPs"
SendGrid returns a list of all IP addresses on your account. It also returns a list of assigned IP addresses.
What it doesn't do is return a list of unassigned IPs.
Please create a method that will get the IPs available and return any that do not have a subuser assigned to them.
See [GET /ips](https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses) for more information

[2017-10-16 15:00] thinkingserious opened #570 "Create whitelabel DNS entries via the API"
The SendGrid API allows you to do almost everything that the UI can do, including building your whitelabels (authenticated domains) into your accoount. This requires a domain you can create subdomains on and some creativity to decide what to call the subdomains.

We have 3 kinds of whitelabeling: domain, link, and ip.

Link whitelabeling allows all  the links in your emails to be rewritten to look

[2017-10-16 18:11] shortstuffsushi commented on #530
2 unless 1 can happen without breaking the API of this lib. Gaining all those featured is great, but since everyone using Send grid proper at the moment doesn't have those features, they aren't going to want go deal with some NuGet update breaking their projects.

[2017-10-17 15:59] thinkingserious opened #571 "Attachment helper for base64 encoding"
We have an example in USE_CASES.md on how to handle attachments.

We need to update the `Attachment` object such that it can also take in a raw file, rather than a base64 encoded file, and perform the base64 encoding behind the scenes.

Note that the total size of your email, including attachments, must be less than 30MB. The total size is calculated from the entire JSON payload. Note that you wil

[2017-10-18 00:13] SaiKai commented on #565
I'll take a stab at this.

[2017-10-18 03:05] petmat commented on #569
I am looking into this and will soon produce a PR.

[2017-10-18 19:00] thinkingserious opened #572 "SendGrid Event Webhook consumer"
The SendGrid event webhook will send email events to a URL of your choosing. Add functionality that will consume event webhook events posted
to your server by SendGrid. Documentation: https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2017-10-19 02:48] meMuszr commented on #571
Could I get a little bit further clarification here? Would you like an overloaded AddAttachment method in the  SendGridMessage class that accepts a File and converts it to base64?

[2017-10-19 09:35] NtFreX commented on #550
I could take care of this. Should I update the netstandard1.3 target or add the netstandard2.0 target?

[2017-10-19 21:03] mbernier opened #577 "Allows users to submit rfc822 formatted email addresses"
#### Issue Summary

Similar to: https://github.com/sendgrid/sendgrid-python/pull/348

Where the user can submit email addresses as:
`example@example.com`
or
`example example <example@example.com>`

[2017-10-20 19:24] thinkingserious commented on #536
Hi @dfu3!

Input:
<strong>Hello Email</strong>! Please visit our new website <a href="www.example.com">here</a>.

Possible Output (Markdown):
**Hello Email**! Please visit our new website [here](www.example.com)

With Best Regards,

Elmer

[2017-10-20 22:03] thinkingserious opened #579 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #580 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the language of this repo (e.g. java, python, ruby, php, csharp, go, etc)

[code

[2017-10-21 13:18] paritoshmmmec commented on #572
@thinkingserious Here are my understanding currently webhook for Sendgrid. It send all email events at particular URL . Now we want to multiplex events at webhook handler side or we want write webhook handler helper which consume email event. is that correct?

[2017-10-21 22:55] #579 closed

[2017-10-22 01:31] brandon93s commented on #577
Looks like there is already an [implementation](https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/MailHelper.cs#L137-L148) in `MailHelper` that is available to consumers, but not called automatically anywhere.

The [constructor](https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/Model/EmailAddress.cs#L28-L32) for EmailAddress could be

[2017-10-22 02:38] #243 closed

[2017-10-22 02:56] mbernier commented on #353
@robledosm if you add this into Use Cases during October 2017, we will send you a Hacktoberfest t-shirt :)

[2017-10-22 04:55] thinkingserious commented on #266
Hi @TrendyTim,

Would you mind adding your example and perhaps a synthesis of the solutions in this thread to our TROUBLESHOOTING.md for [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/)?

With Best Regards,

Elmer

[2017-10-22 05:20] #549 closed

[2017-10-22 15:17] thinkingserious commented on #555
Hi @teabaggs,

1. It would be preferable if the order can match what we have in the documentation.
2. I like a list of strings.

I'm OK with some class bloat if it means a better experience.

I hope that helps!

With Best Regards,

Elmer

[2017-10-22 15:17] thinkingserious commented on #339
Thanks @saurabhnanda!

[2017-10-22 16:14] #351 closed

[2017-10-22 16:24] Jericho commented on #555
@thinkingserious regarding `"create admin permissions" method`: I would like to make two observations:

1. The SendGrid API does not allow you to grant a given permission (or "scope" as it's called in SendGrid's documentation) if you have not ben granted this permission in the first place. This makes a lot of sense because, for instance, you don't want a "read-only" user to be able to create a new

[2017-10-22 17:00] thinkingserious commented on #558
Hello @kylegalbraith,

This issue is dependent on #328

[2017-10-22 17:00] thinkingserious commented on #560
This issue is dependent on #328

[2017-10-22 17:00] thinkingserious commented on #561
This issue is dependent on #328

[2017-10-22 17:37] JefStat commented on #530
I think 2 is the option to go with when comparing the number of impression on each nuget library has ~2.5 million for sendgrid and 24k for stronggrid.

[2017-10-22 21:05] Jericho opened #587 "UI displays incorrect Api Key privileges"
When a new Api Key is created with the `mail_settings.bounce_purge.read` scope, SendGrid's UI incorrectly displays that the key has "full access". Here's a screenshot demonstrating what it looks like in the UI:

![image](https://user-images.githubusercontent.com/112710/31866236-9a584118-b74a-11e7-9f34-f5f59bbf5017.png)

To reproduce, you simply need to issue the following HTTP request:

[code]

[2017-10-22 21:09] Jericho commented on #587
I have contacted support and opened ticket request 1274724 .

[2017-10-23 13:03] paritoshmmmec commented on #530
I would go for this library rather than strong grid. As this library is sponsored by sendgrid itself which provide me more trust using this lib (I am not undermining stronggrid effort). I think we should outline the feature from stronggrid and merge into this lib

[2017-10-23 15:10] teabaggs commented on #555
@Jericho @thinkingserious
1. I was not aware of this so thanks for pointing it out. I this we can solve this by letting this builder work as is and build out a complete list of scopes with no awareness of any user's permissions. Then we offer a `MergeWithUserPermissions` method to trim that list down to only those scopes that are possible for a given user. So the builder will essentially have a fi

[2017-10-23 16:51] erickgirard commented on #568
This looks interesting. I'll send a PR tonight :-)

[2017-10-24 00:30] mbernier opened #589 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 02:08] teabaggs commented on #555
@thinkingserious [Credentials](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html#Credentials) is listed in the possible permissions but is not in the [admin scopes list](https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html#-Admin-Level-API-Key-Scopes). Is this correct?

[2017-10-24 03:10] erickgirard commented on #568
I created a pull request with the first API call integrated, this is very partial.

Can you give me a feedback on an architecture standpoint if it makes sense ?

https://github.com/sendgrid/sendgrid-csharp/pull/590

[2017-10-24 03:29] mbernier commented on #587
Oh damn. Nice catch. I will pass this to the PM. Thank you!!

[2017-10-24 03:31] thinkingserious commented on #587
Hello @Jericho,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-10-24 03:31] mbernier commented on #587
Reported to the PM who owns this!  Please ignore that auto-support message I just accidentally sent. :)

[2017-10-24 03:44] adlan commented on #564
Let me take this. I think I can try to generalize this implementation so that it could also handle #563, #562 and #571

[2017-10-24 19:42] thinkingserious opened #591 "Create email module class to enable easier drag-drop template creation over API"
The drag-drop editor allows API upload of HTML, but it must conform to a specific standard in order for the editor to render the emails properly.

Create an email module class that allows a user to call a static function that will output the HTML for the module.

The specific module HTML is here: https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html#-Drag--Drop-Code-Examples

[2017-10-25 18:57] Niladri24dutta commented on #543
@thinkingserious  I am working on it with .NET Core 1.x example and Azure support. I have already created a sample repository which I will deploy to Azure. For example
https://github.com/Niladri24dutta/SampleEmailApp

[2017-10-26 17:36] Jericho commented on #587
Thanks Matt. I also received a reply from a support engineer who asked that I report this issue by clicking the "feedback" button on my dashboard so I did.

[2017-10-26 20:13] thinkingserious opened #595 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-27 00:00] thinkingserious opened #597 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:38] thinkingserious opened #598 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 00:39] mbernier commented on #598
Dupe li cate

[2017-10-27 00:39] #598 closed

[2017-10-27 19:40] Jericho commented on #589
@mbernier ,

I was under the impression that SendGrid could take care of automatically warming up IP addresses based on the information I read [here](https://sendgrid.com/docs/Classroom/Basics/Misc/automated_ip_warmup.html) and [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/IP_Management/ip_warmup.html):

Am I wrong about this?

[2017-10-28 04:34] thinkingserious opened #602 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 04:36] mbernier commented on #602
CodeClimate is not available for C#

[2017-10-28 04:36] #602 closed

[2017-10-28 11:26] kostyaHrytsyuk commented on #353
Hello!
Maybe I am not  @robledosm, but I added this example to use_cases.md.
Hope that will be useful for you!
P.S. It's Hacktoberfest right now! ;-)

[2017-10-28 12:19] mbernier commented on #587
Perfect! Thank you so much, we really do appreciate it when you share this stuff with us!!

[2017-10-28 12:19] #587 closed

[2017-10-28 15:24] thinkingserious opened #605 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #606 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:38] thinkingserious opened #607 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 15:58] #605 closed

[2017-10-28 17:52] #595 closed

[2017-10-28 22:07] mptap commented on #607
@mbernier: PR: https://github.com/sendgrid/sendgrid-csharp/pull/609

[2017-10-28 22:31] VitorBarbosa commented on #606
I'll grab this one

[2017-10-30 16:59] Jericho commented on #567
If someone wants to send such a large number of emails, doesn't it make more sense to utilize SendGrid's email marketing features such as lists, campaigns, etc. rather than the mail send?

The reason I suggest using campaigns is because the developer wouldn't have to deal with batching, this would be handled automatically by SendGrid. Also, [scheduling](https://sendgrid.com/docs/API_Reference/Web_

[2017-10-30 17:16] mbernier opened #611 "Add CodeCov support to .travis.yml"
Issue Summary

Add this to our travis.ci configuration so that code coverage tests will run!

https://github.com/codecov/example-csharp#bash

[2017-10-30 18:07] Jericho commented on #568
When working with SendGrid's stats endpoint, please be aware of the following known issue: you get a `unable to get stats` exception when aggregating by week **AND** the start date falls in an "unusual" week of a given year. Case in point: [December 28 2015 through January 3rd 2016 fall in the 53rd week of 2015](https://www.epochconverter.com/weeks/2016) .

You can reproduce this issue with the fo

[2017-10-30 23:26] thepriefy commented on #611
I would like to do this but it seems like it requires an 'upload token'. Where can I find it?

[2017-10-31 16:06] mbernier opened #616 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 17:01] #535 closed

[2017-10-31 19:11] thinkingserious opened #619 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 19:28] #455 closed

[2017-10-31 20:14] thinkingserious opened #620 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:31] mbernier opened #621 "Variable assigned but never used"
#### Issue Summary

[code]

[2017-10-31 20:34] mbernier opened #622 "Fix runtime warnings"
#### Issue Summary
I will be making at least 3 issues - there are a lot of these.

[code]

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reported. Especially, why do you consider this to be a bug? What do you expect to happen instead?

#### Technical details:

* sendg

[2017-10-31 20:34] mbernier opened #623 "Fix runtime warnings 2"
#### Issue Summary

[code]

[2017-10-31 20:35] mbernier opened #624 "Fix Runtime warnings 3"
#### Issue Summary

[code]

[2017-10-31 20:35] mbernier opened #625 "Fix runtime warnings 4"
#### Issue Summary

[code]

[2017-10-31 20:36] mbernier opened #626 "Fix runtime warnings 6"
#### Issue Summary

[code]

[2017-10-31 21:01] mbernier opened #628 "Fix runtime warnings 7"
#### Issue Summary

[code]

[2017-10-31 21:02] mbernier opened #629 "Fix runtime warnings 8"
#### Issue Summary

[code]

[2017-10-31 21:02] mbernier opened #630 "Fix runtime warnings 9"
#### Issue Summary

[code]

[2017-10-31 21:03] mbernier opened #631 "Fix runtimes warning 10"
#### Issue Summary

[code]

[2017-10-31 21:03] mbernier opened #632 "Fix runtime warnings 11"
#### Issue Summary

[code]

[2017-10-31 23:11] thinkingserious opened #634 "Add the ability to impersonate a subuser"
Please see the [Python implementation](https://github.com/sendgrid/sendgrid-python/pull/314) for an example.

[2017-11-01 20:02] robledosm commented on #353
Yes I am! Thank you!

Regards,

Santiago

[https://www.lumen21.com/Content/Images/l21-logo.png]
From: kostyaHrytsyuk [mailto:notifications@github.com]
Sent: Saturday, October 28, 2017 8:27 AM
To: sendgrid/sendgrid-csharp <sendgrid-csharp@noreply.github.com>
Cc: Santiago Robledo <Santiago.Robledo@Lumen21.com>; Mention <mention@noreply.github.com>
Subject: Re: [sendgrid/sendgrid-csharp] USAGE.md - m

[2017-11-05 15:53] teabaggs commented on #555
@thinkingserious
the admin API key permission list exists on both pages linked in the original issue [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html#Admin-API-Key-Scopes) and [here](https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html#-Admin-Level-API-Key-Scopes) and are different. I'm going to assume the one with more scopes, the

[2017-11-05 19:52] teabaggs commented on #555
@thinkingserious regarding the ordering of the permissions: everything in the documentation is ordered alphabetically *except* where "mail_settings.*" is before "mail.batch" and "mail.send". I don't think it makes sense to have a custom comparer to break the otherwise alphabetical ordering. What bout updating the docs to be alphabetically ordered instead?

[2017-11-05 22:17] Jericho commented on #634
@thinkingserious the documentation says:
[code]
I notice that `subuser_` is outside the angle brackets. Is that a typo or is it intentional? In oither words, if I want to impersonate a user called "bob", do I need `on-behalf-of: subuser_bob` or `on-behalf-of: bob`?

[2017-11-06 05:03] Jericho commented on #634
One more question regarding impersonation: the documentation for a few endpoints doesn't mention the 'on-behalf-of' header. Does that mean they don't support impersonation or is it just a mistake in the documentation?

Specifically, the documentation for the following endpoints:
- [Batches](https://sendgrid.api-docs.io/v3.0/cancel-scheduled-sends)
- [Campaigns](https://sendgrid.api-docs.io/v3.0/ca

[2017-11-06 23:58] mbernier commented on #634
It is my understanding that the on behalf of *should* be available on all v3 endpoints except mail/send

[2017-11-06 23:59] mbernier commented on #634
Now, having said that, these one's don't have support:

- Subusers can't have subusers
- Subusers can't manage their own IPs

The other ones support On-Behalf-of

[2017-11-06 23:59] mbernier commented on #634
@ksigler7 @Whatthefoxsays for visibility on possible docs update (see @Jericho's message 3 up from this one)

[2017-11-08 19:38] Jericho commented on #634
@mbernier if subusers can't manage their IPs (which explains why the on-behalf-of header is not supported in the IP Addresses and the IP Pools endpoints), why are they allowed to [add/remove an IP to/from warmup](https://sendgrid.api-docs.io/v3.0/ip-warmup)? IMHO that's not consistent.

[2017-11-08 19:50] ksigler7 commented on #634
thanks @mbernier - should be updated now

[2017-11-08 20:15] Jericho commented on #634
@ksigler7 can you let us know what was updated?

[2017-11-08 20:20] ksigler7 commented on #634
@Jericho - I updated this API documentation to include `on-behalf-of`:

- [Batches](https://sendgrid.api-docs.io/v3.0/cancel-scheduled-sends)
- [Campaigns](https://sendgrid.api-docs.io/v3.0/campaigns-api)
- [Partner Settings](https://sendgrid.api-docs.io/v3.0/settings-partner)
- [Subusers](https://sendgrid.api-docs.io/v3.0/subusers-api)
- [Teammates](https://sendgrid.api-docs.io/v3.0/teammates)

[2017-11-08 20:25] ksigler7 commented on #634
@Jericho - I also removed it from the [IP warmup](https://sendgrid.api-docs.io/v3.0/ip-warmup) stuff. Thanks for pointing that out! `on-behalf-of` was the very first update I made to the API docs after I joined the company, and I had no idea what I was doing :)

[2017-11-08 20:37] Jericho commented on #634
Thanks @ksigler7. I see the changes in the documentation for batches, campaigns, partner settings and IP warmup but I don't notice anything different in the doc for subusers and teammates. These two sections did not mention the on-behalf-of header and, as far as I can tell, they still don't. Anyway, based on the explanation @mbernier gave me a few days ago, I understand these two endpoints are not

[2017-11-08 20:39] Jericho commented on #634
@ksigler7 also, I think my [original question](https://github.com/sendgrid/sendgrid-csharp/issues/634#issuecomment-342010438) was overlooked. Is that something you can look into?

[2017-11-08 21:04] ksigler7 commented on #634
@Jericho to answer your original question, it should be `on-behalf-of: subuser_bob`

[2017-11-09 06:14] thinkingserious commented on #555
@ksigler7, @mbernier,

Thoughts?

[2017-11-09 15:13] mbernier commented on #589
The warmup that is available over the API provides no control to the user. The IPs go into warmup and they come out of warmup when they're done. This process also assumes a constant rate of sending each day.

This process would allow the user to customize the rate at which they warm up and it accounts for the fact that some users send in an inconsistent way (monday, wed, fri or "on the 15th"). Our

[2017-11-09 17:16] ksigler7 commented on #555
Just talked with @mbernier about this, and we don't think the order should matter - so go ahead and do it alphabetically!

Just so you know, you can get an updated permission list by using the (GET
/api_keys/{api_key_id})[https://sendgrid.api-docs.io/v3.0/api-keys/retrieve-an-existing-api-key] method. Just create an API key with the level of permissions you need, and then you can use that method t

[2017-11-09 17:34] thinkingserious commented on #555
@teabaggs ^^

[2017-11-10 05:01] SauravHigh opened #637 "Not able to install sendgrid 9.9.0 on VS 2015 project"
Hi,
I am using trial version of sendgrid for 1 month and have created account for that, but while installing the sendgrid thorugh nuget it says

Could not install package 'Sendgrid 9.9.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework.

[2017-11-10 20:11] kspearrin opened #638 "Is SendGridMessage.OpenTracking.SubstitutionTag Optional?"
`SendGridMessage` has an `OpenTracking` method that requires a `enable` boolean and `substitutionTag` string:

[code]

I don't plan to use the `substitutionTag`. Should I just pass `null`?

Ex:
[code]

Where will the tracking pixel be placed in this case? At the very bottom of the email?

[2017-11-10 22:00] thinkingserious commented on #637
Hello @SauravHigh,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-11-10 22:01] thinkingserious commented on #637
Hello @SauravHigh,

That version of .NET is not supported. Please see [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#net45).

Thanks!

With Best Regards,

Elmer

[2017-11-10 22:01] #637 closed

[2017-11-10 22:10] thinkingserious commented on #638
Hello @kspearrin,

Yes, the substituionTag is optional and [we should update this function](https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/SendGridMessage.cs#L1390) to reflect that. I'm going to leave this issue open for that purpose.

With regards to the tracking pixel, I'm not sure where it gets placed. I would recommend sending a test email and viewing the sou

[2017-11-12 18:50] juafevillca opened #639 "SendGrid C# library install in production computer does not work"
#### Issue Summary

I have a dll in C# built in VS2015 MS in Windows 7 that sends email using the SendGrid C# library. During development I had a reference in Access vba to the bin folder created by VS2015. It works as required. Next, I built an installer with VB2015, installed it in the same development computer, and changed the Access vba reference to the .tlb file in the installed directory. Th

[2017-11-13 18:10] teabaggs commented on #555
got it. My account got flagged so I am waiting on getting access back so I
can play around with the api for real. I have tests for verifying that the
list of claims (as string) output from the builder matched the linked docs.
I will change those to match the results of the api calls but those will
still be hardcoded. I need to look at the integration tests more since they
all fail on my machine. I

[2017-11-13 18:14] mbernier commented on #555
@teabaggs - hit me up at my email (github + company URL) with your ticket ID, I'll go see if I can help with the support ticket.

[2017-11-16 17:58] Jericho commented on #589
@mbernier what are your thoughts on keeping track of the number of emails sent throughout a given day before **totalEmailsToSend** is reached?

What you have proposed so far I think will work fine for scenarios where the number of emails in a single Mail.Send exceeds the number of warmup emails for a given day. But what if a customer sends only a few emails at a time? Let's use examples to illustr

[2017-11-16 18:34] Jericho commented on #634
@mbernier Feature request: would SendGrid be open to the idea to enhancing `Mail.Send` so we can impersonate a subuser when sending emails?

If not, is there a workaround that ensures emails are associated with the desired subuser (and count against their monthly quota)?

[2017-11-20 21:32] Jericho commented on #589
@mbernier An email with 4 TOs, 3 CCs and 2 BCCs counts as 9 emails right as far as counting the number of emails sent on an IP being warmed up is concerned, right?

[2017-11-20 22:25] mbernier commented on #589
@Jericho yep, any email address that receives an email actually gets a single email request to the ISP.

In your example, the SMTP server would actually create 9 different requests, setting the primary recipient on each one and then sending it.

[2017-11-20 22:36] Jericho commented on #589
@mbernier I'm about to publish a new version of the StrongGrid library with a `WarmupEngine` which meets all your goals but I have departed a little bit from your design by not using the pool name to store data such as the warmupDay and the number of emails sent. I'm finishing up updating the readme and will publish shortly.

[2017-11-20 23:30] Jericho commented on #589
StrongGrid version 0.34.0 was just released to [nuget](https://www.nuget.org/packages/StrongGrid/). The version includes a new `WarmupEngine` which achieves the following goals:

- Can be initialized with IP addresses that were added to account using SendGrid's UI **or** new IP addresses can be automatically added to account when initializing
- Custom warmup schedule can be specified **or** a reco

[2017-11-21 14:56] mbernier commented on #589
@Jericho ... this is amazing! I am sharing with our deliverability team right now, they are going to be super excited.

[2017-11-21 14:56] #589 closed

[2017-11-22 15:51] #607 closed

[2017-11-24 06:30] williamg-redplanetsoftware opened #641 "Email as attachment"
Hi,

We are trying to send an email using sendgrid and the email we are sending has an attachment. The attachment is a separate email.

SendGrid successfully sends the email but not the attachment. We are receiving an empty attachment.

We already tried some other approach but not succeed. One was the below:

var bytes = File.ReadAllBytes("/Users/username/message.eml");
var file = Convert.ToBase64

[2017-11-26 09:22] Gopigg opened #642 "sendgrid not working in .Net 4.0"
sendgrid not working in .Net 4.0

#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is r

[2017-11-28 02:13] thinkingserious commented on #639
Hello @juafevillca,

Could you please try removing SendGrid.CSharp.HTTP.Client.dll and SendGrid.dll, then installing the latest SDK (currently v9.9.0)?

The README in this repo contains the latest documentation on this latest version of the SDK.

Thank you!

With Best Regards,

Elmer

[2017-11-28 02:17] thinkingserious commented on #555
Hi @teabaggs,

The tests do not make any live API calls. Please see [this documentation](https://github.com/sendgrid/sendgrid-csharp/blob/master/CONTRIBUTING.md#testing) for instruction on how to setup a local test environment.

Thanks!

With Best Regards,

Elmer

[2017-11-28 07:30] thinkingserious commented on #641
Hello @williamg-redplanetsoftware,

I think you might need to specify the `Attachment` `Type`, like [so](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchen-sink---an-example-with-all-settings-used). In your case, I think it might be `message/rfc822`.

With Best Regards,

Elmer

[2017-11-28 07:33] williamg-redplanetsoftware commented on #641
Hi Elmer,

Thank you for your reply.

We’ve also done that but still we are getting an empty attachment.

[redplanet_logo200]

William M. Gueco
Developer
E: williamg@redplanetsoftware.com<mailto:williamg@redplanetsoftware.com>

Red Planet Software Pty Ltd | www.redplanetsoftware.com<http://www.redplanetsoftware.com/>
Address: Level 26, 44 Market St, Sydney, NSW, 2000, AUSTRALIA | ABN: 52 104 371 2

[2017-11-28 07:39] thinkingserious commented on #641
Could you please send a sample attachment to dx@sendgrid.com so that we may try to reproduce?

Thanks!

[2017-11-28 07:42] thinkingserious commented on #642
Hello @Gopigg,

This library only supports 4.5.2 and higher, since those are the versions that Microsoft continues to support.

With Best Regards,

Elmer

[2017-11-28 07:43] #642 closed

[2017-11-28 20:59] #526 closed

[2017-11-28 23:13] williamg-redplanetsoftware commented on #641
Sorry but we can't provide you with the attachment. It's basically an email saved to a local directory then takes that saved email and attach it to sendgrid.

something like this:

string saveMailFolder = @"C:\Temp";
string filePath = Path.Combine(saveMailFolder, "Message.eml");
MailMessageExt.Save(serializedMessage, filePath);
var attachmentSource = new FileAttachmentSource("Message.eml", "messag

[2017-11-28 23:29] thinkingserious commented on #641
Hi @williamg-redplanetsoftware,

Can you add a step in your code to verify the existence of the saved email? I'm guessing there could be a problem with the step: "an email saved to a local directory". Maybe it's not getting saved properly or with an alternate name.

With Best Regards,

Elmer

[2017-11-30 00:33] #461 closed

[2017-12-05 06:46] williamg-redplanetsoftware commented on #641
Hi Elmer,

Hope you're well.

Have done what you've asked and the file does exist however the attachment still does not show.
Have emailed you a sample email attachment.

Best regards,
weeco

[2017-12-05 07:14] viveklp opened #644 "SendGrid.SmtpApi : 1.3.1 to 1.3.3 issue"
I have updated following packages for sendgrid email functionality

 1) SendGrid
 2) SendGridMail
 3) SendGrid.SmtpApi

While I updated the packages my email functionality not work properly.

 myMessage.Header.SetTo methods are not exist in updated version of SendGrid.SmtpApi

[2017-12-05 11:37] thinkingserious commented on #644
Hello @viveklp,

The SendGrid.SmtpApi package is stand alone. Please remove SendGrid and SendGridMail.

The repo for SendGrid.SmtpApi is [here](https://github.com/sendgrid/smtpapi-csharp).

I hope that helps.

With Best Regards,

Elmer

[2017-12-05 11:38] thinkingserious commented on #641
Thank you @williamg-redplanetsoftware,

I have received the sample attachment and I have this issue in our backlog for further review.

[2017-12-07 06:50] vinesh1993 commented on #644
I have remove SendGrid and SendGridMail packages, but error comes
 SendGridMessage myMessage = new SendGridMessage();

My code is like below

                string userName = string.Empty, pswd = string.Empty, templateId = string.Empty;
                // Setup the email properties.
                SendGridMessage myMessage = new SendGridMessage();

                if (string.IsNullOrEmpty(from))

[2017-12-07 07:28] thinkingserious commented on #644
Hi @vinesh1993,

`SendGridMail` does not exist in that package. Please see [here](https://github.com/sendgrid/smtpapi-csharp#quick-start) for documentation.

With Best Regards,

Elmer

[2017-12-07 07:29] thinkingserious commented on #644
I think you may be using an old version of this SDK, in that case, the documentation is [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#v2).

[2017-12-07 09:36] vinesh1993 commented on #644
Hello thinkisgserious,
Thank you for your reply

As per document I install packages SendGrid version 9.9.0 but
then SendGridMessage class available in SendGrid.Mail.Helper library so I include this library at the top of the class.

then after in below code

       SendGridMessage myMessage = new SendGridMessage();

      if (string.IsNullOrEmpty(from))
            myMessage.From = new MailAddress(

[2017-12-08 04:34] RyKilleen opened #645 "BCC Recipients don't receive substitution values in emails"
#### Issue Summary

When BCCing someone, the bcc'd email does not contain Substitutions.

#### Steps to Reproduce

1. Add a To and a BCC recipient
2. Add substitutions to message
3. Send Email

Ideally, the message sent to BCC recipient should be identical to the original recipient.
[code]
#### Technical details:

* sendgrid-csharp Version: 6.3.4
* Platform: .NET MVC 5.2.3
* .NET Version: 4.6

Tha

[2017-12-09 04:43] viveklp commented on #644
required your comment Thinkingserious...would be very helpful

[2017-12-14 02:16] thinkingserious commented on #645
Hello @RyKilleen,

It appears that you are using a non-supported version of this SDK.

Have you tried updated to v9?

With Best Regards,

Elmer

[2017-12-14 02:16] thinkingserious commented on #645
Hello @RyKilleen,

It appears that you are using a non-supported version of this SDK.

Have you tried updating to v9?

With Best Regards,

Elmer

[2017-12-14 02:24] thinkingserious commented on #644
Hello @viveklp,

If you want to use the most current version of the SendGrid C# SDK. I suggest you remove all SendGrid packages and start over, following the instructions on this page: https://github.com/sendgrid/sendgrid-csharp/blob/master/README.md

With Best Regards,

Elmer

[2017-12-14 02:36] RyKilleen commented on #645
That would certainly do it. Off the top of your head @thinkingserious is there any extreme breaking changes I should look out for? I know 3 versions is a big jump, and too much for anyone to keep in their head.

[2017-12-14 07:05] thinkingserious commented on #645
My recognition would be to start fresh [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/README.md).

For deeper insight into the upgrade, [this documentation](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/how_to_migrate_from_v2_to_v3_mail_send.html) may help.

[2017-12-14 15:47] RyKilleen commented on #645
@thinkingserious thanks so much, I think you're probably right. Luckily my implementation is pretty isolated and not too complex. Thanks for the time

[2017-12-14 15:47] #645 closed

[2017-12-15 21:15] thinkingserious commented on #645
Awesome! If you run into any issues with the integration, please do reach out. Thanks!

[2017-12-19 10:15] Peternomous opened #647 "Sending Email with sendGrid"
#### Issue Summary

I want to use SendGrid to authenticate users credential. I want email to be sent to users to confirm their credentials.
The following errors came up:

The type or namespace name 'SendMessage' could not be found (are you missing a using directive or an assembly reference?)	AppUser	C:\Users\Adee\Documents\Visual Studio 2017\Projects\AppUser\AppUser\App_Start\IdentityConfig.cs	37

[2017-12-19 23:11] thinkingserious commented on #647
Hello @Peternomous,

What version of this SDK do you have installed from Nuget?

With Best Regards,

Elmer

[2017-12-19 23:27] tsalpekar21 commented on #339
I'd really love to have this feature too! I'm sending a daily automated email to a team and they like to reply to each other to discuss the content of the automated email. Right now, I'm forced to simply CC the users and put one email address on the "to" line for the email. This is bad because the user who received the email is replying to themselves, while trying to talk to everyone else (as ever

[2017-12-19 23:30] thinkingserious commented on #339
Thanks for the additional feedback and vote @tsalpekar21!

[2017-12-20 14:09] Peternomous commented on #647
@Elmer,
I installed
EntityFramework.SqlServer
and
Sendgrid

[2017-12-20 14:55] oatsoda opened #648 "Client Throws 'Error while copying content to a stream' on 401 API Response"
When making a call to `SendGridClient.SendEmailAsync` using a deliberately invalid API Key, rather than receiving a `Response` with a `StatusCode` of 401 Unauthorized, an exception is thrown:

    System.Net.Http.HttpRequestException occurred
      HResult=0x80131620
      Message=Error while copying content to a stream.
      Source=<Cannot evaluate the exception source>
      StackTrace:

[2017-12-20 16:10] oatsoda commented on #648
Upon further investigation it appears that if the original context-length I am POSTing exceeds 2063 characters then I get the response with no content.

If the original content-length < 2064 then I get the correct response:

    {
        "errors": [
            {
                "message": "The provided authorization grant is invalid, expired, or revoked",
                "field": null,

[2017-12-20 16:13] oatsoda commented on #648
Upon further investigation it appears that this is somehow linked to the original content-length of the POST request.

If the original content is small (i.e. less in the email body) then I get the correct response content:

    {
        "errors": [
            {
                "message": "The provided authorization grant is invalid, expired, or revoked",
                "field": null,

[2017-12-20 21:25] thinkingserious commented on #647
HI @Peternomous,

Is this the Nuget package you installed: https://www.nuget.org/packages/SendGrid

If so, what version?

Thank you!

[2017-12-20 21:33] thinkingserious commented on #648
Hi @oatsoda,

That's an interesting bug, thanks for sharing it with us!

I've added this to our backlog for further investigation.

With Best Regards,

Elmer

[2017-12-21 08:10] oatsoda commented on #648
@thinkingserious Thanks. I have also opened a support ticket with SendGrid directly as it may be an API issue rather than a client issue. I will update here once I receive a response.

[2017-12-22 15:04] oatsoda commented on #648
[Source.zip](https://github.com/sendgrid/sendgrid-csharp/files/1582792/Source.zip)
[SendGridTest.zip](https://github.com/sendgrid/sendgrid-csharp/files/1582794/SendGridTest.zip)

Attached are Source and Binaries of a test app demonstrating the failure.  I really suspect this is an API issue rather than a SendGridClient issue, but updating it here anyway.

Run the app with a value to repeat the lin

[2017-12-26 23:24] smartnotify commented on #470
@mightywill I am in the same situation as you.  There is .net 4.5.2 depency linked to Newtonsoft so  I will likely have to duplicate your approach. To be sure you:
+ Downloaded the zip
+ Updated to the latest Newtonsoft package  (how did you go about removing the dependency?)
+ Compiled.
+ Used the build version.
...just wanting to make sure I was not skipping a step.
thank you!

[2017-12-26 23:33] mightywill commented on #470
@smartnotify AFAIR, there was a fix for this issue made by dev team but I did not test it
In my case I've just taken the latest Sendgrid code and updated refs to use the latest Newtonsoft.Json
and then compiled it and used it

[2017-12-28 04:41] liberoram opened #649 "how to display web page in inside email body using external url"
I need to display web page in email (not to send html of page in email) like iframe, (not working in email).

If I used file_get_contents not working properly (showing css issues) (both are not wokring in email).

From my research / knowledge , I didn't found any possible ways, but is there any hack, that might possible to make this happen.

Please help me on this.

[2017-12-28 04:42] liberoram opened #650 "Html IFrame tag is not working in email body using php (codeigniter)"
I need to send a HTML iframe tag inside an email body.The HTML file  is working fine in a browser. But when i send it inside email body,  iframe tag is not getting interpreted so does not show in the body. How  can I send an iframe in email body.

Thanks in advance.

[2017-12-28 22:11] engineeringecomdash opened #651 "Email Messages being dropped after receiving an "Accepted" or "Ok" response."
#### Issue Summary

We are experiencing the exact same issue as case number: #506
However, this happens consistently for one specific email. That email is: mike@jewelrytrends.com

I have provided our SendEmail method below for you to examine. If we receive an "Accepted" or "Ok" response back from our call, it is my understanding that the email should be queued up in send grid to be sent. However,

[2018-01-02 08:02] oatsoda commented on #648
@thinkingserious SendGrid Support have sent me your way :)

Any ideas on what the issue could be? Can you reproduce it using my test app?

[2018-01-02 19:04] thinkingserious commented on #648
Hello @oatsoda,

Thank you for the updated information. This issue is still working its way up our backlog.

In the mean time, you may want to [try the API call directly](https://sendgrid.com/docs/API_Reference/api_v3.html) to officially rule out the client as the culprit.

[2018-01-02 21:24] thinkingserious commented on #649
Hello @liberoram,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-01-02 21:24] #649 closed

[2018-01-02 21:26] thinkingserious commented on #650
Hello @liberoram,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-01-02 21:26] #650 closed

[2018-01-02 21:29] thinkingserious commented on #651
Hello @engineeringecomdash,

I will circle back with support on your behalf as this appears to not be a SDK issue.

Thanks!

With Best Regards,

Elmer

[2018-01-02 22:08] kirk-quinbar commented on #505
We are in the process of switching from using SMTP to using the SendGrid API and are running into this same issue with "could not create secure channel" error intermittently being thrown. sounds like i need to contact sendgrid support as per the last comment, but thought i'd add my setup here too.

.net v4.6.2
sendgrid client v9.8.0

[2018-01-02 23:51] electricessence commented on #266
So nothing like this has been added to >9.6.0 yet?

[2018-01-03 00:06] thinkingserious commented on #266
Not yet @electricessence.

Were you considering a PR? :)

[2018-01-03 04:57] electricessence commented on #266
@thinkingserious, I'm just surprised it hasn't happened yet.  I could easily add what @da1rren posted earlier.

[2018-01-03 06:06] electricessence commented on #266
So just for giggles, I forked and tried to update the code.
Issues I ran into:
StyleCop doesn't seem to properly respect the copyright setting?  It's strange.  And just a note, the copyright in the stylecop,json needs fixing.
Then, because of how the dependencies are arranged, I admittedly am not versed enough using the VS Community 2017 to add dependencies for both 4.5.2 and .NET Standard 1.3. :(

[2018-01-03 06:11] electricessence commented on #266
Here's what I was working on to add SendGrid as an "EmailProcessor" injectable interface/code.
https://github.com/electricessence/NetMail

[2018-01-03 08:35] oatsoda commented on #648
Hi @thinkingserious

Yes, I can reproduce it directly to the API in Postman too. However, I sent SendGrid Support the sample Postman call and it didn't reproduce for them!  I suspect this *is* API related rather than client related. The API just doesn't return any content if the original request is above a certain size.  I'd be really interested to know if the sample app reproduces it for you - I

[2018-01-03 18:03] Jericho commented on #648
I can confirm some of the observations that @oatsoda made regarding this issue. Please note that I used [StrongGrid](https://github.com/Jericho/StrongGrid) instead of SendGrid's C# client in order help determine if this issue is specific to the client or not:

_Observation 1:_
Using the same email content included in @oatsoda's sample code (including the large text and HTML content), I observed th

[2018-01-04 09:10] oatsoda commented on #648
Thanks @Jericho for confirming!

Strange that the error doesn't occur in other clients. The stack trace indicates that it is an error in `HttpClient.FinishSendAsyncBuffered` - but I suppose it could be that other clients may not use this...

[2018-01-05 02:29] thinkingserious commented on #266
Hi @electricessence,

I will take care of the dependencies and StyleCop issues. Thanks!

[2018-01-06 00:58] thinkingserious opened #652 "Investigate DLL / Nuget Mismatch"
#### Issue Summary

Report from customer:

[2018-01-10 17:44] thinkingserious opened #653 "Test Environment Variable Setup Instruction on Windows 10"
Go through this process on Windows 10: https://github.com/sendgrid/sendgrid-csharp/blob/master/README.md#setup-environment-variables-to-manage-your-api-key

Take notes on how we can improve the documentation while going through the steps in the README.

Make a PR on the README with any improvements identified.

[2018-01-11 20:16] ericpopivker opened #654 "In Version 9.9.0 - there is no AddAttachment method that takes a stream"
Today I downloaded NuGet package v9.9.0, but when I was testing sending an email, I didn't find a method that would let me add an Attachment to message using Stream.

In your documentation I found example here:
https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md

[code]

But it doesn't work for me with 9.9.0.

Also I found some examples on StackOverflow:
https://stackoverflow.com/

[2018-01-11 20:39] thinkingserious commented on #654
Hello @ericpopivker,

I think [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#attachments) is what you need. Please let me know if that's not the case.

With Best Regards,

Elmer

[2018-01-11 20:59] ericpopivker commented on #654
Hi,

I tried the second example, but FileStream is not available as argument.

I don't have any of the files stored in file storage, most are rendered on the fly.

Eric

[2018-01-11 21:03] thinkingserious commented on #654
Hi @ericpopivker,

Ah, looks like our documentation may be out of date. I think [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/SendGridMessage.cs#L1000) is the function you need.

Please let me know if that works for you and I can either update the docs, or if you like, we accept PRs :)

With Best Regards,

Elmer

[2018-01-11 21:13] ericpopivker commented on #654
Hi Elmer,

I appreciate your prompt response.

Unfortunately I don't see such function in the list of methods in SendGridMessage:
https://www.screencast.com/t/xHTwGKhjp

I do see that it is in the GitHub code, so it is a bit bizzare.  Is this function included in 9.9.0?

Eric

[2018-01-11 21:29] thinkingserious commented on #654
@ericpopivker,

I see what happened, that code was merged but not deployed. I'm not sure when it will be deployed because we currently have a very large backlog we are trying to work through after receiving over 1,000 PRs during Hacktoberfest.

If you sign up for our [release notifications](https://dx.sendgrid.com/newsletter/csharp) newsletter, you will receive an email when the updates are deploy

[2018-01-11 22:17] Jericho commented on #654
@ericpopivker you might be interested in [StrongGrid](https://github.com/Jericho/StrongGrid) (disclaimer: I'm the author). The reason I mention it because it allows you to create attachments from a file, from a byte array or from a stream. Here's an example:

[code]

[2018-01-11 22:19] thinkingserious commented on #654
@ericpopivker,

I can second @Jericho's recommendation, StrongGrid is a solid SDK.

[2018-01-12 09:34] ericpopivker commented on #654
I will copy the code from here:
https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/Helpers/Mail/SendGridMessage.cs#L1000
to my project for now.

StrongGrid sounds great, but I got burned too many times on using non-official libs that became not supported.  I am actually swtiching from SendGridPlus which lost developer support 3 years ago.

Thank you.

[2018-01-13 19:05] Jericho opened #655 "Intermittent HTTP500 response from API"
In the last few days I have bee getting a lot of HTTP 500 responses from SendGrid API. What's more confusing is that these exception seem random: what I mean is that sometimes a given HTTP request will work fine but repeating the _exact same_ HTTP request a few seconds later results in a HTTP 500 response.

I didn't worry about it at first because it seemed like these exceptions started occurring

[2018-01-16 15:11] thinkingserious commented on #655
Thanks for the detailed report @Jericho! I have provided some guidance internally as to who is the best team to troubleshoot this.

[2018-01-16 18:10] nathanpaurini opened #656 "Cannot send internationalized email address / non ASCII characters"
#### Issue Summary

I cannot send an email to an address with non ASCII characters.

Example email: `pepé@lefrenchplace.com`

Gmail web interface works fine to send so the test email address is set up fine.

Using SendGrid, Non ASCII characters work fine in subject line and message body.

Relevant standard: [RFC6530](https://tools.ietf.org/html/rfc6530), [RFC6531](https://tools.ietf.org/html/rfc65

[2018-01-17 22:07] thinkingserious commented on #656
Thanks for reporting this @thatpoordev,

Currently, we do not support ASCII local parts.

I have passed along this issue to our product team for further consideration. I will leave this ticket open as more votes on this issue helps with prioritization.

With Best Regards,

Elmer

[2018-01-17 22:11] thatpoordev commented on #656
Just to confirm, is this a limitation with the C# library, or SendGrid as a whole?

[2018-01-17 22:16] thinkingserious commented on #656
Hi @thatpoordev,

It's a SendGrid limitation. However, it is definitely on the radar but I don't have any time commitment.

[2018-01-18 19:58] onionhammer opened #657 "Look up quota"
We have a healthcheck, which runs every 5 minutes to determine if our application is healthy, one aspect of our application's health is whether SendGrid is available and we have not exceeded our monthly email quota.

I see that we are able to pull `/stats?aggregate_by=month` to retrieve the number of `requests` for the month thus far, but it does not indicate what the quota is. It would be nice if

[2018-01-19 20:14] kirk-quinbar opened #658 "SendGrid client has a memory leak"
#### Issue Summary

Over time the sendgrid client calling the mail api seems to be holding on to or leaking memory. I reported a similar error in 2016 but i thought it was fixed which is why we were looking at this again. If you have an application where you are sending out hundreds or thousands of emails, you can see memory usage build up. We actually did a larger test of sending 20,000 emails on

[2018-01-19 21:46] florydev opened #659 "A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond"
#### Issue Summary

I have a website that is hosted and am using the API (v9.9.0 from Nuget).  It works fine in every environment but the hosting provider.

I get this for every call:
[SocketException (0x274c): A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond 159.12

[2018-01-19 22:19] florydev commented on #659
I setup a proxy and it worked just fine.

[2018-01-19 22:19] #659 closed

[2018-01-23 00:09] thinkingserious commented on #657
Hi @onionhammer,

This is a question for our [support team](https://support.sendgrid.com), would you mind opening a ticket with them?

Please do share the results with us as this may be a good feature to add to the library.

Thanks!

With Best Regards,

Elmer

[2018-01-23 00:21] thinkingserious commented on #658
Hi @kirk-quinbar,

Thanks for the detailed feedback, very useful!

I'm guessing there may be an issue with how we are using the [HTTPClient](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/). I've added this to our backlog for further investigation.

Thanks again for putting this on the radar!

With Best Regards,

Elmer

[2018-01-23 00:21] thinkingserious commented on #659
Thanks for the update!

[2018-01-23 14:22] onionhammer commented on #657
Hmm, last time I contacted support i dont know if I ever got a reply lol. But I'll give it a shot

[2018-01-23 17:03] thinkingserious commented on #657
Hi @onionhammer,

If you have trouble getting a response, please provide me with the ticket number. Thanks!

[2018-01-23 21:09] thinkingserious commented on #655
I see that there is now an issue created (1348907) that our support team is looking into. I've added this information for future reference to help ensure this gets resolved.

[2018-01-23 21:40] Jericho commented on #655
The ticket you are referring to is the one I created when I first discovered this issue on January 13.

The support person I have been communicating with said:

I have offered to get on a screen sharing session with the engineering team to demonstrate what I have discovered. I strongly suspect these HTTP 500 errors occur when I exceed some quota which is surprising to me because the API is suppose

[2018-01-23 21:40] thinkingserious commented on #655
Perfect, I have advised them to take you up on the offer.

[2018-01-24 11:40] ericpopivker opened #660 "What is the preferred way for bulk sending a lot of emails through Sendgrid API?"
I am currently using the following approach:

 ``
var tasks = new List<Task>();
for (int i=0; i <100; i++)
{
    var task = SendEmailUsingSendgridApiAsync(message);
    tasks.Add(task);
}

Task.WaitAll(tasks.ToArrayList());

``

This approach takes 4s for 100 emails vs 20s if I just send emails one by one.  So about 5X faster.
(Single email takes 200ms.)

Is there a recommended approach to send 10

[2018-01-25 18:18] Jericho commented on #660
@ericpopivker I have two suggestions for you:

First of all, you can batch up to 1,000 recipients in a single API call which should be much more efficient than sending emails one by one. Check the "Limitations" section in [this document](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html). Keep in mind that you can personalize the content for each recipient, if desired. The SendGri

[2018-01-25 19:05] onionhammer commented on #657
@thinkingserious Got the ol' runaround from support - they're telling me to fill in a 'feedback' form now

[2018-01-25 19:18] Jericho commented on #657
+1

I think this would be a great enhancement to the SendGrid API. Maybe @mbernier can weigh in?

[2018-01-26 03:00] thinkingserious commented on #660
Wow, thanks for the wonderful explanation @Jericho!

@ericpopivker,

I think @Jericho's advice is solid. Please let us know if you need additional help.

[2018-01-26 03:04] thinkingserious commented on #657
@onionhammer,

I believe this means that your idea will bubble up to the product team for consideration.

Do you have a link to the feedback form support gave you?

@Jericho,

Agreed, I'll get your vote added to @onionhammer's request.

Thanks!

[2018-01-26 03:05] onionhammer commented on #657
@thinkingserious no link was provided, just a vague direction to look for a blue link. Couldn't find it

[2018-01-26 03:07] thinkingserious commented on #657
@onionhammer,

Could you please share the support ticket number?

[2018-01-26 04:32] onionhammer commented on #657
@thinkingserious 1357664

[2018-01-26 22:16] thinkingserious commented on #657
Hi @onionhammer,

I have submitted your feedback along with @Jericho's +1. Thanks!

[2018-01-26 22:28] Jericho commented on #657
@onionhammer I received similar vague direction to look for a blue button to provide feedback on an unrelated issue. Turns out, what they mean is this "feedback" button on the right side of your screen when you look at your dashboard:

![image](https://user-images.githubusercontent.com/112710/35463349-2ee03002-02be-11e8-89ae-6aa766da6706.png)

[2018-01-26 22:42] Jericho commented on #634
@mbernier Just following up on my suggestions from a few months ago. Do you think SendGrid would consider adding to impersonate when sending an email?

[2018-01-26 23:53] onionhammer commented on #657
Ahh - you know what? If I disable my ad blocker I see it ;)

[2018-01-27 04:58] Jericho commented on #657
It just occurred to me that there is already an [API endpoint](https://sendgrid.com/docs/API_Reference/Web_API_v3/user.html#GET-User-Credits-GET) to retrieved information about your monthly quota. Dispatching a GET request to this endpoint will return the following information such as: how many credits you have during a given billing period, how many credits you have used so far in the current bil

[2018-01-27 15:51] thinkingserious commented on #657
@Jericho to the rescue once again!

[Here](https://github.com/sendgrid/sendgrid-csharp/blob/master/USAGE.md#retrieve-your-credit-balance) is how to grab that data in this SDK. You will want to use Jericho's excellent StrongGrid if you want the convenience method. It will take some time before we implement that.

With Best Regards,

Elmer

[2018-01-27 17:40] onionhammer commented on #657
Excellent! I will look into this next week, thanks @jericho and @thinkingserious

Is there any reason why I wouldn't want to incorporate this kind of check into a periodic health check? Are there rate limits for how often I can check?

[2018-01-27 18:42] Jericho commented on #657
Yes there are rate limits but as far as I know SendGrid has not officially published what they are. Based on my observations, the limit seems to generally be 600 calls per minute per endpoint but some endpoints have different limit:
- the "stat" endpoint has a limit of 25 calls per minute
- the "whitelabel" endpoint has a limit of 20 calls per minute
- the "api_keys" endpoint has a limit of one ca

[2018-01-27 19:01] Jericho commented on #657
_Side note regarding rate limits_: something doesn't seem right with the way they are enforced. This used to work just fine but I noticed in early January that I was getting a generic HTTP 500 error instead of the expected HTTP 429. I opened issue #655 to talk about it and I also contacted support. They told me a few days ago that the issue has been escalated to their engineering team but so far I

[2018-01-30 16:04] onionhammer commented on #657
Hmm.. unable to access users/credits (via https://sendgrid.com/docs/API_Reference/api_v3.html ) even with an API Key with full access I get 'access denied'.

[2018-01-31 17:56] thinkingserious commented on #657
@onionhammer,

My apologies, I have found that you must make an API call to set the permission you need to access that endpoint.

You will need to do a [PUT](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html) to update the `user.credits.read` [scope](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html#User-Settings).

I hope that helps!

I

[2018-01-31 18:25] onionhammer commented on #657
Getting this

[code]

[2018-01-31 18:58] thinkingserious commented on #657
@onionhammer,

It turns out that you need to use [Basic auth](https://sendgrid.com/blog/magic-behind-basic-http-authentication/) like so:

[code]

[2018-01-31 21:30] onionhammer commented on #657
Yeah I was doing basic auth, I'll try it again but that looks like exactly what I was doing, except with postman

[2018-01-31 22:09] thinkingserious commented on #657
Thanks @onionhammer,

Please let me know how it goes.

[2018-01-31 22:10] thinkingserious commented on #657
@Jericho,

Did you run into any authentication issue for that endpoint?

[2018-01-31 23:56] Jericho commented on #657
I remember having access issues with `user/profile` and I remember others also having access issues but I don't remember any issue with `user/credits` specifically. The access issues I experienced are described [here](https://github.com/sendgrid/sendgrid-csharp/issues/185).

One thing that trips me every time is that SendGrid's UI allows you to create "Full Access" API Keys which gives your the fa

[2018-02-02 14:11] Mikarus opened #661 "How to add return-path header?"
Hello,

When i try to add an header wil mail.headers.add("return-path",xxxxx); I've got an error.
Then I tried thru personnsalization and the email is not sent.
What is the proper way to add the return path to an email?

Thanks

Michael

[2018-02-02 22:59] maxbeaudoin opened #662 "Authentication failed because the remote party has closed the transport stream."
#### Issue Summary

Calling the SendGrid Web API over HTTPS from ASP.NET result in `Authentication failed because the remote party has closed the transport stream`.

We debugged for hours. It works within a console app or IIS site when the user is admin. Otherwise, we get the `IOException` above.

We tried setting `ServicePointManager.SecurityProtocol` without success.

It seems it has to do with

[2018-02-04 00:44] Jericho commented on #658
@kirk-quinbar, I ran your sample project and I also observed that memory utilization keeps going up and is not released, very similar to what you observed. However, I think the issue is not so much a bug and/or memory leak in sendgrid-csharp but rather a flaw in your testing. Let me explain.

SendGrid's csharp client is dependent on Microsoft's HttpClient to handle the actual HTTP communication be

[2018-02-04 00:48] Jericho commented on #655
I was contacted on Thursday and told that the team is now able to reproduce the issue and that the ticket was escalated to the Ops team.

[2018-02-05 22:17] thinkingserious commented on #657
Thanks for the detailed response @Jericho!

[2018-02-06 16:04] TheBekker commented on #505
I also started seeing this on a customers solution.
Its running an older 6.3.4 client, which could make it seem like its not related to changes in the library, but maybe on infrastructure wise at sendgrid?

[2018-02-06 16:08] thinkingserious commented on #505
Thanks for the additional information @TheBekker!

Please reach out to the [support team](https://support.sendgrid.com/) and reference this issue.

With Best Regards,

Elmer

[2018-02-06 23:04] thinkingserious commented on #661
Hello @Mikarus,

I believe you need `mail.AddHeader("return-path",xxxxx)`, assuming `mail` is a `SendGridMessage()` object.

Please see [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchen-sink---an-example-with-all-settings-used).

With Best Regards,

Elmer

[2018-02-06 23:12] thinkingserious commented on #662
I'm sorry to hear about this :(

Have you [tried the solutions](https://stackoverflow.com/questions/30664566/authentication-failed-because-remote-party-has-closed-the-transport-stream) offered here?

[2018-02-06 23:21] thinkingserious commented on #658
Thank you for the excellent explanation @Jericho!

[2018-02-06 23:25] thinkingserious commented on #655
Nice! Please let me know if there is no response within a few days.

[2018-02-08 20:16] pradeep864 opened #663 "How to read errors in the Sendgrid response object."
#### Issue Summary

I am using **Sendgrid nuget package v9.90** to send emails. In the event of any bad requests, i expect to see an error object in the response. I tried sending emails using below methods but still couldn't find the errors section in the response object

1. MailHelper.CreateSingleEmail
2. client.RequestAsync(SendGridClient.Method.POST, json.ToString(), urlPath: "mail/send")

Coul

[2018-02-11 09:59] oatsoda commented on #648
@thinkingserious Any confirmation of an API problem regarding the empty response? Causing me quite a lot of grief as authentication failures not being detected.

I suspect the secondary issue regarding the client side exception is actually just net core http client expecting responses to be well formed - hence relying on content-length.

[2018-02-13 01:31] thinkingserious commented on #663
Hi @pradeep864,

[Here](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#error) you go. I hope that helps!

With Best Regards,

Elmer

[2018-02-13 06:02] warrenkc opened #664 "Question"
How can I send an email to multiple email addresses and in the body of the message show their email address?
Is this possible with the "Mail Helper Class"?

Thanks!

[2018-02-14 02:31] warrenkc commented on #381
Hi. Using this code, how could you extend it to add one more substitution? For example -lastname- in addition to -name-

Thanks!

[2018-02-14 20:07] onionhammer commented on #657
Sorry guys - I've been slammed and havent had a chance to get back to this until now.

@thinkingserious @Jericho
Thanks for this, but I'm not sure it helps me in this specific circumstance because I dont even have a username + password for sendgrid; that's all managed via Azure. I can manage our sendgrid subscription by clicking through to Azure, but all the authentication is done seamlessly.

[2018-02-14 20:41] thinkingserious commented on #648
@oatsoda,

I can check on that for you. What's the support ticket number?

[2018-02-14 20:48] thinkingserious commented on #664
Hi @warrenkc,

I think the [use cases](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#table-of-contents) here should help.

Thanks!

With Best Regards,

Elmer

[2018-02-15 01:13] warrenkc opened #665 "How to Add Additional Substitution?"
Hi. Using this code, how could you extend it to add one more substitution? For example -lastname- in addition to -name-

Thanks!

[code]

#### Technical details:

* sendgrid-csharp
* Platform (ASP.NET)
* .NET Version: 4.5.2

[2018-02-15 01:57] warrenkc commented on #664
Thanks.

[2018-02-15 01:57] #664 closed

[2018-02-16 11:10] oatsoda commented on #648
The number *was* #1331298, but it is closed because they replied with:

Hence I am asking you for an update :)

[2018-02-17 17:03] thinkingserious commented on #657
@onionhammer,

I don't think [this document](https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email) is completely up to date, but I'm hoping it points you in the right direction regarding finding your username and password inside of the Azure portal.

[2018-02-17 17:07] thinkingserious commented on #665
Hi @warrenkc,

I've added this to my backlog to create an example for you. In the mean time, it might be easier to do it [this way](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchen-sink---an-example-with-all-settings-used).

With Best Regards,

Elmer

[2018-02-17 17:55] thinkingserious commented on #648
Ah thanks @oatsoda,

It looks like there are 2 issues here as Jericho has illustrated. Issue #2 is something I can attempt to fix and so I'll leave this open for a fix. For issue #1, I'll ping the relevant engineering team to see if it's on deck for a fix.

Our backlog is pretty full at the moment, so in order for this to gain some priority, additional +1's or a PR helps greatly.

With Best Regard

[2018-02-17 18:04] thinkingserious opened #666 "Investigate Creating Non-Async SendEmail Method"
#### Issue Summary

Add a warning to the TROUBLESHOOTING file regarding this code:

[code]
This will return true on failure.

Instead, you should examine the text generated from the Body, the value of the `System.Net.Http.StreamContent` object that `client.SendEmailAsync` returns, like [this](https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh781239(v=win.10)). A status of 202 with

[2018-02-17 22:02] Jericho commented on #666
Why do you feel that you need to warn VB developers about their incorrect code? The `SendEmailAsync` method __does not__ return a Boolean value, therefore attempting to assign the result of this method to a Boolean variable will have unpredictable result. In fact, I'm surprised Visual Studio allows this code. There must be some implicit conversion between the `Response` class and `bool`.

[2018-02-18 08:49] warrenkc commented on #665
Thank you. That is cool. Truthfully, I did see that example, but it is too complicated for me to figure out how to do what I need.

Warren

[2018-02-18 17:09] Jericho commented on #655
Just FYI: I haven't heard anything since Feb 10.

[2018-02-20 04:03] winzig commented on #521
I would also like to have this confirmed.

[2018-02-21 07:45] kleinrein opened #667 "Attachment filename encoding is wrong in Outlook"
#### Issue Summary

When using the Sendgrid C# client v9.9, sending an attachment with filename that includes Norwegian characters (æøå) results in incorrect encoding in outlook. Gmail encodes it correctly as shown in the screenshot below.

Outlook:
![image](https://user-images.githubusercontent.com/10831030/36468083-3ba07382-16e2-11e8-99c6-b220c582561c.png)

Gmail:
![image](https://user-images.gi

[2018-02-21 20:36] 06needhamt opened #668 "Creating Transactional Templates results in a bad request malformed json"
#### Issue Summary

Creating a transactional template version with the following code results in a malformed json error

[code]

#### Steps to Reproduce

1. Perform this Request
2. Malformed json response is returned

Expected template version to be successfully created

#### Technical details:

* sendgrid-csharp Version: 9.9.0
* Platform ASP.NET
* .NET Version: 4.6.2

[2018-02-22 19:11] thinkingserious commented on #666
After circling back with the customer, the real ask is to provide a non-async implementation, `SendEmail`.

[2018-02-22 19:13] thinkingserious commented on #665
Thanks for the update, I'll keep this on our backlog then.

[2018-02-22 19:14] thinkingserious commented on #655
What is the ticket number for the most recent request?

[2018-02-22 19:19] thinkingserious commented on #521
Thanks for the upvote @winzig.

[2018-02-22 23:11] thinkingserious commented on #667
Hi @kleinrein,

Thanks for taking the time to report this to us. I've added it to our backlog for further investigation.

With Best Regards,

Elmer

[2018-02-22 23:15] thinkingserious commented on #668
Hi @06needhamt,

Can you please take a look at [this example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates)? Hopefully that's the use case you need.

With Best Regards,

Elmer

[2018-02-23 17:34] 06needhamt commented on #668
I've created PR #669 to fix the documentation as per support request https://support.sendgrid.com/hc/en-us/requests/1382463?flash_digest=6a468b8f19e66f1d040d6363d45d233430c64c03

[2018-02-24 02:58] vlmironoff commented on #658
This is the information I was looking for.
Couple questions:
1. Would you create a constructor overload for SendgridClient that will take the HttpClient as a parameter and use it? Then it will be on SDK consumer to set/maintain an injected HttpClient's lifetime.

2. Meanwhile, is it safe to register SendgridClient as Singleton in a DI container to handle email traffic from different threads?

Than

[2018-02-24 16:22] kirk-quinbar commented on #658
1. yes that is one way to fix the issue.
2. in my scenario, i needed to pass in unknown apikeys from a database to
send emails, so i ended up making a static concurrentdictionary of sendgrid
clients and then just reusing one based on a keyvalue. i suppose i might
have been able to just make a single static http client but just went the
route of the sendgrid client. each client uses up a small amou

[2018-02-24 19:47] Jericho commented on #655
1362778

In the mean time, I heard from Kyle:  he says the Ops team is still investigating and they asked him for additional information. His latest theory is that this is related to HTTP DELETE calls but I replied to him that I am able to reproduce even when eliminating DELETE calls from my testing script.

[2018-02-25 21:44] vlmironoff opened #670 "SendgridClient constructor issue"
I'm trying to provide a DI controlled HttpClient object (singleton) to the constructor of SendgridClient to overcome known socket exhausting issue by reusing the instance of the aforementioned HttpClient.
The first email sends just fine, however the second one fails with this exception:

Having done additional research I figured that a single instance of HttpClient allows changing its configuratio

[2018-02-27 03:22] thinkingserious commented on #668
Thanks @06needhamt!

[2018-02-27 03:30] thinkingserious commented on #670
Thanks for reporting this with such detail!

I have added this to our backlog for further investigation.

With Best Regards,

Elmer

[2018-03-01 06:04] mantriv commented on #278
Hi..
I am also trying to send the mail using the sendgrid.. but I am also getting the "Unauthorize" everytime..

I am not sure how to set the apiKey?
Is it -->
string apiKey = "[FIRST PORTION OF THE API KEY with out SG.]----------X";
or
string apiKey = "[COMPLETE API KEY with out SG.]";

I tried both but none of them succeed..

Please advise.

Thanks

[2018-03-01 19:08] thinkingserious commented on #278
Hello @mantriv,

You need to use the entire API key, including the SG. portion.

With Best Regards,

Elmer

[2018-03-01 22:04] #663 closed

[2018-03-01 22:05] #662 closed

[2018-03-01 22:05] #661 closed

[2018-03-01 22:07] thinkingserious commented on #660
We should add an edited version of Jericho's comment (perhaps linking to this issue) to the USE_CASES.md section.

[2018-03-01 22:08] #658 closed

[2018-03-01 22:09] #657 closed

[2018-03-01 22:10] #654 closed

[2018-03-01 22:14] thinkingserious commented on #651
Hello @engineeringecomdash,

Were you able to find a resolution? This appears to be a server side issue.

With Best Regards,

Elmer

[2018-03-01 22:15] #647 closed

[2018-03-01 22:15] #644 closed

[2018-03-01 22:16] #639 closed

[2018-03-01 22:54] #616 closed

[2018-03-01 22:55] #597 closed

[2018-03-01 23:09] thinkingserious commented on #536
See #643

[2018-03-01 23:14] thinkingserious commented on #530
It looks like option 2 is the preferred choice.

So the next step will be to document the features from StrongGrid that we want to incorporate in this library. Feel free to comment with your favorite missing feature. Thanks!

[2018-03-01 23:26] #469 closed

[2018-03-01 23:30] #432 closed

[2018-03-01 23:33] #419 closed

[2018-03-01 23:36] #407 closed

[2018-03-01 23:44] #300 closed

[2018-03-02 00:49] duartefq commented on #616
Just got my swag! Thank you!

[2018-03-05 08:54] Saritha535 opened #671 "Visual Studio 2015 - The default XML namespace of the project must be the MSBuild XML namespace."
I am trying to add exsiting project to my source project in VS2015 then am getting error like this below.

**Visual Studio 2015 - The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add
xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <Project> element. if the project has been authored  in the o

[2018-03-06 12:00] TomGullen opened #672 "Substitutions not working as expected"
#### Issue Summary

I have two users in my test environment, and am confirming through logging it's sending to two recipients in the below example.

No matter what I do, the HTML in both delivered emails reads:

I am expecting one to read "Goodbye Name1" and the other to read "Goodbye Name2".

[code]

#### Steps to Reproduce

1. Use above code
2. Run for 2 recipients
3. Observe both delivered emai

[2018-03-06 12:07] TomGullen commented on #672
Using this method works correctly:

[code]
I see now that the personalisation is per email, and not indexable using the `CreateMultipleEmailsToMultipleRecipients` method.

[2018-03-06 12:07] #672 closed

[2018-03-06 15:23] SynerSoft commented on #666
The code line was taken from the provided sample code:
Dim bSuccess As Boolean = client.SendEmailAsync(msg).Wait(10000)
Which appeared to be the onlysample which did not require Async/Await contamination.

The Boolean is returned by the .Wait and not the .SendEmailAsync so it does not apply to the success of SendEmailAsync.

The ask if for a **non-async** example which returns a useful status resu

[2018-03-06 23:11] thinkingserious commented on #671
Hello @Saritha535,

I don't know the answer here, but I've added this to our backlog for further investigation.

Thanks for letting us know!

With Best Regards,

Elmer

[2018-03-06 23:19] Jericho commented on #671
This question doesn't seem to have anything to do with SendGrid.

@Saritha535 can you explain how your question relates to SendGrid's C# client?

[2018-03-06 23:20] thinkingserious commented on #672
Thanks for circling back with the solution @TomGullen!

[2018-03-06 23:24] thinkingserious commented on #666
Thanks for the clarifying comment @SynerSoft!

[2018-03-07 09:19] #671 closed

[2018-03-07 17:03] xt0rted commented on #671
I think they're trying to add the SendGrid source to their own project, but because it uses the new csproj format VS2015 won't load it (needs VS2017+).

[2018-03-07 21:41] thinkingserious commented on #671
Thanks for the clarification @xt0rted!

[2018-03-07 21:51] Jericho commented on #655
Two more weeks have gone by and I haven't heard anything. I reached out to Kyle earlier today and he responded that the Ops team "_will be digging into the issue, but it has been a lower priority in comparison to some other issues that have come up_".

I'm pretty discouraged to hear that a demonstrable server-side API problem is considered low priority and remains unresolved over 2 months later. 😢

[2018-03-09 01:25] danhowelldev commented on #666
Is someone able to clarify why awaiting the client.SendEmailAsync call doesn't return a result?

eg: var result = await client.SendEmailAsync(msg);

[2018-03-09 01:56] danhowelldev opened #673 "Performing SendGrid health check using API"
More of a question than an issue. I am integrating with SendGrid, and would like to create a service "health check" so that I can be aware if there are any issues connecting to SendGrid.

My question is, what is the most suitable endpoint to call to do a status check like so. I have searched the API spec here (https://github.com/sendgrid/sendgrid-csharp/blob/master/USAGE.md), and was considering t

[2018-03-09 16:17] SynerSoft commented on #666
In order to use Await, I had to convert my function to Asynchronous.  And the page itself, and the function which called it.  and any which called those.  Results in a bunch of duplicate routines.

Hence the term "Async/Awate Code Contamination"  It spreads like a virus.

It was manageable for a simple 'Password Reminder' ASP.Net page, but when I tried to implement a similar approach to an 'Order

[2018-03-09 19:15] thinkingserious commented on #673
HI @danhowelldev,

Here are a few options:

1. [Official Status Page](http://status.sendgrid.com/) (no API though, but you can subscribe to various alerts at the upper right)
2. You could send an email with [SandBox Mode](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/sandbox_mode.html) turned on.
3. You could also hit one of our other [non mail/send endpoints](https://sendgrid.com/docs/API

[2018-03-12 16:18] kiran00916 opened #674 "Sendgrid throwing 400 bad request intermittently"
#### Issue Summary
Sendgrid is throwing 400 bad request

Send grid response reported an error
[code]

#### Steps to Reproduce
Calling the api with specific method CreateSingleEmail

#### Technical details:

Send grid response reported an error

[code]

[2018-03-12 20:35] thinkingserious commented on #674
Hi @kiran00916,

Thanks for letting us know!

I have a few more questions to help figure out the problem:

* Have you been able to send any emails successfully?
* Do you mind sharing the source code that generated that error?

Thanks!

With Best Regards,

Elmer

[2018-03-13 15:19] juniormayhe opened #675 "Found conflicts between different versions of "Microsoft.AspNetCore.Http.Abstractions""
#### Issue Summary

Added Sendgrid to NET Standard project and Visual Studio shows

[code]

#### Steps to Reproduce

1. Create a new NET Standard 2.0 project
2. Add a project with a static class and a extension method with these arguments
[code]
2. Add Nuget package for Microsoft.Extensions.Options.ConfigurationExtensions for services.Configure method
3. Add assembly Microsoft.AspNetCore.Hosting.A

[2018-03-13 15:48] thinkingserious commented on #675
Hello @juniormayhe,

Thanks for reporting this!

Does the project still build?

With Best Regards,

Elmer

[2018-03-13 15:49] juniormayhe commented on #675
Yes it is building fine. Just worried about these warnings

[2018-03-13 15:52] thinkingserious commented on #675
OK, thanks for the clarification. I've added this to our backlog for further investigation.

[2018-03-14 13:42] Almquist commented on #656
Hi @thinkingserious,

Any update on when/if there will be support for sending emails to addresses with non ASCII local parts through Sendgrid?

We have a customer with a few email addresses that we currently are unable to send emails to through Sendgrid.

Kind regards
Daniel

[2018-03-14 17:41] thinkingserious commented on #656
Hello @Almquist,

There are no updates just yet, I recommend reaching out with your request using the feedback link at sendgrid.com to help bring more attention to the issue.

Thanks!

With Best Regards,

Elmer

[2018-03-14 17:55] thinkingserious opened #676 "Updates for the new Email Activity API (beta)"
SendGrid has added an API to download information from the Email Activity feed. There are four new endpoints:
* [GET /messages](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages)
* [GET /messages/{msg_id}](https://sendgrid.api-docs.io/v3.0/email-activity/filter-messages-by-message-id)
* [POST /messages/download/](https://sendgrid.api-docs.io/v3.0/email-activity/request-csv)
* [G

[2018-03-14 19:34] a-tok opened #677 "Question: Substitution Tags vs Section Tags"
Hello,

I have a series of messages that I pass for substitution:

`List<String> messages = new List<String>(){
       "Message 1",
       "Message 2",
       "Message 3"
}`

`StringBuilder messageBuilder =....`
`foreach(String message in messages)`
` messageBuilder.Append(message).Append("\n");`

`sendGridMessage.AddSubstitution("-messages-", messageBuilder.ToString());`
...
`
In the transactiona

[2018-03-14 20:14] pradeep864 commented on #663
Hi @thinkingserious,

I appreciate your help on this.

Regards,
Pradeeep

[2018-03-14 20:34] thinkingserious commented on #677
Hi @a-tok!

Are these HTML messages? In that case, you would want to use <br /> tags.

With Best Regards,

Elmer

[2018-03-14 20:47] TolchinJ opened #678 "BadRequest if same email address is in the To & BCC fields."
In our code, we don't know how many To's there will be because it varies.  So, we make a list of To's built from a semi-colon separated string list.  Same with CC and BCC.

[code]
Response comes back as BadRequest, but there is no information as to WHY it failed.  It was just through couple hours of trial and error that I found this out.

Why in the heck is it failing just because the same email a

[2018-03-14 20:59] a-tok commented on #677
Hi Elmer,
Yes they are, and `<br />`s work like a charm.

Thanks!!!!

[2018-03-14 20:59] #677 closed

[2018-03-14 21:02] thinkingserious commented on #678
Hi @TolchinJ,

Thanks for reaching out and I’m sorry about the frustration.

[Here](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#error) is how to view error messages returned by the API. We are definitely open to suggestions on how to make that process better.

[Our API](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html) does not allow for du

[2018-03-15 04:46] danjagnow commented on #550
As a general rule, you should target the lowest possible version of the .NET Standard that has the features your library needs.  That maximizes the number of places where it can run.  Unless you are leveraging new features of .NET Standard 2.0, it's better to leave it targeting 1.3.  A .NET Core 2.0 app can use a .NET Standard 1.3 library.  See [Which .NET Standard version to target](https://docs.

[2018-03-16 10:16] OmegaAphex opened #679 "SendEmailAsync throws Aggregate Exception when awaited"
#### Issue Summary

Upon using the SendEmailAsync and awaiting the response, an AggregateException: Error while copying content to a stream. is thrown. I have managed to reproduce this.

This issue occurs when the API key is invalid while trying to send an email.

`1 - var response = client.SendEmailAsync(msg).Result;`
`2 - if (!response.StatusCode.Equals(System.Net.HttpStatusCode.Accepted))`
`3 -

[2018-03-16 13:25] alexsanderauvo opened #680 "The API doesn't return async call - SendGrid C#"
#### Issue Summary

I'm developing an integration with sendgrid using the C#'s sendgrid library, when I call SendGridClient.SendEmailAsync(), the method doesn't return any result, and the code on mode debug dont continue.

below is a snippet of code

**method for populing the message**
![image](https://user-images.githubusercontent.com/37444759/37522269-2ec292da-2902-11e8-9e88-9d0de25de142.png)

*

[2018-03-16 23:30] danjagnow commented on #652
The easiest way to investigate this is to install [NuGet Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer), which you can download from the [Microsoft Store](https://www.microsoft.com/store/apps/9wzdncrdmdm3).  After installing that, you can double-click **sendgrid.9.9.0.nupkg**.  Expand the tree in the **Package contents** pane, and double-click **SendGrid.dll** unde

[2018-03-20 15:56] #550 closed

[2018-03-20 16:09] thinkingserious commented on #679
Thanks for reporting this @OmegaAphex, I've added this to our backlog for a fix.

[2018-03-20 16:13] thinkingserious commented on #680
Please try:

`var result = Execute().Wait();`

[2018-03-20 18:21] Jericho commented on #679
Exception thrown when attempting to read the body of response from Sendgrid when the request contains an invalid API key???

This sounds an awful lot like issue #648 which is caused by a mismatched between the `Content-Length` header and the actual content of the response.

[2018-03-20 18:22] thinkingserious commented on #679
Thanks for pointing us in the right direction @Jericho!

[2018-03-21 07:59] OmegaAphex commented on #679
Thanks for the information, will take a look at issue #648

[2018-03-21 08:11] OmegaAphex commented on #679
I have gone through issue #648 and it seems that this issue is seamlessly identical @thinkingserious do you have an estimate when this issue shall be tackled?

[2018-03-21 08:52] xt0rted commented on #680
You should use `.GetAwaiter().GetResult()` to call an `async` function synchronously but you should avoid doing that if possible. Changing the calling methods to also be `async` is the best fix.

[2018-03-21 15:34] kiran00916 commented on #674
public class SendGridEmailClient : ISendGridProvider
    {
        private readonly SendGridClient _client;
        private static readonly string FromEmailAddress = ConfigurationManager.AppSettings["Notifications.EmailFromAddress"];
        private readonly TelemetryClient _telemetryClient;
        public SendGridEmailClient(string apiKey, TelemetryClient telemetryClient)
        {
            if

[2018-03-22 15:17] hillerf commented on #656
Hi @thinkingserious,
thanks for your update.
No offense, but sendgrid is kind of in the business of sending emails, right? Would be great if actual email addresses were supported. Couldn't find the feedback link, btw.
Best, Florian

[2018-03-22 20:17] thinkingserious commented on #679
Hello @OmegaAphex,

As it stands currently, I don't have a clear estimate. However, that issue can get prioritized much faster if a PR were to be created. Also, additional +1's and comments help make the issue rise in our backlog. Your best bet right now regarding status updates is to follow #648 for updates.

With Best Regards,

Elmer

[2018-03-22 20:18] thinkingserious commented on #680
Hello @alexsanderauvo,

Were you able to get up and running?

[2018-03-22 20:20] thinkingserious commented on #674
Hi @kiran00916,

Can you please try [retrieving the specific error message](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#error)?

[2018-03-22 20:31] thinkingserious commented on #656
Thanks for the additional vote @hillerf!

There should be a blue feedback button on the right of your browser when you login. Perhaps you have an ad blocker that is hiding it.

With Best Regards,

Elmer

[2018-03-22 20:34] Jericho commented on #679
@thinkingserious does the API team intend to fix the underlying issue which the mismatch between the value in the `Content-Length` header and the actual size of the response content?

@OmegaAphex I suggest you switch to [StrongGrid](https://www.nuget.org/packages/StrongGrid/) which is an alternative to SendGrid's C# client. The reason why I suggest it is because it does not suffer from this issue

[2018-03-23 01:01] thinkingserious commented on #679
@Jericho,

It's on their radar, but I don't have a ETA.

Every time there is a new request for this issue, that helps with priority.

[2018-03-23 08:13] OmegaAphex commented on #679
@Jericho thanks for your suggestion, will discuss this with my team. In the mean time I will follow #648 as @thinkingserious suggested.

[2018-03-23 11:40] jakejgordon opened #681 "Update readme to include details about which API Key permissions are required"
#### Issue Summary

The readme is great overall. It does provide useful links to go and create the needed API key to use the client. However, it seems like there are a lot of confusing API key permissions that may or may not need to be configured on your API key to use this library (from what I can see in the sendgrid API key settings on the website). Some minor clarification of these permissions

[2018-03-24 01:46] thinkingserious commented on #681
@ksigler7 is this something you can help with?

[2018-03-24 01:46] thinkingserious commented on #681
Thanks for bringing this to our attention @jakejgordon!

[2018-03-24 03:26] ksigler7 commented on #681
this docs page has more information about API key permissions: https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html

This docs page needs some tlc though and is high in our backlog for updates

[2018-03-25 00:53] jakejgordon commented on #681
Thanks @ksigler7 -- I actually did attempt to read that documentation before I posted here. I think it is geared more toward if you're writing your own client to call the API. But for those who are just using a language-specific client that's already out there (like the C# one) to just send email, a quick note about "If you just want to send email, give your API Key {whatever permission is needed"

[2018-03-26 20:47] ksigler7 commented on #681
yeah, I think that's a really good idea to specify it in here! To finish your example sentence, it would be:
"To send email with your API key, make sure it has full mail send access:
[code]

[2018-03-27 11:11] jakejgordon commented on #681
Upon closer inspection, I think the disconnect for me was primarily between the existing documentation and what the screen actually looks like.

Here is what [the documentation](https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html) says under the "Add new General API Key":
![image](https://user-images.githubusercontent.com/3045786/37963305-e550d372-318b-11e8-966e-c57e93ea87f7.pn

[2018-03-27 22:15] AMSLimited opened #683 "Unauthorized response when attempting to send email c#"
#### Issue Summary
I am always getting unauthorized response code

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

Running the code below to test SendGrid:

var ApiKey = WebConfigurationManager.AppSettings["SendGridApiKey"];

[2018-03-28 19:55] thinkingserious commented on #683
Hello @AMSLimited,

This likely means that either your `ApiKey` is not being set properly. Can you verify the value of `ApiKey` before you pass it into `SendGridClient`? Thanks!

With Best Regards,

Elmer

[2018-03-29 18:29] weedkiller opened #684 "Sendgrid with Google Calendar Contacts"
Hi, is there a helper to build distrolist email with google calendar contacts

thanks

[2018-04-02 16:32] Jericho commented on #655
@thinkingserious any chance you can check on my ticket (1362778)? I've been patiently waiting for almost three months and the problem persists.

[2018-04-02 17:49] Jericho commented on #634
@thinkingserious can you check with @mbernier if he can comment on my feature request?

[2018-04-02 18:02] thinkingserious commented on #684
Hello @weedkiller,

Not that I am aware of, but I think that would be a cool addition to this library as a helper. I will leave this issue open to that end.

Would you mind elaborating on the acceptance criteria for this feature?

With Best Regards,

Elmer

[2018-04-02 18:44] thinkingserious commented on #634
@Jericho,

@mbernier is no longer with SendGrid.

I will put in a new feedback request to our product team requesting this feature today.

With Best Regards,

Elmer

[2018-04-02 18:48] thinkingserious commented on #634
@Jericho,

In the feedback form, there a section for the business use case. Could you please elaborate on that for me?

Thanks!

Elmer

[2018-04-02 18:48] thinkingserious commented on #655
Hi @Jericho,

There will be a response to your ticket from support coming shortly. Thanks!

With Best Regards,

Elmer

[2018-04-02 20:01] Jericho commented on #634
The use case is: being able to send transactional emails (and bulk emails as well) on behalf of another account (which is called a "subuser" in SendGrid's lingo) and ensure these emails are counted against that other account's monthly quota as opposed to being calculated against my monthly quota. I had a long in depth discussion with Devin Chasanoff on this topic back in November last year and als

[2018-04-02 20:50] thinkingserious commented on #634
Perfect, thanks!

[2018-04-04 13:50] Niladri24dutta commented on #676
Is this for the csharp version? I can see only python related links here.

[2018-04-04 13:55] Niladri24dutta commented on #577
@thinkingserious  I can submit a PR with the change suggested above regarding `MailHelper.StringToEmailAddress`. Let me know if it's fine.

[2018-04-05 18:06] thinkingserious commented on #648
@oatsoda,

There is an internal bug happening here where the API is not returning the correct content-length. I'm going to circle back with product and engineering to see where we are on a fix. Thanks!

[2018-04-05 18:10] thinkingserious commented on #676
Hi @Niladri24dutta,

My apologies. yes, this is for the csharp version, I have just now updated the links. Thanks!

[2018-04-05 18:11] thinkingserious commented on #577
That would be great, thanks @Niladri24dutta!

[2018-04-09 04:57] Jericho commented on #676
Version 0.39.0 of the StrongGrid library has been released with support for the Email Activity API. This latest version allows you to search all email activities, get activities for a specific message, request a CSV file with all email activities and download the CSV when available.

@thinkingserious I have a few comments regarding this new API. I'll create a separate ticket so we can have a discu

[2018-04-09 07:43] Jericho opened #685 "Feedback: Email Activities API"
I have been experimenting with the new Email Activities for a few days and I have a few observations.

**1. Poor performance**
Generally speaking, SendGrid's API performs quite well and we receive a response within a few milliseconds but this endpoint is by far the slowest endpoint of the entire API. For example, a simple request to get the most recent email activities `GET https://api.sendgrid.co

[2018-04-09 19:48] thinkingserious commented on #676
Thanks @Jericho!

@Niladri24dutta,

You will want to check out @Jericho's work for reference if you plan to submit a PR.

With Best Regards,

Elmer

[2018-04-09 19:49] thinkingserious commented on #685
This is fantastic feedback @Jericho! Thanks for taking the time to create such a detailed report.

I'm going to get this visibility internally and follow up with you.

With Best Regards,

Elmer

[2018-04-10 07:50] leogiertz commented on #656
Hi!

We've also run into this problem. Some of our users have names with non ascii characters in them and they can't use their email addresses. I don't mean to be rude but it is kind of weird to have an email service that can't deliver emails to valid email addresses.

[2018-04-10 16:23] eduardoskeeled opened #686 "Email replaced accents with an "i""
We use sendgrid to send emails, and someone received an email (in french language) where the accents were replaced with an 'i'. For example "Vous avez été sélectionné" has become "Vous avez eìteì seìlectionneì". It was the first time and not very common, but I would like to fix it for future cases.

Is this a bug? If it is, can you help me please?

[2018-04-10 18:36] thinkingserious commented on #656
Thanks for taking the time to report this @leogiertz!

Please take a moment to use the feedback link at sendgrid.com to help bring more attention to the issue.

[2018-04-10 18:54] thinkingserious commented on #686
Hello @eduardoskeeled,

Was this content in the subject or the body of the email?

With Best Regards,

Elmer

[2018-04-10 21:46] jgyllen commented on #268
Hey @thinkingserious, any update on this? We just spent a whole day investigating why a recipient name containing a comma was processed successfully but dropped because it parsed it incorrectly and used part of it as the email. Thanks!

[2018-04-11 17:35] thinkingserious commented on #268
Hello @jgyllen,

I know this issue is on the product teams radar and a fix should happen at some point.

Would you mind reporting your issue using the feedback blue button at SendGrid.com? Queries from customers directly help increase the priority.

Thanks!

With Best Regards,

Elmer

[2018-04-11 17:40] thinkingserious commented on #686
I'm assuming you are using the latest version of this C# SDK.

Could you please help me verify that this is a SDK issue, by trying to send your email using our interactive docs? https://sendgrid.com/docs/API_Reference/api_v3.html (please use cURL).

Thanks!

[2018-04-12 13:06] eduardoskeeled commented on #686
We are using NodeJS.

Yes we're using v3, I've tried the interactive docs, but I can't replicate the bug

[2018-04-13 22:46] thinkingserious commented on #686
Hi @eduardoskeeled,

Are you saying you can't replicate the bug in both the SDK and the interactive docs? Or just the interactive docs?

[2018-04-16 08:49] eduardoskeeled commented on #686
Hi @thinkingserious,

Yes, as I said earlier, it only happened once, we tried to replicate it on our end, but we couldn't, we checked our templates and everything on our end, but everything we had was showing the right content, except on the client side. And I couldn't replicate it either on the SDK and nteractive docs. It's a really weird one

[2018-04-16 20:02] Jericho commented on #685
@ksigler7 can you help with the missing response schema in documentation?

(see my feedback number 2 above)

[2018-04-16 22:34] thinkingserious commented on #577
How about factoring out this part:

[code]

Then you could just call the factored method internally without the cyclic dependency.

With Best Regards,

Elmer

[2018-04-16 22:35] thinkingserious commented on #686
Hello @eduardoskeeled,

Do you know in what email client this happened in?

[2018-04-17 09:06] Niladri24dutta commented on #577
@thinkingserious  Then,do we need to create a new helper method in `Mailhelper` class to include the above code you mentioned or should we refactor the existing `StringToEmailAddress` method. Because I can see when the email id is not matched then also the `EmailAddress` class constructor is called as seen below -

    var match = Rfc2822Regex.Match(rfc2822Email);
        if (!match.Success)

[2018-04-17 12:49] eduardoskeeled commented on #686
Hello @thinkingserious

No, we don't have that information only that on our templates and on chrome the text was absolutely correct.

Could it be a browser or email client issue?

[2018-04-17 14:04] Jericho commented on #655
Another two weeks has gone by, still no progress.

[2018-04-17 18:02] janus007 commented on #648
I've had the same error after moving a website to Azure.

I fixed it by changing SendGridClient.cs, MakeRequest method.

Instead of:

[code]

to

`HttpResponseMessage response = await client.SendAsync(request, HttpCompletionOption.ResponseHeadersRead).ConfigureAwait(false);`

[2018-04-17 18:09] meixger opened #687 "How to specify VERP sender address (envelope from / MAIL FROM)"
I cannot figure out how to specify the VERP sender address.

https://en.wikipedia.org/wiki/Variable_envelope_return_path

This works when sending via SMTP!

#### Technical details:
* sendgrid-csharp Version: 9.9.0
* ASP.NET Core
* .NET Core 2.0

[2018-04-17 19:18] uknowmeright commented on #231
same issue here

Will not be using send grid in our service due to not being able to set it up successfully!

[2018-04-18 01:15] thinkingserious commented on #577
I think you can encapsulate that check into a utility function, for example, maybe `isRfc2822Email(email)`. We should try to not change `StringToEmailAddress`'s function signature to avoid any breakage. Unless you want to overload the function.

[2018-04-18 01:22] #686 closed, assigned to nobody

[2018-04-18 01:34] thinkingserious commented on #648
Hi @janus007,

Thanks for sharing this solution, you are awesome! I will look into it and see if I can confirm the solution.

With Best Regards,

Elmer

[2018-04-18 01:38] thinkingserious commented on #687
Hello @meixger,

Could you please provide an example of how you are achieving this result using SMTP?

Thanks!

With Best Regards,

Elmer

[2018-04-18 01:40] thinkingserious commented on #231
Hi @uknowmeright,

What version of the SDK are you using?

With the latest version, [here is an example](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#transactional-templates) that may help.

With Best Regards,

Elmer

[2018-04-18 06:56] meixger commented on #687
Hello @thinkingserious,

I would like to use a different return path (also called "envelope sender") for each recipient of a message.
Here a simplified SMTP transport example using different sender addresses (MAIL FROM and From):

[code]

[2018-04-19 17:05] thinkingserious commented on #687
Hi @meixger,

Thanks!

I believe the [`AddHeader`](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchen-sink---an-example-with-all-settings-used) method might be what you need.

I'm leaving this on my backlog for further investigation.

With Best Regards,

Elmer

[2018-04-20 16:42] onionhammer commented on #657
@thinkingserious is there any update on when this will be available through the standard sendgrid permission system?

[2018-04-20 23:45] thinkingserious commented on #657
Hi @onionhammer,

Unfortunately, I don't have any update. What helps is additional +1's and comments. Thanks!

With Best Regards,

Elmer

[2018-04-23 08:05] aKzenT commented on #667
We are also having this problem in Outlook 2013. In Outlook 2017 it seems to work okay.

[2018-04-23 15:46] thinkingserious commented on #667
Thanks for the additional information @aKzenT!

[2018-04-23 15:53] ksigler7 commented on #555
Hey @Jericho! Billing level API key access gives admin level control over the account - you can update billing information and account ownership. You're right though, that there's no documented API methods that allow you to update billing settings - our research has found that there's not really a need for this (let me know if you disagree!).

I think we just initially released this level of API k

[2018-04-25 23:51] Jericho commented on #685
@thinkingserious can you check with @ksigler7 if she can help regarding the missing information in documentation?

[2018-04-26 16:41] ksigler7 commented on #685
@Jericho thanks for all of this great feedback! I've added it to our backlog.

Oddly enough, the issue with feedback #2 is in our API docs deployment. The response schema is in the swagger spec, so I am not sure why it is not showing up in the end page. While I am troubleshooting this, here are the schemas:

`GET /messages`:
[code]

`GET /messages/{msg_id}`
[code]

[2018-04-30 20:09] Jericho commented on #685
Thank you @ksigler7

[2018-05-01 16:21] Jericho opened #689 "Email Activities API: authorization required"
I am issuing the following request to the email activities endpoint:
[code]
and I receive the following response:
[code]
This error is bizarre since my API key is included in the request.

Please note that I double checked and I indeed have the `email_activity.read` permission so, as far as I know, I have the necessary permissions to query the email activity endpoint.

[2018-05-01 17:46] Jericho commented on #689
I was just in a chat session with Johnny W. and he told me that "Email Activity Feed API" is out of beta and recently went live. which means that we lost access to this endpoint. He stated:

This seems to be in contradiction with the billing on my account that says: _all plans include 3 days of email activity history. You can increase this limit for an additional charge_ as seen in this screenshot

[2018-05-02 18:15] Jericho opened #690 "Remove multiple recipients from a list"
I'm noticing that the SendGrid documentation documents a way to [remove a single recipient from a list](https://sendgrid.api-docs.io/v3.0/contacts-api-lists/delete-a-single-recipient-from-a-single-list) but does not mention a way to remove multiple recipients from a list.

However, @hostr recently brought to my attention that issuing a `DELETE
/contactdb/lists/{list_id}/recipients` request and pro

[2018-05-02 20:54] #689 closed, assigned to nobody

[2018-05-04 11:43] BotanMan opened #691 "No email is sent when recipient email is duplicated"
#### Issue Summary

When I have duplicates in `To` list no emails is sent, and no error is thrown

#### Steps to Reproduce

[code]

#### Technical details:
* sendgrid-csharp Version: 9.9.0
* Platform ASP.NET
* .NET Version: 4.5.2

[2018-05-04 20:14] oliver-zhou commented on #339
Anytime line for this implementation before we move off sendgrid?

[2018-05-04 23:51] thinkingserious commented on #691
Hi @BotanMan,

The underlying API does not support sending duplicate emails. I will leave this open so that we may throw an appropriate error.

Thanks!

With Best Regards,

Elmer

[2018-05-04 23:56] thinkingserious commented on #339
Hi @oliver-zhou,

Unfortunately, we do not have any timeline to implement this feature currently. I'm going to add your vote to the issue though in our backlog. Thanks!

With Best Regards,

Elmer

[2018-05-06 21:50] Jericho commented on #691
This seems to be an issue that several people face: [I found 9 issues on this topic](https://github.com/sendgrid/sendgrid-csharp/issues?utf8=%E2%9C%93&q=400+409+425+448+451+503+520+678+691).

Since this seems to be such a common issue, I added a new feature in the [StrongGrid](https://www.nuget.org/packages/StrongGrid/) library to automatically filter out duplicate recipients.

[2018-05-07 16:51] ksigler7 commented on #690
@Jericho sorry for the delay in response, I've been on vacation.

This looks like an oversight to me! This is a great catch @hostr!! and thanks for bringing it to our attention @Jericho!!

I am adding this into the backlog to update our swagger documentation and closing the issue here since this is a docs issue and not specific to our C# library

[2018-05-07 16:51] #690 closed

[2018-05-07 17:18] omarshamali commented on #185
still getting this in 2018. lol
[ GOOD ]{"errors":[{"field":null,"message":"access forbidden"}]}NULL

[2018-05-08 00:18] thinkingserious commented on #185
Hi @omarshamali,

Have you tried the solution offered above by @courajs?

With Best Regards,

Elmer

[2018-05-08 00:35] omarshamali commented on #185
@thinkingserious  yes, i have the master account, generated a full access API, and still the same, i get access forbidden

[2018-05-08 15:58] Jericho commented on #655
Another 3 weeks has gone by, no update.

[2018-05-08 17:11] thinkingserious commented on #185
Hi @omarshamali,

In that case, I suggest you reach out to our [support team](https://support.sendgrid.com) so that they may took a deeper look at your account.

[2018-05-09 06:34] branditodesign commented on #185
@omarshamali The API & SendGrid as a whole is a bit broken at the moment in my opinion, I've made atleast 5 or 6 different support tickets in the past 6 months, all different issues. At the moment I'm facing the same issue as you, my API key has full access yet first I was receiving this:

`Failed to load https://api.sendgrid.com/v3/messages?limit=10&query=msg_id%3D%22asdfasdf.0%22: Response to pr

[2018-05-09 17:31] thinkingserious commented on #185
Hello @branditodesign,

[Here is some documentation](https://sendgrid.com/docs/Classroom/Basics/API/cors.html) on CORS issues. Please let me know if that is what you need.

With Best Regards,

Elmer

[2018-05-09 21:58] branditodesign commented on #185
Sadly no it doesn't.
I'm not attempting to send emails via the browser but access other API
endpoints and receiving 403 forbidden.

On Thu, 10 May 2018, 3:31 AM Elmer Thomas <notifications@github.com> wrote:

[2018-05-10 14:17] BotanMan commented on #691
@Jericho @thinkingserious
Yeah, but the strangest thing that in that case there is no way to understand that it won't work, no emails, no exceptions. it would be nice to have exception at least.

[2018-05-10 14:37] Jericho commented on #691
@BotanMan I agree. SendGrid should either automatically filter out duplicates or throw an exception. But in the mean time, the only alternative we have to to detect and remove duplicate ourselves. That's why I added this feature to StrongGrid. If SendGrid fix their faulty behavior, the feature I just added will become obsolete but in the mean time I think it's the best solution. Do you agree?

Bot

[2018-05-11 06:52] branditodesign commented on #185
@thinkingserious I solved the issue.
As it turns out, since SendGrid changed their pricing model to **charge** for the last 30 days of data, they also restrict ALL access to the API **UNLESS** you pay for the $12/month plan, even if you're only trying to access data about an email from yesterday...

[2018-05-11 12:30] anbuDW opened #692 "Empty Cc field will be filled with the last valid Cc entry."
Hi all. Sorry if I am wrong here. The Sendgrid Support send me here...

#### Issue Summary

When a List<Personalization> is filled with personalization Objects from which some contain CC entries and some not, then Sendgrid will fill the E-Mail Header of the Mails without CC entry with the last one which was filled.

#### Steps to Reproduce

First I build my List<Personalization> Object with entrie

[2018-05-11 13:41] Jericho commented on #185
@branditodesign [I noticed the same thing](https://github.com/sendgrid/sendgrid-csharp/issues/689)

[2018-05-14 01:11] branditodesign commented on #689
I don't think your authorisation was correct.
The message I received was this:
`{[{"field":null,"message":"access forbidden"}]}`
The message you received was:
`{"errors":[{"message":"authorization required"}]}`

Although, I received that authorization required message when I had entered my API key incorrectly (didn't wrap it with <<API_KEY>>).

Although 100% agree the 3/30 day activity history is

[2018-05-14 20:57] pradeep864 opened #693 "Send Grid dropping emails when using Sendgrid nuget package."
#### Issue Summary

I am using Sendgrid nuget package v9.90 to send emails. When sending emails to some specific email addresses, the email is getting dropped. However if I send a test email from Send Grid transactional template to the same email, the email is delivered successfully.
Could you please help me to resolve this issue?

#### Steps to Reproduce

1. Email Address - ed@xxxx.com
2. I have

[2018-05-15 02:52] thinkingserious commented on #692
Hello @anbuDW,

It looks like you may be running into [this issue](https://github.com/sendgrid/sendgrid-csharp/issues/480). Could you please take a look and let me know?

Thanks!

With Best Regards,

Elmer

[2018-05-15 02:54] thinkingserious commented on #185
Hi @branditodesign,

As an alternative, I suggest you checkout the [Event Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/event.html).

I hope that helps.

With Best Regards,

Elmer

[2018-05-15 03:01] branditodesign commented on #185
@thinkingserious A step ahead of you there :p
I just wish I could have the email address each email is sent from included with the webhook events, saves me from going into the activity feed or our CRM and finding it myself.
![chrome_2018-05-15_12-59-21](https://user-images.githubusercontent.com/37203648/40034355-f13a14e8-583f-11e8-8454-e9c84a234270.png)

[2018-05-15 03:10] thinkingserious commented on #185
Perhaps [custom args](https://github.com/sendgrid/sendgrid-csharp/blob/master/tests/SendGrid.Tests/Integration.cs#L164) can help make that easier for you by assigning a unique id (perhaps the user id in your CRM) to each outgoing email to make it easier to automatically match with the entry in your CRM.

[2018-05-15 03:12] branditodesign commented on #185
The thing is though a lot of the times they're going out from different email address, also it seems that solution requires access to the v3 API, something we don't have :(

[2018-05-15 03:18] thinkingserious commented on #185
@branditodesign,

Can you elaborate your use case please? Thanks!

[2018-05-15 05:12] branditodesign commented on #657
+1 for this

[2018-05-15 08:17] anbuDW commented on #692
Hi @thinkingserious,

Thanks for your reply. I don't think that it is the same issue. For each Personalization Object I am doing something like this:

`if (ccs != null)
                {
                    personalization = new Personalization()
                    {
                        Bccs = bccs,
                        Ccs = ccs,
                        Subject = subject,

[2018-05-15 22:07] isiahpasquale opened #694 "Email Activity API Unique Arguments Filter"
#### Issue Summary

Attempting to filter by the unique_args query type is throwing an error about incompatible comparison usage:
`"operator = is incompatible with MAP<STRING,STRING>, STRING"`

The documentation for the call asks for it to be formatted like so
`unique_args="example argument"`

I have tried passing every variation of just the key, just the value, or a full key-value pair object but

[2018-05-16 03:05] thinkingserious commented on #185
Hi @branditodesign,

Thanks for taking the time to elaborate so that I can share with our product team.

With Best Regards,

Elmer

[2018-05-16 03:07] branditodesign commented on #185
Thank you for dealing with the GitHub issues professionally 😃

[2018-05-16 03:18] thinkingserious commented on #692
Hi @anbuDW,

It sounds like when you create the new Personalization object, it still retains the values set previously. It looks like you may be using Visual Basic, for which I'm not familiar, so my apologies if my suggestions are way off base. I would try explicitly destroying the object after use so that there is no chance that values are lingering in memory. Although, setting the ccs to null sh

[2018-05-16 11:37] anbuDW commented on #692
Hi @thinkingserious,

I thought so at first, but the Visual Studio (I am using C#, not visual basic ;) ) debugger showed, that the List<Personalization> Object was filled correctly. Also the json output which was send to the sendgrid api (posted in my last post) seems to be build correctly. In my opinion, this could be a sendgrid backend problem. But I wanted to try it here to check if I or the c#

[2018-05-17 13:49] alexmaie opened #695 "Question - Sendgrid client - Singleton"
Issue Summary

Question, is the SendGridClient thread safe? I see that internally, a new HttpClient is created for each SendGridClient object.  In theory, we should avoid creating too many HttpClients since this is could to socket exhaustion and also it's a documented [antipattern ](https://docs.microsoft.com/en-us/azure/architecture/antipatterns/improper-instantiation/)

[2018-05-17 23:26] thinkingserious commented on #695
Hi @alexmaie,

Please follow [this thread](https://github.com/sendgrid/sendgrid-csharp/issues/521). Thanks!

With Best Regards,

Elmer

[2018-05-17 23:26] #695 closed

[2018-05-17 23:30] branditodesign commented on #185
Tell me someone deleted that comment from Obi

[2018-05-17 23:31] thinkingserious commented on #185
He must have deleted it himself as I did not.

[2018-05-17 23:36] branditodesign commented on #185
Sigh, the comment is still in my inbox....
Just a reminder not to post code without first removing your API keys!

[2018-05-17 23:50] obioberoi commented on #185
The API key was from the code snippet posted by SendGrid on their docs page as a sample.
I deleted the comment shortly after posting it as I realized it should belong to a different category.

From: branditodesign [mailto:notifications@github.com]
Sent: Thursday, May 17, 2018 7:37 PM
To: sendgrid/sendgrid-csharp <sendgrid-csharp@noreply.github.com>
Cc: Obi Oberoi <OOberoi@Tridel.com>; Comment <com

[2018-05-17 23:56] branditodesign commented on #185
Strange... Last time I visited the docs I couldn't see any examples including an API key, only examples including YOUR_API_KEY or YOUR_API_KEY_HERE

[2018-05-18 09:08] alexmaie commented on #521
Another Up from me 👍  :)

[2018-05-22 22:46] Jericho commented on #694
I confirm that I am also seeing the `operator = is incompatible with MAP<STRING,STRING>, STRING` exception when attempting to query email activities and setting a filter on a custom argument.

[2018-05-22 22:54] Jericho commented on #694
By the way, I was able to reproduce this issue using [StrongGrid](https://github.com/Jericho/StrongGrid) and also using the live API docs as you suggested:

![image](https://user-images.githubusercontent.com/112710/40394460-8e370c18-5df1-11e8-8260-356c7929ad9d.png)

[2018-05-22 23:12] Jericho commented on #655
Another 2 weeks, still no update.

Is it a normal situation at SendGrid for a support case to linger for more than 4 months without any progress?

[2018-05-23 16:21] thinkingserious commented on #655
Hello @Jericho,

As far as I know the average support response time for SendGrid is above average in our industry.

The delay with your particular case is one of priority, mainly because there are very few others (maybe none) reporting this issue and that there is a workaround.

In any case, the correct venue for this particular issue is our support team as GitHub is reserved for issues relating t

[2018-05-23 18:34] Jericho commented on #655
I was not aware that someone had found a workaround. Can you give me some details?

[2018-05-25 02:59] thinkingserious commented on #655
I believe your [SendGridRetryStrategy](https://github.com/Jericho/StrongGrid/blob/6ef28cf9b8929344df6d4e47d7a2d7b331580e8c/Source/StrongGrid/Utilities/SendGridRetryStrategy.cs) class should do the trick. Not ideal of course, but it's a bandaid that should keep you functional for now. Please let me know if this is an incorrect assumption. Thanks!

[2018-05-25 18:56] Jericho commented on #655
I don't think what you are suggesting is a reasonable workaround, for several reasons:

1. When the API starts throwing `HTTP 500` exceptions, it continues to do so for a few minutes (roughly 2-4 minutes, in my experience). I don't think it's reasonable for an API call to take a few minutes to complete.
2. My retry strategy class expects status code `HTTP 429` to know that the developer has exceed

[2018-05-25 19:40] thinkingserious commented on #655
Thank you for the updated information, I appreciate the extra level of detail! I will note internally that there is not currently an acceptable workaround for this issue.

[2018-05-27 06:13] Jeloi commented on #339
+1 For this feature, I have the same use case as @tsalpekar21. @oliver-zhou could you share what alternative solution you've found?

[2018-05-29 07:39] oliver-zhou commented on #339
@Jeloi - we've backlogged the feature until we have the bandwidth to do something more complex - depending on your use-case, I think creating a mail-group address that reaches all the recipients might be the easiest way to do this

[2018-05-29 13:40] profet23 commented on #521
Still no confirmation?

[2018-05-30 03:17] thinkingserious commented on #339
Thanks for the additional vote @Jeloi.

[2018-05-31 16:08] TheBekker commented on #505
Some official public infomation would be nice, instead of sending each of us to support

[2018-06-05 00:31] thinkingserious commented on #505
Hello @TheBekker,

I will check with our support team to find out if there is a resolution for this.

With Best Regards,

Elmer

[2018-06-05 11:02] vRITHNER opened #696 "mail not sent if subject different than "Sending with SendGrid is Fun""
#### Issue Summary

I'm testing your API with a console app in which I copied your sample:
[code]
The mail is sent correctly with this settings
As soon as I change the subject with even 1 letter, the mail is not send.
Can you explain to me what is the trick here ?

#### Steps to Reproduce

1. Run this in LinqPad
2. Check gmail -> mail arrived
3. Add a '.' to the subject
4. Check gmail -> mail not

[2018-06-05 11:14] vRITHNER commented on #696
Bye the way, I even tested the same behavior with your ExampleCoreProject.
with :
`var subject = "Hello World from the SendGrid CSharp Library Helper!";`
no mail is sent
with :
` var subject = "Sending with SendGrid is Fun";`
the mail is sent correctly

[2018-06-08 16:39] keodime opened #697 "Can't add custom header, MakeRequest not virtual"
I was trying to add a header to the httpcall made by SendEmailAsync. By looking to the SendGridClient class, over the MakeRequest is written : "Make the call to the API server, override for testing or customization", but the call isn't virtual.

Is there any other way to add an header to the call by using SendEmailAsync ?
Am I missing something here ?

#### Technical details:
sendgrid-csharp Versi

[2018-06-08 21:28] thinkingserious commented on #694
Hi @isiahpasquale and @Jericho,

It looks like we need to update the docs and examples.

The queries should be formed like this:

`/v3/messages?limit=10&query=(unique_args['name']="Joe")`
`/v3/messages?limit=10&query=(unique_args['name'] like "Joe")`

for example.

Leaving this open and adding to our backlog for a fix.

With Best Regards,

Elmer

[2018-06-11 17:30] thinkingserious commented on #696
Hello @vRITHNER,

Thanks for reporting this issue!

I can not reproduce this in Visual Studio and I'm not familiar with LinqPad. I'm adding this to my backlog for further investigation.

With Best Regards,

Elmer

[2018-06-11 18:04] thinkingserious commented on #697
Hello @keodime,

Have you tried the `[AddHeader](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchensink)` method?

You can also add request headers using the [constructor](https://github.com/sendgrid/sendgrid-csharp/blob/master/src/SendGrid/SendGridClient.cs#L121).

I hope that helps.

With Best Regards,

Elmer

[2018-06-11 21:46] myahl opened #698 "Filter JSON requires 1/0 for Enable, but type is bool?. JsonConverter needed."
https://github.com/sendgrid/sendgrid-csharp/blob/29042f2779e3d14e556ab1a9f20daa40bb5c6e22/src/SendGrid/Helpers/Mail/Model/Ganalytics.cs#L19-L20

The API documentation regarding [filters](https://sendgrid.com/docs/API_Reference/SMTP_API/apps.html) states that "enable" must be 0 or 1. The problem is that `bool?` serializes to true/false, not 1/0. I borrowed the `BoolConverter` solution from [this SO

[2018-06-12 14:51] psboies commented on #697
Hi @thinkingserious ,

We have tried the addHeader method but it does not add the header for the call SendEmailAsync().
We are trying to stub that call for automated tests and it is required to add a correlation id in the headers so the stub service can identify the right test scope.

We prefer not add the header through the constructor since we are using dependency injection and the correlation i

[2018-06-12 15:01] thinkingserious commented on #697
@psboies,

So it sounds like what we need is to add a `addHeader` method directly to the SendGrid client. Would that solve your challenge?

With Best Regards,

Elmer

[2018-06-12 18:44] Jericho commented on #694
I confirm that filtering on `unique_args` using the updated format works as expected. I published a new release of the [StrongGrid](https://www.nuget.org/packages/StrongGrid/) nuget package with changes that allow to search email activities with "unique_args" filters.

[2018-06-12 20:31] isiahpasquale commented on #694
Worked great for me as well.
Thanks for the response.

[2018-06-14 12:42] psboies commented on #697
Hi @thinkingserious ,

Thank you for your quick answer.

AddHeader on the client won't work since it's not thread safe. Our tests run in parallel and we can't guarantee that the correlation id will be the same between the time it is set and the time the request is sent since our SendGrid client is singleton. SendGrid client is set as singleton because it contains a private HttpClient that does not

[2018-06-14 17:02] thinkingserious commented on #697
Thanks for the clarification @psboies!

I will leave this open and on our backlog for implementation.

This issue can gain traction with more votes/comments or a PR.

With Best Regards,

Elmer

[2018-06-14 17:53] keodime commented on #697
Same here !

[2018-06-21 14:45] matteoannibali opened #703 "ADD BCC USING C#"
I needed to add BCC email inside my personalization element without using JSON notation data as exposed here: https://github.com/sendgrid/sendgrid-csharp/blob/master/examples/mail/mail.cs#L99

I resolved the issue accessing to my msg class and adding this to the list :

msg.Personalizations[0].Bccs = new System.Collections.Generic.List<EmailAddress>();
msg.Personalizations[0].Bccs.Add(new EmailAdd

[2018-06-22 14:22] GauravSgh commented on #437
Hi,

I am trying to put svg inside email body, but image is not rendering, need quik help on this.
my code to send email:

public async Task<HttpResponseMessage> SendEmailAsync(EmailDeliveryModel model)
        {
            var response = new HttpResponseMessage(System.Net.HttpStatusCode.BadRequest);
            var client = new SendGridClient(ConfigurationManager.AppSettings[CommonObject.SendGri

[2018-06-22 21:01] avindevexpert opened #704 ".NET Core 2.0 - Async post ("/mail/send") of SendGrid Web API 3 fails with - A security error occurred"
#### Issue Summary
.NET Core 2.0 -  Async post ("/mail/send") of SendGrid Web API 3 fails with error : A security error occurred.

2018-06-21 10:43:17.982 FPKP01GSS1C ERROR An error occurred while sending the request.
EXCEPTION OCCURRED:System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.WinHttpException: A security error occurred
   at System.Ru

[2018-06-25 08:01] GauravSgh commented on #437
@thinkingserious

[2018-06-25 08:07] GauravSgh opened #705 "Render SVG in Email body using SendGrid C#"
I am trying to put svg inside email body, but it is not rendering.

So basically I want to put a image inside a email body, initially I tried with <img>tag but it didnt worked later I tried by using SVG but still i am not getting any image in the received email.

Code to send email:

`

`

And in EmailContent i am injecting html as:

`<!DOCTYPE html><html><body><table><tbody><tr><td align='left'><

[2018-06-25 21:09] thinkingserious commented on #698
Thanks for reporting this @myahl!

I have added this to our backlog. For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

[2018-06-25 22:48] #668 closed

[2018-06-25 23:58] thinkingserious commented on #703
Thanks @matteoannibali!

[2018-06-25 23:58] #703 closed

[2018-06-26 00:10] thinkingserious commented on #704
Hello @avindevexpert,

Thanks for reporting this. I'm not quite sure what is happening here, as I can't reproduce, but [this](this) may lead to a solution.

I'm going to leave this open on our backlog for further investigation.

With Best Regards,

Elmer

[2018-06-26 01:04] thinkingserious commented on #437
Hello @GauravSgh,

You will want to add the image as an [inline attachment](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchensink). Please try that and let me know how it goes. Thanks!

With Best Regards,

Elmer

[2018-06-26 01:05] thinkingserious commented on #705
Hello @GauravSgh,

You will want to add the image as an [inline attachment](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#kitchensink). Please try that and let me know how it goes. Thanks!

With Best Regards,

Elmer

[2018-06-26 06:18] GauravSgh commented on #705
@thinkingserious
I want to display image in email body instead of adding attachment,

[2018-06-26 18:45] thinkingserious commented on #705
Yes, here is the relevant code:

[code]

These would be displayed inline using the following HTML:

[code]

I hope that helps!

[2018-06-26 19:27] jhecht66226 opened #706 "Attachement will not send to an Iphone"
#### Issue Summary

We have a template that we send out that has two attachments.  One an inline image that is attached using base64encoding and a second one that is a PDF again that has been sent using base64encoding.  When I attach the PDF as an attachment it does go to the client but all of the template text is gone and the inline image isn't there.  If I send the PDF inline then on most client

[2018-06-27 00:19] thinkingserious commented on #648
Not yet @DanielStout5, but I appreciate you taking the time to add a comment.

Each +1/comment adds priority to issues in our backlog.

[2018-06-27 00:33] thinkingserious commented on #706
Hello @jhecht66226,

To be clear, the behavior you are expecting works on clients like GMail and Outlook, but just not on Apple Mail on iOS?

Thanks!

With Best Regards,

Elmer

[2018-06-27 01:11] jhecht66226 commented on #706
True if I send the pdf as disposition: inline then it only doesn't work for Apple Mail on iOS. However if i send it as disposition:attachment the attachment works on all know clients but the text from the template does not get sent.  Instead it's a blank email with the pdf attachment.

[2018-06-27 05:49] GauravSgh commented on #705
Yes it worked, thanks but still I am unable to control the size of image. I tried it in img tag by giving height and width but it was same as before.
Is there any other way to control the size.

[2018-06-28 17:37] weedkiller commented on #684
We can create distrolists in both google contacts (tags) or outside in ADFS for outlook.

Often we need to import contacts into sendgrid, but my clients have target distro lists, like salesAccounts or  FieldReps Accounts or Managers, drivers, we need to be able to send based on criteria to those groups of contacts.

Currently they iterate every contact and it gets very slow when we have 300 or so

[2018-06-29 21:40] jarvisjohnson commented on #62
Anyone still getting to this - make sure you are sending the email content to Sendgrid as 'text/html' rather than 'text/plain'

[2018-07-02 12:09] jelical opened #707 "Microsoft.AspNetCore.Http.Abstractions is unneeded in references"
Please, remove Microsoft.AspNetCore.Http.Abstractions from package references - it is unneeded and creates compatibility frictions

[2018-07-03 03:29] thinkingserious commented on #706
Hello @jhecht66226,

OK, this sounds like a bug. Thanks for taking the time to elaborate.

I've added this to our backlog to try and reproduce.

With Best Regards,

Elmer

[2018-07-03 03:32] thinkingserious commented on #705
Hello @GauravSgh,

With regards to image sizes, perhaps [this will help](https://stackoverflow.com/questions/20989897/image-style-height-and-width-not-taken-in-outlook-mails).

For .ico files, I believe you will have to convert it to an image format such as .jpeg or .png first.

With Best Regards,

Elmer

[2018-07-03 21:24] thinkingserious commented on #684
Thanks @weedkiller!

[2018-07-03 21:32] thinkingserious commented on #62
Thanks @jarvisjohnson!

[2018-07-03 21:38] thinkingserious commented on #707
Thanks @jelical!

I have added this to our backlog. For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

[2018-07-04 02:07] avindevexpert commented on #704
Hello @thinkingserious

I ran load test where we have trigger 17000 mails only once have received above mentioned error.

In our Production environment we are getting at least 2 occurrence of errors daily since we launch with SendGrid.

We have retry functionality in our application, so on second attempt emails gets posted successfully to the SendGrid.

Below are the dates and number of error occu

[2018-07-04 13:01] GauravSgh commented on #705
Hello @thinkingserious
Thanks for the help its working fine.
Just one last question, it supports multiple images as well right ?

[2018-07-05 13:07] MarcoNicolodi commented on #683
Same here:

[code]

I tried both setting the API Key through the application and env variables.

SO: Ubuntu 18.04 LTS
SendGrid package: 9.9.0
Framework: dotnet core 2.1.301

[2018-07-05 22:49] thinkingserious commented on #704
Hello @avindevexpert,

This looks like a server side issue, possibly on our side. I suggest you reach out to our [support team](https://support.sendgrid.com) as they are better equipped to investigate these sorts of issues.

With Best Regards,

Elmer

[2018-07-05 22:50] thinkingserious commented on #705
Hello @GauravSgh,

Yes, you may pass in multiple `Attachment` objects as demonstrated in the example code above.

Thanks!

With Best Regards,

Elmer

[2018-07-05 22:50] #705 closed

[2018-07-06 20:22] AMSLimited commented on #683
Got it to work now.

Thanks.

[2018-07-07 12:39] alekth85 commented on #339
+1
It's been 2 years. I wonder if the +1 matters anymore.

[2018-07-10 16:54] dtornow commented on #641
Hello SendGrid Team,

I am facing the same issue. I checked the outlined checklist, still the email-as-attachment is empty. I am using the SendGrid python library, however since I'm facing the same problems I guess it's not a library issue.

Thanks and best,
Dominik

[2018-07-10 23:03] #683 closed

[2018-07-10 23:05] thinkingserious commented on #339
Hi @alekth85,

You vote definitely matters. We had 2 non-library issues that were reported here implemented this year. I will add your vote to our backlog, thanks! We really appreciate you taking the time to vote and comment.

With Best Regards,

Elmer

[2018-07-12 11:42] velja commented on #268
This still exists and caused problems to all our customers having comma in company name. Is there any time-frame? This is a deal breaker for us since users don't want to change company names.

[2018-07-12 21:43] thinkingserious commented on #268
Hello @velja,

I don't have a firm time frame, but I've added your vote to the issue to help increase priority.

In the meantime, someone implemented [this patch in PHP](https://github.com/sendgrid/sendgrid-php/blob/6cb4f0749c38418d00c55e7f113127a28fff9e0e/lib/mail/EmailAddress.php#L103), you may be able to create a fix based on the same concept in Node.js.

With Best Regards,

Elmer

[2018-07-13 07:16] Premasanthakumar opened #708 "Getting Status 200"
import com.sendgrid.*;
import java.io.IOException;
import com.sendgrid.Content;
import com.sendgrid.Email;
import com.sendgrid.Mail;
import com.sendgrid.Method;
import com.sendgrid.Request;
import com.sendgrid.Response;
import com.sendgrid.SendGrid;
import java.io.IOException;

public class SendEmail {
    public static void main(String[] args) throws IOException {
    Email from = new Email("prem

[2018-07-14 16:40] jeetbhalani commented on #296
@thinkingserious
it works for me.

Thank you so much!

[2018-07-18 05:30] Premasanthakumar opened #709 "200 status code in JAVA"
import com.sendgrid.*;
import java.io.IOException;
import com.sendgrid.Content;
import com.sendgrid.Email;
import com.sendgrid.Mail;
import com.sendgrid.Method;
import com.sendgrid.Request;
import com.sendgrid.Response;
import com.sendgrid.SendGrid;
import java.io.IOException;

public class SendEmail {
    public static void main(String[] args) throws IOException {
    Email from = new Email("tech

[2018-07-18 16:27] redoz opened #710 "Add netstandard 2.0 target"
#### Issue Summary

The general recommendation now is to target netstandard 2.0: https://twitter.com/davidfowl/status/1008453902058917888

[2018-07-18 17:31] xt0rted commented on #710
#601 does just this, but it's taking forever to get things reviewed or merged sadly.

One key part of that tweet is

[2018-07-18 17:41] Jericho commented on #710
@redoz, I encourage you to take a look at [StrongGrid](https://www.nuget.org/packages/StrongGrid/), which is an alternative to the official SendGrid .net client, because it already multi-targets `net452`, `netstandard1.3` and `netstandard2.0` (disclaimer: I'm the author).

Also, to @xt0rted's point, you will see that issues in the [StrongGrid project](https://github.com/Jericho/StrongGrid) are dis

[2018-07-24 00:47] thinkingserious commented on #708
Hello @Premasanthakumar,

It looks like this call is [working as expected](https://github.com/sendgrid/sendgrid-csharp/blob/master/USAGE.md#retrieve-a-single-transactional-template). I'm not sure what you are expecting. Could you please let me know what you expect to be returned by that API call?

Thanks!

With Best Regards,

Elmer

[2018-07-24 00:53] thinkingserious commented on #296
Thanks for verifying @jeetbhalani!

[2018-07-24 01:00] thinkingserious commented on #709
#708

[2018-07-24 01:00] #709 closed

[2018-07-24 01:01] thinkingserious commented on #710
Hi @redoz,

This issue is still on our backlog, but as @Jericho mentioned, StrongGrid is a solid alternative.

Please follow #601 for progress.

Thanks!

With Best Regards,

Elmer

[2018-07-24 01:01] #710 closed

[2018-07-24 06:03] jitu027 opened #711 "AddSubstitutions"

[2018-07-24 20:49] thinkingserious commented on #711
Hi @jitu027,

Could you please provide some context around the issue? How can we help?

Thanks!

With Best Regards,

Elmer

[2018-07-25 04:12] jitu027 commented on #711
Hi Elmer ,

Thank you for your response.

We are using Send Grid API to send bulk emails, While sending emails we are
using one tag in mail body and our requirement is to change the tag {*name*}
for different emails and we were unable to change the tag. And this is
working fine for single Email but unable to replace tag in bulk email case.
Please help us in this regard.

Also we are getting an err

[2018-07-25 10:14] jonneweer opened #712 "Unable to send mail with template and substitutions"
#### Issue Summary

When I set a template from code to a template I just created with a single variable, and try to pass substitutions with the call I always get the following error: "BadRequest" - "{\"errors\":[{\"message\":\"Substitutions may not be used with dynamic templating\",\"field\":\"personalizations.0.substitutions\",\"help\":\"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/erro

[2018-07-25 13:39] ChrisASearles commented on #712
I second this, getting the same behavior no matter what I try. Has this library not been updated to use the new transactional templates? If not, is there a timeline for when support will be added? Hate the idea of creating new "legacy" templates ...